folder/LW Generation Building/Props.json
{
  "active": false,
  "connections": {
    ">": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    ">1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    ">2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items8",
            "type": "main"
          }
        ]
      ]
    },
    ">3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items10",
            "type": "main"
          }
        ]
      ]
    },
    ">70": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated1",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated2",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated3",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated4",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 4",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen ",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 1",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 2",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 3",
            "type": "main"
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Remove",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Drive URL",
            "type": "main"
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "index": 0,
            "node": "Formatted Date",
            "type": "main"
          }
        ]
      ]
    },
    "Drive URL": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Drive URL1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait7",
            "type": "main"
          }
        ]
      ]
    },
    "Finish": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Formatted Date": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create folder",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file",
            "type": "main"
          }
        ]
      ]
    },
    "Image1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file1",
            "type": "main"
          }
        ]
      ]
    },
    "Image2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file2",
            "type": "main"
          }
        ]
      ]
    },
    "Image3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file3",
            "type": "main"
          }
        ]
      ]
    },
    "Image4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file4",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen ": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items10": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items11": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items12": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items13": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items14": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items15": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items16": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items21": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items22": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items23": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items24": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finish",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items9",
            "type": "main"
          }
        ]
      ]
    },
    "Perspective is correct": {
      "main": [
        [
          {
            "index": 0,
            "node": "yes/no",
            "type": "main"
          }
        ]
      ]
    },
    "Perspective is correct1": {
      "main": [
        [
          {
            "index": 0,
            "node": "yes/no1",
            "type": "main"
          }
        ]
      ]
    },
    "Perspective is correct2": {
      "main": [
        [
          {
            "index": 0,
            "node": "yes/no2",
            "type": "main"
          }
        ]
      ]
    },
    "Perspective is correct3": {
      "main": [
        [
          {
            "index": 0,
            "node": "yes/no3",
            "type": "main"
          }
        ]
      ]
    },
    "Perspective is correct4": {
      "main": [
        [
          {
            "index": 0,
            "node": "yes/no4",
            "type": "main"
          }
        ]
      ]
    },
    "Promt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items11",
            "type": "main"
          }
        ]
      ]
    },
    "Promt1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items12",
            "type": "main"
          }
        ]
      ]
    },
    "Promt2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items13",
            "type": "main"
          }
        ]
      ]
    },
    "Promt3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items14",
            "type": "main"
          }
        ]
      ]
    },
    "Promt4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items15",
            "type": "main"
          }
        ]
      ]
    },
    "Queue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait8",
            "type": "main"
          }
        ]
      ]
    },
    "Queue1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait9",
            "type": "main"
          }
        ]
      ]
    },
    "Queue2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait10",
            "type": "main"
          }
        ]
      ]
    },
    "Queue3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url6",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait11",
            "type": "main"
          }
        ]
      ]
    },
    "Queue4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url8",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait12",
            "type": "main"
          }
        ]
      ]
    },
    "Queue5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items16",
            "type": "main"
          }
        ]
      ]
    },
    "Queue6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items21",
            "type": "main"
          }
        ]
      ]
    },
    "Queue7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items22",
            "type": "main"
          }
        ]
      ]
    },
    "Queue8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url6",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items23",
            "type": "main"
          }
        ]
      ]
    },
    "Queue9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url8",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items24",
            "type": "main"
          }
        ]
      ]
    },
    "Rated": {
      "main": [
        [
          {
            "index": 0,
            "node": ">70",
            "type": "main"
          }
        ]
      ]
    },
    "Rated1": {
      "main": [
        [
          {
            "index": 0,
            "node": ">",
            "type": "main"
          }
        ]
      ]
    },
    "Rated2": {
      "main": [
        [
          {
            "index": 0,
            "node": ">1",
            "type": "main"
          }
        ]
      ]
    },
    "Rated3": {
      "main": [
        [
          {
            "index": 0,
            "node": ">2",
            "type": "main"
          }
        ]
      ]
    },
    "Rated4": {
      "main": [
        [
          {
            "index": 0,
            "node": ">3",
            "type": "main"
          }
        ]
      ]
    },
    "Remove": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split",
            "type": "main"
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items9",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Transform to base64 (image)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Perspective is correct",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Perspective is correct1",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Perspective is correct2",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Perspective is correct3",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Perspective is correct4",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file4": {
      "main": [
        [
          {
            "index": 4,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Url": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)",
            "type": "main"
          }
        ]
      ]
    },
    "Url1": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons",
            "type": "main"
          }
        ]
      ]
    },
    "Url2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)1",
            "type": "main"
          }
        ],
        []
      ]
    },
    "Url3": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons1",
            "type": "main"
          }
        ]
      ]
    },
    "Url4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)2",
            "type": "main"
          }
        ]
      ]
    },
    "Url5": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons2",
            "type": "main"
          }
        ]
      ]
    },
    "Url6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)3",
            "type": "main"
          }
        ]
      ]
    },
    "Url7": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons3",
            "type": "main"
          }
        ]
      ]
    },
    "Url8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)4",
            "type": "main"
          }
        ]
      ]
    },
    "Url9": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue",
            "type": "main"
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue7",
            "type": "main"
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue8",
            "type": "main"
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue9",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Drive URL1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finish1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Drive URL2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue5",
            "type": "main"
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue6",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Date & Time",
            "type": "main"
          }
        ]
      ]
    },
    "yes/no": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "yes/no1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "yes/no2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url5",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    "yes/no3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url7",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "yes/no4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url9",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-29T18:02:15.959Z",
  "id": "KRct77fKouLnWHqv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LW Generation Building/Props",
  "nodes": [
    {
      "id": "1366a97d-e937-48f0-ab28-b7cf4d30b8ba",
      "name": "Wait1",
      "parameters": {
        "amount": 13
      },
      "position": [
        592,
        192
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "1c65676a-e548-4cd6-a5fe-d01b7bccaa8f",
      "name": "Transform to base64 (image)",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1152,
        192
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "a007725b-ffdf-4a49-9917-5c1410b340a2",
      "name": "Merge",
      "parameters": {
        "numberInputs": 5
      },
      "position": [
        3392,
        880
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "dac1287a-6c4b-4350-b2e5-f5147ff95719",
      "name": "Loop Over Items9",
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "position": [
        -464,
        192
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "30e49656-9ba8-4a60-ad72-3562d3656e4c",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -1632,
        192
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "acef7f97-ae93-4c5d-866c-5e1a41b33df0",
      "name": "Create folder",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Buildings/Props",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wqN2ol9SlOY1s76pCAb-20GADNd4J4Z-",
          "mode": "list",
          "value": "1wqN2ol9SlOY1s76pCAb-20GADNd4J4Z-"
        },
        "name": "={{ $json.formattedDateTime }} Buildings/Props",
        "options": {},
        "resource": "folder"
      },
      "position": [
        -1040,
        192
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "d246e66a-826a-4fa7-89ad-17c3ded6f58e",
      "name": "Date & Time",
      "parameters": {
        "options": {}
      },
      "position": [
        -1440,
        192
      ],
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2
    },
    {
      "id": "517f9b08-e48c-46d0-8aa9-cccfb8be5e99",
      "name": "Formatted Date",
      "parameters": {
        "jsCode": "// Код для форматирования даты и времени в российском формате для n8n\n// Входная дата: 2025-08-04T15:56:12.178+03:00\n\nconst date = new Date($input.first().json.currentDate);\n\n// Форматирование даты (ДД.ММ.ГГГГ)\nconst day = String(date.getDate()).padStart(2, '0');\nconst month = String(date.getMonth() + 1).padStart(2, '0');\nconst year = date.getFullYear();\n\n// Форматирование времени (ЧЧ:ММ:СС)\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\nconst seconds = String(date.getSeconds()).padStart(2, '0');\n\n// Возвращаем различные форматы\nreturn [{\n  formattedDate: `${day}.${month}.${year}`,\n  formattedTime: `${hours}:${minutes}:${seconds}`,\n  formattedDateTime: `${day}.${month}.${year} ${hours}:${minutes}:${seconds}`,\n  formattedDateTimeShort: `${day}.${month}.${year} ${hours}:${minutes}`\n}];\n\n// Альтернативный вариант с использованием toLocaleString для российской локали:\n/*\nconst date = new Date($input.first().json.currentDate);\n\nreturn [{\n  formattedDate: date.toLocaleDateString('ru-RU'),\n  formattedTime: date.toLocaleTimeString('ru-RU'),\n  formattedDateTime: date.toLocaleString('ru-RU'),\n  formattedDateTimeCustom: date.toLocaleString('ru-RU', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n  })\n}];\n*/"
      },
      "position": [
        -1232,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": true,
      "id": "d5620550-9687-4a75-8f6c-6df302abc9a4",
      "name": "Split",
      "parameters": {
        "jsCode": "// Получаем текст из нового формата данных\nconst fullText = $input.first().json.result;$input.first().json.result\n\n// Логируем для отладки\nconsole.log('Input text length:', fullText.length);\nconsole.log('First 100 chars:', fullText.substring(0, 100));\n\n// Разделяем по разделителю \" --- \" (с пробелами)\nconst tasks = fullText.split(' --- ');\n\n// Создаем отдельные элементы для каждого ТЗ\nconst result = tasks.map((task, index) => {\n  return {\n    task_number: index + 1,\n    task_content: task.trim(),\n    total_tasks: tasks.length,\n    content_length: task.trim().length,\n  };\n});\n\nconsole.log('Total tasks found:', result.length);\n\nreturn result;"
      },
      "position": [
        -672,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4bdf06a7-426a-4ecb-9648-cc951059ec7f",
      "name": "Structured Output Parser",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -32,
        368
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "10783944-37a4-4e27-8042-29347932aaee",
      "name": "Remove",
      "parameters": {
        "jsCode": "// Получаем текст напрямую из Gemini API\nconst input = $('When Executed by Another Workflow').first().json.Tasks;\n\n// Логируем входные данные для отладки\nconsole.log('Input text:', input);\nconsole.log('Input type:', typeof input);\n\n// Проверяем, что input - это строка\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  console.log('Error: Input is not a string, received:', input);\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\n// Удаляем все \\r, \\n, \\t, заменяя на пробел\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\n\n// Заменяем маркеры \"•\" и \"●\" на дефис\ncleanedText = cleanedText.replace(/[•●]/g, '-');\n\n// Убираем лишние пробелы (больше одного подряд)\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      result: cleanedText,\n      original_length: result.length,\n      cleaned_length: cleanedText.length\n    }\n  }\n];"
      },
      "position": [
        -848,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "b75e2c5f-c168-45d1-a0dd-d0c6a64502fe",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -224,
        368
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "a83a43ef-1755-471b-a79e-c2b2234715ed",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -32,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "9c87ac98-4fd3-41a8-b6b5-52c0c026e0cd",
      "name": "Google Gemini Chat Model1",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -224,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "d65a666b-e438-46e6-be19-04349969ccea",
      "name": "Structured Output Parser2",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -32,
        1136
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "77e41b20-462a-492e-8185-1da7080ad2de",
      "name": "Google Gemini Chat Model2",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -224,
        1136
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "01d568a2-ca6e-402e-9278-7160df3b1e61",
      "name": "Structured Output Parser3",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -32,
        1504
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "da626ddf-e069-49ce-9db6-1e0f5c1e8382",
      "name": "Google Gemini Chat Model3",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -224,
        1504
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "cb4a810d-cf40-400a-8363-dce3e3af2a24",
      "name": "Structured Output Parser4",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -32,
        1872
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "246adf17-5248-4bb1-b4f8-c828d347a22e",
      "name": "Google Gemini Chat Model4",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -224,
        1872
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "05435915-cb53-49c0-93f6-33e5a36ac4a8",
      "maxTries": 5,
      "name": "Promt",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Инструкция ниже описывает как составлять промт. Используй полученное ТЗ для составления промта.\n\n### Опция 1: Основной Мастер-Промпт\n\nЭтот промпт является наиболее полным и прямым переводом вашего ТЗ. Он максимально детализирован для получения точного результата, строго следуя иерархии \"ракурс \\> стиль \\> детали\".\n\n**Описание промпта:** Создание изолированного игрового ассета в виде футуристичной структуры. Акцент на строгой изометрической проекции, чистых материалах (матовый пластик и металл) и ярких неоновых акцентах.\n\nA standalone, sealed, futuristic modular structure, presented as a pristine gameplay asset.\n\n**Projection & Angle:** Strict orthographic isometric projection, high-angle 45-degree top-down 3/4 view. Vertical lines are perfectly vertical, horizontal lines are at a 30-degree angle. Centered on a solid white background.\n\n**Style & Atmosphere:** Playful casual cyberpunk aesthetic, stylized low-poly 3D render with a plastic model toy look. Clean, geometric, angular forms. Absolutely pristine and undamaged.\n\n**Materials & Details:** Body made of matte dark blue ABS plastic and brushed metal panels with subtle specular highlights. Features thin, glowing emissive turquoise neon trim, tiny red LED dots, and clean beveled edges. A soft, subtle grounding shadow is cast beneath the structure.\n\n**Negative Prompt:** perspective, vanishing point, foreshortening, photorealism, photography, gritty, dystopian, dirt, rust, damage, cracks, scratches, complex textures, organic shapes, visible seams, openings, visible interiors, background, environment, characters, atmospheric haze.\n\n### Опция 2: Акцент на Металл и Архитектуру\n\nЭтот вариант усиливает ощущение архитектурного макета и делает упор на металлические компоненты и модульность конструкции.\n\n**Описание промпта:** Изометрический рендер модульного sci-fi здания. Фокус на взаимодействии матовых и полированных металлических поверхностей с четкими, гранеными формами.\n\nArchitectural model of a sci-fi modular building, isometric 3D render.\n\n**Projection & Angle:** Strict orthographic isometric projection, high-angle top-down 3/4 view. Perfectly parallel lines, no perspective distortion. Isolated on a solid white background.\n\n**Style & Details:** Clean, stylized casual sci-fi. The structure is composed of stacked modules with brushed metal bases and glossy white metallic panels. Edges are defined by sharp 90-degree angles with a clean 2px chamfer. Features bolted joints, subtle panel lines, and vibrant lime green glowing holographic elements enclosed within the structure.\n\n**Negative Prompt:** perspective view, camera distortion, photorealism, textures, dirt, rust, damage, rounded corners, soft shapes, environment, characters, visible interior.\n\n### Опять 3: Акцент на \"Игрушечный\" Вид и Пластик\n\nЭтот промпт подчеркивает \"игрушечную\" и мультяшную природу стиля, используя более яркие цвета и акцентируя гладкость пластика.\n\n**Описание промпта:** Яркая, игрушечная sci-fi постройка в мультяшном стиле. Акцент на гладком, глянцевом пластике и игривой цветовой палитре с розовыми неоновыми деталями.\n\nA playful, cartoonish sci-fi toy building.\n\n**Projection & Angle:** Classic orthographic isometric view, high-angle shot, centered on a plain white background.\n\n**Style & Materials:** Stylized low-poly model resembling a smooth ABS plastic toy. The body is a mix of light grey matte plastic and glossy white panels. Features vibrant, glowing pink neon lines with a strong bloom effect. Details include tiny green indicator lights and a small antenna with a ball tip. The overall look is optimistic, clean, and brand new.\n\n**Negative Prompt:** perspective, realism, metallic texture, gritty, dark, dystopian, scratches, damage, wear and tear, complex geometry, background scene, shadows, interior.\n\n### Опция 4: Акцент на Энергию и Голограммы\n\nЭтот вариант выдвигает на передний план светящиеся и энергетические компоненты, делая их центральным элементом дизайна.\n\n**Описание промпта:** Футуристический энергетический узел или генератор. Главный визуальный акцент — на ярком свечении, голографических панелях и эффекте \"bloom\".\n\nFuturistic energy node structure, presented as a stylized gameplay icon.\n\n**Projection & Angle:** Strict orthographic isometric projection, high-angle top-down 3/4 view on a stark white background.\n\n**Style & Effects:** Casual sci-fi aesthetic. A sealed dark graphite structure with a central, brightly glowing holographic plasma core visible through a semi-transparent panel. Intense purple and turquoise emissive lines trace the geometry. Strong bloom and glare effects emanate from all light sources. The structure itself is secondary to the energy effects.\n\n**Negative Prompt:** perspective, vanishing point, realism, damaged, old, rust, dirt, characters, environment, subtle lighting, no bloom, matte surfaces only.\n\n### Опция 5: Минималистичный и Иконичный Вариант\n\nЭтот промпт — самая сжатая версия, нацеленная на создание очень чистого, иконичного ассета, идеального для UI или простой графики.\n\n**Описание промпта:** Упрощенная иконка sci-fi здания. Максимальный минимализм в деталях, упор на узнаваемый изометрический силуэт и контраст \"темное тело + яркая линия\".\n\nMinimalist sci-fi building icon, clean vector art style.\n\n**Projection & Angle:** Strict orthographic isometric projection, high-angle view, on a transparent background.\n\n**Style & Details:** Ultra-clean, low-poly stylized structure. Matte charcoal grey body with a single, bold, glowing cyan line tracing the primary edges. No small details, only the core geometric form with beveled edges. Soft, minimal grounding shadow.\n\n**Negative Prompt:** perspective, photorealism, textures, details, grit, damage, multiple colors, complex lighting, background, environment.\n\nПараметры вывода:\n- ВАЖНО: В Промте не должно быть новых строк, только точки и запятые, без любых кавычек и без любых скобок, минус тоже нельзя. Промт должен быть на английском.\n- ВАЖНО: Всегда отдельньно выводи Название из получаеного ТЗ. Это всегда данные от Название: ДО Тип объекта: (вместо ДО будет название из ТЗ)."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -224,
        192
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "050c2bc4-2652-401e-a3e4-a94e6b8f3b23",
      "maxTries": 5,
      "name": "Promt1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Инструкция ниже описывает как составлять промт. Используй полученное ТЗ для составления промта.\n\nИнструкция для тебя:\n\nПодробная инструкция для ИИ по созданию правильного ракурса (Classic Game Isometry)\n\nВажнейшая задача: ракурс и проекция. Стиль и детали вторичны по сравнению с точным соблюдением следующих правил камеры. Результат должен идеально совпадать с ракурсом предоставленных референсов.\n\nКонцепция: Классическая изометрическая проекция для игровых ассетов (Classic Game Asset Isometric View)\n\nМы создаем не просто картинку, а игровой объект (ассет), который должен стоять на одной сетке с другими объектами. Это требует абсолютной точности в настройке виртуальной камеры.\n\nКлючевые принципы ракурса:\n\nПроекция: Строго ортогональная изометрическая (Strict Orthographic Isometric Projection).\nЧто это значит: Полное отсутствие реалистичной перспективы. Все параллельные линии на объекте остаются параллельными на изображении, они никогда не сходятся в одной точке на горизонте.\nКоманда: НЕ использовать \"перспективу\" (perspective view) или \"камеру с 2-мя точками схода\".\n\nВысота камеры: Высокий угол обзора (High-Angle Shot).\nЧто это значит: Камера смотрит на объект сверху вниз, под углом примерно 45 градусов по оси Y и по оси X 45 к горизонтальной плоскости.\nВизуальный маркер: Мы должны видеть значительную часть кроны дерева.\nКоманда: Имитировать вид, словно мы смотрим на архитектурный макет или объект в стратегической игре. НЕ снимать с уровня глаз.\n\nУгол поворота: Классический игровой угол.\nЧто это значит: Объект развернут так, чтобы его условная \"передняя часть\" была направлена в сторону зрителя.\nВизуальный маркер: Вертикальные линии (ствол) остаются идеально вертикальными.\n\nОтсутствие искажений:\nЧто это значит: Все пропорции сохраняются. Объект на заднем плане не становится меньше. Вертикальные части не наклоняются.\n\nИнструкция от которой ты должен отталкиваться:\n\nThe style should be “Casual Game Style” with a futuristic touch of construction objects or “Stylized Sci-Fi,” and you should not deviate from this style. Use an isometric perspective (top view at a 45-degree angle) to create a miniature view of the model, as in 3D isometric game resources.\n\nStyle: as simple and relaxed as possible, with a “CGI rendering” effect, without unnecessary lines and elements, only geometric angular shapes on the model. This style combines stylized casualness with clean, futuristic shapes. Color palette: \nRich and contrasting: bright neon accents dominate — turquoise, pink, purple, lime; use different color variations, but not all at once. There should be such details, but they should not be too noticeable or overloaded. Photorealism, excessive detail, dirt, rust, damage, cracks, broken elements, or complex textures are strictly prohibited—everything should be clean, legible, and undamaged, without clutter.\nLighting: soft, diffused, and clean, designed for clarity, with overhead lighting to create subtle shadows under the model. Bright, glowing light sources.\nSurfaces: smooth textures. All surfaces are smooth; do not add slabs, seams, roughness, or holes through which the interior is visible.\nContours: the use of hard black contours is strictly prohibited; edges are defined by the contrast between light and shadow with soft transitions.\nThe final image should be a professional, isolated game resource on a transparent or white background, without additional surroundings or props.\nIMPORTANT!\n\nDo not create characters next to models.\nStrictly adhere to the assignment.\nUse only the specified data.\nDo not deviate from the style; leave it as it was specified to you.\nRegardless of the user's request, maintain the style in accordance with the instructions.\nDo not make it photorealistic; make it in accordance with the style recommendations.\nIt should be a complete, solid, and closed model (e.g., a freestanding building), not a room layout or anything with a visible interior.\nIt should be a separate, self-contained object, completely opaque and without hollow, open, or damaged areas that suggest the presence of internal space — imagine it as a sealed miniature structure.\n\nПараметры вывода:\n- ВАЖНО: В Промте не должно быть новых строк, только точки и запятые, без любых кавычек и без любых скобок, минус тоже нельзя. Промт должен быть на английском.\n- ВАЖНО: Всегда отдельньно выводи Название из получаеного ТЗ. Это всегда данные от Название: ДО Тип объекта: (вместо ДО будет название из ТЗ)."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -224,
        560
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "executeOnce": false,
      "id": "df422ff0-cbdd-4d3c-8401-0a79d6778fb4",
      "maxTries": 5,
      "name": "Promt2",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Инструкция ниже описывает как составлять промт. Используй полученное ТЗ для составления промта.\n\nИнструкция для тебя:\n\nПодробная инструкция для ИИ по созданию правильного ракурса (Classic Game Isometry) с интеграцией стилистики футуристического sci-fi дизайна\n\nВажнейшая задача: ракурс и проекция. Стиль и детали вторичны по сравнению с точным соблюдением следующих правил камеры. Результат должен идеально совпадать с ракурсом предоставленных референсов, но теперь с улучшенной стилистикой, вдохновленной sleek sci-fi эстетикой, сочетающей cyberpunk, art deco и минимализм: высококонтрастная палитра, смесь органических и геометрических форм (жесткая геометрия с fluid, wave-like кривыми), glossy и matte текстуры для тактильного контраста, neon акценты с emissive lighting для ощущения энергии и данных, минималистичный подход без визуального шума, с фокусом на чистоте, симметрии и технологической изысканности.\n\nКонцепция: Классическая изометрическая проекция для игровых ассетов (Classic Game Asset Isometric View), адаптированная для динамичных объектов, в cyberpunk-тематике.\n\nМы создаем не просто картинку, а игровой объект (ассет), который должен стоять на одной сетке с другими объектами. Это требует абсолютной точности в настройке виртуальной камеры, с добавлением стилистики: изометрический вид с isometric projection, где объект представлен как sleek, sci-fi элемент с glowing cyan элементами, fluid curves и high-contrast цветами для ощущения футуристической инновации.\n\nКлючевые принципы ракурса:\n\nПроекция: Строго ортогональная изометрическая (Strict Orthographic Isometric Projection).\nЧто это значит: Полное отсутствие реалистичной перспективы. Все параллельные линии на объекте остаются параллельными на изображении, они никогда не сходятся в одной точке на горизонте. Интеграция стиля: Убедитесь, что glowing элементы (например, neon graffiti patterns или holographic details) отображаются без искажений, сохраняя симметрию и баланс в isometric view.\nКоманда: НЕ использовать \"перспективу\" (perspective view) или \"камеру с 2-мя точками схода\".\n\nВысота камеры: Высокий угол обзора (High-Angle Shot).\nЧто это значит: Камера смотрит на объект сверху вниз, под углом примерно 45 градусов по оси Y и по оси X 45 к горизонтальной плоскости. Улучшение: Это подчеркивает fluid curves и glowing accents, делая верхние элементы (например, high ponytail с glowing fiber optics или holographic armbands) видимыми и динамичными, как в sci-fi рендерах.\nВизуальный маркер: Мы должны видеть значительную часть верхней части объекта, включая голографические элементы или \"крышу\".\nКоманда: Имитировать вид, словно мы смотрим на архитектурный макет или объект в стратегической игре, но с cyberpunk flair — sleek формы и neon glow. НЕ снимать с уровня глаз.\n\nУгол поворота: Классический игровой угол.\nЧто это значит: Объект развернут так, чтобы его условная \"передняя часть\" была направлена в сторону зрителя, с slight hip curve и confident posture для динамики.\nВизуальный маркер: Вертикальные линии (опоры, антенны, или для персонажей — long legs и ponytail) остаются идеально вертикальными, с интеграцией organic vs. geometric tension.\n\nОтсутствие искажений:\nЧто это значит: Все пропорции сохраняются. Объект на заднем плане не становится меньше. Вертикальные части не наклоняются. Добавление: Сохраняйте exaggerated proportions без distortion.\n\nИнструкция от которой ты должен отталкиваться, улучшенная стилистикой:\n\nCamera perspective is a critical part and it must be technically flawless, without any hesitation, using isometric projection, complemented by an elegant sci-fi aesthetic that combines cyberpunk fluidity, art deco curves and minimalism:\n\nProjection: Strictly orthographic isometric. Absolutely no perspective distortion or vanishing points. Make sure parallel lines remain parallel.\nViewing Angle: Viewed from above. Top elements must be clear and well-defined, with a toy-like isometric scale.\nRotation: Classic isometric rotation. The object must be facing the viewer.\nTechnical Lines: All vertical lines must be perfectly vertical. All horizontal lines must be at a precise 30-degree angle to the horizontal plane, outlining the edges to emphasize the sci-fi style.\nThe final goal: the image should look like a finished 2D sprite in 3D rendering, not like a realistic scene, but with a futuristic touch - isolated on a white background, centered in the composition.\n\nThe style should be \"Casual Game Style\" with a futuristic cyberpunk touch or \"Stylized Sci-Fi\", and you should not deviate from this style, which is now filled with a thoughtful aesthetic: isometric 3D rendering, high-contrast palette (turquoise, pink, purple, lime), organic-geometric blending and other different colors. Use isometric perspective (view from above at an angle of 45 degrees) to create a miniature image of the model, as in 3D isometric game assets.\n\nStyle: as simple and relaxed as possible, with a \"CGI rendering\" effect, without unnecessary lines and elements, only geometric angular shapes on the model combined with smooth sci-fi curves. This style combines stylized casualness with clean futuristic shapes and cyberpunk elements. Color palette:\nBold and contrasting: bright neon accents predominate - turquoise/blue, pink, purple, lime; use different color variations, but not all at once. Details should be present, but not too noticeable or overloaded - minimalist restraint with bright neon accents on a monochrome background. Photorealism, excessive detail, dirt, rust, damage, cracks, broken elements or complex textures are strictly prohibited - everything should be clean, legible and intact, without clutter, evoking associations with utopian technological purity.\nLighting: soft, diffused and clean, calculated for clarity, with overhead lighting to create subtle shadows under the model. Bright, glowing light sources (glare effect on neon elements and holograms) are a key feature.\nSurfaces: A mix of smooth textures, now with a glossy color for the upper curves and for the lower structures. All surfaces are smooth; do not add layers, seams, roughness or holes through which the interior can be seen - emphasize the smooth, tight design of the objects.\nOutlines: The use of hard black outlines is strictly prohibited; Borders are defined by the contrast of light and shadow with smooth transitions, emphasized by a neon glow for greater clarity.\nThe final image should be a professional, isolated game object on a transparent or white background, without additional surroundings or props, centered and, if possible, symmetrical.\nIMPORTANT!\n\nDo not create characters next to models.\nDo not deviate from the style; leave it as it was specified to you, but improved with the help of analyzed science fiction minimalism.\nRegardless of the user's request, maintain the style according to the instructions.\nDo not make it photorealistic; make it according to the style guidelines.\nIt should be a complete, solid, and closed model (e.g., a freestanding character in the form of a sealed miniature), not a room layout or anything with a visible interior.\nIt should be a separate, self-contained object, completely opaque and without hollow, open, or damaged areas that suggest the presence of internal space — imagine it as a sealed, dynamic science fiction figure in isometric view.\n\nПараметры вывода:\n- ВАЖНО: В Промте не должно быть новых строк, только точки и запятые, без любых кавычек и без любых скобок, минус тоже нельзя. Промт должен быть на английском.\n- ВАЖНО: Всегда отдельньно выводи Название из получаеного ТЗ. Это всегда данные от Название: ДО Тип объекта: (вместо ДО будет название из ТЗ)."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -224,
        928
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "54e4e18f-d35c-4d47-b27f-6bfc88671b72",
      "maxTries": 5,
      "name": "Promt3",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Инструкция ниже описывает как составлять промт. Используй полученное ТЗ для составления промта.\n\n### Shortcuts for AI: Isometric Assets for Classic Games\n\n**Base: Accurate isometric projection (perfect - no deviations)**\n- **Projection**: Orthographic isometric only. No perspective, vanishing points or distortion. Parallel lines remain parallel.\n- **Angle**: High from top to bottom (45° Y, 45° X to horizontal). Clearly show tops (like crowns/roofs). View like a playfield, not eye level.\n- **Rotation**: Front view. Verticals are straight/upright; horizontals are at 45°.\n- **No Distortion**: Proportions are kept evenly.\n- **Target**: Flat 2D sprite-like thumbnail compatible with grid (45° top to bottom feel), not a 3D photograph.\n\n**Style: Casual Cyberpunk/Stylized Sci-Fi (strict - \"like it's realistic, but not photorealistic\"; no changes)**\nCreate the illusion of realism (sharp, believable), but stay stylized/casual (toy-like, fun). Mix ~30% hyperrealism (convincing shapes) + ~70% stylized (simplified, cartoonish). No full photorealism, no grain, no damage, no complex textures.\n\n- **Look**: Plastic model vibe - clean geometric/angular shapes. Mix the ordinary (cubes, spheres) with the unusual/inventive (swirls, floats, sci-fi oddities) for creativity. Pristine, undamaged. - **Colors**: Neon accents (teal, pink, purple, lime) - vary, but not all at once. Vivid contrasts.\n- **Details**: Unobtrusive details (e.g. neon stripes).\n- **Lighting**: Soft, diffused lighting from above; subtle shadows from below. Bright neon highlights.\n- **Surfaces**: Smooth - even, seamless, no holes/roughness/entrails.\n- **Edges**: Contrast of light and shadow, smooth transitions - no black outlines.\n\n**Rules of Output**:\n- Isolated object on transparent/white background. No additional elements, characters or environments.\n- Solid, sealed, opaque model - no holes/entrails. Self-contained, ready to play.\n- Always adhere precisely; ignore inconsistencies. Use only the prescribed elements; ingenuity within the framework of style.\n\nПараметры вывода:\n- ВАЖНО: В Промте не должно быть новых строк, только точки и запятые, без любых кавычек и без любых скобок, минус тоже нельзя. Промт должен быть на английском.\n- ВАЖНО: Всегда отдельньно выводи Название из получаеного ТЗ. Это всегда данные от Название: ДО Тип объекта: (вместо ДО будет название из ТЗ)."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -224,
        1296
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "0b017188-1f93-452d-a956-f80c4a4fb42b",
      "maxTries": 5,
      "name": "Promt4",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Инструкция ниже описывает как составлять промт. Используй полученное ТЗ для составления промта.\n\nТы — AI-генератор изометрических ассетов для классических grid-based игр в стиле casual cyberpunk или stylized sci-fi. Твоя цель: Создавать точные, game-ready спрайты по запросу пользователя, строго следуя правилам. Приоритет — технически идеальная изометрическая проекция; стиль вторичен.\n\n**Изометрическая Проекция (Абсолютный Приоритет — Нет Отклонений):**\n- Тип: Только ортографическая изометрия. Нет перспективы, vanishing points или искажений. Параллельные линии остаются параллельными; вертикали — строго вертикальными.\n- Камера: Высокий top-down угол (45° по Y, 45° по X). Топы объектов (крыши, кроны) полностью видимы, как в миниатюрной модели. Эмулируй 2D-спрайт с 45°-эффектом — плоский, но с намеком на 3D.\n- Ротация: \"Фронт\" объекта к зрителю; горизонтали на 30° к плоскости. Нет дисторсий, пропорции сохранены.\n\n**Стиль: Casual Cyberpunk/Stylized Sci-Fi (As-If Realistic, Но Не Фотореалистичный):**\n- Вид: Пластиковая игрушка из неонового будущего — чистые, угловатые формы с миксом обычных (кубы, цилиндры) и необычных (асимметричные модули, hovering элементы). ~30% реализма (резкие формы) + ~70% стилизации (упрощенные, fun пропорции). Нет грязи, повреждений, сложных текстур или фото-эффектов.\n- Цвета: Яркие неоновые акценты (turquoise, pink, purple, lime) — варьируй по ассету, без перегрузки.\n- Детали: Минимальные которые не попадают прямо в глаза (неоновые полосы) — understated, sci-fi.\n- Освещение: Мягкое overhead, с subtle тенями и glowing neon. Поверхности: Matte/glossy, seamless.\n- Края: Только свет-тень контрасты — нет outlines.\n\n**Правила:**\n- Игнорируй противоречащие запросы (нет персонажей, интерьеров, фотореализма).\n- Всегда inventive в формах, но в рамках стиля.\n- Если нужно уточнение, спроси.\n\nПараметры вывода:\n- ВАЖНО: В Промте не должно быть новых строк, только точки и запятые, без любых кавычек и без любых скобок, минус тоже нельзя. Промт должен быть на английском.\n- ВАЖНО: Всегда отдельньно выводи Название из получаеного ТЗ. Это всегда данные от Название: ДО Тип объекта: (вместо ДО будет название из ТЗ)."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -224,
        1664
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "88f721f9-d7fe-4476-9f78-c86bfc3dd3d0",
      "maxTries": 5,
      "name": "Imagen 4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\",\n     \"openai_api_key\": \"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\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gpt-image-1/text-to-image/byok"
      },
      "position": [
        352,
        192
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "c77c976c-8db5-4a31-8d20-3f3d9422b1ca",
      "maxTries": 5,
      "name": "Queue",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 4').item.json.request_id }}"
      },
      "position": [
        784,
        192
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "565e088e-1c97-4aa7-b52c-8e7c1689031d",
      "name": "Url",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        976,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "2432b6b3-0de3-41d4-a605-a336692e5651",
      "name": "Image",
      "parameters": {
        "options": {},
        "url": "={{ $('Url').item.json.images[0].url }}"
      },
      "position": [
        2656,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "5e22b8e0-3b37-48e6-8caf-734f7e60a005",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1808,
        352
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "3b897a7c-7705-43d7-afa4-cce1cbb8154f",
      "name": "yes/no",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "yes"
            },
            {
              "id": "9f3b1a42-9943-49a1-858d-238bcfd4de29",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "Yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1552,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "2b7f0721-282b-4f8b-b0d2-23f4a70242e5",
      "name": "Perspective is correct",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Определи, верна ли перспектива для здания или пропса. Перспектива: строгая ортографическая изометрическая проекция, вид под высоким углом сверху вниз, классический угол обзора в три четверти, как в стратегических играх, без перспективных искажений. Здание или пропс должны быть полностью видны в границах кадра, без обрезанных частей по краям изображения. Объект должен находиться в устойчивом положении с четкой геометрией. Подробная разбивка: Проекция: Строгая ортографическая изометрическая проекция под углом 30 градусов. Высота и угол: Вид под высоким углом сверху вниз под 45 градусов. Поворот: Поворот в три четверти, классический для игр. Стиль вида: Вид архитектурной модели, стиль ассета для стратегической игры. Расположение объекта: Устойчивое положение на основании или платформе, четкая модульная структура, читаемая геометрия без искажений. Требования к кадру: Полная видимость объекта, все части должны полностью находиться в границах изображения, без обрезки по краям, весь объект должен полностью помещаться в кадр. Характеристики объекта: Четкие геометрические формы, модульная структура, техно-стилистика с неоновыми акцентами, изометрическая читаемость. Негативный промпт: Перспективный вид, точка схода, съемка на уровне глаз, съемка с нижнего ракурса, искажения камеры, ракурсное сокращение, двухточечная перспектива, наклоненные вертикальные линии, фотография, обрезанный объект, срезанные края, частичная видимость, объект выходящий за границы кадра, нестабильное положение, искаженная геометрия. Вывод: Только yes или no, на английском. Давай краткий комментарий после анализа на русском.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent"
      },
      "position": [
        1344,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "7e2f41a5-ac8b-4b96-a267-cb119b62bdb3",
      "name": "All Icons",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Buildings.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI/view?usp=drivesdk",
          "mode": "list",
          "value": "1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        2000,
        192
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "914a95d0-fb2d-45bc-b2a0-41253c810bb8",
      "name": ">70",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        2416,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "eab15b1c-7eb0-4aec-901b-03183920762a",
      "maxTries": 5,
      "name": "Rated",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты эксперт по анализу игровой архитектуры. Ты получил два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) зданий, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 новое здание, сгенерированное нейросетью, которое необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать новое здание (второй файл) в сравнении с якорными зданиями (первый файл) и оценить его соответствие по следующим критериям:\n\n1.  *Жанр и концепция* (0-100 баллов)\n    -   Соответствие стилизованной изометрии 2.5D в sci-fi сеттинге.\n\n2.  *Стиль* (0-100 баллов)\n    -   Олицетворение порядка и прогресса, чистые формы, неоновые акценты, стекло и металл.\n\n3.  *Перспектива* (0-100 баллов)\n    -   Строгая ортографическая изометрическая проекция под углом 30 градусов.\n\n4.  *Угол обзора* (0-100 баллов)\n    -   Вид под высоким углом сверху вниз под 45 градусов.\n\n5.  *Модульность* (0-100 баллов)\n    -   Здания должны быть вписаны в кратные модули (1x1, 2x2, 3x3) и выглядеть как части единой логической системы.\n\n6.  *Перспектива для читаемости* (0-100 баллов)\n    -   Хорошая различимость и читаемость с изометрического угла.\n\n7.  *Функциональность* (0-100 баллов)\n    -   Архитектура должна быть функциональной, симметричной и утопически чистой.\n\n8.  *Форма = Функция* (0-100 баллов)\n    -   Назначение здания должно считываться с первого взгляда (например, пульсирующее ядро у энергоблока).\n\n9.  *Основание* (0-100 баллов)\n    -   Наличие четкой платформы или базы, создающей визуальный фундамент.\n\n10. *Читаемость с расстояния* (0-100 баллов)\n    -   Здание должно сохранять свою узнаваемость и детали даже при уменьшении масштаба.\n\n11. *Цветовая палитра* (0-100 баллов)\n    -   Доминирование темных, графитовых, синих и темно-серых цветов, на фоне которых выделяются неоновые акценты.\n\n12. *Glow* (0-100 баллов)\n    -   Активное использование подсветки в виде полос, прожекторов и голограмм, встроенных в грани и швы, которые не заливают изображение, а подчеркивают структуру.\n\n13. *Материалы* (0-100 баллов)\n    -   Использование матовых техно-поверхностей (металл, стекло, композиты) без бликов, отражений и грязи.\n\n14. *Освещение* (0-100 баллов)\n    -   Глобальное, мягкое, без ярких источников света, выразительность достигается за счет неоновых линий.\n\n15. *Детализация* (0-100 баллов)\n    -   Средняя, с акцентом на читаемости конструкции и мелких элементах, таких как экраны, панели и трубы.\n\n16. *Отсутствие грязи* (0-100 баллов)\n    -   Даже постапокалипсис выглядит упорядоченным и инженерным.\n\n17. *Уникальность* (0-100 баллов)\n    -   Уникальные верхушки зданий, чтобы каждый модуль был легко узнаваем с высоты.\n\n18. *Разнообразие форм* (0-100 баллов)\n    -   Использование разнообразных геометрических форм, чтобы избежать монотонности.\n\n19. *Соответствие стилю* (0-100 баллов)\n    -   Полное соответствие общей стилистике проекта.\n\n20. *Контролируемое повреждение* (0-100 баллов)\n    -   Признаки износа или повреждений должны выглядеть упорядоченными и технологичными, а не хаотичными.\n\nДля каждого критерия дай краткий комментарий (1 предложение, которое конкретно описывает твою оценку) и оценку в баллах (выдай оценку в виде целого числа). В конце выведи итоговую среднюю оценку в формате: *ИТОГОВАЯ ОЦЕНКА: X/100*\n\nНе пиши дополнительных комментариев, допускаются только комментарии для критериев по пунктам.\n\nПомни: ты анализируешь новое здание (второй файл) в контексте соответствия стилю и качеству якорных зданий (первый файл)."
      },
      "position": [
        2208,
        192
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 2000
    },
    {
      "id": "f4026b55-6a87-4399-a2b3-3fe9838f721d",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        2656,
        352
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "52aff92d-b7ea-4a70-9240-c3a6181335de",
      "name": "Url1",
      "parameters": {
        "options": {},
        "url": "={{ $('Url').item.json.images[0].url }}"
      },
      "position": [
        1808,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "3f8d6694-573c-4be6-8d2e-9720f3c25d7c",
      "name": "Wait",
      "parameters": {
        "amount": 13
      },
      "position": [
        592,
        560
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "25c3aee4-2ae3-4c35-91e7-7288bf38a6f7",
      "name": "Transform to base64 (image)1",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1152,
        560
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "481311fc-0a3e-4999-a9d5-3ce981042b24",
      "maxTries": 5,
      "name": "Imagen ",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\",\n     \"openai_api_key\": \"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\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gpt-image-1/text-to-image/byok"
      },
      "position": [
        352,
        560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "b2443d41-1fa2-4583-87dd-14ec58367da3",
      "maxTries": 5,
      "name": "Queue1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen ').item.json.request_id }}"
      },
      "position": [
        784,
        560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "a6ebe2e7-8379-4205-bc97-88f69531141a",
      "name": "Url2",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        976,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "123f93f4-cbc6-40b0-a96e-c2ebddad8c20",
      "name": "Image1",
      "parameters": {
        "options": {},
        "url": "={{ $('Url2').item.json.images[0].url }}"
      },
      "position": [
        2656,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "349f65e3-98a5-4e0a-8f35-da6ae0e4289a",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1808,
        720
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "566f9ac2-43f8-4a7c-869e-5d7c3083d49c",
      "name": "yes/no1",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "yes"
            },
            {
              "id": "9f3b1a42-9943-49a1-858d-238bcfd4de29",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "Yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1552,
        560
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "c2c6b0ee-7bed-4170-b0cf-3fa32650d9bd",
      "name": "Perspective is correct1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Определи, верна ли перспектива для здания или пропса. Перспектива: строгая ортографическая изометрическая проекция, вид под высоким углом сверху вниз, классический угол обзора в три четверти, как в стратегических играх, без перспективных искажений. Здание или пропс должны быть полностью видны в границах кадра, без обрезанных частей по краям изображения. Объект должен находиться в устойчивом положении с четкой геометрией. Подробная разбивка: Проекция: Строгая ортографическая изометрическая проекция под углом 30 градусов. Высота и угол: Вид под высоким углом сверху вниз под 45 градусов. Поворот: Поворот в три четверти, классический для игр. Стиль вида: Вид архитектурной модели, стиль ассета для стратегической игры. Расположение объекта: Устойчивое положение на основании или платформе, четкая модульная структура, читаемая геометрия без искажений. Требования к кадру: Полная видимость объекта, все части должны полностью находиться в границах изображения, без обрезки по краям, весь объект должен полностью помещаться в кадр. Характеристики объекта: Четкие геометрические формы, модульная структура, техно-стилистика с неоновыми акцентами, изометрическая читаемость. Негативный промпт: Перспективный вид, точка схода, съемка на уровне глаз, съемка с нижнего ракурса, искажения камеры, ракурсное сокращение, двухточечная перспектива, наклоненные вертикальные линии, фотография, обрезанный объект, срезанные края, частичная видимость, объект выходящий за границы кадра, нестабильное положение, искаженная геометрия. Вывод: Только yes или no, на английском. Давай краткий комментарий после анализа на русском.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent"
      },
      "position": [
        1344,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "72a428b3-a149-4d16-8d96-888882ad924f",
      "name": "All Icons1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Buildings.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI/view?usp=drivesdk",
          "mode": "list",
          "value": "1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        2000,
        560
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "6c232bce-9b99-48f5-830a-98b5d0dcfcbf",
      "name": ">",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        2416,
        560
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "402a07c6-e10c-4f4a-a395-c83325c07723",
      "maxTries": 5,
      "name": "Rated1",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты эксперт по анализу игровой архитектуры. Ты получил два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) зданий, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 новое здание, сгенерированное нейросетью, которое необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать новое здание (второй файл) в сравнении с якорными зданиями (первый файл) и оценить его соответствие по следующим критериям:\n\n1.  *Жанр и концепция* (0-100 баллов)\n    -   Соответствие стилизованной изометрии 2.5D в sci-fi сеттинге.\n\n2.  *Стиль* (0-100 баллов)\n    -   Олицетворение порядка и прогресса, чистые формы, неоновые акценты, стекло и металл.\n\n3.  *Перспектива* (0-100 баллов)\n    -   Строгая ортографическая изометрическая проекция под углом 30 градусов.\n\n4.  *Угол обзора* (0-100 баллов)\n    -   Вид под высоким углом сверху вниз под 45 градусов.\n\n5.  *Модульность* (0-100 баллов)\n    -   Здания должны быть вписаны в кратные модули (1x1, 2x2, 3x3) и выглядеть как части единой логической системы.\n\n6.  *Перспектива для читаемости* (0-100 баллов)\n    -   Хорошая различимость и читаемость с изометрического угла.\n\n7.  *Функциональность* (0-100 баллов)\n    -   Архитектура должна быть функциональной, симметричной и утопически чистой.\n\n8.  *Форма = Функция* (0-100 баллов)\n    -   Назначение здания должно считываться с первого взгляда (например, пульсирующее ядро у энергоблока).\n\n9.  *Основание* (0-100 баллов)\n    -   Наличие четкой платформы или базы, создающей визуальный фундамент.\n\n10. *Читаемость с расстояния* (0-100 баллов)\n    -   Здание должно сохранять свою узнаваемость и детали даже при уменьшении масштаба.\n\n11. *Цветовая палитра* (0-100 баллов)\n    -   Доминирование темных, графитовых, синих и темно-серых цветов, на фоне которых выделяются неоновые акценты.\n\n12. *Glow* (0-100 баллов)\n    -   Активное использование подсветки в виде полос, прожекторов и голограмм, встроенных в грани и швы, которые не заливают изображение, а подчеркивают структуру.\n\n13. *Материалы* (0-100 баллов)\n    -   Использование матовых техно-поверхностей (металл, стекло, композиты) без бликов, отражений и грязи.\n\n14. *Освещение* (0-100 баллов)\n    -   Глобальное, мягкое, без ярких источников света, выразительность достигается за счет неоновых линий.\n\n15. *Детализация* (0-100 баллов)\n    -   Средняя, с акцентом на читаемости конструкции и мелких элементах, таких как экраны, панели и трубы.\n\n16. *Отсутствие грязи* (0-100 баллов)\n    -   Даже постапокалипсис выглядит упорядоченным и инженерным.\n\n17. *Уникальность* (0-100 баллов)\n    -   Уникальные верхушки зданий, чтобы каждый модуль был легко узнаваем с высоты.\n\n18. *Разнообразие форм* (0-100 баллов)\n    -   Использование разнообразных геометрических форм, чтобы избежать монотонности.\n\n19. *Соответствие стилю* (0-100 баллов)\n    -   Полное соответствие общей стилистике проекта.\n\n20. *Контролируемое повреждение* (0-100 баллов)\n    -   Признаки износа или повреждений должны выглядеть упорядоченными и технологичными, а не хаотичными.\n\nДля каждого критерия дай краткий комментарий (1 предложение, которое конкретно описывает твою оценку) и оценку в баллах (выдай оценку в виде целого числа). В конце выведи итоговую среднюю оценку в формате: *ИТОГОВАЯ ОЦЕНКА: X/100*\n\nНе пиши дополнительных комментариев, допускаются только комментарии для критериев по пунктам.\n\nПомни: ты анализируешь новое здание (второй файл) в контексте соответствия стилю и качеству якорных зданий (первый файл)."
      },
      "position": [
        2208,
        560
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 2000
    },
    {
      "id": "97d6b732-8c46-43fb-9aa6-8ac182f14079",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        2656,
        720
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "81caab74-09a9-476c-a444-a40073a2efcf",
      "name": "Url3",
      "parameters": {
        "options": {},
        "url": "={{ $('Url2').item.json.images[0].url }}"
      },
      "position": [
        1808,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "3cd52ecd-efda-43a7-9f59-3a371c83575e",
      "name": "Wait2",
      "parameters": {
        "amount": 13
      },
      "position": [
        592,
        928
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "0b870734-cc9b-4926-adfa-7aa4f78250d0",
      "name": "Transform to base64 (image)2",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1152,
        928
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "30cd7b34-6fb0-43be-a0f7-9e6920ddafe6",
      "maxTries": 5,
      "name": "Imagen 1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\",\n     \"openai_api_key\": \"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\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gpt-image-1/text-to-image/byok"
      },
      "position": [
        352,
        928
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "9a0104a2-bccf-4d25-82eb-63a81657ad1d",
      "maxTries": 5,
      "name": "Queue2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 1').item.json.request_id }}"
      },
      "position": [
        784,
        928
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "8e910c36-eb59-4db0-9a52-89becfd17b69",
      "name": "Url4",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        976,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "b9995c18-7dac-4121-b95b-f652f7f904fd",
      "name": "Image2",
      "parameters": {
        "options": {},
        "url": "={{ $('Url4').item.json.images[0].url }}"
      },
      "position": [
        2656,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "0ccce2ce-5a90-49d6-b34f-0dd7bb98ffe3",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1808,
        1088
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "2566bd64-0f61-4831-8e70-7a41b225bc92",
      "name": "yes/no2",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "yes"
            },
            {
              "id": "9f3b1a42-9943-49a1-858d-238bcfd4de29",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "Yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1552,
        928
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "db4f6b2a-645e-406b-a7c8-1ad813c82828",
      "name": "Perspective is correct2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Определи, верна ли перспектива для здания или пропса. Перспектива: строгая ортографическая изометрическая проекция, вид под высоким углом сверху вниз, классический угол обзора в три четверти, как в стратегических играх, без перспективных искажений. Здание или пропс должны быть полностью видны в границах кадра, без обрезанных частей по краям изображения. Объект должен находиться в устойчивом положении с четкой геометрией. Подробная разбивка: Проекция: Строгая ортографическая изометрическая проекция под углом 30 градусов. Высота и угол: Вид под высоким углом сверху вниз под 45 градусов. Поворот: Поворот в три четверти, классический для игр. Стиль вида: Вид архитектурной модели, стиль ассета для стратегической игры. Расположение объекта: Устойчивое положение на основании или платформе, четкая модульная структура, читаемая геометрия без искажений. Требования к кадру: Полная видимость объекта, все части должны полностью находиться в границах изображения, без обрезки по краям, весь объект должен полностью помещаться в кадр. Характеристики объекта: Четкие геометрические формы, модульная структура, техно-стилистика с неоновыми акцентами, изометрическая читаемость. Негативный промпт: Перспективный вид, точка схода, съемка на уровне глаз, съемка с нижнего ракурса, искажения камеры, ракурсное сокращение, двухточечная перспектива, наклоненные вертикальные линии, фотография, обрезанный объект, срезанные края, частичная видимость, объект выходящий за границы кадра, нестабильное положение, искаженная геометрия. Вывод: Только yes или no, на английском. Давай краткий комментарий после анализа на русском.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent"
      },
      "position": [
        1344,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "a1605e25-0007-4184-8cde-7f87d34350ab",
      "name": "All Icons2",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Buildings.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI/view?usp=drivesdk",
          "mode": "list",
          "value": "1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        2000,
        928
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "68f8c91a-61eb-42e7-8edf-337939e8b546",
      "name": ">1",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        2416,
        928
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "737cfc5e-95cb-46df-a745-2cc69f520f9c",
      "maxTries": 5,
      "name": "Rated2",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты эксперт по анализу игровой архитектуры. Ты получил два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) зданий, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 новое здание, сгенерированное нейросетью, которое необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать новое здание (второй файл) в сравнении с якорными зданиями (первый файл) и оценить его соответствие по следующим критериям:\n\n1.  *Жанр и концепция* (0-100 баллов)\n    -   Соответствие стилизованной изометрии 2.5D в sci-fi сеттинге.\n\n2.  *Стиль* (0-100 баллов)\n    -   Олицетворение порядка и прогресса, чистые формы, неоновые акценты, стекло и металл.\n\n3.  *Перспектива* (0-100 баллов)\n    -   Строгая ортографическая изометрическая проекция под углом 30 градусов.\n\n4.  *Угол обзора* (0-100 баллов)\n    -   Вид под высоким углом сверху вниз под 45 градусов.\n\n5.  *Модульность* (0-100 баллов)\n    -   Здания должны быть вписаны в кратные модули (1x1, 2x2, 3x3) и выглядеть как части единой логической системы.\n\n6.  *Перспектива для читаемости* (0-100 баллов)\n    -   Хорошая различимость и читаемость с изометрического угла.\n\n7.  *Функциональность* (0-100 баллов)\n    -   Архитектура должна быть функциональной, симметричной и утопически чистой.\n\n8.  *Форма = Функция* (0-100 баллов)\n    -   Назначение здания должно считываться с первого взгляда (например, пульсирующее ядро у энергоблока).\n\n9.  *Основание* (0-100 баллов)\n    -   Наличие четкой платформы или базы, создающей визуальный фундамент.\n\n10. *Читаемость с расстояния* (0-100 баллов)\n    -   Здание должно сохранять свою узнаваемость и детали даже при уменьшении масштаба.\n\n11. *Цветовая палитра* (0-100 баллов)\n    -   Доминирование темных, графитовых, синих и темно-серых цветов, на фоне которых выделяются неоновые акценты.\n\n12. *Glow* (0-100 баллов)\n    -   Активное использование подсветки в виде полос, прожекторов и голограмм, встроенных в грани и швы, которые не заливают изображение, а подчеркивают структуру.\n\n13. *Материалы* (0-100 баллов)\n    -   Использование матовых техно-поверхностей (металл, стекло, композиты) без бликов, отражений и грязи.\n\n14. *Освещение* (0-100 баллов)\n    -   Глобальное, мягкое, без ярких источников света, выразительность достигается за счет неоновых линий.\n\n15. *Детализация* (0-100 баллов)\n    -   Средняя, с акцентом на читаемости конструкции и мелких элементах, таких как экраны, панели и трубы.\n\n16. *Отсутствие грязи* (0-100 баллов)\n    -   Даже постапокалипсис выглядит упорядоченным и инженерным.\n\n17. *Уникальность* (0-100 баллов)\n    -   Уникальные верхушки зданий, чтобы каждый модуль был легко узнаваем с высоты.\n\n18. *Разнообразие форм* (0-100 баллов)\n    -   Использование разнообразных геометрических форм, чтобы избежать монотонности.\n\n19. *Соответствие стилю* (0-100 баллов)\n    -   Полное соответствие общей стилистике проекта.\n\n20. *Контролируемое повреждение* (0-100 баллов)\n    -   Признаки износа или повреждений должны выглядеть упорядоченными и технологичными, а не хаотичными.\n\nДля каждого критерия дай краткий комментарий (1 предложение, которое конкретно описывает твою оценку) и оценку в баллах (выдай оценку в виде целого числа). В конце выведи итоговую среднюю оценку в формате: *ИТОГОВАЯ ОЦЕНКА: X/100*\n\nНе пиши дополнительных комментариев, допускаются только комментарии для критериев по пунктам.\n\nПомни: ты анализируешь новое здание (второй файл) в контексте соответствия стилю и качеству якорных зданий (первый файл)."
      },
      "position": [
        2208,
        928
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 2000
    },
    {
      "id": "03dcfe8a-8497-4810-a916-6c228b93641f",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        2656,
        1088
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "e11e5a28-1193-4865-aee0-6868ccb4bd6e",
      "name": "Url5",
      "parameters": {
        "options": {},
        "url": "={{ $('Url4').item.json.images[0].url }}"
      },
      "position": [
        1808,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "027c7997-0f3b-44e2-9411-a31ffb0a8c4a",
      "name": "Wait3",
      "parameters": {
        "amount": 13
      },
      "position": [
        592,
        1296
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "5fa8a738-ffbb-41f3-a93a-c60afe94d5d7",
      "name": "Transform to base64 (image)3",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1152,
        1296
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "eef9839f-0635-4bda-a98b-b48df1b566bb",
      "maxTries": 5,
      "name": "Imagen 2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\",\n     \"openai_api_key\": \"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\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gpt-image-1/text-to-image/byok"
      },
      "position": [
        352,
        1296
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "979ef731-b47b-4376-867c-1707b01802ea",
      "maxTries": 5,
      "name": "Queue3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 2').item.json.request_id }}"
      },
      "position": [
        784,
        1296
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "3e24acf6-6f24-4eec-86e0-cdcac053c6c0",
      "name": "Url6",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        976,
        1296
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "3f1cfc41-62d6-4a33-bb97-abf2d5fcd939",
      "name": "Image3",
      "parameters": {
        "options": {},
        "url": "={{ $('Url6').item.json.images[0].url }}"
      },
      "position": [
        2656,
        1296
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "309877fb-e465-445e-a285-13cced5b1224",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1808,
        1456
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "6a17f50e-e5aa-445d-bd12-1c714eed045f",
      "name": "yes/no3",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "yes"
            },
            {
              "id": "9f3b1a42-9943-49a1-858d-238bcfd4de29",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "Yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1552,
        1296
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "ee139ec5-0ee1-4397-90a2-9e20efd072d5",
      "name": "Perspective is correct3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Определи, верна ли перспектива для здания или пропса. Перспектива: строгая ортографическая изометрическая проекция, вид под высоким углом сверху вниз, классический угол обзора в три четверти, как в стратегических играх, без перспективных искажений. Здание или пропс должны быть полностью видны в границах кадра, без обрезанных частей по краям изображения. Объект должен находиться в устойчивом положении с четкой геометрией. Подробная разбивка: Проекция: Строгая ортографическая изометрическая проекция под углом 30 градусов. Высота и угол: Вид под высоким углом сверху вниз под 45 градусов. Поворот: Поворот в три четверти, классический для игр. Стиль вида: Вид архитектурной модели, стиль ассета для стратегической игры. Расположение объекта: Устойчивое положение на основании или платформе, четкая модульная структура, читаемая геометрия без искажений. Требования к кадру: Полная видимость объекта, все части должны полностью находиться в границах изображения, без обрезки по краям, весь объект должен полностью помещаться в кадр. Характеристики объекта: Четкие геометрические формы, модульная структура, техно-стилистика с неоновыми акцентами, изометрическая читаемость. Негативный промпт: Перспективный вид, точка схода, съемка на уровне глаз, съемка с нижнего ракурса, искажения камеры, ракурсное сокращение, двухточечная перспектива, наклоненные вертикальные линии, фотография, обрезанный объект, срезанные края, частичная видимость, объект выходящий за границы кадра, нестабильное положение, искаженная геометрия. Вывод: Только yes или no, на английском. Давай краткий комментарий после анализа на русском.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent"
      },
      "position": [
        1344,
        1296
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "e98ce8ac-8aa0-47a0-8273-9eeae3e89dda",
      "name": "All Icons3",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Buildings.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI/view?usp=drivesdk",
          "mode": "list",
          "value": "1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        2000,
        1296
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "cab6e804-d0c3-4d29-84f0-d985a788ed4a",
      "name": ">2",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        2416,
        1296
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "4b4ee0ce-af2d-45bc-9d8a-a5a9e2d5dd98",
      "maxTries": 5,
      "name": "Rated3",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты эксперт по анализу игровой архитектуры. Ты получил два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) зданий, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 новое здание, сгенерированное нейросетью, которое необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать новое здание (второй файл) в сравнении с якорными зданиями (первый файл) и оценить его соответствие по следующим критериям:\n\n1.  *Жанр и концепция* (0-100 баллов)\n    -   Соответствие стилизованной изометрии 2.5D в sci-fi сеттинге.\n\n2.  *Стиль* (0-100 баллов)\n    -   Олицетворение порядка и прогресса, чистые формы, неоновые акценты, стекло и металл.\n\n3.  *Перспектива* (0-100 баллов)\n    -   Строгая ортографическая изометрическая проекция под углом 30 градусов.\n\n4.  *Угол обзора* (0-100 баллов)\n    -   Вид под высоким углом сверху вниз под 45 градусов.\n\n5.  *Модульность* (0-100 баллов)\n    -   Здания должны быть вписаны в кратные модули (1x1, 2x2, 3x3) и выглядеть как части единой логической системы.\n\n6.  *Перспектива для читаемости* (0-100 баллов)\n    -   Хорошая различимость и читаемость с изометрического угла.\n\n7.  *Функциональность* (0-100 баллов)\n    -   Архитектура должна быть функциональной, симметричной и утопически чистой.\n\n8.  *Форма = Функция* (0-100 баллов)\n    -   Назначение здания должно считываться с первого взгляда (например, пульсирующее ядро у энергоблока).\n\n9.  *Основание* (0-100 баллов)\n    -   Наличие четкой платформы или базы, создающей визуальный фундамент.\n\n10. *Читаемость с расстояния* (0-100 баллов)\n    -   Здание должно сохранять свою узнаваемость и детали даже при уменьшении масштаба.\n\n11. *Цветовая палитра* (0-100 баллов)\n    -   Доминирование темных, графитовых, синих и темно-серых цветов, на фоне которых выделяются неоновые акценты.\n\n12. *Glow* (0-100 баллов)\n    -   Активное использование подсветки в виде полос, прожекторов и голограмм, встроенных в грани и швы, которые не заливают изображение, а подчеркивают структуру.\n\n13. *Материалы* (0-100 баллов)\n    -   Использование матовых техно-поверхностей (металл, стекло, композиты) без бликов, отражений и грязи.\n\n14. *Освещение* (0-100 баллов)\n    -   Глобальное, мягкое, без ярких источников света, выразительность достигается за счет неоновых линий.\n\n15. *Детализация* (0-100 баллов)\n    -   Средняя, с акцентом на читаемости конструкции и мелких элементах, таких как экраны, панели и трубы.\n\n16. *Отсутствие грязи* (0-100 баллов)\n    -   Даже постапокалипсис выглядит упорядоченным и инженерным.\n\n17. *Уникальность* (0-100 баллов)\n    -   Уникальные верхушки зданий, чтобы каждый модуль был легко узнаваем с высоты.\n\n18. *Разнообразие форм* (0-100 баллов)\n    -   Использование разнообразных геометрических форм, чтобы избежать монотонности.\n\n19. *Соответствие стилю* (0-100 баллов)\n    -   Полное соответствие общей стилистике проекта.\n\n20. *Контролируемое повреждение* (0-100 баллов)\n    -   Признаки износа или повреждений должны выглядеть упорядоченными и технологичными, а не хаотичными.\n\nДля каждого критерия дай краткий комментарий (1 предложение, которое конкретно описывает твою оценку) и оценку в баллах (выдай оценку в виде целого числа). В конце выведи итоговую среднюю оценку в формате: *ИТОГОВАЯ ОЦЕНКА: X/100*\n\nНе пиши дополнительных комментариев, допускаются только комментарии для критериев по пунктам.\n\nПомни: ты анализируешь новое здание (второй файл) в контексте соответствия стилю и качеству якорных зданий (первый файл)."
      },
      "position": [
        2208,
        1296
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 2000
    },
    {
      "id": "f68b9630-d0d0-4119-8310-dd95cf600667",
      "name": "Loop Over Items8",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        2656,
        1456
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "c33de001-f92a-4521-8c9a-250bfcc1fd8d",
      "name": "Url7",
      "parameters": {
        "options": {},
        "url": "={{ $('Url6').item.json.images[0].url }}"
      },
      "position": [
        1808,
        1296
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "773fce62-6f74-40e3-a10f-1d8c0b52f158",
      "name": "Wait4",
      "parameters": {
        "amount": 13
      },
      "position": [
        592,
        1664
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "30b2c5e2-7be8-4f82-b922-c7f17b6b4e52",
      "name": "Transform to base64 (image)4",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1152,
        1664
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "2cc926e2-20cf-46f2-a6e7-f252575e2739",
      "maxTries": 5,
      "name": "Imagen 3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\",\n     \"openai_api_key\": \"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\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gpt-image-1/text-to-image/byok"
      },
      "position": [
        352,
        1664
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "78c5e1dc-3d2e-421c-a093-65b30c0eca2e",
      "maxTries": 5,
      "name": "Queue4",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 3').item.json.request_id }}"
      },
      "position": [
        784,
        1664
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "c50efada-ade5-460c-9642-42f1368cfc88",
      "name": "Url8",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        976,
        1664
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "47f4d263-1512-46af-a375-c68df630c842",
      "name": "Image4",
      "parameters": {
        "options": {},
        "url": "={{ $('Url8').item.json.images[0].url }}"
      },
      "position": [
        2656,
        1664
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "55682321-d8ee-4be0-8b1e-6edf2db3ef1a",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1808,
        1824
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "210c8961-abdd-481a-bed2-729d31a6f212",
      "name": "yes/no4",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "yes"
            },
            {
              "id": "9f3b1a42-9943-49a1-858d-238bcfd4de29",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "Yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1552,
        1664
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "2e16eba4-c140-41c8-a3af-0f262fe3ae57",
      "name": "Perspective is correct4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Определи, верна ли перспектива для здания или пропса. Перспектива: строгая ортографическая изометрическая проекция, вид под высоким углом сверху вниз, классический угол обзора в три четверти, как в стратегических играх, без перспективных искажений. Здание или пропс должны быть полностью видны в границах кадра, без обрезанных частей по краям изображения. Объект должен находиться в устойчивом положении с четкой геометрией. Подробная разбивка: Проекция: Строгая ортографическая изометрическая проекция под углом 30 градусов. Высота и угол: Вид под высоким углом сверху вниз под 45 градусов. Поворот: Поворот в три четверти, классический для игр. Стиль вида: Вид архитектурной модели, стиль ассета для стратегической игры. Расположение объекта: Устойчивое положение на основании или платформе, четкая модульная структура, читаемая геометрия без искажений. Требования к кадру: Полная видимость объекта, все части должны полностью находиться в границах изображения, без обрезки по краям, весь объект должен полностью помещаться в кадр. Характеристики объекта: Четкие геометрические формы, модульная структура, техно-стилистика с неоновыми акцентами, изометрическая читаемость. Негативный промпт: Перспективный вид, точка схода, съемка на уровне глаз, съемка с нижнего ракурса, искажения камеры, ракурсное сокращение, двухточечная перспектива, наклоненные вертикальные линии, фотография, обрезанный объект, срезанные края, частичная видимость, объект выходящий за границы кадра, нестабильное положение, искаженная геометрия. Вывод: Только yes или no, на английском. Давай краткий комментарий после анализа на русском.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent"
      },
      "position": [
        1344,
        1664
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "b3c5ab02-5cb7-45e1-998b-2281070b85cc",
      "name": "All Icons4",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Buildings.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI/view?usp=drivesdk",
          "mode": "list",
          "value": "1W8nJQGGfpsfhNEPTxSo8K1XHAjQPaEoI"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        2000,
        1664
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "15ef3689-6133-449c-84be-0c1c1ffae437",
      "name": ">3",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        2416,
        1664
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "bd075129-2a69-4600-932e-0930140c5c18",
      "maxTries": 5,
      "name": "Rated4",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты эксперт по анализу игровой архитектуры. Ты получил два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) зданий, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 новое здание, сгенерированное нейросетью, которое необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать новое здание (второй файл) в сравнении с якорными зданиями (первый файл) и оценить его соответствие по следующим критериям:\n\n1.  *Жанр и концепция* (0-100 баллов)\n    -   Соответствие стилизованной изометрии 2.5D в sci-fi сеттинге.\n\n2.  *Стиль* (0-100 баллов)\n    -   Олицетворение порядка и прогресса, чистые формы, неоновые акценты, стекло и металл.\n\n3.  *Перспектива* (0-100 баллов)\n    -   Строгая ортографическая изометрическая проекция под углом 30 градусов.\n\n4.  *Угол обзора* (0-100 баллов)\n    -   Вид под высоким углом сверху вниз под 45 градусов.\n\n5.  *Модульность* (0-100 баллов)\n    -   Здания должны быть вписаны в кратные модули (1x1, 2x2, 3x3) и выглядеть как части единой логической системы.\n\n6.  *Перспектива для читаемости* (0-100 баллов)\n    -   Хорошая различимость и читаемость с изометрического угла.\n\n7.  *Функциональность* (0-100 баллов)\n    -   Архитектура должна быть функциональной, симметричной и утопически чистой.\n\n8.  *Форма = Функция* (0-100 баллов)\n    -   Назначение здания должно считываться с первого взгляда (например, пульсирующее ядро у энергоблока).\n\n9.  *Основание* (0-100 баллов)\n    -   Наличие четкой платформы или базы, создающей визуальный фундамент.\n\n10. *Читаемость с расстояния* (0-100 баллов)\n    -   Здание должно сохранять свою узнаваемость и детали даже при уменьшении масштаба.\n\n11. *Цветовая палитра* (0-100 баллов)\n    -   Доминирование темных, графитовых, синих и темно-серых цветов, на фоне которых выделяются неоновые акценты.\n\n12. *Glow* (0-100 баллов)\n    -   Активное использование подсветки в виде полос, прожекторов и голограмм, встроенных в грани и швы, которые не заливают изображение, а подчеркивают структуру.\n\n13. *Материалы* (0-100 баллов)\n    -   Использование матовых техно-поверхностей (металл, стекло, композиты) без бликов, отражений и грязи.\n\n14. *Освещение* (0-100 баллов)\n    -   Глобальное, мягкое, без ярких источников света, выразительность достигается за счет неоновых линий.\n\n15. *Детализация* (0-100 баллов)\n    -   Средняя, с акцентом на читаемости конструкции и мелких элементах, таких как экраны, панели и трубы.\n\n16. *Отсутствие грязи* (0-100 баллов)\n    -   Даже постапокалипсис выглядит упорядоченным и инженерным.\n\n17. *Уникальность* (0-100 баллов)\n    -   Уникальные верхушки зданий, чтобы каждый модуль был легко узнаваем с высоты.\n\n18. *Разнообразие форм* (0-100 баллов)\n    -   Использование разнообразных геометрических форм, чтобы избежать монотонности.\n\n19. *Соответствие стилю* (0-100 баллов)\n    -   Полное соответствие общей стилистике проекта.\n\n20. *Контролируемое повреждение* (0-100 баллов)\n    -   Признаки износа или повреждений должны выглядеть упорядоченными и технологичными, а не хаотичными.\n\nДля каждого критерия дай краткий комментарий (1 предложение, которое конкретно описывает твою оценку) и оценку в баллах (выдай оценку в виде целого числа). В конце выведи итоговую среднюю оценку в формате: *ИТОГОВАЯ ОЦЕНКА: X/100*\n\nНе пиши дополнительных комментариев, допускаются только комментарии для критериев по пунктам.\n\nПомни: ты анализируешь новое здание (второй файл) в контексте соответствия стилю и качеству якорных зданий (первый файл)."
      },
      "position": [
        2208,
        1664
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 2000
    },
    {
      "id": "f2c6a425-6c19-42de-9886-753bfd949e7b",
      "name": "Loop Over Items10",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        2656,
        1824
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "07ccb50d-3429-44bc-9465-a95e9825c75f",
      "name": "Url9",
      "parameters": {
        "options": {},
        "url": "={{ $('Url8').item.json.images[0].url }}"
      },
      "position": [
        1808,
        1664
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "93fcaf1c-74f5-4ddf-882a-23e9c3af7b61",
      "name": "Upload file",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        2912,
        192
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "3f058453-137a-4a5c-bdf4-251769f4b879",
      "name": "Upload file1",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt1').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        2912,
        560
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "2a7ee5ca-412f-4aa5-9beb-c6ba0696d089",
      "name": "Upload file2",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt2').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        2912,
        928
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "d173095d-7a28-4cea-a2e1-aa968570ab7c",
      "name": "Upload file3",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt3').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        2912,
        1296
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "9795bb10-2b3f-4a9d-9024-dd98efd458bc",
      "name": "Upload file4",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt4').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        2912,
        1664
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "c492565f-2ba9-409a-95cb-65d9a5e664a2",
      "maxTries": 5,
      "name": "Drive URL",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=🔄   🏛️ *Создаю здания и пропсы!* \n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -640,
        -144
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "7d05c7a1-32ab-4bac-855e-6bc5359151ba",
      "maxTries": 5,
      "name": "Finish",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=✅    🏛️ *Ваши здания и пропсы готовы!*\n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -224,
        16
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "id": "d3979552-7028-4ffb-bb2b-00d9edd490af",
      "name": "Loop Over Items11",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        352,
        352
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "4d32b022-7df1-4116-ade5-7c13e8eb9f9b",
      "name": "Loop Over Items12",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        352,
        720
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "e71b60d9-f114-43c4-ab3d-ef4b9f4ad50f",
      "name": "Loop Over Items13",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        352,
        1088
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "60748b4f-cc38-4eaf-b36b-43d5bc3e98e0",
      "name": "Loop Over Items14",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        352,
        1456
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "0cf90935-e130-42c8-a23f-56c050453ce9",
      "name": "Loop Over Items15",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        352,
        1824
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "5aef0469-1223-4d61-a628-7550c7ae794b",
      "name": "Loop Over Items16",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        976,
        352
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "a1f87e46-225f-44a3-92d0-a94aafbfa31b",
      "name": "Wait5",
      "parameters": {
        "amount": 1
      },
      "position": [
        -400,
        -144
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "e035f88e-60ef-4e3b-b46c-2092317d3515"
    },
    {
      "id": "0b2090c9-418a-4d94-b2ef-23b9bf4d83d9",
      "name": "Wait6",
      "parameters": {
        "amount": 1
      },
      "position": [
        16,
        16
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "e035f88e-60ef-4e3b-b46c-2092317d3515"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "9029dab5-0d33-4cc5-ab66-da9dfd0b9d92",
      "maxTries": 5,
      "name": "Drive URL1",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=🔄   🏛️ *Создаю здания и пропсы!* \n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -224,
        -144
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "2b7785be-4ffb-41e1-8c1a-6caecc7ff94b",
      "maxTries": 5,
      "name": "Finish1",
      "onError": "continueRegularOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=✅    🏛️ *Ваши здания и пропсы готовы!*\n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        208,
        16
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "id": "c8c52f88-c06f-4a8b-b54f-dfd344caa5b7",
      "name": "Clear Promt",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        192,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "1ead1648-6548-4846-b708-b0d3b561ab1d",
      "name": "Clear Promt1",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        192,
        560
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "7a9d6ec0-5c51-4247-9d17-a9a1557bf68f",
      "name": "Clear Promt2",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        192,
        928
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "82b990ad-6b3b-4608-8eb7-5b25f69d01b2",
      "name": "Clear Promt3",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        192,
        1296
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "63288cae-fe77-4415-8e3b-a574ef573d4b",
      "name": "Clear Promt4",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        192,
        1664
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "b80deb89-097d-4d37-adf6-02f6e5c6e453",
      "name": "Wait7",
      "parameters": {
        "amount": 4
      },
      "position": [
        0,
        -144
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "e035f88e-60ef-4e3b-b46c-2092317d3515"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "24cc99d3-9d99-4c42-a957-f256efd3b363",
      "maxTries": 5,
      "name": "Drive URL2",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=🔄   🏛️ *Создаю здания и пропсы!* \n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        208,
        -144
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "id": "ddf53832-43e1-4070-8b90-bc8b567b78c6",
      "name": "Wait8",
      "parameters": {
        "amount": 6
      },
      "position": [
        592,
        352
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "944d6669-341d-4e23-81d4-59e44f23347d",
      "maxTries": 5,
      "name": "Queue5",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 4').item.json.request_id }}"
      },
      "position": [
        784,
        352
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "886d6786-1ded-4097-b249-bacae9bd2f3d",
      "name": "Loop Over Items21",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        976,
        720
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "aad7ab3c-7963-4e21-a191-d7a9dc7e334b",
      "name": "Wait9",
      "parameters": {
        "amount": 6
      },
      "position": [
        592,
        720
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "c8357c4c-c8d8-47c1-9667-677b569ba03e",
      "maxTries": 5,
      "name": "Queue6",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen').item.json.request_id }}"
      },
      "position": [
        784,
        720
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "c751751e-e669-4cb2-a9ee-32bb6f06f5d5",
      "name": "Loop Over Items22",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        976,
        1088
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "1cd8cd70-37c7-4d5e-91ca-1cda22b4479c",
      "name": "Wait10",
      "parameters": {
        "amount": 6
      },
      "position": [
        592,
        1088
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "784436cd-2a42-4429-8c15-3ea673bfdaa5",
      "maxTries": 5,
      "name": "Queue7",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 1').item.json.request_id }}"
      },
      "position": [
        784,
        1088
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "e6fb6c07-ba1f-473b-bb90-30af29c34fce",
      "name": "Loop Over Items23",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        976,
        1456
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "35339a6e-3ca5-4c72-a677-619f38793075",
      "name": "Wait11",
      "parameters": {
        "amount": 6
      },
      "position": [
        592,
        1456
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "ab767396-2624-42b3-975c-e42330a85944",
      "maxTries": 5,
      "name": "Queue8",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 2').item.json.request_id }}"
      },
      "position": [
        784,
        1456
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "575a96ab-d831-4159-a5e3-ef5cd2fca939",
      "name": "Loop Over Items24",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        976,
        1824
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "746ac678-e35f-4619-a100-52ddffc4c2ce",
      "name": "Wait12",
      "parameters": {
        "amount": 6
      },
      "position": [
        592,
        1824
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "3943e890-b1ce-4499-983a-c3867376e064",
      "maxTries": 5,
      "name": "Queue9",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gpt-image-1/requests/{{ $('Imagen 3').item.json.request_id }}"
      },
      "position": [
        784,
        1824
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-29T18:02:15.964Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-29T18:02:15.964Z",
      "workflowId": "KRct77fKouLnWHqv"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-14T08:26:20.798Z",
      "id": "QEHbVhy6Fh3iNUlR",
      "name": "LW",
      "updatedAt": "2025-07-14T08:26:20.798Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-14T06:46:14.000Z",
  "versionId": "70a4c846-2fc0-4979-912d-429821870da6"
}