folder/ASMR Compression (Vladislav Saveliev).json
{
  "active": true,
  "connections": {
    "Append or update row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items17",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items8",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete rows or columns from sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo4",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo5",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo6",
            "type": "main"
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload Video and Description to Tiktok",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям2",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям3",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ссылки видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Title1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search files and folders1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request8",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If2",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields5",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Append or update row in sheet5",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items10": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items11": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items12": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items13": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items14": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items15": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items16": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo6",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items17": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items9": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Structured Output Parser2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download file1",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items10",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items9",
            "type": "main"
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items14",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items11",
            "type": "main"
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items15",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items12",
            "type": "main"
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items16",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items13",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo": {
      "main": [
        [
          {
            "index": 0,
            "node": "status",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo4": {
      "main": [
        [
          {
            "index": 0,
            "node": "status1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo5": {
      "main": [
        [
          {
            "index": 0,
            "node": "status2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo6": {
      "main": [
        [
          {
            "index": 0,
            "node": "status3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Final Video",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "YT Tags1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Title1",
            "type": "main"
          }
        ]
      ]
    },
    "status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    },
    "status1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch1",
            "type": "main"
          }
        ]
      ]
    },
    "status2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch2",
            "type": "main"
          }
        ]
      ]
    },
    "status3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch3",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video1",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video2",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video3",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "main"
          }
        ]
      ]
    },
    "Жанры": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If3",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If4",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If5",
            "type": "main"
          }
        ]
      ]
    },
    "Ссылки видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T07:41:32.601Z",
  "id": "RPPP1ixSElnFvvJs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ASMR Compression (Vladislav Saveliev)",
  "nodes": [
    {
      "id": "41711f0c-1ba5-4a35-90fc-6dbea2bfaf9a",
      "name": "Upload Video and Description to Tiktok",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}\nChronooCrush\nExploring moments, stories, and the passage of time.\n\nConnect with us:\nYouTube: https://www.youtube.com/@ChronooCrush\nInstagram: https://www.instagram.com/chronoocrush/\nTikTok: https://www.tiktok.com/@leblancjoel926"
            },
            {
              "name": "user",
              "value": "ASMRComp"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        1008,
        992
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f43ad926-03aa-4917-8883-e05401616907",
      "name": "Upload Video and Description to Instagram",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRComp"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "caption",
              "value": "ChronooCrush\nExploring moments, stories, and the passage of time.\n\nConnect with us:\nYouTube: https://www.youtube.com/@ChronooCrush\nInstagram: https://www.instagram.com/chronoocrush/\nTikTok: https://www.tiktok.com/@leblancjoel926"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        1008,
        1232
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "267fd616-053d-43ce-85b1-be6d15cd3b1f",
      "name": "Upload Video and Description to Instagram1",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRComp"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "tags",
              "value": "={{ $('YT Tags1').item.json.output }}"
            },
            {
              "name": "madeForKids",
              "value": "false"
            },
            {
              "name": "privacyStatus",
              "value": "public"
            },
            {
              "name": "description",
              "value": "ChronooCrush\nExploring moments, stories, and the passage of time.\n\nConnect with us:\nYouTube: https://www.youtube.com/@ChronooCrush\nInstagram: https://www.instagram.com/chronoocrush/\nTikTok: https://www.tiktok.com/@leblancjoel926"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        1008,
        1456
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "820a3024-b9de-426f-9fc0-df77416adb3e",
      "name": "Chat Memory Manager",
      "parameters": {
        "deleteMode": "all",
        "mode": "delete"
      },
      "position": [
        -3968,
        1024
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1
    },
    {
      "id": "88118204-8eb7-45e8-b330-34e9173007c9",
      "name": "Structured Output Parser2",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3376,
        704
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "937973d9-0726-4cc8-a4dd-0102ae02e90b",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n    \"title\": \"Название\"\n}"
      },
      "position": [
        -4608,
        1232
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "fe423966-1288-4496-afeb-6210e691f2d7",
      "name": "Simple Memory2",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -4688,
        1232
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "41e19c8e-2927-4f99-94c9-344d76356d40",
      "name": "OpenAI Chat Model6",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3456,
        704
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "a533d433-5b90-4126-9fdf-5f4f04ef1ea7",
      "name": "Simple Memory",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -3968,
        1232
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "249aa6ab-77bc-42bb-b12d-9514183b7cb2",
      "name": "Генератор сценарного шаблона",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены сжатия/давления оригинального объекта, связанного с фильмом/сериалом.\n## Контекст: В каждой сцене — обычный, узнаваемый или фантазийный объект подвергается сжатию/раздавливанию гидравлическим прессом сверху вниз.\n## Задача: На основе названия фильма/сериала придумать три сцены строго по структуре:\n- Compression: [Одно предложение, где описан эффектный процесс сжатия или давления объекта прессом сверху вниз, с описанием деформации и эффекта].\n- Object: [Название и описание объекта, реального размера, не мини, не кластер, не абстракция, связан с фильмом/сериалом].\n- Reaction: [Что происходит при сжатии: деформация, треск, вытекание содержимого, разлом, пыль, звук, свет].\n- Surface: [Реалистичная поверхность: стол, платформа пресса, асфальт, металл, дерево].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, по делу, без воды.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, сжатие происходит прессом сверху, никаких миниатюр, кластеров, магии, еды, сюрреализма.\n## Финальный чек-лист:\n– Всё по структуре, только реализм, только сжатие.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который давят должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -3456,
        512
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "ef2b8997-5b89-4dcf-8f13-33b12e559b1d",
      "name": "Жанры",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Steps to generate:\n1. Randomly select: movie or TV series (50/50 chance).\n2. If a movie - choose one of the popular ones (e.g. Interstellar, The Matrix, Gladiator, or any other hit).\n3. If a TV series - choose one of the well-known ones (e.g. Friends, Chernobyl, The Mandalorian, or any other).\nThis is all an example, you don't have to use from these lists.\n\nOutput format (strictly adhere to it):\n[Movie or series title]\n\nGenerate only the title, without type, year, justification or any other text. Use the original title in English or as commonly accepted in pop culture.\nJust write the title and the name of the movie/series.\nDon't repeat yourself."
        },
        "promptType": "define",
        "text": "Дай название фильма или сериала"
      },
      "position": [
        -4768,
        1024
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "1a726da4-0a10-4882-b5a5-bfc34f6e971c",
      "name": "Проверка по критериям",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3008,
        512
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "7c875029-de38-4085-a160-667eddc0be51",
      "maxTries": 5,
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "нет"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2704,
        512
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "cc446c2e-19e9-44cc-82dd-8d266926e162",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2544,
        512
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "68ed2889-57ad-4528-a46d-62d63f2db43b",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo/edit?usp=drivesdk",
          "mode": "list",
          "value": "14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Идея",
              "lookupValue": "={{ $json.output.title }}"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -4464,
        1024
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "25263895-e447-4f42-9a3b-158099dde811",
      "name": "If2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "912e5ad3-6e48-4519-ae35-9e476ffba150",
              "leftValue": "={{ $json['Идея'] }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": "={{ $json['Идея'] }}"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {
          "ignoreCase": false
        }
      },
      "position": [
        -4304,
        1024
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "f3e47215-5c93-4d36-9d7d-e9eca015b40c",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -4304,
        1168
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "642e9e28-990a-423c-85d3-da54017c6e49",
      "name": "Append or update row in sheet",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "removed": true,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "ЖАНР": "Фильм",
            "Идея": "={{ $('Жанры').item.json.output.title }}",
            "Статус": "Взят"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo/edit?usp=drivesdk",
          "mode": "list",
          "value": "14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -4144,
        1024
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "d18abd27-cf7f-4d6c-a619-1c273b72ce40",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3360,
        1040
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "fb0a9e6c-36d2-4717-b359-f8f00de9cc12",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3456,
        1040
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "b1aea554-a7fd-4099-a7df-5baee5abb239",
      "name": "Генератор сценарного шаблона1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены сжатия/давления оригинального объекта, связанного с фильмом/сериалом.\n## Контекст: В каждой сцене — обычный, узнаваемый или фантазийный объект подвергается сжатию/раздавливанию гидравлическим прессом сверху вниз.\n## Задача: На основе названия фильма/сериала придумать три сцены строго по структуре:\n- Compression: [Одно предложение, где описан эффектный процесс сжатия или давления объекта прессом сверху вниз, с описанием деформации и эффекта].\n- Object: [Название и описание объекта, реального размера, не мини, не кластер, не абстракция, связан с фильмом/сериалом].\n- Reaction: [Что происходит при сжатии: деформация, треск, вытекание содержимого, разлом, пыль, звук, свет].\n- Surface: [Реалистичная поверхность: стол, платформа пресса, асфальт, металл, дерево].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, по делу, без воды.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, сжатие происходит прессом сверху, никаких миниатюр, кластеров, магии, еды, сюрреализма.\n## Финальный чек-лист:\n– Всё по структуре, только реализм, только сжатие.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который давят должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -3456,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "1507d0aa-c89b-40d4-aa5d-04478b2d1da7",
      "name": "Проверка по критериям1",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3008,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "b96e39a7-c9c0-48c8-be53-2f7aa49e0035",
      "maxTries": 5,
      "name": "If3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2704,
        848
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "f269d7d8-5ad6-4c7a-bf8a-6e616b2d691b",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2544,
        848
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "ecc03fdb-1f66-458b-8d20-7cc91af9c525",
      "name": "Structured Output Parser3",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3376,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "3a2142c3-ec6f-479e-946e-9584db416f6a",
      "name": "OpenAI Chat Model7",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3456,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "f1a20357-d918-4ccd-8b29-7e36d85dcaaf",
      "name": "Генератор сценарного шаблона2",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены сжатия/давления оригинального объекта, связанного с фильмом/сериалом.\n## Контекст: В каждой сцене — обычный, узнаваемый или фантазийный объект подвергается сжатию/раздавливанию гидравлическим прессом сверху вниз.\n## Задача: На основе названия фильма/сериала придумать три сцены строго по структуре:\n- Compression: [Одно предложение, где описан эффектный процесс сжатия или давления объекта прессом сверху вниз, с описанием деформации и эффекта].\n- Object: [Название и описание объекта, реального размера, не мини, не кластер, не абстракция, связан с фильмом/сериалом].\n- Reaction: [Что происходит при сжатии: деформация, треск, вытекание содержимого, разлом, пыль, звук, свет].\n- Surface: [Реалистичная поверхность: стол, платформа пресса, асфальт, металл, дерево].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, по делу, без воды.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, сжатие происходит прессом сверху, никаких миниатюр, кластеров, магии, еды, сюрреализма.\n## Финальный чек-лист:\n– Всё по структуре, только реализм, только сжатие.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который давят должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -3456,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "fda1c689-fb8f-4385-b161-70ae7638f7e1",
      "name": "Проверка по критериям2",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3008,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "30ae44e4-661e-43dc-af12-795aa2de91e9",
      "maxTries": 5,
      "name": "If4",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2704,
        1200
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "42014f6e-4679-4337-b600-e9c5a4c5c138",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2544,
        1200
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "db3ac337-322d-4f7b-8605-266f429147ab",
      "name": "Structured Output Parser4",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3376,
        1760
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "26768230-28d0-46e6-94ba-7456d138ac42",
      "name": "OpenAI Chat Model8",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3456,
        1760
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "f6ae0a38-ca0a-41d5-84b5-dcbe813e370a",
      "name": "Генератор сценарного шаблона3",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены сжатия/давления оригинального объекта, связанного с фильмом/сериалом.\n## Контекст: В каждой сцене — обычный, узнаваемый или фантазийный объект подвергается сжатию/раздавливанию гидравлическим прессом сверху вниз.\n## Задача: На основе названия фильма/сериала придумать три сцены строго по структуре:\n- Compression: [Одно предложение, где описан эффектный процесс сжатия или давления объекта прессом сверху вниз, с описанием деформации и эффекта].\n- Object: [Название и описание объекта, реального размера, не мини, не кластер, не абстракция, связан с фильмом/сериалом].\n- Reaction: [Что происходит при сжатии: деформация, треск, вытекание содержимого, разлом, пыль, звук, свет].\n- Surface: [Реалистичная поверхность: стол, платформа пресса, асфальт, металл, дерево].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, по делу, без воды.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, сжатие происходит прессом сверху, никаких миниатюр, кластеров, магии, еды, сюрреализма.\n## Финальный чек-лист:\n– Всё по структуре, только реализм, только сжатие.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который давят должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -3456,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "2397b1e0-b51b-4143-adc8-42cb1882cf31",
      "name": "Проверка по критериям3",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -3008,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "2a9fa7c0-e96c-4c75-b910-5783b55a0665",
      "maxTries": 5,
      "name": "If5",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2704,
        1568
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "b2cf637b-e6fa-4f7a-b6ef-d4c809d101fa",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2544,
        1568
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "4d05f023-ff99-4a8b-8ea7-c5737badae1f",
      "name": "Генерация промтов1",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены сжатия оригинального объекта гидравлическим прессом сверху (без миниатюр, магии, еды, кластеров, сюрреализма).\n## Контекст: Изображение — обычный объект на платформе пресса, сверху над ним — массивный гидравлический пресс, момент сжатия, все детали деформации видны, физика реалистична.\n## Задача: Описать промт на английском одной строкой: объект на платформе, над ним пресс, момент сжатия, все детали деформации, hyper-realistic, dramatic lighting, no magic, 16:9, no motion blur.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, пресс сверху, никакой миниатюрности или магии.\n## Финальный чек-лист:\n– Всё только про реалистичное сжатие оригинального объекта прессом.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -2080,
        512
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "933eb30c-d77e-4e3a-a631-b776788d31f1",
      "name": "OpenAI Chat Model9",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2080,
        704
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "c68af243-c791-4b8f-bdfd-f75b385130dc",
      "name": "Генератор сценария1",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для сцены сжатия оригинального объекта прессом сверху, максимально реалистично и эффектно, без магии и сюрреализма.\n## Контекст: Видео — 6–8 секунд, камера статична, объект оригинального размера, пресс сжимает его сверху, фиксируется весь процесс: деформация, трещины, вытекание, разлом, звуки.\n## Задача: Описать сцену секционно: объект, описание, динамика сжатия, реакция содержимого, звук, длительность по секциям (start, press, release, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, пошагово, всё про сжатие, физика, звук.\n## Требования:\n– Язык: Английский.\n– Обычный объект, пресс сверху вниз, реализм, всё без магии, миниатюр, кластеров.\n## Финальный чек-лист:\n– Всё по сцене, только физика сжатия, все шаги по времени.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields1').item.json.Scene }}"
      },
      "position": [
        -2384,
        512
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "35c9d48c-9440-4f51-93ac-2677786a10e7",
      "name": "Анимация видео1",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"metal ball\", \"rubber duck\", \"ceramic mug\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being slowly and satisfyingly compressed or crushed by a hydraulic press or similar device in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a heavy industrial press surface, typically polished steel or heavy-duty metal.\n* Compression must appear realistic, visually satisfying, and physically plausible—the object must deform smoothly or fracture realistically based on its material.\n* The video starts immediately with the pressing action.\n* The object must retain clear visual details (color, texture, and reflective qualities) to create strong visual contrast during compression.\n* No humans visible. Only the mechanical press visibly performing the action.\n* The pressing should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of press contacting the object\n  2. Clear sounds of object deforming or fracturing\n  3. Deep resonant hum or mechanical noise of the press exerting force\n  4. Subtle crackling or popping as the object reaches full compression or breaking point\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the forceful yet controlled nature of the pressing.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the press surface material (e.g., polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Pressing Action**: Clearly detail the pressing event—from initial contact to the final compression or fracture.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the press\n   * Detailed deformation or fracturing sounds\n   * Steady mechanical press hum\n   * Subtle final crackling sounds\n5. **Ambience**: Total silence except for pressing sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed firmly on a polished steel pressing platform.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: A heavy industrial press slowly compresses the \\[object], smoothly deforming or fracturing it with visually captivating precision.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed deformation dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial press contact sound, (2) vivid deformation or fracturing sounds, (3) steady resonant mechanical hum, and (4) subtle final crackling as the object fully compresses or fractures. The initial contact sound should be especially sharp and prominent, emphasizing the controlled force of compression. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments to highlight deformation or fractures.\n**Composition**: Centered object, press descends from top.\n**Ambiance**: Pin-drop silence around the pressing sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the satisfying detail of the slow, powerful pressing. Visually mesmerizing, physically calming.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона').item.json.output.Action }}\n- Object: {{ $('Генератор сценарного шаблона').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария1').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1776,
        512
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "75699f04-c3cd-4183-9006-313b8b9e8217",
      "name": "Генерация промтов2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены сжатия оригинального объекта гидравлическим прессом сверху (без миниатюр, магии, еды, кластеров, сюрреализма).\n## Контекст: Изображение — обычный объект на платформе пресса, сверху над ним — массивный гидравлический пресс, момент сжатия, все детали деформации видны, физика реалистична.\n## Задача: Описать промт на английском одной строкой: объект на платформе, над ним пресс, момент сжатия, все детали деформации, hyper-realistic, dramatic lighting, no magic, 16:9, no motion blur.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, пресс сверху, никакой миниатюрности или магии.\n## Финальный чек-лист:\n– Всё только про реалистичное сжатие оригинального объекта прессом.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -2080,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "20f936b0-305a-4b99-a130-e0d876f8fa0d",
      "name": "OpenAI Chat Model10",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2080,
        1040
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "7c22a743-450a-48f7-a68c-a562a197d3ce",
      "name": "Генератор сценария2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для сцены сжатия оригинального объекта прессом сверху, максимально реалистично и эффектно, без магии и сюрреализма.\n## Контекст: Видео — 6–8 секунд, камера статична, объект оригинального размера, пресс сжимает его сверху, фиксируется весь процесс: деформация, трещины, вытекание, разлом, звуки.\n## Задача: Описать сцену секционно: объект, описание, динамика сжатия, реакция содержимого, звук, длительность по секциям (start, press, release, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, пошагово, всё про сжатие, физика, звук.\n## Требования:\n– Язык: Английский.\n– Обычный объект, пресс сверху вниз, реализм, всё без магии, миниатюр, кластеров.\n## Финальный чек-лист:\n– Всё по сцене, только физика сжатия, все шаги по времени.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields2').item.json.Scene }}"
      },
      "position": [
        -2384,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "098e35bf-94fc-4a0d-8504-f981ec4ffcbf",
      "name": "Анимация видео2",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"metal ball\", \"rubber duck\", \"ceramic mug\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being slowly and satisfyingly compressed or crushed by a hydraulic press or similar device in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a heavy industrial press surface, typically polished steel or heavy-duty metal.\n* Compression must appear realistic, visually satisfying, and physically plausible—the object must deform smoothly or fracture realistically based on its material.\n* The video starts immediately with the pressing action.\n* The object must retain clear visual details (color, texture, and reflective qualities) to create strong visual contrast during compression.\n* No humans visible. Only the mechanical press visibly performing the action.\n* The pressing should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of press contacting the object\n  2. Clear sounds of object deforming or fracturing\n  3. Deep resonant hum or mechanical noise of the press exerting force\n  4. Subtle crackling or popping as the object reaches full compression or breaking point\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the forceful yet controlled nature of the pressing.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the press surface material (e.g., polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Pressing Action**: Clearly detail the pressing event—from initial contact to the final compression or fracture.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the press\n   * Detailed deformation or fracturing sounds\n   * Steady mechanical press hum\n   * Subtle final crackling sounds\n5. **Ambience**: Total silence except for pressing sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed firmly on a polished steel pressing platform.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: A heavy industrial press slowly compresses the \\[object], smoothly deforming or fracturing it with visually captivating precision.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed deformation dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial press contact sound, (2) vivid deformation or fracturing sounds, (3) steady resonant mechanical hum, and (4) subtle final crackling as the object fully compresses or fractures. The initial contact sound should be especially sharp and prominent, emphasizing the controlled force of compression. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments to highlight deformation or fractures.\n**Composition**: Centered object, press descends from top.\n**Ambiance**: Pin-drop silence around the pressing sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the satisfying detail of the slow, powerful pressing. Visually mesmerizing, physically calming.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона1').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона1').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона1').item.json.output.Action }}\n- Object: {{ $('Генератор сценарного шаблона1').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона1').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария2').item.json.output }}. \nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1776,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "b759af7f-7fdf-430c-b422-293c01db7ea0",
      "name": "Генерация промтов3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены сжатия оригинального объекта гидравлическим прессом сверху (без миниатюр, магии, еды, кластеров, сюрреализма).\n## Контекст: Изображение — обычный объект на платформе пресса, сверху над ним — массивный гидравлический пресс, момент сжатия, все детали деформации видны, физика реалистична.\n## Задача: Описать промт на английском одной строкой: объект на платформе, над ним пресс, момент сжатия, все детали деформации, hyper-realistic, dramatic lighting, no magic, 16:9, no motion blur.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, пресс сверху, никакой миниатюрности или магии.\n## Финальный чек-лист:\n– Всё только про реалистичное сжатие оригинального объекта прессом.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -2080,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "d9629b6a-ec63-4e74-9d1a-22c17c08f297",
      "name": "OpenAI Chat Model11",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2080,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "815492d7-732c-4a62-9fa5-c2dbbde22909",
      "name": "Генератор сценария3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для сцены сжатия оригинального объекта прессом сверху, максимально реалистично и эффектно, без магии и сюрреализма.\n## Контекст: Видео — 6–8 секунд, камера статична, объект оригинального размера, пресс сжимает его сверху, фиксируется весь процесс: деформация, трещины, вытекание, разлом, звуки.\n## Задача: Описать сцену секционно: объект, описание, динамика сжатия, реакция содержимого, звук, длительность по секциям (start, press, release, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, пошагово, всё про сжатие, физика, звук.\n## Требования:\n– Язык: Английский.\n– Обычный объект, пресс сверху вниз, реализм, всё без магии, миниатюр, кластеров.\n## Финальный чек-лист:\n– Всё по сцене, только физика сжатия, все шаги по времени.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields3').item.json.Scene }}"
      },
      "position": [
        -2384,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "21d18a88-b473-44c5-b6e2-049002caef46",
      "name": "Анимация видео3",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"metal ball\", \"rubber duck\", \"ceramic mug\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being slowly and satisfyingly compressed or crushed by a hydraulic press or similar device in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a heavy industrial press surface, typically polished steel or heavy-duty metal.\n* Compression must appear realistic, visually satisfying, and physically plausible—the object must deform smoothly or fracture realistically based on its material.\n* The video starts immediately with the pressing action.\n* The object must retain clear visual details (color, texture, and reflective qualities) to create strong visual contrast during compression.\n* No humans visible. Only the mechanical press visibly performing the action.\n* The pressing should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of press contacting the object\n  2. Clear sounds of object deforming or fracturing\n  3. Deep resonant hum or mechanical noise of the press exerting force\n  4. Subtle crackling or popping as the object reaches full compression or breaking point\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the forceful yet controlled nature of the pressing.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the press surface material (e.g., polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Pressing Action**: Clearly detail the pressing event—from initial contact to the final compression or fracture.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the press\n   * Detailed deformation or fracturing sounds\n   * Steady mechanical press hum\n   * Subtle final crackling sounds\n5. **Ambience**: Total silence except for pressing sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed firmly on a polished steel pressing platform.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: A heavy industrial press slowly compresses the \\[object], smoothly deforming or fracturing it with visually captivating precision.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed deformation dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial press contact sound, (2) vivid deformation or fracturing sounds, (3) steady resonant mechanical hum, and (4) subtle final crackling as the object fully compresses or fractures. The initial contact sound should be especially sharp and prominent, emphasizing the controlled force of compression. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments to highlight deformation or fractures.\n**Composition**: Centered object, press descends from top.\n**Ambiance**: Pin-drop silence around the pressing sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the satisfying detail of the slow, powerful pressing. Visually mesmerizing, physically calming.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона2').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона2').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона2').item.json.output.Action }}\n- Object: {{ $('Генератор сценарного шаблона2').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона2').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария3').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1776,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "e6fdd305-ed5a-4744-9fff-b81930df0949",
      "name": "Генерация промтов4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены сжатия оригинального объекта гидравлическим прессом сверху (без миниатюр, магии, еды, кластеров, сюрреализма).\n## Контекст: Изображение — обычный объект на платформе пресса, сверху над ним — массивный гидравлический пресс, момент сжатия, все детали деформации видны, физика реалистична.\n## Задача: Описать промт на английском одной строкой: объект на платформе, над ним пресс, момент сжатия, все детали деформации, hyper-realistic, dramatic lighting, no magic, 16:9, no motion blur.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, пресс сверху, никакой миниатюрности или магии.\n## Финальный чек-лист:\n– Всё только про реалистичное сжатие оригинального объекта прессом.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -2080,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "287599b4-8c41-4bf9-99ee-4c670a9d8be6",
      "name": "OpenAI Chat Model12",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2080,
        1760
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "86e67469-581b-4c50-b610-62e7e8e6d28b",
      "name": "Генератор сценария4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для сцены сжатия оригинального объекта прессом сверху, максимально реалистично и эффектно, без магии и сюрреализма.\n## Контекст: Видео — 6–8 секунд, камера статична, объект оригинального размера, пресс сжимает его сверху, фиксируется весь процесс: деформация, трещины, вытекание, разлом, звуки.\n## Задача: Описать сцену секционно: объект, описание, динамика сжатия, реакция содержимого, звук, длительность по секциям (start, press, release, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, пошагово, всё про сжатие, физика, звук.\n## Требования:\n– Язык: Английский.\n– Обычный объект, пресс сверху вниз, реализм, всё без магии, миниатюр, кластеров.\n## Финальный чек-лист:\n– Всё по сцене, только физика сжатия, все шаги по времени.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields4').item.json.Scene }}"
      },
      "position": [
        -2384,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "bdab9267-da65-4539-a699-6b99dfef390e",
      "name": "Анимация видео4",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"metal ball\", \"rubber duck\", \"ceramic mug\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being slowly and satisfyingly compressed or crushed by a hydraulic press or similar device in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a heavy industrial press surface, typically polished steel or heavy-duty metal.\n* Compression must appear realistic, visually satisfying, and physically plausible—the object must deform smoothly or fracture realistically based on its material.\n* The video starts immediately with the pressing action.\n* The object must retain clear visual details (color, texture, and reflective qualities) to create strong visual contrast during compression.\n* No humans visible. Only the mechanical press visibly performing the action.\n* The pressing should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of press contacting the object\n  2. Clear sounds of object deforming or fracturing\n  3. Deep resonant hum or mechanical noise of the press exerting force\n  4. Subtle crackling or popping as the object reaches full compression or breaking point\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the forceful yet controlled nature of the pressing.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the press surface material (e.g., polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Pressing Action**: Clearly detail the pressing event—from initial contact to the final compression or fracture.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the press\n   * Detailed deformation or fracturing sounds\n   * Steady mechanical press hum\n   * Subtle final crackling sounds\n5. **Ambience**: Total silence except for pressing sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed firmly on a polished steel pressing platform.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: A heavy industrial press slowly compresses the \\[object], smoothly deforming or fracturing it with visually captivating precision.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed deformation dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial press contact sound, (2) vivid deformation or fracturing sounds, (3) steady resonant mechanical hum, and (4) subtle final crackling as the object fully compresses or fractures. The initial contact sound should be especially sharp and prominent, emphasizing the controlled force of compression. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments to highlight deformation or fractures.\n**Composition**: Centered object, press descends from top.\n**Ambiance**: Pin-drop silence around the pressing sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the satisfying detail of the slow, powerful pressing. Visually mesmerizing, physically calming.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона3').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона3').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона3').item.json.output.Action }}\n- Object: {{ $('Генератор сценарного шаблона3').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона3').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария4').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1776,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "791d707e-9fd6-4ecf-a092-02181fc1cdfc",
      "name": "Create Video1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1488,
        512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "7abbfabf-0ec9-4796-b04a-2221d752dac4",
      "name": "Get Video1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status').item.json.request_id }}"
      },
      "position": [
        -912,
        512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "971ff21c-e791-493e-afe1-9f565204a569",
      "name": "Wait for Veo",
      "parameters": {
        "amount": 60
      },
      "position": [
        -1344,
        512
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "116109bb-5147-4569-9d36-852bed1f62ed",
      "name": "Create Video2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1488,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "dae034c6-8750-4490-8e86-9127f8a3f49d",
      "name": "Get Video2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status1').item.json.request_id }}"
      },
      "position": [
        -912,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "29fd2ca7-8d95-47b8-b150-b467bb7506b0",
      "name": "Wait for Veo4",
      "parameters": {
        "amount": 60
      },
      "position": [
        -1328,
        848
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "1b0c2cec-7e19-49dd-8287-9c8c2bde8496",
      "name": "Create Video3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1488,
        1200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "c0726d86-04fa-47b3-b5ae-479fe3d1f6b6",
      "name": "Wait for Veo5",
      "parameters": {
        "amount": "=60"
      },
      "position": [
        -1328,
        1200
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "a54180d0-13f2-4d03-91bf-9fa59ffd9ec8",
      "name": "Create Video4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1488,
        1568
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f1571d0a-f20f-433a-8cfb-0138f710974d",
      "name": "Wait for Veo6",
      "parameters": {
        "amount": 60
      },
      "position": [
        -1328,
        1568
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "760acf54-a818-4f8c-b4e9-7daaa1c1e027",
      "name": "Merge",
      "parameters": {
        "numberInputs": 4
      },
      "position": [
        -432,
        992
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "eecf226d-c67f-437f-bdd3-78df46fbcead",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "jsonBody": "={\n  \"template_id\": \"dd46a8e9-ca16-42bb-bd39-80f834eff50b\",\n  \"modifications\": {\n    \"Back-1.source\": \"{{ $json.links[0] }}\",\n    \"Back-2.source\": \"{{ $json.links[1] }}\",\n    \"Back-3.source\": \"{{ $json.links[2] }}\",\n    \"Back-4.source\": \"{{ $json.links[3] }}\",\n    \"Front-1.source\": \"{{ $json.links[0] }}\",\n    \"Front-2.source\": \"{{ $json.links[1] }}\",\n    \"Front-3.source\": \"{{ $json.links[2] }}\",\n    \"Front-4.source\": \"{{ $json.links[3] }}\",\n    \"Name.text\": \"{{ $json.Names[0] }}\"\n  }\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api.creatomate.com/v1/renders"
      },
      "position": [
        192,
        1024
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "b88a12bd-7981-4e05-8688-79fae2f929d8",
      "name": "Wait1",
      "parameters": {
        "unit": "minutes"
      },
      "position": [
        352,
        1024
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "5930f4ed-364c-4f4d-b6a6-01526460ca1a"
    },
    {
      "id": "65e8fa16-fae0-4732-b228-8dfb22392eb5",
      "name": "Get Final Video",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://api.creatomate.com/v1/renders/{{ $json.id }}"
      },
      "position": [
        512,
        1024
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "1a958e59-76c3-45ee-98d2-8c510a30b873",
      "name": "HTTP Request8",
      "parameters": {
        "options": {},
        "url": "={{ $json.url }}"
      },
      "position": [
        672,
        1024
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "cff7ba9e-33dc-4031-9bf4-bb08af80e1e7",
      "name": "Edit Fields1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3168,
        512
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "30e6eaaa-0914-4b2a-9f1a-831dc08a071b",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3168,
        848
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "11f36bc7-40a4-4827-a594-e8fd20fdc63f",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3168,
        1200
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "99ae0398-af9d-436d-8631-92133f083b3e",
      "name": "Edit Fields4",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3168,
        1568
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "6be8744f-b8fa-4c37-a8ac-5c113b48cc53",
      "name": "Append or update row in sheet5",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Идея": "={{ $json.modifications['Name.text'] }}",
            "Ссылки": "={{ $('Get Final Video').item.json.url }}",
            "Статус": "Готовый"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo/edit?usp=drivesdk",
          "mode": "list",
          "value": "14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        1024,
        800
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "2f875bf7-29e0-4623-acba-e694dea6b974",
      "name": "Loop Over Items9",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -912,
        640
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "29380686-e75c-4f33-b323-d1dd22dc4def",
      "name": "Simple Memory1",
      "parameters": {
        "contextWindowLength": 50,
        "sessionIdType": "customKey",
        "sessionKey": "compressitem"
      },
      "position": [
        -3664,
        1024
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "f632a37d-296a-40e8-974b-111de7691e3b",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1056,
        512
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "c097f2af-1498-48e8-8030-b4b28df29aee",
      "name": "Loop Over Items10",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1056,
        640
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "0d58d21c-ad58-4625-b26e-f2394bb322dd",
      "name": "status",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1200,
        512
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "b89a00eb-3b9d-4c96-943d-3180cce1ccca",
      "name": "Loop Over Items11",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -912,
        976
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "e09afae6-7e7b-470b-8897-57301b2394ad",
      "name": "Switch1",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1056,
        848
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "d710d532-d754-48ac-9bf7-5ff1510e580f",
      "name": "Loop Over Items14",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1056,
        976
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "2ccbee0f-e7f5-40b5-98e2-c5e1ae327f92",
      "name": "status1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1184,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "788daaef-e449-4a94-bdaf-b68ac04a4147",
      "name": "Get Video3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status2').item.json.request_id }}"
      },
      "position": [
        -912,
        1200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "25268649-86d1-4e80-9de6-e5aa541a95ed",
      "name": "Loop Over Items12",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -912,
        1328
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "acc3c790-7e2e-4523-a859-c2e5ce3fb9a7",
      "name": "Switch2",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1056,
        1200
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "17dced99-5e83-4d5d-8ce5-014f7c98506b",
      "name": "Loop Over Items15",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1056,
        1328
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "05aa6efa-cb63-40f4-9291-40bff8ea1441",
      "name": "status2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1184,
        1200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "306146ce-39ba-4d10-94e6-f6a12050aa94",
      "name": "Get Video4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status3').item.json.request_id }}"
      },
      "position": [
        -912,
        1568
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "189c95a7-41a4-4514-9f9d-b7f6e1bde45e",
      "name": "Loop Over Items13",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -912,
        1696
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "545f9f6e-249d-4881-a4dc-aa1252289b14",
      "name": "Switch3",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1056,
        1568
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "18fd1ed0-bfcc-4572-9d00-e03732ffe302",
      "name": "Loop Over Items16",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1056,
        1696
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "a9ebdf65-a8ba-4f6b-9b0d-08e418fab1b7",
      "name": "status3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1184,
        1568
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "b5d2b2e5-63eb-489f-b4aa-b2d628f2882a",
      "name": "Append or update row in sheet1",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edrRiIKW0roc5sHt7d-Iamcy9of4xyvtYcstV6f5tBw/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -704,
        512
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "6920015a-63ef-4cdd-bf8a-078b70b92007",
      "name": "Append or update row in sheet2",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edrRiIKW0roc5sHt7d-Iamcy9of4xyvtYcstV6f5tBw/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -704,
        848
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "6daec52d-95d5-4110-855f-759886810f6a",
      "name": "Append or update row in sheet3",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edrRiIKW0roc5sHt7d-Iamcy9of4xyvtYcstV6f5tBw/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -688,
        1200
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "b76a78e0-9e96-4b44-94ea-8c2e945b7424",
      "name": "Append or update row in sheet4",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edrRiIKW0roc5sHt7d-Iamcy9of4xyvtYcstV6f5tBw/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -688,
        1568
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "executeOnce": true,
      "id": "f840da2b-a3f3-4872-b26a-d6c34b138151",
      "name": "Get row(s) in sheet1",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -288,
        1024
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "fabb1d4e-8c47-4d88-865a-1cb0f8f1bb32",
      "name": "Ссылки видео1",
      "parameters": {
        "jsCode": "// Получаем все строки с ссылками\nconst links = items.map(item => item.json.link);\nconst Names = items.map(item => item.json.Name);// Получаем все ссылки из данных\n\n// Возвращаем массив ссылок\nreturn [\n  {\n    json: {\n      links: links,\n      Names: Names\n    }\n  }\n];\n"
      },
      "position": [
        32,
        1024
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d99029c5-bf11-4d74-b4eb-d7a48cbe7915",
      "name": "Edit Fields5",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68a99b2d-bf33-4535-83be-1128ed8bec61",
              "name": "link",
              "type": "string",
              "value": "={{ $json['Футажи'] }}"
            },
            {
              "id": "83aedc92-0f57-4d66-b572-72fde52cb610",
              "name": "Name",
              "type": "string",
              "value": "={{ $('Жанры').item.json.output.title }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -128,
        1024
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "f4c06970-15b4-4dfc-a40f-87bf2c56ac20",
      "name": "Delete rows or columns from sheet",
      "onError": "continueRegularOutput",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "numberToDelete": 10,
        "operation": "delete",
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        1184,
        800
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5
    },
    {
      "id": "b067540b-6565-4c8d-bcee-f318055f74f7",
      "name": "YT Tags1",
      "parameters": {
        "options": {
          "systemMessage": "=You will get the transcript of a Youtube video for which you should generate matching tags (YOU NEED TO separate it by comma).\n\nBased on the topic/transcript of the video generate YouTube tags. These tags should be very general about the topics. Give multiple matching YouTube Tags that improve SEO for the video. \n\nExample:\nif the video is about why gold is a good investment you will for example not use gold investments as a tag but rather just gold     \n\nThe tags (if appropriate) should be in ENGLISH as the channel content is in American.\n\nReturn just the tags one word by one separated via Comma. \n\n\nThis video is about the future price of gold and how it affects the adjusted returns of high-performing assets such as stocks and bonds.\n\nErwartetet output:\nGold price, future gold price, gold investments, asset returns, stocks and bonds, investment returns, adjusted returns, gold market, financial markets, gold price forecast, economic trends, investing in gold, stock market analysis, bond market, investment strategies, inflation and gold, gold vs. stocks, financial analysis, precious metals, portfolio, market, investment tips.\n\nUse only one word at a time."
        },
        "promptType": "define",
        "text": "=Now comes the actual topic/transcript. Give me the Youtube tags for it: {{ $('Генерация промтов1').last().json.output }}\n\n"
      },
      "position": [
        -128,
        1232
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "c0a45e04-5871-4a75-ba81-2c6f2680cc46",
      "name": "Generate Title1",
      "notes": "Request to OpenAi for generate description with the audio extracted from the video",
      "notesInFlow": true,
      "parameters": {
        "messages": {
          "values": [
            {
              "content": "You are an expert assistant in creating engaging social media video titles.",
              "role": "system"
            },
            {
              "content": "=На основе текста напиши кликбейт название шортса на Английском языке для 30 секудного видео, но не нарушая правила: {{ $('Генератор сценария1').last().json.output }}"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        192,
        1232
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "waitBetweenTries": 5000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "01cbd1e6-6c07-41d7-b188-e3da524f1593",
      "name": "Upload file1",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/1vfdsrafEg7HOIL5qJCkCuzc09z5pi3IA"
        },
        "options": {}
      },
      "position": [
        -288,
        1232
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "b1190487-aca7-4466-9963-083a2254311c",
      "name": "Search files and folders1",
      "parameters": {
        "filter": {
          "driveId": {
            "__rl": true,
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "url",
            "value": "https://drive.google.com/drive/folders/1vfdsrafEg7HOIL5qJCkCuzc09z5pi3IA"
          }
        },
        "limit": 1,
        "options": {
          "fields": [
            "webViewLink"
          ]
        },
        "resource": "fileFolder"
      },
      "position": [
        512,
        1232
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "0799022b-8142-4e29-b1c9-3c191349a863",
      "name": "Download file1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.webViewLink }}"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        672,
        1232
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "86478cf0-b7c2-423a-b5ba-563c594e8022",
      "name": "OpenAI Chat Model13",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4768,
        1232
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "2b1c07a1-8753-4a7f-8f82-08b28b7a1377",
      "name": "OpenAI Chat Model14",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4o",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -128,
        1392
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "c0365993-eda2-496e-8a73-b870d0ccbf92",
      "name": "Schedule Trigger1",
      "parameters": {
        "rule": {
          "interval": [
            {
              "expression": "0 17 * * *",
              "field": "cronExpression"
            }
          ]
        }
      },
      "position": [
        -4960,
        1024
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "id": "f03ffa38-81e6-4cca-96c5-cf163063314e",
      "name": "Wait2",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -480,
        1984
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "d67e007f-8889-439b-9984-76958662e123",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -480,
        1856
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "b2df12db-0b4b-4e10-9973-be5dc3312e0e",
      "name": "Wait3",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -272,
        1984
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "78ca621d-53a1-47f7-a31b-a5efda82c75f",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -272,
        1856
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "fcf0a9a3-15b9-44fc-800b-1ad62f395268",
      "name": "Wait4",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -480,
        2288
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "002c1cf0-1872-4025-b2b8-fa9e059721eb",
      "name": "Loop Over Items8",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -480,
        2160
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "f9057fff-c1b9-4bf0-be76-776e94bcee49",
      "name": "Wait5",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -272,
        2288
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "284c4770-967c-4562-b692-5b191b6f48c1",
      "name": "Loop Over Items17",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -272,
        2160
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "3mM0jvFQycOqYesd",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-23T07:41:32.606Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-23T07:41:32.606Z",
      "workflowId": "RPPP1ixSElnFvvJs"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-23T06:11:42.348Z",
      "id": "NtJ9sBFxQjddtkfX",
      "name": "AI",
      "updatedAt": "2025-07-23T06:11:42.348Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-10T23:10:52.000Z",
  "versionId": "0b3b34c8-0baf-4850-9109-e58c3d10dde1"
}