folder/AutoPril.json
{
  "active": true,
  "connections": {
    "Board of SysAdmins": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update an issue working",
            "type": "main"
          }
        ]
      ]
    },
    "Board of SysAdmins Fix": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update an issue Fix",
            "type": "main"
          }
        ]
      ]
    },
    "Board of SysAdmins Fix1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update an issue Fix1",
            "type": "main"
          }
        ]
      ]
    },
    "Board of SysAdmins In progress": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update an issue in progress",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get many workflows",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Stop and Error",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Jira Status + Issue key",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Document?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get file",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "No document",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request7",
            "type": "main"
          }
        ]
      ]
    },
    "Edit date": {
      "main": [
        [
          {
            "index": 0,
            "node": "Info collect",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Edit date",
            "type": "main"
          }
        ]
      ]
    },
    "File extract": {
      "main": [
        [
          {
            "index": 0,
            "node": "Document?",
            "type": "main"
          }
        ],
        []
      ]
    },
    "Get an issue": {
      "main": [
        [
          {
            "index": 0,
            "node": "File extract",
            "type": "main"
          }
        ]
      ]
    },
    "Get file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Tech-task",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Edit date",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        []
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Replace Me",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Board of SysAdmins In progress",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Board of SysAdmins Fix1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Board of SysAdmins Fix",
            "type": "main"
          }
        ]
      ]
    },
    "Info collect": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request8",
            "type": "main"
          }
        ]
      ]
    },
    "Jira Status + Issue key": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get an issue",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "index": 0,
            "node": "info",
            "type": "main"
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "index": 0,
            "node": "No Operation, do nothing2",
            "type": "main"
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        []
      ]
    },
    "No document": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update an issue error",
            "type": "main"
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "index": 0,
            "node": "No Operation, do nothing1",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "info1",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Edit date",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Tech-task": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Update an issue Fix": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request6",
            "type": "main"
          }
        ]
      ]
    },
    "Update an issue working": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit date",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "info status",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "info status",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        []
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Board of SysAdmins",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "build status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ]
      ]
    },
    "info": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ]
      ]
    },
    "info status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript2",
            "type": "main"
          }
        ]
      ]
    },
    "info1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript1",
            "type": "main"
          }
        ]
      ]
    },
    "Техническое Задание1": {
      "main": [
        [
          {
            "index": 0,
            "node": "No Operation, do nothing",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Edit Fields1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-04T09:48:25.445Z",
  "id": "ARtmbGaqzmUv1KS5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AutoPril",
  "nodes": [
    {
      "disabled": true,
      "id": "32f60bf7-0aec-447e-9641-1e2443b8063b",
      "name": "Schedule Trigger",
      "parameters": {
        "rule": {
          "interval": [
            {
              "expression": "*/5 * * * *",
              "field": "cronExpression"
            }
          ]
        }
      },
      "position": [
        -496,
        -112
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "disabled": true,
      "id": "b4ca6090-5db4-45e5-b48b-e2a6daed2b53",
      "name": "info1",
      "parameters": {
        "options": {},
        "url": "https://amusing-hope-production-bb8f.up.railway.app/status"
      },
      "position": [
        -288,
        -112
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "disabled": true,
      "id": "2e0ae5f3-3a5a-496c-9466-fc5f44b0c310",
      "name": "Code in JavaScript1",
      "onError": "continueErrorOutput",
      "parameters": {
        "jsCode": "// Получаем все входные элементы\nconst allItems = $input.all();\n\n// Берём первый (и, скорее всего, единственный) элемент\nconst rootItem = allItems[0]?.json;\n\n// Проверяем структуру\nif (!rootItem || !Array.isArray(rootItem.workers)) {\n  throw new Error('Неверный формат: ожидается объект с полем \"workers\" (массив)');\n}\n\n// Фильтруем воркеры: idle и не worker-8080\nconst eligibleWorkers = rootItem.workers.filter(w => \n  w.status === 'idle' && \n  w.workerId !== 'worker-8080'\n);\n\nif (eligibleWorkers.length === 0) {\n  throw new Error('Нет доступных воркеров, кроме worker-8080');\n}\n\n// Берём первый подходящий (или случайный — по желанию)\nconst selected = eligibleWorkers[0];\n\nreturn {\n  json: {\n    workerId: selected.workerId,\n    wsUrl: (selected.wsUrl || '').trim()\n  }\n};"
      },
      "position": [
        -96,
        -112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "disabled": true,
      "id": "12f0bf4b-5a3b-4979-9fd6-203809568285",
      "name": "Stop and Error",
      "parameters": {
        "errorMessage": "Нет свободных idle workers."
      },
      "position": [
        64,
        32
      ],
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1
    },
    {
      "credentials": {
        "n8nApi": {
          "id": "PZoYJumKALkQCXMd",
          "name": "n8n account"
        }
      },
      "disabled": true,
      "id": "a4f35915-192b-4b13-b458-c5b649c37020",
      "name": "Get many workflows",
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "position": [
        112,
        -208
      ],
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1
    },
    {
      "id": "35f65449-d38e-4d4e-b3f2-cd93a35cb819",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "jira_cursor",
        "responseMode": "lastNode"
      },
      "position": [
        528,
        2064
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "fa94999a-0dcb-478c-a9ba-b931c30beae2"
    },
    {
      "disabled": true,
      "id": "df121d44-52ac-4259-9e50-7b9d2c0efbac",
      "name": "Техническое Задание1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e005882d-be4f-483f-aa02-2b684b020c3b",
              "name": "TechTask",
              "type": "string",
              "value": "={{ $json.TZ }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        7152,
        2080
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "disabled": true,
      "id": "94d3511d-bd4f-4e40-a688-4c3ee1b389c3",
      "name": "Edit Fields1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1d0e288-b992-4944-ba54-09f3814924d8",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.TechTask }}"
            },
            {
              "id": "fce702eb-ed3b-4ada-825e-27450b75b40f",
              "name": "dirName",
              "type": "string",
              "value": "={{ $json.output.dirName }}"
            },
            {
              "id": "56b7216d-34fc-47d8-91de-ca3590836fdf",
              "name": "command",
              "type": "string",
              "value": "=cursor-agent -p --force --model opus-4.5 prompt.txt"
            },
            {
              "id": "38f612ca-0831-4290-abcb-a8c940a0d90e",
              "name": "ticket",
              "type": "string",
              "value": "={{ $json.output.metadata.ticket }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        7328,
        2064
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "disabled": true,
      "id": "79fc4663-850a-4eef-b480-65449b040389",
      "name": "HTTP Request7",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "dirName",
              "value": "={{ $json.dirName }}"
            },
            {
              "name": "command",
              "value": "={{ $json.command }}"
            },
            {
              "name": "=workerId",
              "value": "={{ $json.workerId }}"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://amusing-hope-production-bb8f.up.railway.app/incoming/n8n"
      },
      "position": [
        8304,
        1888
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "4c0383e7-d7cd-4cda-b5c2-94cbbba1877c",
      "name": "HTTP Request6",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "runDir",
              "value": "={{ $json.runDir }}"
            },
            {
              "name": "=runSlug",
              "value": "={{ $json.runSlug }}"
            },
            {
              "name": "={{ $json.status }}",
              "value": "={{ $json.buildErrorLogsText }}"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://amusing-hope-production-bb8f.up.railway.app/incoming/n8n"
      },
      "position": [
        1472,
        2640
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "13e042aa-dc51-4219-8194-9decee8bc001",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebb81ec6-86c8-4ad9-9cd8-fe8147a50da4",
              "name": "runDir",
              "type": "string",
              "value": "={{ $json.body.runDir }}"
            },
            {
              "id": "562ecc6f-b225-4651-a3a7-96ac304125ad",
              "name": "runSlug",
              "type": "string",
              "value": "={{ $json.body.runSlug }}"
            },
            {
              "id": "cb479cf4-1106-47c9-b834-7c9a04661db9",
              "name": "status",
              "type": "string",
              "value": "={{ $json.body.status }}"
            },
            {
              "id": "f9197738-d1a9-4415-8012-3495e5f1647a",
              "name": "buildErrorLogsText",
              "type": "string",
              "value": "={{ $json.body.buildErrorLogsText }}"
            },
            {
              "id": "35631231-9f57-4cb9-acaa-624e800170c8",
              "name": "repositoryUrl",
              "type": "string",
              "value": "={{ $json.body.repositoryUrl }}"
            },
            {
              "id": "719ece31-ab2b-486f-a8c0-c8bf5ffa9b52",
              "name": "error",
              "type": "string",
              "value": "={{ $json.body.error }}"
            },
            {
              "id": "f66aa9ab-2b2b-4815-bb07-17eabd4ae61a",
              "name": "iteration",
              "type": "number",
              "value": "={{ $json.body.details.build.total }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        672,
        2560
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "2d402075-0324-4d2d-9834-21a1fcce03fc",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "10fffcf9-6d0a-41f7-8394-ad405463120f",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "completed"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        832,
        2560
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "disabled": true,
      "id": "7dee1103-0217-4c69-bc01-6a4d18740e7e",
      "name": "No Operation, do nothing",
      "parameters": {},
      "position": [
        7312,
        1792
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "disabled": true,
      "id": "3eb76269-bcc1-4019-ac6d-1c2e4f5d172c",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        7824,
        2048
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "disabled": true,
      "id": "38173bd5-7d19-435f-b0eb-38446f045ec9",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f50429b9-5cd3-4ba4-ba3f-8c8e6eaf4b2b",
              "name": "workerId",
              "type": "string",
              "value": "={{ $json.workerId }}"
            },
            {
              "id": "8f1eb0ac-e01a-4d0c-9de5-27af859a0960",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.prompt }}"
            },
            {
              "id": "089161ce-89f4-45d3-bae4-bf7479db5f5c",
              "name": "dirName",
              "type": "string",
              "value": "={{ $json.dirName }}"
            },
            {
              "id": "9b6b444c-3ab7-4d03-96fd-44d6d80cf0b5",
              "name": "command",
              "type": "string",
              "value": "cursor-agent -p --force --model opus-4.5 prompt.txt"
            },
            {
              "id": "87a1101d-0399-480f-b78a-397d48ad0186",
              "name": "ticket",
              "type": "string",
              "value": "={{ $json.ticket }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        8032,
        1888
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "58f173a4-6ffc-4761-9034-2e7e79165322",
      "name": "build status",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "cursor_git"
      },
      "position": [
        528,
        2560
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "106dca18-a9e5-4ca8-89a0-5e6e958420a7"
    },
    {
      "disabled": true,
      "id": "2939f026-70d8-4480-87c6-d302c36dbed3",
      "name": "Replace Me",
      "parameters": {},
      "position": [
        9808,
        2480
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "disabled": true,
      "id": "0024f95c-dec8-4fda-a62c-a8e0c02d0eb9",
      "name": "No Operation, do nothing1",
      "parameters": {},
      "position": [
        10400,
        2848
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "disabled": true,
      "id": "a7cc27e7-5e2a-4d8d-8855-c5ef136cc85b",
      "name": "No Operation, do nothing2",
      "parameters": {},
      "position": [
        5168,
        2752
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "disabled": true,
      "id": "e8717099-ac54-400f-9076-4d2f3803a209",
      "name": "Wait2",
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "position": [
        7872,
        1904
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "ef209bad-d486-47a3-8e13-a2e10d5fc38e"
    },
    {
      "disabled": true,
      "id": "b16791c4-81c5-4ade-a545-dbbdbad826d7",
      "name": "info",
      "parameters": {
        "options": {},
        "url": "https://amusing-hope-production-bb8f.up.railway.app/status"
      },
      "position": [
        7440,
        1792
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "disabled": true,
      "id": "368ab0c2-6d1c-4a62-8642-2781d9c31880",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput",
      "parameters": {
        "jsCode": "// Получаем все входные элементы\nconst allItems = $input.all();\n\n// Берём первый (и, скорее всего, единственный) элемент\nconst rootItem = allItems[0]?.json;\n\n// Проверяем структуру\nif (!rootItem || !Array.isArray(rootItem.workers)) {\n  throw new Error('Неверный формат: ожидается объект с полем \"workers\" (массив)');\n}\n\n// Фильтруем воркеры: idle и не worker-8080\nconst eligibleWorkers = rootItem.workers.filter(w => \n  w.status === 'idle' && \n  w.workerId !== 'worker-8080'\n);\n\nif (eligibleWorkers.length === 0) {\n  throw new Error('Нет доступных воркеров, кроме worker-8080');\n}\n\n// Берём первый подходящий (или случайный — по желанию)\nconst selected = eligibleWorkers[0];\n\nreturn {\n  json: {\n    workerId: selected.workerId,\n    wsUrl: (selected.wsUrl || '').trim()\n  }\n};"
      },
      "position": [
        7664,
        1792
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "WwUfZZ4lukKmf4G9",
          "name": "Jira SW Task Buider"
        }
      },
      "id": "8ce75d1e-0990-483b-af74-263ab8bf7926",
      "name": "Get an issue",
      "parameters": {
        "additionalFields": {},
        "issueKey": "={{ $json.body.issue_key }}",
        "jiraVersion": "serverPat",
        "operation": "get"
      },
      "position": [
        1296,
        2064
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "id": "c2ce83da-d383-4639-9550-13cf73936cdf",
      "name": "Jira Status + Issue key",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd1ccec1-627c-429a-8ffa-8e4e8427b9e3",
              "name": "body.serial_num_pc",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.serial_num_pc }}"
            },
            {
              "id": "919c9a33-3a66-41bd-901d-9b414e5b6a9e",
              "name": "body.issue_key",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.issue_key }}"
            },
            {
              "id": "3c2442c7-ac43-4487-bfee-7a4005f05181",
              "name": "body.description",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.description }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1152,
        2064
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "68214b36-6c52-4d0b-8f3d-bf1757fd996e",
      "name": "Code in JavaScript2",
      "onError": "continueErrorOutput",
      "parameters": {
        "jsCode": "// Получаем все входные элементы\nconst allItems = $input.all();\n\n// Берём первый (и, скорее всего, единственный) элемент\nconst rootItem = allItems[0]?.json;\n\n// Проверяем структуру\nif (!rootItem || !Array.isArray(rootItem.workers)) {\n  throw new Error('Неверный формат: ожидается объект с полем \"workers\" (массив)');\n}\n\n// Фильтруем воркеры: idle и не worker-8080\nconst eligibleWorkers = rootItem.workers.filter(w => \n  w.status === 'idle' && \n  w.workerId !== 'worker-8080'\n);\n\nif (eligibleWorkers.length === 0) {\n  throw new Error('Нет доступных воркеров, кроме worker-8080');\n}\n\n// Берём первый подходящий (или случайный — по желанию)\nconst selected = eligibleWorkers[0];\n\nreturn {\n  json: {\n    workerId: selected.workerId,\n    wsUrl: (selected.wsUrl || '').trim()\n  }\n};"
      },
      "position": [
        976,
        2064
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "disabled": true,
      "id": "399de4e2-fd2c-4ab9-b379-643f37ecfbf5",
      "name": "HTTP Request",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "dirName",
              "value": "={{ $json.dirName }}"
            },
            {
              "name": "command",
              "value": "={{ $json.command }}"
            },
            {
              "name": "=workerId",
              "value": "={{ $json.workerId }}"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://amusing-hope-production-bb8f.up.railway.app/incoming/n8n"
      },
      "position": [
        5520,
        2320
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "disabled": true,
      "id": "786f76e1-731e-46ed-80b8-db736902e2c3",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f50429b9-5cd3-4ba4-ba3f-8c8e6eaf4b2b",
              "name": "workerId",
              "type": "string",
              "value": "={{ $json.workerId }}"
            },
            {
              "id": "8f1eb0ac-e01a-4d0c-9de5-27af859a0960",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.prompt }}"
            },
            {
              "id": "089161ce-89f4-45d3-bae4-bf7479db5f5c",
              "name": "dirName",
              "type": "string",
              "value": "={{ $json.dirName }}"
            },
            {
              "id": "9b6b444c-3ab7-4d03-96fd-44d6d80cf0b5",
              "name": "command",
              "type": "string",
              "value": "cursor-agent -p --force --model opus-4.5 prompt.txt"
            },
            {
              "id": "87a1101d-0399-480f-b78a-397d48ad0186",
              "name": "ticket",
              "type": "string",
              "value": "={{ $json.ticket }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        5248,
        2320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b16279c1-753f-4c3b-9321-4135279243b4",
      "name": "info status",
      "parameters": {
        "options": {},
        "url": "https://amusing-hope-production-bb8f.up.railway.app/status"
      },
      "position": [
        832,
        2064
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "62340ec9-cf25-4df3-97be-93fa6b0c02a9",
      "name": "HTTP Request8",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "dirName",
              "value": "={{ $json.dirName }}"
            },
            {
              "name": "command",
              "value": "={{ $json.command }}"
            },
            {
              "name": "=workerId",
              "value": "={{ $json.workerId }}"
            },
            {
              "name": "ticket",
              "value": "={{ $json.ticket }}"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://amusing-hope-production-bb8f.up.railway.app/incoming/n8n"
      },
      "position": [
        2896,
        2064
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "61988ac5-c759-4cf2-8849-a692418e4645",
      "name": "Info collect",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f50429b9-5cd3-4ba4-ba3f-8c8e6eaf4b2b",
              "name": "workerId",
              "type": "string",
              "value": "={{ $('Code in JavaScript2').item.json.workerId }}"
            },
            {
              "id": "8f1eb0ac-e01a-4d0c-9de5-27af859a0960",
              "name": "prompt",
              "type": "string",
              "value": "={{ $('Tech-task').item.json['tech-task'] }}"
            },
            {
              "id": "9b6b444c-3ab7-4d03-96fd-44d6d80cf0b5",
              "name": "command",
              "type": "string",
              "value": "cursor-agent -p --force --model opus-4.5 prompt.txt"
            },
            {
              "id": "87a1101d-0399-480f-b78a-397d48ad0186",
              "name": "ticket",
              "type": "string",
              "value": "={{ $('Jira Status + Issue key').item.json.body.issue_key }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2752,
        2064
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "094c1f04-92a4-4d0a-a4c0-c8e2a49d93e0",
      "name": "Board of SysAdmins",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d7c96f4-98ce-499c-806f-9807b5f68d60",
              "name": "sys_admin_board",
              "type": "object",
              "value": "{       \"self\": \"https://jira.itcomp.space/rest/api/2/customFieldOption/13502\",       \"value\": \"idle\",       \"id\": \"13802\",       \"disabled\": false     }"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2192,
        2064
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "5b92a883-c87b-4864-9dbf-d888d7910c17",
      "name": "File extract",
      "onError": "continueRegularOutput",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56413c60-4d3e-4af3-8ca2-66e00958424e",
              "name": "fields.attachment[0]",
              "type": "object",
              "value": "={{ $json.fields.attachment[0] }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1440,
        2064
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "WwUfZZ4lukKmf4G9",
          "name": "Jira SW Task Buider"
        }
      },
      "id": "ba3593fd-fcb7-4f29-b760-c1840e77d64d",
      "name": "Get file",
      "parameters": {
        "attachmentId": "={{ $json.fields.attachment[0].id }}",
        "download": true,
        "jiraVersion": "serverPat",
        "operation": "get",
        "resource": "issueAttachment"
      },
      "position": [
        1760,
        2064
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "id": "3dfd644d-f730-4e52-8ecb-e0a53b12e769",
      "name": "No document",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d7c96f4-98ce-499c-806f-9807b5f68d60",
              "name": "sys_admin_board",
              "type": "object",
              "value": "{       \"self\": \"https://jira.itcomp.space/rest/api/2/customFieldOption/13502\",       \"value\": \"error_n8n\",       \"id\": \"13807\",       \"disabled\": false     }"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1760,
        2208
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "WwUfZZ4lukKmf4G9",
          "name": "Jira SW Task Buider"
        }
      },
      "id": "c306c632-9261-437f-ad3f-5f47e6a424ed",
      "name": "Update an issue error",
      "parameters": {
        "issueKey": "={{ $('Jira Status + Issue key').item.json.body.issue_key }}",
        "jiraVersion": "serverPat",
        "operation": "update",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "=customfield_13502"
                },
                "fieldValue": "={{ $json.sys_admin_board }}"
              }
            ]
          },
          "statusId": {
            "__rl": true,
            "cachedResultName": "Backlog-Admin",
            "mode": "list",
            "value": "141"
          }
        }
      },
      "position": [
        1904,
        2208
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "id": "ec6f174b-f2d8-40d8-9cdf-a19291f9ccad",
      "name": "Tech-task",
      "parameters": {
        "destinationKey": "tech-task",
        "operation": "text",
        "options": {}
      },
      "position": [
        1904,
        2064
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1
    },
    {
      "disabled": true,
      "id": "6d395959-e418-4d56-ada6-ce49d082a217",
      "name": "Edit date",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — опытный AI-архитектор и инженер iOS-приложений. \nТвоя задача: по входному ТЗ генерировать готовый, структурированный и максимально полный промпт для Cursor, который сможет создать рабочий проект с архитектурой, модулями, API, UI, тестами и CI/CD.\n\nCursor должен иметь полный контекст и не должен задавать уточняющих вопросов.\nКаждый сгенерированный тобой промпт обязан содержать всю информацию, достаточную для немедленного начала разработки. \n\nПравила генерации:\n\n1. **Определение типа проекта и стека**\n   - Сам выбираешь тип приложения: мобильное (iOS/Android), web, desktop или CLI.\n   - Сам определяешь стек и архитектуру: язык, фреймворки, базы данных, паттерны, CI/CD инструменты.\n   - Все выборы должны быть финальными и полными — чтобы Cursor не задавал вопросов.\n\n2. **Структура итогового промпта**\n   Итоговый промпт для Cursor должен включать:\n   - Общую информацию: название проекта, цель, платформы, целевые OS версии.\n   - Архитектурный стиль: VIPER/MVVM/Clean Architecture и почему выбран.\n   - Полную структуру директорий: Models, ViewModels, Views, Services, Repositories, Network, Persistence, Utilities, Resources, Tests.\n   - Полные описания всех модулей и их ответственность.\n   - Полные API-контракты, URL, эндпоинты, модели данных, примеры запросов и ответов.\n   - UI-описание: экраны, навигация, состояния, макеты, интеракции.\n   - Локальное хранилище: формат, таблицы, схемы, ключи.\n   - Все зависимости: библиотеки, менеджеры пакетов, версии.\n   - Основной алгоритм работы приложения.\n   - Пошаговый план разработки, который Cursor должен выполнить.\n   - Полный перечень файлов, которые Cursor должен создать.\n   - Полное описание тестов: unit-тесты, UI-тесты.\n   - Полный CI/CD pipeline: lint, build, tests, deploy.\n   - Конвенции кодирования, стиль, правила именования, комментарии.\n   - Любую другую информацию, которая может потребоваться — без пропусков.\n   - Убедись что все файлы на которые есть ссылки в .xcodeproj существуют на диске\n\n3. **Инструкции для Cursor**\n   Итоговый prompt ВСЕГДА содержит:\n   - Прямую команду: *«Не задавай вопросов и не проси уточнений.»*\n   - Чёткое требование: *«Сразу приступай к созданию файлов проекта по описанию.»*\n   - Формулировку: *«Все данные и спецификации уже окончательные.»*\n   - Правило: *«Если в проекте чего-то нет — создай сам согласно архитектуре.\n\n  Создай файл project.yml (или ИмяПроекта.yml) для XcodeGen:\n- name: ИмяПроекта\n- targets: с указанием sources, dependencies, settings\n- Не создавай .xcodeproj напрямую!.  Если созданы .pod выполни команду обязательно создай .xcodeworkspace*\n- все \n\n4. **Вывод**\n   Агент всегда возвращает строго JSON:\n\n{\n  \"prompt\": \"<длинный полный текст задания для Cursor>\",\n  \"dirName\": \"<короткое осмысленное имя проекта, kebab-case>\"\n}\n\nТребования:\n- prompt должен быть максимально подробным и раскрывать всё, чтобы Cursor мог выполнить задачу без вопросов.\n- dirName и ticket генерируй автоматически, исходя из входного ТЗ.\n- Никогда не выводи текст вне JSON.\n- Стиль — конкретный, техничный, полный, без неопределённостей.\n- Промпт должен давать Cursor максимальную автономность.\n- В конце выполни это:\n1. Сделай 5 полных проходов по всему коду: на каждом проходе находи любые ошибки (синтаксис, логика, импорты, типы, обработка ошибок и т.п.) и сразу их исправляй. После каждого прохода код должен оставаться рабочим.\n2 Затем 5 раз проверь соответствие кода ТЗ: сравни реализацию с техническим заданием. Любой функционал, который отсутствует или реализован не по ТЗ, — допиши или исправь.\n3 После этого 5 раз проверь всю работу библиотек, API и ключей: убедись, что все библиотеки, API вызываются корректно, все ключи, ID, SKU и другие параметры вставлены и используются правильно.\n4 Когда всё выше сделано, ещё 5 раз пройди весь код проекта и исправь любые оставшиеся проблемы, несоответствия ТЗ или некорректное поведение.\n\n5. **Пример**\n   Вход: \"Создать iOS-приложение аналог Google Переводчика\"\n   Выход: JSON с полями prompt, dirName, command, metadata — как указано выше."
        },
        "promptType": "define",
        "text": "=Вот моё ТЗ, перепиши его мне для cursor:\n{{ $('Tech-task').item.json['tech-task'] }}"
      },
      "position": [
        2480,
        2064
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "disabled": true,
      "id": "8061c3d0-2c11-4701-9aea-1cb10eea79b8",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"prompt\": \"string\",\n  \"dirName\": \"string\"\n}"
      },
      "position": [
        2480,
        2240
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "disabled": true,
      "id": "504ad18f-bd7b-4666-94d3-9ec3446bf6d7",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        2480,
        2336
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "WwUfZZ4lukKmf4G9",
          "name": "Jira SW Task Buider"
        }
      },
      "id": "3d1d7961-490a-4b8a-bf56-380f213d510e",
      "name": "Update an issue working",
      "parameters": {
        "issueKey": "={{ $('Jira Status + Issue key').item.json.body.issue_key }}",
        "jiraVersion": "serverPat",
        "operation": "update",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "=customfield_13502"
                },
                "fieldValue": "={{ $json.sys_admin_board }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "=customfield_13501"
                },
                "fieldValue": "={{ $('Code in JavaScript2').item.json.workerId }}"
              }
            ]
          }
        }
      },
      "position": [
        2336,
        2064
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "WwUfZZ4lukKmf4G9",
          "name": "Jira SW Task Buider"
        }
      },
      "id": "d3ce9fb7-9610-4b15-8f6d-ebe0243ed4ad",
      "name": "Update an issue in progress",
      "parameters": {
        "issueKey": "={{ $('Jira Status + Issue key').item.json.body.issue_key }}",
        "jiraVersion": "serverPat",
        "operation": "update",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "=customfield_13502"
                },
                "fieldValue": "={{ $json.sys_admin_board }}"
              }
            ]
          },
          "statusId": {
            "__rl": true,
            "cachedResultName": "Development-Admin",
            "mode": "list",
            "value": "171"
          }
        }
      },
      "position": [
        3200,
        2064
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "id": "73649390-40a9-42bf-a9dc-4f94438dce61",
      "name": "Board of SysAdmins In progress",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d7c96f4-98ce-499c-806f-9807b5f68d60",
              "name": "sys_admin_board",
              "type": "object",
              "value": "{       \"self\": \"https://jira.itcomp.space/rest/api/2/customFieldOption/13502\",       \"value\": \"working\",       \"id\": \"13803\",       \"disabled\": false     }"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3056,
        2064
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "1343b73c-3940-477a-9b05-cf84b9e22d22",
      "name": "Board of SysAdmins Fix",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d7c96f4-98ce-499c-806f-9807b5f68d60",
              "name": "sys_admin_board",
              "type": "object",
              "value": "{       \"self\": \"https://jira.itcomp.space/rest/api/2/customFieldOption/13502\",       \"value\": \"fixing\",       \"id\": \"13806\",       \"disabled\": false     }"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1136,
        2640
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "WwUfZZ4lukKmf4G9",
          "name": "Jira SW Task Buider"
        }
      },
      "id": "d7c0b48e-f878-4533-8220-b528b5b4d330",
      "name": "Update an issue Fix",
      "parameters": {
        "issueKey": "={{ $('Edit Fields2').item.json.runSlug }}",
        "jiraVersion": "serverPat",
        "operation": "update",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "customfield_13502"
                },
                "fieldValue": "={{ $json.sys_admin_board.value }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "customfield_13503"
                },
                "fieldValue": "={{ $('Edit Fields2').item.json.iteration }}"
              }
            ]
          },
          "statusId": {
            "__rl": true,
            "cachedResultName": "Bot Fix-Admin",
            "mode": "list",
            "value": "191"
          }
        }
      },
      "position": [
        1296,
        2640
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "id": "06859d47-5870-41d5-aa65-c4196a423688",
      "name": "Document?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "35c2f981-5ecb-4a86-8eb4-6bd6f0db6917",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "=invalid syntax"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1600,
        2064
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "5a4ce449-2e79-4e13-832d-d4ff6c78bcfb",
      "name": "Wait",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        688,
        2064
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "3038d647-736a-4af3-9d05-2863042924db"
    },
    {
      "id": "d74e8cd2-49d8-48e2-9753-aea7c5dbc0c4",
      "name": "Wait1",
      "parameters": {
        "unit": "minutes"
      },
      "position": [
        976,
        2240
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "85e0fad4-4acd-48bd-a1f4-e44f9e75f8ab"
    },
    {
      "id": "25bdc8b5-124d-4cc7-a5bf-0272a45e5ced",
      "name": "Board of SysAdmins Fix1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d7c96f4-98ce-499c-806f-9807b5f68d60",
              "name": "sys_admin_board",
              "type": "object",
              "value": "{       \"self\": \"https://jira.itcomp.space/rest/api/2/customFieldOption/13502\",       \"value\": \"completed\",       \"id\": \"13804\",       \"disabled\": false     }"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1136,
        2480
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "WwUfZZ4lukKmf4G9",
          "name": "Jira SW Task Buider"
        }
      },
      "id": "39dbc4f4-4499-49b0-aca2-69bc078ff32d",
      "name": "Update an issue Fix1",
      "parameters": {
        "issueKey": "={{ $('Edit Fields2').item.json.runSlug }}",
        "jiraVersion": "serverPat",
        "operation": "update",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "customfield_10044"
                },
                "fieldValue": "={{ $('Edit Fields2').item.json.repositoryUrl }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "customfield_13502"
                },
                "fieldValue": "={{ $json.sys_admin_board }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "mode": "id",
                  "value": "customfield_13503"
                },
                "fieldValue": "={{ $('Edit Fields2').item.json.iteration }}"
              }
            ]
          },
          "statusId": {
            "__rl": true,
            "cachedResultName": "Done-Admin",
            "mode": "list",
            "value": "211"
          }
        }
      },
      "position": [
        1296,
        2480
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "id": "cb0ba1e3-2cc5-459b-9b3f-e6a60e8fa320",
      "name": "Wait3",
      "parameters": {
        "amount": 60
      },
      "position": [
        2048,
        2064
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "65daceac-d5b8-41eb-a4e1-e7064cfcd62d"
    },
    {
      "id": "74b2c55c-ef2a-40cc-a60e-8055c24a0a35",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fb42f290-d823-45b0-a197-cc3b1c402f0f",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d6608020-218e-459a-92ef-a42305f6a9ab",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2b998d83-cb53-4e14-b4a1-dc84c3ca47f8",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              }
            }
          ]
        }
      },
      "position": [
        832,
        2720
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-04T09:48:25.448Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-12-04T09:48:25.448Z",
      "workflowId": "ARtmbGaqzmUv1KS5"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-12-04T16:03:09.000Z",
  "versionId": "bea594a2-48f3-4d55-b2dd-b033ed657112"
}