folder/AutoCreateWorkflow.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send message and wait for response2",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code1",
            "type": "main"
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code4",
            "type": "main"
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code5",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send message and wait for response",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "AI Agent3",
            "type": "main"
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code2",
            "type": "main"
          }
        ]
      ]
    },
    "Send message and wait for response2": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent3",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T08:48:18.339Z",
  "id": "8n8F2YqOSfdAAdcY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AutoCreateWorkflow",
  "nodes": [
    {
      "id": "349d5a4d-fd4f-44a2-8af8-cd7649174ba7",
      "name": "AI Agent",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты работаешь как помощник по интеграции BPMN в n8n. \nТвоя задача — проанализировать предоставленную диаграмму BPMN и определить, какие ноды нужно создать в n8n. \n\nНе генерируй финальный JSON.\nВерни результат в формате текста со следующей структурой:\nИмя задачи в BPMN: \nВозможный узел в N8N: \nВопросы по этой задаче:\nПредложения: - если вопрос не по доступам, то можно предложить какое-то решение, как это реализовать, пользователь сможет согласиться или отказаться\n\nГде:\nИмя задачи в BPMN — имя отдельной задачив в BPMN.\nВопросы по этой задаче - какие уточняющие вопросы необходимо задать пользователю по этой задаче, например, если для создания узла нужно заполнить поля credential, api, то нужно их уточнить и тп.\nПредложения - если вопросы не по credential, api, то можно предложить способ реализации, возможные модели для использования\n\nЕсли у тебя есть вопросы по нодам к пользователю, то также напиши флаг NEED_MORE_INFORMATION, иначе не пиши этот флаг. Если тебе нужна дополнительная информация не забудь указать флаг NEED_MORE_INFORMATION. Вопросы должны быть понятны человеку!"
        },
        "promptType": "define",
        "text": "=Пример вывода:\n\nИмя задачи в BPMN: \"Записать в Google Sheet\",\nВопросы по задаче в BPMN: Какие данные необходимо записать в Google Sheet, укажите Sheet ID, какой диапазон ячеек использовать?, выберите метод аутентификации\n\nВот XML файл, который необходимо проанализировать:\n{{ $('Telegram Trigger1').item.json.message.text }}\n\n{{ $json.extra_info }}"
      },
      "position": [
        336,
        -720
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "id": "5b804e96-4ec8-4cef-a99a-cb1686f297ed",
      "name": "Simple Memory",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=12412"
      },
      "position": [
        368,
        -528
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "uahQsuRxqjcRQnFs",
          "name": "AutoCreateN8NWorkflow"
        }
      },
      "id": "44fa3326-9eca-4181-b8f5-63937749f53c",
      "name": "Telegram Trigger1",
      "parameters": {
        "additionalFields": {},
        "updates": [
          "message"
        ]
      },
      "position": [
        -144,
        -720
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "9ae65633-0436-45ee-920d-3b598dfea125"
    },
    {
      "credentials": {
        "openRouterApi": {
          "id": "MxDmhTEDcHkODHH1",
          "name": "OpenRouter account"
        }
      },
      "id": "86bc54bf-d093-4dc3-ae5a-57694cfadfe0",
      "name": "OpenRouter Chat Model",
      "parameters": {
        "model": "anthropic/claude-opus-4.1",
        "options": {
          "responseFormat": "text",
          "temperature": 0,
          "topP": 1
        }
      },
      "position": [
        240,
        -528
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "uahQsuRxqjcRQnFs",
          "name": "AutoCreateN8NWorkflow"
        }
      },
      "id": "e4493822-c9d9-4f63-b5ef-681dc88b52a9",
      "name": "Send message and wait for response",
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "message": "={{ $json.output }}",
        "operation": "sendAndWait",
        "options": {},
        "responseType": "freeText"
      },
      "position": [
        992,
        -544
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "feddf02b-190e-4b98-8e58-5270d0af3de4"
    },
    {
      "id": "6c6ffe5f-0dc1-45d9-a02a-90059da21faa",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "1a6fa430-8307-44d3-8541-f07db9d63ad4",
              "leftValue": "={{ $json.output }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "NEED_MORE_INFORMATION"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        784,
        -720
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "db60d142-9444-4d0c-8614-be7d6cc9e88d",
      "name": "AI Agent1",
      "parameters": {
        "options": {
          "systemMessage": "You are an expert in workflow automation with deep knowledge of n8n JSON workflow structure.\nI will provide you with a BPMN XML file that describes a process.\nYour task is to:\nParse the BPMN XML and extract its process flow, including tasks, events, and gateways.\nConvert the process into a valid n8n workflow JSON.\nEach BPMN task should be mapped to a corresponding n8n node.\nSequence flows should be mapped into connections between nodes.\nEnsure the resulting JSON strictly follows the n8n workflow schema (with nodes, connections, and required fields like id, name, type, parameters, position).\nIf the BPMN contains elements that do not directly map to n8n nodes, choose the closest equivalent and explain your choice.\nValidate the JSON so that it can be directly imported into n8n without errors.\nAlways return the final result only as a JSON workflow, without extra explanations, unless clarification is needed.\nIf something is missing or ambiguous in the BPMN XML, ask clarifying questions before generating the final JSON."
        },
        "promptType": "define",
        "text": "={{ $json.data.text }}{{ $('AI Agent').item.json.output }}"
      },
      "position": [
        3520,
        -768
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "openRouterApi": {
          "id": "MxDmhTEDcHkODHH1",
          "name": "OpenRouter account"
        }
      },
      "id": "599ec25c-a9bf-40c6-a599-1dfb0508987f",
      "name": "OpenRouter Chat Model1",
      "parameters": {
        "model": "anthropic/claude-opus-4.1",
        "options": {
          "responseFormat": "text",
          "temperature": 0,
          "topP": 1
        }
      },
      "position": [
        3456,
        -576
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1
    },
    {
      "id": "aed7d201-93e9-46fd-8f69-cb509bdd847e",
      "name": "Simple Memory1",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=123qwe"
      },
      "position": [
        3664,
        -560
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "uahQsuRxqjcRQnFs",
          "name": "AutoCreateN8NWorkflow"
        }
      },
      "id": "30c4886a-a4cd-4f58-a341-7ff2dcb08d24",
      "name": "Send message and wait for response2",
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "message": "={{ $json.output }}",
        "operation": "sendAndWait",
        "options": {},
        "responseType": "freeText"
      },
      "position": [
        3136,
        -784
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "feddf02b-190e-4b98-8e58-5270d0af3de4"
    },
    {
      "id": "4acfd5c8-7a40-44b5-9d41-4ffa7b052589",
      "name": "Code1",
      "parameters": {
        "language": "python",
        "pythonCode": "try:\n  extra_info = f'''Вопросы к xml: {_input.item.json.chatData}, ответы от пользователя {_input.item.json.answers[0].json.data.text}'''\nexcept:\n  extra_info = ''\nreturn {'extra_info': extra_info}"
      },
      "position": [
        144,
        -720
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "disabled": true,
      "id": "7e8b4d40-b687-4f1b-820a-e36844000d78",
      "name": "AI Agent2",
      "parameters": {
        "hasOutputParser": true,
        "options": {},
        "promptType": "define",
        "text": "={\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Cron\\\" name=\\\"Run process on a schedule\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"rule\\\":\\\"custom\\\",\\\"customValue\\\":\\\"0 * * * *\\\"},\\\"id\\\":\\\"trigger_cron\\\",\\\"name\\\":\\\"Run process on a schedule\\\",\\\"type\\\":\\\"n8n-nodes-base.cron\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Webhook\\\" name=\\\"Catch incoming Webhook\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"path\\\":\\\"<УТОЧНИТЬ: УНИКАЛЬНЫЙ PATH>\\\",\\\"options\\\":{}},\\\"id\\\":\\\"trigger_webhook\\\",\\\"name\\\":\\\"Catch incoming Webhook\\\",\\\"type\\\":\\\"n8n-nodes-base.webhook\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Telegram\\\" name=\\\"On new Telegram message\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"events\\\":[\\\"message:text\\\"]},\\\"id\\\":\\\"trigger_telegram\\\",\\\"name\\\":\\\"On new Telegram message\\\",\\\"type\\\":\\\"n8n-nodes-base.telegramTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_GSheets\\\" name=\\\"On new Google Sheets row\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"authentication\\\":\\\"oAuth2\\\",\\\"sheetId\\\":\\\"<УТОЧНИТЬ: ID ТАБЛИЦЫ>\\\",\\\"events\\\":[\\\"rowAdded\\\"]},\\\"id\\\":\\\"trigger_gsheets\\\",\\\"name\\\":\\\"On new Google Sheets row\\\",\\\"type\\\":\\\"n8n-nodes-base.googleSheetsTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Airtable\\\" name=\\\"On new Airtable record\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"authentication\\\":\\\"apiKey\\\",\\\"baseId\\\":\\\"<УТОЧНИТЬ: BASE ID>\\\",\\\"table\\\":\\\"<УТОЧНИТЬ: TABLE NAME>\\\",\\\"events\\\":[\\\"recordCreated\\\"]},\\\"id\\\":\\\"trigger_airtable\\\",\\\"name\\\":\\\"On new Airtable record\\\",\\\"type\\\":\\\"n8n-nodes-base.airtableTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Notion\\\" name=\\\"On new Notion database item\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"authentication\\\":\\\"oAuth2\\\",\\\"databaseId\\\":\\\"<УТОЧНИТЬ: DATABASE ID>\\\",\\\"events\\\":[\\\"databaseItemAdded\\\"]},\\\"id\\\":\\\"trigger_notion\\\",\\\"name\\\":\\\"On new Notion database item\\\",\\\"type\\\":\\\"n8n-nodes-base.notionTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Email\\\" name=\\\"On new email received\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"options\\\":{}},\\\"id\\\":\\\"trigger_email\\\",\\\"name\\\":\\\"On new email received\\\",\\\"type\\\":\\\"n8n-nodes-base.emailReadImap\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Form\\\" name=\\\"On new form submission\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"formId\\\":\\\"<УТОЧНИТЬ: FORM ID>\\\"},\\\"id\\\":\\\"trigger_form\\\",\\\"name\\\":\\\"On new form submission\\\",\\\"type\\\":\\\"n8n-nodes-base.tallyTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Stripe\\\" name=\\\"On new Stripe payment\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"event\\\":\\\"payment_intent.succeeded\\\"},\\\"id\\\":\\\"trigger_stripe\\\",\\\"name\\\":\\\"On new Stripe payment\\\",\\\"type\\\":\\\"n8n-nodes-base.stripeTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Shopify\\\" name=\\\"On new Shopify order\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"event\\\":\\\"orders/create\\\"},\\\"id\\\":\\\"trigger_shopify\\\",\\\"name\\\":\\\"On new Shopify order\\\",\\\"type\\\":\\\"n8n-nodes-base.shopifyTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_WooCommerce\\\" name=\\\"On new WooCommerce order\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"event\\\":\\\"order.created\\\"},\\\"id\\\":\\\"trigger_woocommerce\\\",\\\"name\\\":\\\"On new WooCommerce order\\\",\\\"type\\\":\\\"n8n-nodes-base.wordPress\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Discord\\\" name=\\\"On new Discord message\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"channelIds\\\":\\\"<УТОЧНИТЬ: CHANNEL ID>\\\",\\\"events\\\":[\\\"messageCreated\\\"]},\\\"id\\\":\\\"trigger_discord\\\",\\\"name\\\":\\\"On new Discord message\\\",\\\"type\\\":\\\"n8n-nodes-base.discordTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Slack\\\" name=\\\"On new Slack message\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"event\\\":\\\"message.channels\\\"},\\\"id\\\":\\\"trigger_slack\\\",\\\"name\\\":\\\"On new Slack message\\\",\\\"type\\\":\\\"n8n-nodes-base.slackTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Trello\\\" name=\\\"On new Trello card\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"boardId\\\":\\\"<УТОЧНИТЬ: BOARD ID>\\\",\\\"events\\\":[\\\"createCard\\\"]},\\\"id\\\":\\\"trigger_trello\\\",\\\"name\\\":\\\"On new Trello card\\\",\\\"type\\\":\\\"n8n-nodes-base.trelloTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Jira\\\" name=\\\"On new Jira issue\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"events\\\":[\\\"jira:issue_created\\\"]},\\\"id\\\":\\\"trigger_jira\\\",\\\"name\\\":\\\"On new Jira issue\\\",\\\"type\\\":\\\"n8n-nodes-base.jiraTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Asana\\\" name=\\\"On new Asana task\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"projectId\\\":\\\"<УТОЧНИТЬ: PROJECT ID>\\\",\\\"events\\\":[\\\"added\\\"]},\\\"id\\\":\\\"trigger_asana\\\",\\\"name\\\":\\\"On new Asana task\\\",\\\"type\\\":\\\"n8n-nodes-base.asanaTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_GitHub\\\" name=\\\"On new GitHub commit\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"event\\\":\\\"push\\\"},\\\"id\\\":\\\"trigger_github\\\",\\\"name\\\":\\\"On new GitHub commit\\\",\\\"type\\\":\\\"n8n-nodes-base.githubTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_GitLab\\\" name=\\\"On new GitLab commit\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"events\\\":[\\\"Push Hook\\\"]},\\\"id\\\":\\\"trigger_gitlab\\\",\\\"name\\\":\\\"On new GitLab commit\\\",\\\"type\\\":\\\"n8n-nodes-base.gitLabTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_RSS\\\" name=\\\"On new RSS feed item\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"url\\\":\\\"<УТОЧНИТЬ: RSS FEED URL>\\\"},\\\"id\\\":\\\"trigger_rss\\\",\\\"name\\\":\\\"On new RSS feed item\\\",\\\"type\\\":\\\"n8n-nodes-base.rssFeedRead\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Calendar\\\" name=\\\"On new Calendar event\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"calendar\\\":\\\"primary\\\",\\\"events\\\":[\\\"eventCreated\\\"]},\\\"id\\\":\\\"trigger_calendar\\\",\\\"name\\\":\\\"On new Calendar event\\\",\\\"type\\\":\\\"n8n-nodes-base.googleCalendarTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_NewFile\\\" name=\\\"On new file in Google Drive\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"events\\\":[\\\"fileCreated\\\"]},\\\"id\\\":\\\"trigger_newfile\\\",\\\"name\\\":\\\"On new file in Google Drive\\\",\\\"type\\\":\\\"n8n-nodes-base.googleDriveTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Twilio\\\" name=\\\"On new Twilio SMS\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"event\\\":\\\"smsReceived\\\"},\\\"id\\\":\\\"trigger_twilio\\\",\\\"name\\\":\\\"On new Twilio SMS\\\",\\\"type\\\":\\\"n8n-nodes-base.twilioTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Intercom\\\" name=\\\"On new Intercom conversation\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"topics\\\":[\\\"conversation.user.created\\\"]},\\\"id\\\":\\\"trigger_intercom\\\",\\\"name\\\":\\\"On new Intercom conversation\\\",\\\"type\\\":\\\"n8n-nodes-base.intercomTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_HubSpot\\\" name=\\\"On new HubSpot contact\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"events\\\":[\\\"contact.creation\\\"]},\\\"id\\\":\\\"trigger_hubspot\\\",\\\"name\\\":\\\"On new HubSpot contact\\\",\\\"type\\\":\\\"n8n-nodes-base.hubSpotTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:startEvent id=\\\"Trigger_Manual\\\" name=\\\"Start workflow manually\\\"/>\", \"completion\": \"{\\\"parameters\\\":{},\\\"id\\\":\\\"trigger_manual\\\",\\\"name\\\":\\\"Start workflow manually\\\",\\\"type\\\":\\\"n8n-nodes-base.manualTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_GSheets\\\" name=\\\"Read from Google Sheets\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"authentication\\\":\\\"oAuth2\\\",\\\"operation\\\":\\\"read\\\",\\\"sheetId\\\":\\\"<УТОЧНИТЬ: ID ТАБЛИЦЫ>\\\"},\\\"id\\\":\\\"data_gsheets\\\",\\\"name\\\":\\\"Read from Google Sheets\\\",\\\"type\\\":\\\"n8n-nodes-base.googleSheets\\\",\\\"typeVersion\\\":3}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Airtable\\\" name=\\\"Create Airtable record\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"authentication\\\":\\\"apiKey\\\",\\\"operation\\\":\\\"create\\\",\\\"baseId\\\":\\\"<УТОЧНИТЬ: BASE ID>\\\",\\\"table\\\":\\\"<УТОЧНИТЬ: TABLE NAME>\\\"},\\\"id\\\":\\\"data_airtable\\\",\\\"name\\\":\\\"Create Airtable record\\\",\\\"type\\\":\\\"n8n-nodes-base.airtable\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Notion\\\" name=\\\"Create Notion page\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"authentication\\\":\\\"oAuth2\\\",\\\"resource\\\":\\\"page\\\",\\\"operation\\\":\\\"create\\\",\\\"databaseId\\\":\\\"<УТОЧНИТЬ: DATABASE ID>\\\"},\\\"id\\\":\\\"data_notion\\\",\\\"name\\\":\\\"Create Notion page\\\",\\\"type\\\":\\\"n8n-nodes-base.notion\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_PostgreSQL\\\" name=\\\"Insert into PostgreSQL\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"execute\\\",\\\"query\\\":\\\"INSERT INTO users (name) VALUES ('{{$json.name}}');\\\"},\\\"id\\\":\\\"data_postgresql\\\",\\\"name\\\":\\\"Insert into PostgreSQL\\\",\\\"type\\\":\\\"n8n-nodes-base.postgres\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_MySQL\\\" name=\\\"Insert into MySQL\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"execute\\\",\\\"query\\\":\\\"INSERT INTO users (name) VALUES ('{{$json.name}}');\\\"},\\\"id\\\":\\\"data_mysql\\\",\\\"name\\\":\\\"Insert into MySQL\\\",\\\"type\\\":\\\"n8n-nodes-base.mySql\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_MSSQL\\\" name=\\\"Insert into Microsoft SQL Server\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"execute\\\",\\\"query\\\":\\\"INSERT INTO users (name) VALUES ('{{$json.name}}');\\\"},\\\"id\\\":\\\"data_mssql\\\",\\\"name\\\":\\\"Insert into Microsoft SQL Server\\\",\\\"type\\\":\\\"n8n-nodes-base.microsoftSql\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_MongoDB\\\" name=\\\"Insert document into MongoDB\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"insertOne\\\",\\\"database\\\":\\\"<УТОЧНИТЬ: DATABASE>\\\",\\\"collection\\\":\\\"<УТОЧНИТЬ: COLLECTION>\\\",\\\"document\\\":\\\"{\\\\\\\"name\\\\\\\":\\\\\\\"{{$json.name}}\\\\\\\"}\\\"},\\\"id\\\":\\\"data_mongodb\\\",\\\"name\\\":\\\"Insert document into MongoDB\\\",\\\"type\\\":\\\"n8n-nodes-base.mongoDb\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Firebase\\\" name=\\\"Write to Firebase Realtime DB\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"realtimeDatabase\\\",\\\"operation\\\":\\\"set\\\",\\\"path\\\":\\\"/users/{{$json.id}}\\\"},\\\"id\\\":\\\"data_firebase\\\",\\\"name\\\":\\\"Write to Firebase Realtime DB\\\",\\\"type\\\":\\\"n8n-nodes-base.firebase\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Supabase\\\" name=\\\"Insert into Supabase\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"table\\\",\\\"operation\\\":\\\"insert\\\",\\\"table\\\":\\\"<УТОЧНИТЬ: TABLE>\\\",\\\"columns\\\":{\\\"columns\\\":[{\\\"column\\\":\\\"name\\\",\\\"value\\\":\\\"{{$json.name}}\\\"}]}},\\\"id\\\":\\\"data_supabase\\\",\\\"name\\\":\\\"Insert into Supabase\\\",\\\"type\\\":\\\"n8n-nodes-base.supabase\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_CSV_Parse\\\" name=\\\"Parse CSV data\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"dataType\\\":\\\"string\\\",\\\"data\\\":\\\"name,email\\\\nJohn,john@email.com\\\"},\\\"id\\\":\\\"data_csv_parse\\\",\\\"name\\\":\\\"Parse CSV data\\\",\\\"type\\\":\\\"n8n-nodes-base.spreadsheetFile\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_JSON_Parse\\\" name=\\\"Parse JSON data\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"options\\\":{}},\\\"id\\\":\\\"data_json_parse\\\",\\\"name\\\":\\\"Parse JSON data\\\",\\\"type\\\":\\\"n8n-nodes-base.moveBinaryData\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_XML_Parse\\\" name=\\\"Parse XML data\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"options\\\":{}},\\\"id\\\":\\\"data_xml_parse\\\",\\\"name\\\":\\\"Parse XML data\\\",\\\"type\\\":\\\"n8n-nodes-base.xml\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_GDrive\\\" name=\\\"Upload file to Google Drive\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"upload\\\",\\\"binaryData\\\":true},\\\"id\\\":\\\"data_gdrive\\\",\\\"name\\\":\\\"Upload file to Google Drive\\\",\\\"type\\\":\\\"n8n-nodes-base.googleDrive\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Dropbox\\\" name=\\\"Upload file to Dropbox\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"upload\\\",\\\"filePath\\\":\\\"/report.pdf\\\"},\\\"id\\\":\\\"data_dropbox\\\",\\\"name\\\":\\\"Upload file to Dropbox\\\",\\\"type\\\":\\\"n8n-nodes-base.dropbox\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_S3\\\" name=\\\"Upload file to Amazon S3\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"upload\\\",\\\"bucketName\\\":\\\"<УТОЧНИТЬ: BUCKET>\\\"},\\\"id\\\":\\\"data_s3\\\",\\\"name\\\":\\\"Upload file to Amazon S3\\\",\\\"type\\\":\\\"n8n-nodes-base.awsS3\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Redis\\\" name=\\\"Set value in Redis\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"set\\\",\\\"key\\\":\\\"user:{{$json.id}}\\\",\\\"value\\\":\\\"{{$json.data}}\\\"},\\\"id\\\":\\\"data_redis\\\",\\\"name\\\":\\\"Set value in Redis\\\",\\\"type\\\":\\\"n8n-nodes-base.redis\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_HubSpot\\\" name=\\\"Create contact in HubSpot\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"contact\\\",\\\"operation\\\":\\\"create\\\",\\\"properties\\\":{\\\"properties\\\":[{\\\"name\\\":\\\"email\\\",\\\"value\\\":\\\"{{$json.email}}\\\"}]}},\\\"id\\\":\\\"data_hubspot\\\",\\\"name\\\":\\\"Create contact in HubSpot\\\",\\\"type\\\":\\\"n8n-nodes-base.hubSpot\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Salesforce\\\" name=\\\"Create lead in Salesforce\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"lead\\\",\\\"operation\\\":\\\"create\\\",\\\"fieldsUi\\\":{\\\"fieldsUiValues\\\":[{\\\"field\\\":\\\"LastName\\\",\\\"value\\\":\\\"Doe\\\"}]}},\\\"id\\\":\\\"data_salesforce\\\",\\\"name\\\":\\\"Create lead in Salesforce\\\",\\\"type\\\":\\\"n8n-nodes-base.salesforce\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Pipedrive\\\" name=\\\"Create deal in Pipedrive\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"deal\\\",\\\"operation\\\":\\\"create\\\",\\\"title\\\":\\\"New Deal\\\"},\\\"id\\\":\\\"data_pipedrive\\\",\\\"name\\\":\\\"Create deal in Pipedrive\\\",\\\"type\\\":\\\"n8n-nodes-base.pipedrive\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_DataStore\\\" name=\\\"Store value in Data Store\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"set\\\",\\\"key\\\":\\\"myKey\\\",\\\"value\\\":\\\"{{$json.value}}\\\"},\\\"id\\\":\\\"data_datastore\\\",\\\"name\\\":\\\"Store value in Data Store\\\",\\\"type\\\":\\\"n8n-nodes-base.dataStore\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_ClickUp\\\" name=\\\"Create task in ClickUp\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"task\\\",\\\"operation\\\":\\\"create\\\",\\\"listId\\\":\\\"<УТОЧНИТЬ: LIST ID>\\\",\\\"name\\\":\\\"New Task\\\"},\\\"id\\\":\\\"data_clickup\\\",\\\"name\\\":\\\"Create task in ClickUp\\\",\\\"type\\\":\\\"n8n-nodes-base.clickUp\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Monday\\\" name=\\\"Create item on Monday.com\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"item\\\",\\\"operation\\\":\\\"create\\\",\\\"boardId\\\":\\\"<УТОЧНИТЬ: BOARD ID>\\\",\\\"itemName\\\":\\\"New Item\\\"},\\\"id\\\":\\\"data_monday\\\",\\\"name\\\":\\\"Create item on Monday.com\\\",\\\"type\\\":\\\"n8n-nodes-base.monday\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_GContacts\\\" name=\\\"Create Google Contact\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"create\\\",\\\"firstName\\\":\\\"John\\\",\\\"lastName\\\":\\\"Doe\\\"},\\\"id\\\":\\\"data_gcontacts\\\",\\\"name\\\":\\\"Create Google Contact\\\",\\\"type\\\":\\\"n8n-nodes-base.googleContacts\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_Excel\\\" name=\\\"Add row to Excel Online\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"addRow\\\",\\\"drive\\\":\\\"me\\\",\\\"workbookId\\\":\\\"<УТОЧНИТЬ: WORKBOOK ID>\\\"},\\\"id\\\":\\\"data_excel\\\",\\\"name\\\":\\\"Add row to Excel Online\\\",\\\"type\\\":\\\"n8n-nodes-base.microsoftExcel\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Data_WebScraper\\\" name=\\\"Scrape data from a website\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"url\\\":\\\"https://example.com\\\",\\\"extractionValues\\\":{\\\"extractionValues\\\":[{\\\"key\\\":\\\"title\\\",\\\"cssSelector\\\":\\\"h1\\\"}]}},\\\"id\\\":\\\"data_webscraper\\\",\\\"name\\\":\\\"Scrape data from a website\\\",\\\"type\\\":\\\"n8n-nodes-base.httpRequest\\\",\\\"typeVersion\\\":3}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_SendEmail\\\" name=\\\"Send email via SMTP\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"host\\\":\\\"<УТОЧНИТЬ: SMTP HOST>\\\",\\\"to\\\":\\\"{{$json.email}}\\\",\\\"subject\\\":\\\"Subject\\\"},\\\"id\\\":\\\"comm_sendemail\\\",\\\"name\\\":\\\"Send email via SMTP\\\",\\\"type\\\":\\\"n8n-nodes-base.sendEmail\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Gmail\\\" name=\\\"Send email with Gmail\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"message\\\",\\\"operation\\\":\\\"send\\\",\\\"to\\\":\\\"{{$json.email}}\\\",\\\"subject\\\":\\\"Subject\\\"},\\\"id\\\":\\\"comm_gmail\\\",\\\"name\\\":\\\"Send email with Gmail\\\",\\\"type\\\":\\\"n8n-nodes-base.googleMail\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Outlook\\\" name=\\\"Send email with Outlook\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"send\\\",\\\"to\\\":\\\"{{$json.email}}\\\",\\\"subject\\\":\\\"Subject\\\"},\\\"id\\\":\\\"comm_outlook\\\",\\\"name\\\":\\\"Send email with Outlook\\\",\\\"type\\\":\\\"n8n-nodes-base.microsoftOutlook\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_SendGrid\\\" name=\\\"Send email via SendGrid\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"fromEmail\\\":\\\"<УТОЧНИТЬ: SENDER EMAIL>\\\",\\\"toEmail\\\":\\\"{{$json.email}}\\\",\\\"subject\\\":\\\"Subject\\\"},\\\"id\\\":\\\"comm_sendgrid\\\",\\\"name\\\":\\\"Send email via SendGrid\\\",\\\"type\\\":\\\"n8n-nodes-base.sendGrid\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Mailgun\\\" name=\\\"Send email via Mailgun\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"from\\\":\\\"<УТОЧНИТЬ: SENDER EMAIL>\\\",\\\"to\\\":\\\"{{$json.email}}\\\",\\\"subject\\\":\\\"Subject\\\"},\\\"id\\\":\\\"comm_mailgun\\\",\\\"name\\\":\\\"Send email via Mailgun\\\",\\\"type\\\":\\\"n8n-nodes-base.mailgun\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Telegram\\\" name=\\\"Send message to Telegram\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"chatId\\\":\\\"<УТОЧНИТЬ: CHAT ID>\\\",\\\"text\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_telegram\\\",\\\"name\\\":\\\"Send message to Telegram\\\",\\\"type\\\":\\\"n8n-nodes-base.telegram\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Slack\\\" name=\\\"Send message to Slack\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"channel\\\":\\\"<УТОЧНИТЬ: CHANNEL>\\\",\\\"text\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_slack\\\",\\\"name\\\":\\\"Send message to Slack\\\",\\\"type\\\":\\\"n8n-nodes-base.slack\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Discord\\\" name=\\\"Send message to Discord\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"webhookUrl\\\":\\\"<УТОЧНИТЬ: WEBHOOK URL>\\\",\\\"content\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_discord\\\",\\\"name\\\":\\\"Send message to Discord\\\",\\\"type\\\":\\\"n8n-nodes-base.discord\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Twilio\\\" name=\\\"Send SMS via Twilio\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"from\\\":\\\"<УТОЧНИТЬ: TWILIO NUMBER>\\\",\\\"to\\\":\\\"{{$json.phone}}\\\",\\\"message\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_twilio\\\",\\\"name\\\":\\\"Send SMS via Twilio\\\",\\\"type\\\":\\\"n8n-nodes-base.twilio\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Viber\\\" name=\\\"Send Viber message\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"receiver\\\":\\\"<УТОЧНИТЬ: RECEIVER ID>\\\",\\\"text\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_viber\\\",\\\"name\\\":\\\"Send Viber message\\\",\\\"type\\\":\\\"n8n-nodes-base.viber\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_WhatsApp\\\" name=\\\"Send WhatsApp message\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"from\\\":\\\"<УТОЧНИТЬ: SENDER ID>\\\",\\\"to\\\":\\\"{{$json.phone}}\\\",\\\"text\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_whatsapp\\\",\\\"name\\\":\\\"Send WhatsApp message\\\",\\\"type\\\":\\\"n8n-nodes-base.whatsApp\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Push\\\" name=\\\"Send Push notification\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"title\\\":\\\"Title\\\",\\\"message\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_push\\\",\\\"name\\\":\\\"Send Push notification\\\",\\\"type\\\":\\\"n8n-nodes-base.pushover\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Intercom\\\" name=\\\"Send Intercom message\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"message\\\",\\\"operation\\\":\\\"create\\\",\\\"messageType\\\":\\\"inapp\\\",\\\"from\\\":\\\"<УТОЧНИТЬ: ADMIN ID>\\\",\\\"toId\\\":\\\"{{$json.userId}}\\\",\\\"body\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_intercom\\\",\\\"name\\\":\\\"Send Intercom message\\\",\\\"type\\\":\\\"n8n-nodes-base.intercom\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Messenger\\\" name=\\\"Send Facebook Messenger message\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"recipientId\\\":\\\"{{$json.recipientId}}\\\",\\\"text\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_messenger\\\",\\\"name\\\":\\\"Send Facebook Messenger message\\\",\\\"type\\\":\\\"n8n-nodes-base.facebookMessenger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_MSTeams\\\" name=\\\"Send message to Microsoft Teams\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"teamId\\\":\\\"<УТОЧНИТЬ: TEAM ID>\\\",\\\"channelId\\\":\\\"<УТОЧНИТЬ: CHANNEL ID>\\\",\\\"message\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_msteams\\\",\\\"name\\\":\\\"Send message to Microsoft Teams\\\",\\\"type\\\":\\\"n8n-nodes-base.microsoftTeams\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_GChat\\\" name=\\\"Send message to Google Chat\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"space\\\":\\\"<УТОЧНИТЬ: SPACE>\\\",\\\"text\\\":\\\"Message\\\"},\\\"id\\\":\\\"comm_gchat\\\",\\\"name\\\":\\\"Send message to Google Chat\\\",\\\"type\\\":\\\"n8n-nodes-base.googleChat\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Twitter\\\" name=\\\"Post a Tweet\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"text\\\":\\\"Hello World!\\\"},\\\"id\\\":\\\"comm_twitter\\\",\\\"name\\\":\\\"Post a Tweet\\\",\\\"type\\\":\\\"n8n-nodes-base.twitter\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_LinkedIn\\\" name=\\\"Create a LinkedIn post\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"author\\\":\\\"<УТОЧНИТЬ: AUTHOR URN>\\\",\\\"visibility\\\":\\\"PUBLIC\\\",\\\"text\\\":\\\"Hello World!\\\"},\\\"id\\\":\\\"comm_linkedin\\\",\\\"name\\\":\\\"Create a LinkedIn post\\\",\\\"type\\\":\\\"n8n-nodes-base.linkedIn\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_VK\\\" name=\\\"Post on VK wall\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"post\\\",\\\"operation\\\":\\\"create\\\",\\\"message\\\":\\\"Hello World!\\\"},\\\"id\\\":\\\"comm_vk\\\",\\\"name\\\":\\\"Post on VK wall\\\",\\\"type\\\":\\\"n8n-nodes-base.vk\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Call\\\" name=\\\"Make a voice call with Twilio\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"from\\\":\\\"<УТОЧНИТЬ: TWILIO NUMBER>\\\",\\\"to\\\":\\\"{{$json.phone}}\\\",\\\"twiml\\\":\\\"<Response><Say>Hello</Say></Response>\\\"},\\\"id\\\":\\\"comm_call\\\",\\\"name\\\":\\\"Make a voice call with Twilio\\\",\\\"type\\\":\\\"n8n-nodes-base.twilio\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_GCalendar\\\" name=\\\"Create Google Calendar event\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"calendar\\\":\\\"primary\\\",\\\"title\\\":\\\"Meeting\\\",\\\"startDateTime\\\":\\\"{{$now}}\\\"},\\\"id\\\":\\\"comm_gcalendar\\\",\\\"name\\\":\\\"Create Google Calendar event\\\",\\\"type\\\":\\\"n8n-nodes-base.googleCalendar\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_OutlookCalendar\\\" name=\\\"Create Outlook Calendar event\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"calendarId\\\":\\\"<УТОЧНИТЬ: CALENDAR ID>\\\",\\\"subject\\\":\\\"Meeting\\\",\\\"start\\\":\\\"{{$now}}\\\"},\\\"id\\\":\\\"comm_outlookcalendar\\\",\\\"name\\\":\\\"Create Outlook Calendar event\\\",\\\"type\\\":\\\"n8n-nodes-base.microsoftOutlookCalendar\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Mailchimp\\\" name=\\\"Add subscriber to Mailchimp\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"listId\\\":\\\"<УТОЧНИТЬ: LIST ID>\\\",\\\"email\\\":\\\"{{$json.email}}\\\",\\\"status\\\":\\\"subscribed\\\"},\\\"id\\\":\\\"comm_mailchimp\\\",\\\"name\\\":\\\"Add subscriber to Mailchimp\\\",\\\"type\\\":\\\"n8n-nodes-base.mailchimp\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Comm_Sendinblue\\\" name=\\\"Add contact to Sendinblue\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"contact\\\",\\\"operation\\\":\\\"create\\\",\\\"email\\\":\\\"{{$json.email}}\\\"},\\\"id\\\":\\\"comm_sendinblue\\\",\\\"name\\\":\\\"Add contact to Sendinblue\\\",\\\"type\\\":\\\"n8n-nodes-base.sendinblue\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_HTTPRequest\\\" name=\\\"Make a GET HTTP Request\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"method\\\":\\\"GET\\\",\\\"url\\\":\\\"https://example.com/api/data\\\"},\\\"id\\\":\\\"api_httprequest\\\",\\\"name\\\":\\\"Make a GET HTTP Request\\\",\\\"type\\\":\\\"n8n-nodes-base.httpRequest\\\",\\\"typeVersion\\\":3}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_OpenAI\\\" name=\\\"Generate text with OpenAI\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"model\\\":\\\"gpt-4\\\",\\\"prompt\\\":\\\"Hello\\\"},\\\"id\\\":\\\"api_openai\\\",\\\"name\\\":\\\"Generate text with OpenAI\\\",\\\"type\\\":\\\"n8n-nodes-base.openAi\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_OpenRouter\\\" name=\\\"Generate text with OpenRouter\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"model\\\":\\\"anthropic/claude-3-haiku\\\",\\\"prompt\\\":\\\"Hello\\\"},\\\"id\\\":\\\"api_openrouter\\\",\\\"name\\\":\\\"Generate text with OpenRouter\\\",\\\"type\\\":\\\"n8n-nodes-base.openRouter\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Anthropic\\\" name=\\\"Generate text with Anthropic Claude\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"model\\\":\\\"claude-2\\\",\\\"prompt\\\":\\\"Hello\\\"},\\\"id\\\":\\\"api_anthropic\\\",\\\"name\\\":\\\"Generate text with Anthropic Claude\\\",\\\"type\\\":\\\"n8n-nodes-base.anthropic\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Gemini\\\" name=\\\"Generate text with Google Gemini\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"model\\\":\\\"gemini-pro\\\",\\\"prompt\\\":\\\"Hello\\\"},\\\"id\\\":\\\"api_gemini\\\",\\\"name\\\":\\\"Generate text with Google Gemini\\\",\\\"type\\\":\\\"n8n-nodes-base.googleVertexAi\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Stripe\\\" name=\\\"Create Stripe customer\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"customer\\\",\\\"operation\\\":\\\"create\\\",\\\"email\\\":\\\"{{$json.email}}\\\"},\\\"id\\\":\\\"api_stripe\\\",\\\"name\\\":\\\"Create Stripe customer\\\",\\\"type\\\":\\\"n8n-nodes-base.stripe\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_PayPal\\\" name=\\\"Create PayPal order\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"order\\\",\\\"operation\\\":\\\"create\\\",\\\"intent\\\":\\\"CAPTURE\\\",\\\"purchaseUnits\\\":{\\\"purchaseUnitsUi\\\":{\\\"purchaseUnitsValues\\\":[{\\\"amountValue\\\":\\\"10.00\\\"}]}}},\\\"id\\\":\\\"api_paypal\\\",\\\"name\\\":\\\"Create PayPal order\\\",\\\"type\\\":\\\"n8n-nodes-base.payPal\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_GoogleMaps\\\" name=\\\"Geocode an address with Google Maps\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"geocoding\\\",\\\"operation\\\":\\\"geocode\\\",\\\"address\\\":\\\"1600 Amphitheatre Parkway, Mountain View, CA\\\"},\\\"id\\\":\\\"api_googlemaps\\\",\\\"name\\\":\\\"Geocode an address with Google Maps\\\",\\\"type\\\":\\\"n8n-nodes-base.googleMaps\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_DeepL\\\" name=\\\"Translate text with DeepL\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"text\\\":\\\"Hello\\\",\\\"targetLanguage\\\":\\\"DE\\\"},\\\"id\\\":\\\"api_deepl\\\",\\\"name\\\":\\\"Translate text with DeepL\\\",\\\"type\\\":\\\"n8n-nodes-base.deepL\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_GoogleTranslate\\\" name=\\\"Translate text with Google Translate\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"text\\\":\\\"Hello\\\",\\\"target\\\":\\\"de\\\"},\\\"id\\\":\\\"api_googletranslate\\\",\\\"name\\\":\\\"Translate text with Google Translate\\\",\\\"type\\\":\\\"n8n-nodes-base.googleTranslate\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Clearbit\\\" name=\\\"Enrich email with Clearbit\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"personAndCompany\\\",\\\"email\\\":\\\"{{$json.email}}\\\"},\\\"id\\\":\\\"api_clearbit\\\",\\\"name\\\":\\\"Enrich email with Clearbit\\\",\\\"type\\\":\\\"n8n-nodes-base.clearbit\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Hunter\\\" name=\\\"Find email with Hunter.io\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"emailFinder\\\",\\\"domain\\\":\\\"hunter.io\\\",\\\"fullName\\\":\\\"John Doe\\\"},\\\"id\\\":\\\"api_hunter\\\",\\\"name\\\":\\\"Find email with Hunter.io\\\",\\\"type\\\":\\\"n8n-nodes-base.hunter\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_DALL-E\\\" name=\\\"Generate image with DALL-E\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"create\\\",\\\"prompt\\\":\\\"A white cat on a red roof\\\"},\\\"id\\\":\\\"api_dalle\\\",\\\"name\\\":\\\"Generate image with DALL-E\\\",\\\"type\\\":\\\"n8n-nodes-base.openAiDallE\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_CloudConvert\\\" name=\\\"Convert file with CloudConvert\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"convert\\\",\\\"outputFormat\\\":\\\"pdf\\\"},\\\"id\\\":\\\"api_cloudconvert\\\",\\\"name\\\":\\\"Convert file with CloudConvert\\\",\\\"type\\\":\\\"n8n-nodes-base.cloudConvert\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_DocuSign\\\" name=\\\"Send document for signature with DocuSign\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"send\\\",\\\"emailSubject\\\":\\\"Please sign this document\\\",\\\"documents\\\":{\\\"documentsUi\\\":{\\\"documentsValues\\\":[{\\\"documentBase64\\\":\\\"<УТОЧНИТЬ: BASE64 FILE>\\\"}]}}},\\\"id\\\":\\\"api_docusign\\\",\\\"name\\\":\\\"Send document for signature with DocuSign\\\",\\\"type\\\":\\\"n8n-nodes-base.docusign\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Zoom\\\" name=\\\"Create Zoom meeting\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"meeting\\\",\\\"operation\\\":\\\"create\\\",\\\"topic\\\":\\\"New Meeting\\\"},\\\"id\\\":\\\"api_zoom\\\",\\\"name\\\":\\\"Create Zoom meeting\\\",\\\"type\\\":\\\"n8n-nodes-base.zoom\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Shopify\\\" name=\\\"Get product from Shopify\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"product\\\",\\\"operation\\\":\\\"get\\\",\\\"productId\\\":\\\"<УТОЧНИТЬ: PRODUCT ID>\\\"},\\\"id\\\":\\\"api_shopify\\\",\\\"name\\\":\\\"Get product from Shopify\\\",\\\"type\\\":\\\"n8n-nodes-base.shopify\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Trello\\\" name=\\\"Create Trello card\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"card\\\",\\\"operation\\\":\\\"create\\\",\\\"listId\\\":\\\"<УТОЧНИТЬ: LIST ID>\\\",\\\"name\\\":\\\"New Card\\\"},\\\"id\\\":\\\"api_trello\\\",\\\"name\\\":\\\"Create Trello card\\\",\\\"type\\\":\\\"n8n-nodes-base.trello\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Asana\\\" name=\\\"Create Asana task\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"resource\\\":\\\"task\\\",\\\"operation\\\":\\\"create\\\",\\\"workspaceId\\\":\\\"<УТОЧНИТЬ: WORKSPACE ID>\\\",\\\"name\\\":\\\"New Task\\\"},\\\"id\\\":\\\"api_asana\\\",\\\"name\\\":\\\"Create Asana task\\\",\\\"type\\\":\\\"n8n-nodes-base.asana\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_GoogleAnalytics\\\" name=\\\"Get Google Analytics report\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"propertyId\\\":\\\"<УТОЧНИТЬ: PROPERTY ID>\\\",\\\"metrics\\\":{\\\"metricsUi\\\":{\\\"metricsValues\\\":[{\\\"name\\\":\\\"activeUsers\\\"}]}}},\\\"id\\\":\\\"api_googleanalytics\\\",\\\"name\\\":\\\"Get Google Analytics report\\\",\\\"type\\\":\\\"n8n-nodes-base.googleAnalytics\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_YouTube\\\" name=\\\"Upload video to YouTube\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"title\\\":\\\"My Video\\\",\\\"privacy\\\":\\\"private\\\"},\\\"id\\\":\\\"api_youtube\\\",\\\"name\\\":\\\"Upload video to YouTube\\\",\\\"type\\\":\\\"n8n-nodes-base.youTube\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Spotify\\\" name=\\\"Add track to Spotify playlist\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"add\\\",\\\"playlistId\\\":\\\"<УТОЧНИТЬ: PLAYLIST ID>\\\",\\\"trackIds\\\":\\\"<УТОЧНИТЬ: TRACK ID>\\\"},\\\"id\\\":\\\"api_spotify\\\",\\\"name\\\":\\\"Add track to Spotify playlist\\\",\\\"type\\\":\\\"n8n-nodes-base.spotify\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Weather\\\" name=\\\"Get weather forecast\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"location\\\":\\\"London\\\"},\\\"id\\\":\\\"api_weather\\\",\\\"name\\\":\\\"Get weather forecast\\\",\\\"type\\\":\\\"n8n-nodes-base.openWeatherMap\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_Crypto\\\" name=\\\"Get cryptocurrency price\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"get\\\",\\\"coin\\\":\\\"bitcoin\\\"},\\\"id\\\":\\\"api_crypto\\\",\\\"name\\\":\\\"Get cryptocurrency price\\\",\\\"type\\\":\\\"n8n-nodes-base.coinMarketCap\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"API_GraphQL\\\" name=\\\"Make a GraphQL Request\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"url\\\":\\\"https://example.com/graphql\\\",\\\"query\\\":\\\"query { user(id: 1) { name } }\\\"},\\\"id\\\":\\\"api_graphql\\\",\\\"name\\\":\\\"Make a GraphQL Request\\\",\\\"type\\\":\\\"n8n-nodes-base.graphQL\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_IF\\\" name=\\\"Check if value is greater than 10\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"conditions\\\":{\\\"number\\\":[{\\\"value1\\\":\\\"{{$json.value}}\\\",\\\"operation\\\":\\\"larger\\\",\\\"value2\\\":10}]}},\\\"id\\\":\\\"logic_if\\\",\\\"name\\\":\\\"Check if value is greater than 10\\\",\\\"type\\\":\\\"n8n-nodes-base.if\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Switch\\\" name=\\\"Route based on status\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"field\\\":\\\"{{$json.status}}\\\",\\\"rules\\\":{\\\"string\\\":[{\\\"value\\\":\\\"new\\\",\\\"output\\\":0},{\\\"value\\\":\\\"done\\\",\\\"output\\\":1}]}},\\\"id\\\":\\\"logic_switch\\\",\\\"name\\\":\\\"Route based on status\\\",\\\"type\\\":\\\"n8n-nodes-base.switch\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Router\\\" name=\\\"Split workflow into parallel branches\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"outputs\\\":2},\\\"id\\\":\\\"logic_router\\\",\\\"name\\\":\\\"Split workflow into parallel branches\\\",\\\"type\\\":\\\"n8n-nodes-base.router\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Filter\\\" name=\\\"Filter for high priority items\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"conditions\\\":{\\\"string\\\":[{\\\"value1\\\":\\\"{{$json.priority}}\\\",\\\"operation\\\":\\\"equal\\\",\\\"value2\\\":\\\"high\\\"}]}},\\\"id\\\":\\\"logic_filter\\\",\\\"name\\\":\\\"Filter for high priority items\\\",\\\"type\\\":\\\"n8n-nodes-base.filter\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Set\\\" name=\\\"Set a new variable\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"values\\\":{\\\"string\\\":[{\\\"name\\\":\\\"myVar\\\",\\\"value\\\":\\\"myValue\\\"}]}},\\\"id\\\":\\\"logic_set\\\",\\\"name\\\":\\\"Set a new variable\\\",\\\"type\\\":\\\"n8n-nodes-base.set\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_DateTime\\\" name=\\\"Format a date\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"value\\\":\\\"{{$now}}\\\",\\\"toFormat\\\":\\\"YYYY-MM-DD\\\"},\\\"id\\\":\\\"logic_datetime\\\",\\\"name\\\":\\\"Format a date\\\",\\\"type\\\":\\\"n8n-nodes-base.dateTime\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_TextParser\\\" name=\\\"Extract email from text with RegEx\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"regex\\\":\\\"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\\\.[a-zA-Z]{2,}\\\"},\\\"id\\\":\\\"logic_textparser\\\",\\\"name\\\":\\\"Extract email from text with RegEx\\\",\\\"type\\\":\\\"n8n-nodes-base.text\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Code\\\" name=\\\"Execute custom JavaScript code\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"jsCode\\\":\\\"return { myData: 123 };\\\"},\\\"id\\\":\\\"logic_code\\\",\\\"name\\\":\\\"Execute custom JavaScript code\\\",\\\"type\\\":\\\"n8n-nodes-base.code\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Merge\\\" name=\\\"Merge data from different branches\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"mode\\\":\\\"combine\\\"},\\\"id\\\":\\\"logic_merge\\\",\\\"name\\\":\\\"Merge data from different branches\\\",\\\"type\\\":\\\"n8n-nodes-base.merge\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_ArrayAggregator\\\" name=\\\"Aggregate items into an array\\\"/>\", \"completion\": \"{\\\"parameters\\\":{},\\\"id\\\":\\\"logic_arrayaggregator\\\",\\\"name\\\":\\\"Aggregate items into an array\\\",\\\"type\\\":\\\"n8n-nodes-base.aggregate\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Iterator\\\" name=\\\"Iterate over an array\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"fieldToSplitOut\\\":\\\"={{$json.myArray}}\\\"},\\\"id\\\":\\\"logic_iterator\\\",\\\"name\\\":\\\"Iterate over an array\\\",\\\"type\\\":\\\"n8n-nodes-base.splitInBatches\\\",\\\"typeVersion\\\":2}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Sleep\\\" name=\\\"Wait for 5 seconds\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"time\\\":5,\\\"unit\\\":\\\"seconds\\\"},\\\"id\\\":\\\"logic_sleep\\\",\\\"name\\\":\\\"Wait for 5 seconds\\\",\\\"type\\\":\\\"n8n-nodes-base.wait\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_ErrorHandler\\\" name=\\\"Handle errors\\\"/>\", \"completion\": \"{\\\"parameters\\\":{},\\\"id\\\":\\\"logic_errorhandler\\\",\\\"name\\\":\\\"Handle errors\\\",\\\"type\\\":\\\"n8n-nodes-base.errorTrigger\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_EditImage\\\" name=\\\"Resize an image\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"resize\\\",\\\"width\\\":100},\\\"id\\\":\\\"logic_editimage\\\",\\\"name\\\":\\\"Resize an image\\\",\\\"type\\\":\\\"n8n-nodes-base.editImage\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Crypto\\\" name=\\\"Hash a value with SHA256\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"algorithm\\\":\\\"sha256\\\",\\\"value\\\":\\\"my secret\\\"},\\\"id\\\":\\\"logic_crypto\\\",\\\"name\\\":\\\"Hash a value with SHA256\\\",\\\"type\\\":\\\"n8n-nodes-base.crypto\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_NumberTools\\\" name=\\\"Generate a random number\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"random\\\"},\\\"id\\\":\\\"logic_numbertools\\\",\\\"name\\\":\\\"Generate a random number\\\",\\\"type\\\":\\\"n8n-nodes-base.math\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_TextTools\\\" name=\\\"Convert text to uppercase\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"toUpperCase\\\"},\\\"id\\\":\\\"logic_texttools\\\",\\\"name\\\":\\\"Convert text to uppercase\\\",\\\"type\\\":\\\"n8n-nodes-base.text\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_HTMLToText\\\" name=\\\"Extract text from HTML\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"html\\\":\\\"<h1>Hello</h1>\\\"},\\\"id\\\":\\\"logic_htmltotext\\\",\\\"name\\\":\\\"Extract text from HTML\\\",\\\"type\\\":\\\"n8n-nodes-base.htmlExtract\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_URLEncode\\\" name=\\\"Encode a URL component\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"encode\\\",\\\"string\\\":\\\"hello world\\\"},\\\"id\\\":\\\"logic_urlencode\\\",\\\"name\\\":\\\"Encode a URL component\\\",\\\"type\\\":\\\"n8n-nodes-base.text\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_GenerateUUID\\\" name=\\\"Generate a UUID\\\"/>\", \"completion\": \"{\\\"parameters\\\":{},\\\"id\\\":\\\"logic_generateuuid\\\",\\\"name\\\":\\\"Generate a UUID\\\",\\\"type\\\":\\\"n8n-nodes-base.set\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_FileTools\\\" name=\\\"Zip a file\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"compress\\\"},\\\"id\\\":\\\"logic_filetools\\\",\\\"name\\\":\\\"Zip a file\\\",\\\"type\\\":\\\"n8n-nodes-base.moveBinaryData\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_Resume\\\" name=\\\"Resume a loop\\\"/>\", \"completion\": \"{\\\"parameters\\\":{},\\\"id\\\":\\\"logic_resume\\\",\\\"name\\\":\\\"Resume a loop\\\",\\\"type\\\":\\\"n8n-nodes-base.noOp\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_WebhookResponse\\\" name=\\\"Respond to a Webhook\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"responseCode\\\":200,\\\"body\\\":\\\"{\\\\\\\"status\\\\\\\":\\\\\\\"success\\\\\\\"}\\\"},\\\"id\\\":\\\"logic_webhookresponse\\\",\\\"name\\\":\\\"Respond to a Webhook\\\",\\\"type\\\":\\\"n8n-nodes-base.respondToWebhook\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_JSONParser\\\" name=\\\"Parse a JSON string\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"json\\\":\\\"{\\\\\\\"key\\\\\\\":\\\\\\\"value\\\\\\\"}\\\"},\\\"id\\\":\\\"logic_jsonparser\\\",\\\"name\\\":\\\"Parse a JSON string\\\",\\\"type\\\":\\\"n8n-nodes-base.code\\\",\\\"typeVersion\\\":1}\"}\n{\"prompt\": \"<bpmn:task id=\\\"Logic_ReadWriteFile\\\" name=\\\"Write temporary file\\\"/>\", \"completion\": \"{\\\"parameters\\\":{\\\"operation\\\":\\\"write\\\",\\\"fileContent\\\":\\\"Hello\\\"},\\\"id\\\":\\\"logic_readwritefile\\\",\\\"name\\\":\\\"Write temporary file\\\",\\\"type\\\":\\\"n8n-nodes-base.moveBinaryData\\\",\\\"typeVersion\\\":1}\"}\n\n\nТут описаны примеры с xml bpmn -> json n8n, проверь их, все ли преобразования с xml в json n8n правильные? Поправь файл и на выходе выдай мне верный json файл"
      },
      "position": [
        368,
        -1232
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "openRouterApi": {
          "id": "MxDmhTEDcHkODHH1",
          "name": "OpenRouter account"
        }
      },
      "disabled": true,
      "id": "47b1f671-8019-4dc0-82de-dcfeb5c93e8f",
      "name": "OpenRouter Chat Model2",
      "parameters": {
        "model": "anthropic/claude-opus-4.1",
        "options": {}
      },
      "position": [
        320,
        -1072
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "uahQsuRxqjcRQnFs",
          "name": "AutoCreateN8NWorkflow"
        }
      },
      "disabled": true,
      "id": "48cb32f4-159a-472e-af26-1ced792a0708",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {},
        "chatId": "=7071630752",
        "text": "={{ $json.output }}"
      },
      "position": [
        720,
        -1232
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "feddf02b-190e-4b98-8e58-5270d0af3de4"
    },
    {
      "id": "dc6da243-a72c-4f1f-bbf7-f1430ca5cf77",
      "name": "Code2",
      "parameters": {
        "jsCode": "// Берём все items из ноды \"Ai Agent\"\nconst chatData = $node[\"AI Agent\"].json;\n\n// Возвращаем вместе с текущим item\nreturn { chatData: chatData.output, answers: $input.all()}\n"
      },
      "position": [
        736,
        -448
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "disabled": true,
      "id": "67e20528-15a6-4c20-a6fb-57e8bdfc8338",
      "name": "Code3",
      "parameters": {
        "language": "python",
        "pythonCode": "return [\n  {\n    \"chatData\": \"Анализ BPMN диаграммы для интеграции в n8n:\\n\\nВ предоставленном XML файле содержатся только связи (flows) между элементами диаграммы, но из них можно определить следующие задачи:\\n\\n**Имя задачи в BPMN:** \\\"bot_subprocess_jira\\\"\\n**Возможный узел в N8N:** \\\"n8n-nodes-base.splitInBatches\\\"\\n**Вопросы по этой задаче:** Какой размер пакета использовать для обработки задач?, Нужно ли сбрасывать контекст между итерациями?\\n**Предложения:** Использовать размер пакета 1 для последовательной обработки каждой найденной задачи\\n\\n---\\n\\n**Имя задачи в BPMN:** \\\"jira_task_create\\\"\\n**Возможный узел в N8N:** \\\"n8n-nodes-base.jira\\\"\\n**Вопросы по этой задаче:** URL вашего Jira сервера?, Email и API token для аутентификации?, Ключ проекта в Jira?, Тип создаваемой задачи (Task/Story/Bug)?, Какие поля заполнять (Summary, Description, Assignee, Priority, Due Date)?\\n\\n---\\n\\n**Имя задачи в BPMN:** \\\"bot_task_summarize\\\"\\n**Возможный узел в N8N:** \\\"n8n-nodes-base.openAi\\\"\\n**Вопросы по этой задаче:** API ключ OpenAI?, Какую модель использовать для суммаризации?, Максимальная длина выжимки?\\n**Предложения:** Использовать GPT-3.5-turbo или GPT-4 для создания краткой выжимки\\n\\n---\\n\\n**Имя задачи в BPMN:** \\\"bot_gateway_join\\\"\\n**Возможный узел в N8N:** \\\"n8n-nodes-base.merge\\\"\\n**Вопросы по этой задаче:** Какой режим объединения данных использовать?\\n**Предложения:** Использовать режим \\\"Merge By Position\\\" для объединения потоков данных\\n\\n---\\n\\n**Имя задачи в BPMN:** \\\"bot_task_send_report\\\"\\n**Возможный узел в N8N:** \\\"n8n-nodes-base.respondToWebhook\\\"\\n**Вопросы по этой задаче:** В каком формате отправлять отчет (JSON/HTML/текст)?, Какие поля включить в отчет?\\n\\n---\\n\\n**Имя задачи в BPMN:** \\\"user_task_get_report\\\"\\n**Возможный узел в N8N:** \\\"n8n-nodes-base.wait\\\"\\n**Вопросы по этой задаче:** Таймаут ожидания ответа?, Нужно ли отправлять промежуточные статусы?\\n\\nNEED_MORE_INFORMATION\",\n    \"answer\": [\n      {\n        \"json\": {\n          \"data\": {\n            \"text\": \"используй виппер пока без капи ключа формат мп4 хранится в с3 бакете пока без ссылки не идентифицируй участников\\r\\nпока без апи ключа используй гпт4 объем 10000 без приоритетных тем\\r\\nформат жсон без маркеров не фарси даты\"\n          }\n        },\n        \"pairedItem\": {\n          \"item\": 0\n        }\n      }\n    ]\n  }\n]"
      },
      "position": [
        -288,
        -1088
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "disabled": true,
      "id": "446ce092-3f8d-41e3-9595-5261ba3c6a62",
      "name": "Code4",
      "parameters": {
        "language": "python",
        "mode": "runOnceForEachItem",
        "pythonCode": "return {'f': _input.item.json.answer[0].json.data.text}"
      },
      "position": [
        -96,
        -1088
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "disabled": true,
      "id": "7671cd50-6fe6-4f52-909f-81989212a856",
      "name": "Code5",
      "parameters": {
        "jsCode": "const chatData = $node[\"When chat message received\"].json;\nreturn { chatInput: chatData.chatInput, code:  $input.all()};"
      },
      "position": [
        112,
        -1088
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "70694c8c-1ad5-4974-a497-50782b16ebc8",
      "name": "AI Agent3",
      "parameters": {
        "options": {
          "systemMessage": "=Ты работаешь как помощник по интеграции BPMN в n8n. \nТвоя задача — проанализировать предоставленную диаграмму BPMN и определить, какие ноды нужно создать в n8n. \n\n⚠️ ВАЖНО:\n- Не генерируй финальный workflow JSON.\n- Верни только список нод.\n- Для каждой ноды укажи:\n  1. Название задачи из BPMN (\"bpmn_task_name\").\n  2. Соответствующий тип ноды в n8n (\"n8n_node_type\").\n  3. Список параметров, по типу api, credentials, уточненные у пользователя для определенных нод.\n\nФормат ответа строго JSON.\n"
        },
        "promptType": "define",
        "text": "={{ JSON.stringify($('AI Agent').item.json.output) }}\n\nПример ответа: Пример:\n{\n  \"nodes_to_create\": [\n    {\n      \"bpmn_task_name\": \"Записать в Google Sheet\",\n      \"n8n_node_type\": \"n8n-nodes-base.googleSheets\",\n      \"info_needed\": [\"Sheet ID\", \"Cell Range\", \"Authentication\"]\n    }\n  ]\n}\n\nXML в виде BPMN:\n{{ JSON.stringify($('Telegram Trigger1').item.json.message.text) }}"
      },
      "position": [
        1296,
        -784
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "openRouterApi": {
          "id": "MxDmhTEDcHkODHH1",
          "name": "OpenRouter account"
        }
      },
      "id": "b1569ef2-3db2-4328-8d69-0a9923d2067a",
      "name": "OpenRouter Chat Model3",
      "parameters": {
        "model": "anthropic/claude-opus-4.1",
        "options": {
          "responseFormat": "text",
          "temperature": 0,
          "topP": 1
        }
      },
      "position": [
        1232,
        -592
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1
    },
    {
      "id": "df99b0eb-627f-4452-80ff-06e18d1e3ade",
      "name": "Simple Memory2",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=123qwe"
      },
      "position": [
        1440,
        -576
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "dd0fb185-c919-4dfd-9c30-d284f098571f",
      "name": "AI Agent4",
      "parameters": {
        "options": {
          "systemMessage": "=Ты работаешь как помощник по интеграции BPMN в n8n. \nТвоя задача — проанализировать предоставленную диаграмму BPMN и определить, какие ноды нужно создать в n8n. \n\n⚠️ ВАЖНО:\n- Не генерируй финальный workflow JSON.\n- Верни только список нод.\n- Для каждой ноды укажи:\n  1. Название задачи из BPMN (\"bpmn_task_name\").\n  2. Соответствующий тип ноды в n8n (\"n8n_node_type\").\n  3. Список параметров, по типу api, credentials, уточненные у пользователя для определенных нод.\n\nФормат ответа строго JSON.\n"
        },
        "promptType": "define",
        "text": "={{ JSON.stringify($('AI Agent').item.json.output) }}\n\nПример ответа: Пример:\n{\n  \"nodes_to_create\": [\n    {\n      \"bpmn_task_name\": \"Записать в Google Sheet\",\n      \"n8n_node_type\": \"n8n-nodes-base.googleSheets\",\n      \"info_needed\": [\"Sheet ID\", \"Cell Range\", \"Authentication\"]\n    }\n  ]\n}\n\nXML в виде BPMN:\n{{ JSON.stringify($('Telegram Trigger1').item.json.message.text) }}"
      },
      "position": [
        1680,
        -784
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "openRouterApi": {
          "id": "MxDmhTEDcHkODHH1",
          "name": "OpenRouter account"
        }
      },
      "id": "7b58aaa1-95e9-4f94-92f4-24784393cd88",
      "name": "OpenRouter Chat Model4",
      "parameters": {
        "model": "anthropic/claude-opus-4.1",
        "options": {
          "responseFormat": "text",
          "temperature": 0,
          "topP": 1
        }
      },
      "position": [
        1616,
        -592
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1
    },
    {
      "id": "c0bb4819-17b2-43d5-b6a4-416b05ab1c1b",
      "name": "Simple Memory3",
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=123qwe"
      },
      "position": [
        1824,
        -576
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "uahQsuRxqjcRQnFs",
          "name": "AutoCreateN8NWorkflow"
        }
      },
      "id": "e39e2832-b424-4b00-a496-041fe377b0f8",
      "name": "Send a text message1",
      "parameters": {
        "additionalFields": {},
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ JSON.stringify($json.output) }}"
      },
      "position": [
        2032,
        -784
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "d5d8b6e2-59e5-469d-9ff6-ade9ba47deaa"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-27T08:48:18.343Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-08-27T08:48:18.343Z",
      "workflowId": "8n8F2YqOSfdAAdcY"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-28T13:30:30.000Z",
  "versionId": "79c195ff-8e47-41f3-83ac-6715aa78a5df"
}