folder/CEO_ASMR Explosion (Vladislav Saveliev).json
{
  "active": false,
  "connections": {
    "Append or update row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items8",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items17",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete rows or columns from sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file2",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file3",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file4",
            "type": "main"
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Post",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям2",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям3",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ссылки видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Title1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search files and folders1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request8",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If2",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields5",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Append or update row in sheet5",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait12",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait13",
            "type": "main"
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait14",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait12",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait13",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait14",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items17": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?1",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?2",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?3",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Structured Output Parser2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Ready?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana1",
            "type": "main"
          }
        ]
      ]
    },
    "Ready?1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana",
            "type": "main"
          }
        ]
      ]
    },
    "Ready?2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana2",
            "type": "main"
          }
        ]
      ]
    },
    "Ready?3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana3",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download file1",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Status Kling AI": {
      "main": [
        [
          {
            "index": 0,
            "node": "If6",
            "type": "main"
          }
        ]
      ]
    },
    "Status Kling AI1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Status Kling AI2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If7",
            "type": "main"
          }
        ]
      ]
    },
    "Status Kling AI3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If8",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI1",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI2",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Final Video",
            "type": "main"
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "YT Tags1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Title1",
            "type": "main"
          }
        ]
      ]
    },
    "take video": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "take video1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "take video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "take video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana1",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana2",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "main"
          }
        ]
      ]
    },
    "Жанры": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If3",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If4",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If5",
            "type": "main"
          }
        ]
      ]
    },
    "Ссылки видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T07:45:23.750Z",
  "id": "iHJnRGm5BIsWgOA0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CEO_ASMR Explosion (Vladislav Saveliev)",
  "nodes": [
    {
      "id": "8659f2d5-a51c-4ca6-867e-ab274f7f929c",
      "name": "Upload Video and Description to Instagram1",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRBoom"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "tags",
              "value": "={{ $('YT Tags1').item.json.output }}"
            },
            {
              "name": "madeForKids",
              "value": "false"
            },
            {
              "name": "privacyStatus",
              "value": "public"
            },
            {
              "name": "description",
              "value": "Creativity, fun, and fresh moments every day.\n\nFollow us on:\nYouTube: https://www.youtube.com/@boommling\nTikTok: https://www.tiktok.com/@kyrawelsh744\nInstagram: https://www.instagram.com/boommling"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        4592,
        864
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "cc9b919c-d343-4e0f-b350-892b52a743aa",
      "name": "Upload Video and Description to Instagram",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRBoom"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "caption",
              "value": "Creativity, fun, and fresh moments every day.\n\nFollow us on:\nYouTube: https://www.youtube.com/@boommling\nTikTok: https://www.tiktok.com/@kyrawelsh744\nInstagram: https://www.instagram.com/boommling"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        4592,
        640
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "b70bc7d8-af6b-4ce5-8979-67a36eda0447",
      "name": "Chat Memory Manager",
      "parameters": {
        "deleteMode": "all",
        "mode": "delete"
      },
      "position": [
        -1776,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1
    },
    {
      "id": "43ac339f-fa2f-4b68-84c3-363299a21ff6",
      "name": "Structured Output Parser2",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -1184,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "0261b660-87a6-4231-98f9-0b1718bbb0f1",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n    \"title\": \"Название\"\n}"
      },
      "position": [
        -2416,
        640
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "511f172e-8f9f-4948-ae4d-076a388dea1d",
      "name": "Simple Memory2",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -2496,
        640
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "fd34cbc9-67eb-4986-a179-fc438d233fb2",
      "name": "OpenAI Chat Model6",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -1264,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "fa8acd37-21ab-4a2f-ac72-ebb8032f7bcc",
      "name": "Simple Memory",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -1776,
        640
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "e4e63b3d-1b14-40c3-857e-7d32e72ccfbb",
      "name": "Генератор сценарного шаблона",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий три уникальные сцены чистого физического взрыва одного обычного объекта (не миниатюрного, не кластера, не игрушки, не еды, не геометрии, а предмета реального размера или фантазийной формы, связанного с фильмом/сериалом).\n## Контекст: Каждый кейс — сцена, где обычный объект взрывается сам по себе (никаких инструментов, внешнего триггера, руки, ножа, молотка и т.д.).\n## Задача: На основе названия фильма/сериала придумать три сцены, строго по структуре:\n- Explosion: [Короткое предложение, где описан только сам взрыв объекта — форма, материал, как он разлетается, какие фрагменты, эффект].\n- Object: [Название и короткое описание объекта, не мини, не cluster, не игрушка, не абстракция].\n- Reaction: [Что происходит после взрыва: разлёт фрагментов, звук, пыль, искры и т.д.].\n- Surface: [Реалистичная поверхность или пространство: стол, пол, асфальт, трава, воздух].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, чётко, лаконично, без воды.\n## Требования:\n– Язык: Английский.\n– В каждой сцене взрыв происходит сам по себе, объект — реальных размеров.\n## Финальный чек-лист:\n– Всё по структуре, все три сцены только про самовзрыв обычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который взрывают должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -1264,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "1b91dcc4-0131-452e-b189-4cbc18bca80e",
      "name": "Жанры",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Steps to generate:\n1. Randomly select: movie or TV series (50/50 chance).\n2. If a movie - choose one of the popular ones (e.g. Interstellar, The Matrix, Gladiator, or any other hit).\n3. If a TV series - choose one of the well-known ones (e.g. Friends, Chernobyl, The Mandalorian, or any other).\nThis is all an example, you don't have to use from these lists.\n\nOutput format (strictly adhere to it):\n[Movie or series title]\n\nGenerate only the title, without type, year, justification or any other text. Use the original title in English or as commonly accepted in pop culture.\nJust write the title and the name of the movie/series.\nDon't repeat yourself."
        },
        "promptType": "define",
        "text": "Дай название фильма или сериала"
      },
      "position": [
        -2576,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "17635c5a-4db8-4dd5-a9e5-6cceb1f76949",
      "name": "Проверка по критериям",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены чистого взрыва одного обычного объекта по 20 критериям зрелищности, wow-эффекта, физики, визуала и звука.\n## Контекст: Критерии — только для сцен с нормальными объектами и чистым физическим взрывом (никаких инструментов, миниатюр, кластеров, магии, еды, бытовых предметов, сюрреализма).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– В сцене объект обычный, не мини, не cluster, не инструмент.\n– Только баллы и вердикт, не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n\n1. Trendiness: How current and hype-worthy.\n\n2. Wow Factor: Viewer surprise and delight.\n\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n\n4. Unexpected Twist: Shift from expected to surprising reaction.\n\n5. Sound Satisfaction: Realistic burst sounds (crack, scatter).\n\n6. Aesthetic Transformation: Beauty in fragmenting, dispersing.\n\n7. Burst Speed (first 1.5 sec): Balanced rhythm.\n\n8. Audio-Visual Sync: Matching burst and reaction cues.\n\n9. Before/After Contrast: Dramatic change post-burst.\n\n10. Presence: Feels real and immersive.\n\n11. Micro-Details: Visible shards, trails, textures.\n\n12. Cinematic Burst Moment: Clear, engaging explosion.\n\n13. Framing: Centered for 9:16 vertical.\n\n14. Size Fit: Suited to vertical format.\n\n15. Closure: Satisfying end feel.\n\n16. Material Inertia: Post-burst behavior (scatter, settle).\n\n17. Desire to Try: Urge to replicate.\n\n18. Reaction Dynamics: Unique flying, igniting.\n\n19. Burst Smoothness: Anticipatory motion.\n\n20. Internal Surprise: Non-banal reveal (spark, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -816,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "5ef84f0b-1539-4c35-8c58-01cf2c96ca21",
      "maxTries": 5,
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -512,
        -80
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "1a90fc8b-a18e-44ed-a9d8-043a7cd65cfd",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        -80
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "699f21ba-ebd2-4e8f-83ae-86916f3d8a8b",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12_6FbrRM2G8qgdw982mCSuahpflPBerURmWGLb0cohE/edit?usp=drivesdk",
          "mode": "list",
          "value": "12_6FbrRM2G8qgdw982mCSuahpflPBerURmWGLb0cohE"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Идея",
              "lookupValue": "={{ $json.output.title }}"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -2272,
        432
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "a13c43c2-6c5e-4102-8dbb-6d662906abeb",
      "name": "If2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "912e5ad3-6e48-4519-ae35-9e476ffba150",
              "leftValue": "={{ $json['Идея'] }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": "={{ $json['Идея'] }}"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {
          "ignoreCase": false
        }
      },
      "position": [
        -2112,
        432
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "10677d38-fc48-4e03-bbee-89ee9561e382",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2112,
        576
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "e424ef57-3150-4e1e-8868-a9d3be2f9e05",
      "name": "Append or update row in sheet",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "removed": true,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "ЖАНР": "Фильм",
            "Идея": "={{ $('Жанры').item.json.output.title }}",
            "Статус": "Взят"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12_6FbrRM2G8qgdw982mCSuahpflPBerURmWGLb0cohE/edit?usp=drivesdk",
          "mode": "list",
          "value": "12_6FbrRM2G8qgdw982mCSuahpflPBerURmWGLb0cohE"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1952,
        432
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "3d5e1b28-62e2-43fb-bba4-4f2ba003e585",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -1168,
        448
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "c395bdae-8b3e-4e23-89d8-cad4ab2ca67c",
      "name": "Генератор сценарного шаблона1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий три уникальные сцены чистого физического взрыва одного обычного объекта (не миниатюрного, не кластера, не игрушки, не еды, не геометрии, а предмета реального размера или фантазийной формы, связанного с фильмом/сериалом).\n## Контекст: Каждый кейс — сцена, где обычный объект взрывается сам по себе (никаких инструментов, внешнего триггера, руки, ножа, молотка и т.д.).\n## Задача: На основе названия фильма/сериала придумать три сцены, строго по структуре:\n- Explosion: [Короткое предложение, где описан только сам взрыв объекта — форма, материал, как он разлетается, какие фрагменты, эффект].\n- Object: [Название и короткое описание объекта, не мини, не cluster, не игрушка, не абстракция].\n- Reaction: [Что происходит после взрыва: разлёт фрагментов, звук, пыль, искры и т.д.].\n- Surface: [Реалистичная поверхность или пространство: стол, пол, асфальт, трава, воздух].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, чётко, лаконично, без воды.\n## Требования:\n– Язык: Английский.\n– В каждой сцене взрыв происходит сам по себе, объект — реальных размеров.\n## Финальный чек-лист:\n– Всё по структуре, все три сцены только про самовзрыв обычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который взрывают должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -1264,
        256
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5cfb9caf-70d5-42dc-aa17-8f03cf9277d2",
      "name": "Проверка по критериям1",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены чистого взрыва одного обычного объекта по 20 критериям зрелищности, wow-эффекта, физики, визуала и звука.\n## Контекст: Критерии — только для сцен с нормальными объектами и чистым физическим взрывом (никаких инструментов, миниатюр, кластеров, магии, еды, бытовых предметов, сюрреализма).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– В сцене объект обычный, не мини, не cluster, не инструмент.\n– Только баллы и вердикт, не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n\n1. Trendiness: How current and hype-worthy.\n\n2. Wow Factor: Viewer surprise and delight.\n\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n\n4. Unexpected Twist: Shift from expected to surprising reaction.\n\n5. Sound Satisfaction: Realistic burst sounds (crack, scatter).\n\n6. Aesthetic Transformation: Beauty in fragmenting, dispersing.\n\n7. Burst Speed (first 1.5 sec): Balanced rhythm.\n\n8. Audio-Visual Sync: Matching burst and reaction cues.\n\n9. Before/After Contrast: Dramatic change post-burst.\n\n10. Presence: Feels real and immersive.\n\n11. Micro-Details: Visible shards, trails, textures.\n\n12. Cinematic Burst Moment: Clear, engaging explosion.\n\n13. Framing: Centered for 9:16 vertical.\n\n14. Size Fit: Suited to vertical format.\n\n15. Closure: Satisfying end feel.\n\n16. Material Inertia: Post-burst behavior (scatter, settle).\n\n17. Desire to Try: Urge to replicate.\n\n18. Reaction Dynamics: Unique flying, igniting.\n\n19. Burst Smoothness: Anticipatory motion.\n\n20. Internal Surprise: Non-banal reveal (spark, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -816,
        256
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "0a91158e-cfaa-49da-b31e-d7c5a7029766",
      "maxTries": 5,
      "name": "If3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -512,
        256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "51755ece-7111-4ba5-adcc-191fbd5e37b4",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        256
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "0b430018-33ab-445c-ab1a-d18926acf07b",
      "name": "Structured Output Parser3",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -1184,
        816
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "50c4c934-1968-480e-b49c-d6e2d4af586e",
      "name": "OpenAI Chat Model7",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -1264,
        816
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "219a2948-bc8a-4fb7-bd90-262d0704b5fa",
      "name": "Генератор сценарного шаблона2",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "## Роль: Ты — ИИ-агент, придумывающий три уникальные сцены чистого физического взрыва одного обычного объекта (не миниатюрного, не кластера, не игрушки, не еды, не геометрии, а предмета реального размера или фантазийной формы, связанного с фильмом/сериалом).\n## Контекст: Каждый кейс — сцена, где обычный объект взрывается сам по себе (никаких инструментов, внешнего триггера, руки, ножа, молотка и т.д.).\n## Задача: На основе названия фильма/сериала придумать три сцены, строго по структуре:\n- Explosion: [Короткое предложение, где описан только сам взрыв объекта — форма, материал, как он разлетается, какие фрагменты, эффект].\n- Object: [Название и короткое описание объекта, не мини, не cluster, не игрушка, не абстракция].\n- Reaction: [Что происходит после взрыва: разлёт фрагментов, звук, пыль, искры и т.д.].\n- Surface: [Реалистичная поверхность или пространство: стол, пол, асфальт, трава, воздух].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, чётко, лаконично, без воды.\n## Требования:\n– Язык: Английский.\n– В каждой сцене взрыв происходит сам по себе, объект — реальных размеров.\n## Финальный чек-лист:\n– Всё по структуре, все три сцены только про самовзрыв обычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который взрывают должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -1264,
        608
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "9754a3c6-45f3-4a10-8649-56da7b79bccb",
      "name": "Проверка по критериям2",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены чистого взрыва одного обычного объекта по 20 критериям зрелищности, wow-эффекта, физики, визуала и звука.\n## Контекст: Критерии — только для сцен с нормальными объектами и чистым физическим взрывом (никаких инструментов, миниатюр, кластеров, магии, еды, бытовых предметов, сюрреализма).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– В сцене объект обычный, не мини, не cluster, не инструмент.\n– Только баллы и вердикт, не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n\n1. Trendiness: How current and hype-worthy.\n\n2. Wow Factor: Viewer surprise and delight.\n\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n\n4. Unexpected Twist: Shift from expected to surprising reaction.\n\n5. Sound Satisfaction: Realistic burst sounds (crack, scatter).\n\n6. Aesthetic Transformation: Beauty in fragmenting, dispersing.\n\n7. Burst Speed (first 1.5 sec): Balanced rhythm.\n\n8. Audio-Visual Sync: Matching burst and reaction cues.\n\n9. Before/After Contrast: Dramatic change post-burst.\n\n10. Presence: Feels real and immersive.\n\n11. Micro-Details: Visible shards, trails, textures.\n\n12. Cinematic Burst Moment: Clear, engaging explosion.\n\n13. Framing: Centered for 9:16 vertical.\n\n14. Size Fit: Suited to vertical format.\n\n15. Closure: Satisfying end feel.\n\n16. Material Inertia: Post-burst behavior (scatter, settle).\n\n17. Desire to Try: Urge to replicate.\n\n18. Reaction Dynamics: Unique flying, igniting.\n\n19. Burst Smoothness: Anticipatory motion.\n\n20. Internal Surprise: Non-banal reveal (spark, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -816,
        608
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "7d071dde-434f-40a4-8f1a-1bab4eec6027",
      "maxTries": 5,
      "name": "If4",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -512,
        608
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "ba396b7e-7e1f-41d8-85f4-bbbf20fdd0a3",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        608
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "cf35b947-bf6a-4bf0-8350-9fcaf300d1b9",
      "name": "Structured Output Parser4",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -1184,
        1168
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "17a5d55d-d418-4059-b692-352ef0cce6ad",
      "name": "OpenAI Chat Model8",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -1264,
        1168
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "42134b90-eba1-459c-bdf6-404533dc616b",
      "name": "Генератор сценарного шаблона3",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "## Роль: Ты — ИИ-агент, придумывающий три уникальные сцены чистого физического взрыва одного обычного объекта (не миниатюрного, не кластера, не игрушки, не еды, не геометрии, а предмета реального размера или фантазийной формы, связанного с фильмом/сериалом).\n## Контекст: Каждый кейс — сцена, где обычный объект взрывается сам по себе (никаких инструментов, внешнего триггера, руки, ножа, молотка и т.д.).\n## Задача: На основе названия фильма/сериала придумать три сцены, строго по структуре:\n- Explosion: [Короткое предложение, где описан только сам взрыв объекта — форма, материал, как он разлетается, какие фрагменты, эффект].\n- Object: [Название и короткое описание объекта, не мини, не cluster, не игрушка, не абстракция].\n- Reaction: [Что происходит после взрыва: разлёт фрагментов, звук, пыль, искры и т.д.].\n- Surface: [Реалистичная поверхность или пространство: стол, пол, асфальт, трава, воздух].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, чётко, лаконично, без воды.\n## Требования:\n– Язык: Английский.\n– В каждой сцене взрыв происходит сам по себе, объект — реальных размеров.\n## Финальный чек-лист:\n– Всё по структуре, все три сцены только про самовзрыв обычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который взрывают должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -1264,
        976
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "bfe1e221-4fec-4f58-a1ac-6c3c84539ca2",
      "name": "Проверка по критериям3",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены чистого взрыва одного обычного объекта по 20 критериям зрелищности, wow-эффекта, физики, визуала и звука.\n## Контекст: Критерии — только для сцен с нормальными объектами и чистым физическим взрывом (никаких инструментов, миниатюр, кластеров, магии, еды, бытовых предметов, сюрреализма).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– В сцене объект обычный, не мини, не cluster, не инструмент.\n– Только баллы и вердикт, не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n\n1. Trendiness: How current and hype-worthy.\n\n2. Wow Factor: Viewer surprise and delight.\n\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n\n4. Unexpected Twist: Shift from expected to surprising reaction.\n\n5. Sound Satisfaction: Realistic burst sounds (crack, scatter).\n\n6. Aesthetic Transformation: Beauty in fragmenting, dispersing.\n\n7. Burst Speed (first 1.5 sec): Balanced rhythm.\n\n8. Audio-Visual Sync: Matching burst and reaction cues.\n\n9. Before/After Contrast: Dramatic change post-burst.\n\n10. Presence: Feels real and immersive.\n\n11. Micro-Details: Visible shards, trails, textures.\n\n12. Cinematic Burst Moment: Clear, engaging explosion.\n\n13. Framing: Centered for 9:16 vertical.\n\n14. Size Fit: Suited to vertical format.\n\n15. Closure: Satisfying end feel.\n\n16. Material Inertia: Post-burst behavior (scatter, settle).\n\n17. Desire to Try: Urge to replicate.\n\n18. Reaction Dynamics: Unique flying, igniting.\n\n19. Burst Smoothness: Anticipatory motion.\n\n20. Internal Surprise: Non-banal reveal (spark, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -816,
        976
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "8adc8ebb-e6fd-4b7d-bcf1-9c1a76096fd3",
      "maxTries": 5,
      "name": "If5",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -512,
        976
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "0114a9ed-df3b-4fe8-8555-8d6afbbf9717",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        976
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "419eafbd-a040-4c76-ba01-339a11235220",
      "name": "Генерация промтов1",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены чистого взрыва обычного объекта (без инструмента, руки, ножа, кластеров, миниатюр, еды, магии).\n## Контекст: Изображение — обычный объект или предмет фантазийной формы взрывается на столе/поверхности, видны фрагменты и эффект, никакой руки, ножа, мини-объектов и т.п.\n## Задача: Описать промт на английском одной строкой: объект в момент взрыва на столе/поверхности, все фрагменты видны, dramatic lighting, hyper-realistic, никакой магии, рук, инструментов, еды, кластеров.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика взрыва, обычный объект, всё freeze moment.\n## Финальный чек-лист:\n– Промт — одна строка, никаких внешних воздействий, всё про чистый взрыв.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        112,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "fae09f35-71f8-4f51-813a-841acb4f50cd",
      "name": "OpenAI Chat Model9",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        112,
        112
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "60b00c5f-3706-46f3-a7cd-ab92c91f206c",
      "name": "Генератор сценария1",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для чистого взрыва обычного объекта, максимально реалистично и эффектно.\n## Контекст: Видео — 6–8 секунд, камера статична, объект обычный, узнаваемый, или фантазийной формы (но не мини, не cluster), взрыв происходит без внешнего воздействия или инструмента, описывается только реакция фрагментов и звук.\n## Задача: Описать сцену секционно: объект, описание, динамика взрыва, звук, длительность по секциям (start, burst, reaction, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, без воды, физика, звук, визуал.\n## Требования:\n– Язык: Английский.\n– Только реализм, обычный объект, взрыв сам по себе, нет инструментов и миниатюр.\n## Финальный чек-лист:\n– Всё по сцене, шаги по времени, только физика взрыва, никаких сторонних воздействий.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields1').item.json.Scene }}"
      },
      "position": [
        -192,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "f5c3a331-a25d-4c0f-83a7-20677b4a52d0",
      "name": "Анимация видео1",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"ceramic vase\", \"wooden cube\", \"metal sphere\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object undergoing an epic, visually captivating explosion in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a smooth, dark stone or metallic surface.\n* The explosion must appear visually realistic, physically plausible, and dramatically satisfying.\n* The video starts immediately with the explosion action.\n* The object must retain detailed visual characteristics (color, shape, texture, reflective or matte qualities) clearly visible until the explosion occurs.\n* No humans visible or present. The explosion must appear spontaneous or internally triggered.\n* The explosion should include **four distinct ASMR sound layers**:\n\n  1. A sharp, crisp initial crack or snap signaling imminent explosion\n  2. A powerful, resonant burst sound at the exact moment of explosion\n  3. Detailed sounds of fragments rapidly dispersing outward\n  4. Subtle, resonating sounds of fragments landing and settling onto the surface\n* The **initial explosive crack should sound especially crisp and prominent**, highlighting the sudden dramatic event.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the surface material (e.g., granite, polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Explosion Action**: Clearly detail the explosion event—from initial internal crack to full epic fragmentation.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crack of the object's structure\n   * Powerful explosive burst\n   * Clear dispersion sounds of fragments\n   * Gentle settling sounds of fragments landing\n5. **Ambience**: Total silence except for explosion and settling sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] positioned on a dark polished stone or metallic surface.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: The \\[object] suddenly undergoes an epic explosion, shattering dramatically into multiple fragments with visually spectacular realism.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed fragmentation.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial structural crack, (2) resonant, powerful explosion burst, (3) detailed dispersion sounds of fragments flying outward, and (4) subtle resonating settling sounds as fragments land. The initial crack should be especially sharp and prominent, emphasizing the exact start of the explosive event. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments following fragments.\n**Composition**: Centered object clearly visible until the moment of explosion.\n**Ambiance**: Pin-drop silence around the explosive sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the spectacular, satisfying detail of the epic explosion. Visually stunning, physically captivating.\n\nParameters:\n\n- Scene: {{ $('Генератор сценарного шаблона').item.json.output.Scene }}\n\n- Triggerer: {{ $('Генератор сценарного шаблона').item.json.output.Character }}\n\n- Action: {{ $('Генератор сценарного шаблона').item.json.output.Action }}\n\n- Cluster: {{ $('Генератор сценарного шаблона').item.json.output.Object }}\n\n- Location: {{ $('Генератор сценарного шаблона').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария1').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        416,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "a8544a9e-a784-48c6-bf9e-76a5bd375391",
      "name": "Генерация промтов2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены чистого взрыва обычного объекта (без инструмента, руки, ножа, кластеров, миниатюр, еды, магии).\n## Контекст: Изображение — обычный объект или предмет фантазийной формы взрывается на столе/поверхности, видны фрагменты и эффект, никакой руки, ножа, мини-объектов и т.п.\n## Задача: Описать промт на английском одной строкой: объект в момент взрыва на столе/поверхности, все фрагменты видны, dramatic lighting, hyper-realistic, никакой магии, рук, инструментов, еды, кластеров.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика взрыва, обычный объект, всё freeze moment.\n## Финальный чек-лист:\n– Промт — одна строка, никаких внешних воздействий, всё про чистый взрыв.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        112,
        256
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "297ea08d-ffa1-4266-8b33-9ce8d00f3f08",
      "name": "OpenAI Chat Model10",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        112,
        448
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "a1887277-e15b-4a68-a29a-2415e8ccf767",
      "name": "Генератор сценария2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для чистого взрыва обычного объекта, максимально реалистично и эффектно.\n## Контекст: Видео — 6–8 секунд, камера статична, объект обычный, узнаваемый, или фантазийной формы (но не мини, не cluster), взрыв происходит без внешнего воздействия или инструмента, описывается только реакция фрагментов и звук.\n## Задача: Описать сцену секционно: объект, описание, динамика взрыва, звук, длительность по секциям (start, burst, reaction, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, без воды, физика, звук, визуал.\n## Требования:\n– Язык: Английский.\n– Только реализм, обычный объект, взрыв сам по себе, нет инструментов и миниатюр.\n## Финальный чек-лист:\n– Всё по сцене, шаги по времени, только физика взрыва, никаких сторонних воздействий.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields2').item.json.Scene }}"
      },
      "position": [
        -192,
        256
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "3bd5f86a-4ab4-47a2-9234-5878f76b48e9",
      "name": "Анимация видео2",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"ceramic vase\", \"wooden cube\", \"metal sphere\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object undergoing an epic, visually captivating explosion in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a smooth, dark stone or metallic surface.\n* The explosion must appear visually realistic, physically plausible, and dramatically satisfying.\n* The video starts immediately with the explosion action.\n* The object must retain detailed visual characteristics (color, shape, texture, reflective or matte qualities) clearly visible until the explosion occurs.\n* No humans visible or present. The explosion must appear spontaneous or internally triggered.\n* The explosion should include **four distinct ASMR sound layers**:\n\n  1. A sharp, crisp initial crack or snap signaling imminent explosion\n  2. A powerful, resonant burst sound at the exact moment of explosion\n  3. Detailed sounds of fragments rapidly dispersing outward\n  4. Subtle, resonating sounds of fragments landing and settling onto the surface\n* The **initial explosive crack should sound especially crisp and prominent**, highlighting the sudden dramatic event.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the surface material (e.g., granite, polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Explosion Action**: Clearly detail the explosion event—from initial internal crack to full epic fragmentation.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crack of the object's structure\n   * Powerful explosive burst\n   * Clear dispersion sounds of fragments\n   * Gentle settling sounds of fragments landing\n5. **Ambience**: Total silence except for explosion and settling sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] positioned on a dark polished stone or metallic surface.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: The \\[object] suddenly undergoes an epic explosion, shattering dramatically into multiple fragments with visually spectacular realism.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed fragmentation.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial structural crack, (2) resonant, powerful explosion burst, (3) detailed dispersion sounds of fragments flying outward, and (4) subtle resonating settling sounds as fragments land. The initial crack should be especially sharp and prominent, emphasizing the exact start of the explosive event. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments following fragments.\n**Composition**: Centered object clearly visible until the moment of explosion.\n**Ambiance**: Pin-drop silence around the explosive sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the spectacular, satisfying detail of the epic explosion. Visually stunning, physically captivating.\n\nParameters:\n\n- Scene: {{ $('Генератор сценарного шаблона1').item.json.output.Scene }}\n\n- Triggerer: {{ $('Генератор сценарного шаблона1').item.json.output.Character }}\n\n- Action: {{ $('Генератор сценарного шаблона1').item.json.output.Action }}\n\n- Cluster: {{ $('Генератор сценарного шаблона1').item.json.output.Object }}\n\n- Location: {{ $('Генератор сценарного шаблона1').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария2').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        416,
        256
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "1f6cfe4e-d81c-4c07-abe2-e09e037bc4ad",
      "name": "Генерация промтов3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены чистого взрыва обычного объекта (без инструмента, руки, ножа, кластеров, миниатюр, еды, магии).\n## Контекст: Изображение — обычный объект или предмет фантазийной формы взрывается на столе/поверхности, видны фрагменты и эффект, никакой руки, ножа, мини-объектов и т.п.\n## Задача: Описать промт на английском одной строкой: объект в момент взрыва на столе/поверхности, все фрагменты видны, dramatic lighting, hyper-realistic, никакой магии, рук, инструментов, еды, кластеров.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика взрыва, обычный объект, всё freeze moment.\n## Финальный чек-лист:\n– Промт — одна строка, никаких внешних воздействий, всё про чистый взрыв.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        112,
        608
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "1daec089-9e26-4dad-b294-abe156185d4e",
      "name": "OpenAI Chat Model11",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        112,
        816
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "ee0689b7-5af3-4520-9090-aad6bc02ec65",
      "name": "Генератор сценария3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для чистого взрыва обычного объекта, максимально реалистично и эффектно.\n## Контекст: Видео — 6–8 секунд, камера статична, объект обычный, узнаваемый, или фантазийной формы (но не мини, не cluster), взрыв происходит без внешнего воздействия или инструмента, описывается только реакция фрагментов и звук.\n## Задача: Описать сцену секционно: объект, описание, динамика взрыва, звук, длительность по секциям (start, burst, reaction, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, без воды, физика, звук, визуал.\n## Требования:\n– Язык: Английский.\n– Только реализм, обычный объект, взрыв сам по себе, нет инструментов и миниатюр.\n## Финальный чек-лист:\n– Всё по сцене, шаги по времени, только физика взрыва, никаких сторонних воздействий.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields3').item.json.Scene }}"
      },
      "position": [
        -192,
        608
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "5c4f6fcd-709a-43ba-8a5c-0ebb1c381d37",
      "name": "Анимация видео3",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"ceramic vase\", \"wooden cube\", \"metal sphere\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object undergoing an epic, visually captivating explosion in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a smooth, dark stone or metallic surface.\n* The explosion must appear visually realistic, physically plausible, and dramatically satisfying.\n* The video starts immediately with the explosion action.\n* The object must retain detailed visual characteristics (color, shape, texture, reflective or matte qualities) clearly visible until the explosion occurs.\n* No humans visible or present. The explosion must appear spontaneous or internally triggered.\n* The explosion should include **four distinct ASMR sound layers**:\n\n  1. A sharp, crisp initial crack or snap signaling imminent explosion\n  2. A powerful, resonant burst sound at the exact moment of explosion\n  3. Detailed sounds of fragments rapidly dispersing outward\n  4. Subtle, resonating sounds of fragments landing and settling onto the surface\n* The **initial explosive crack should sound especially crisp and prominent**, highlighting the sudden dramatic event.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the surface material (e.g., granite, polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Explosion Action**: Clearly detail the explosion event—from initial internal crack to full epic fragmentation.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crack of the object's structure\n   * Powerful explosive burst\n   * Clear dispersion sounds of fragments\n   * Gentle settling sounds of fragments landing\n5. **Ambience**: Total silence except for explosion and settling sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] positioned on a dark polished stone or metallic surface.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: The \\[object] suddenly undergoes an epic explosion, shattering dramatically into multiple fragments with visually spectacular realism.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed fragmentation.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial structural crack, (2) resonant, powerful explosion burst, (3) detailed dispersion sounds of fragments flying outward, and (4) subtle resonating settling sounds as fragments land. The initial crack should be especially sharp and prominent, emphasizing the exact start of the explosive event. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments following fragments.\n**Composition**: Centered object clearly visible until the moment of explosion.\n**Ambiance**: Pin-drop silence around the explosive sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the spectacular, satisfying detail of the epic explosion. Visually stunning, physically captivating.\n\nParameters:\n\n- Scene: {{ $('Генератор сценарного шаблона2').item.json.output.Scene }}\n\n- Triggerer: {{ $('Генератор сценарного шаблона2').item.json.output.Character }}\n\n- Action: {{ $('Генератор сценарного шаблона2').item.json.output.Action }}\n\n- Cluster: {{ $('Генератор сценарного шаблона2').item.json.output.Object }}\n\n- Location: {{ $('Генератор сценарного шаблона2').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария3').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        416,
        608
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "bf8b589f-a7d3-4f00-8d1f-5c1e0ccc078d",
      "name": "Генерация промтов4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены чистого взрыва обычного объекта (без инструмента, руки, ножа, кластеров, миниатюр, еды, магии).\n## Контекст: Изображение — обычный объект или предмет фантазийной формы взрывается на столе/поверхности, видны фрагменты и эффект, никакой руки, ножа, мини-объектов и т.п.\n## Задача: Описать промт на английском одной строкой: объект в момент взрыва на столе/поверхности, все фрагменты видны, dramatic lighting, hyper-realistic, никакой магии, рук, инструментов, еды, кластеров.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика взрыва, обычный объект, всё freeze moment.\n## Финальный чек-лист:\n– Промт — одна строка, никаких внешних воздействий, всё про чистый взрыв.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        112,
        976
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "de047530-6562-4f04-a476-5103d30163c7",
      "name": "OpenAI Chat Model12",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        112,
        1168
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "e1103247-4420-4f89-8927-944c7c05d9c5",
      "name": "Генератор сценария4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для чистого взрыва обычного объекта, максимально реалистично и эффектно.\n## Контекст: Видео — 6–8 секунд, камера статична, объект обычный, узнаваемый, или фантазийной формы (но не мини, не cluster), взрыв происходит без внешнего воздействия или инструмента, описывается только реакция фрагментов и звук.\n## Задача: Описать сцену секционно: объект, описание, динамика взрыва, звук, длительность по секциям (start, burst, reaction, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, без воды, физика, звук, визуал.\n## Требования:\n– Язык: Английский.\n– Только реализм, обычный объект, взрыв сам по себе, нет инструментов и миниатюр.\n## Финальный чек-лист:\n– Всё по сцене, шаги по времени, только физика взрыва, никаких сторонних воздействий.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields4').item.json.Scene }}"
      },
      "position": [
        -192,
        976
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "640f38af-9b19-4c27-9f94-703589af00a4",
      "name": "Анимация видео4",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"ceramic vase\", \"wooden cube\", \"metal sphere\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object undergoing an epic, visually captivating explosion in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a smooth, dark stone or metallic surface.\n* The explosion must appear visually realistic, physically plausible, and dramatically satisfying.\n* The video starts immediately with the explosion action.\n* The object must retain detailed visual characteristics (color, shape, texture, reflective or matte qualities) clearly visible until the explosion occurs.\n* No humans visible or present. The explosion must appear spontaneous or internally triggered.\n* The explosion should include **four distinct ASMR sound layers**:\n\n  1. A sharp, crisp initial crack or snap signaling imminent explosion\n  2. A powerful, resonant burst sound at the exact moment of explosion\n  3. Detailed sounds of fragments rapidly dispersing outward\n  4. Subtle, resonating sounds of fragments landing and settling onto the surface\n* The **initial explosive crack should sound especially crisp and prominent**, highlighting the sudden dramatic event.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the surface material (e.g., granite, polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Explosion Action**: Clearly detail the explosion event—from initial internal crack to full epic fragmentation.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crack of the object's structure\n   * Powerful explosive burst\n   * Clear dispersion sounds of fragments\n   * Gentle settling sounds of fragments landing\n5. **Ambience**: Total silence except for explosion and settling sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] positioned on a dark polished stone or metallic surface.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: The \\[object] suddenly undergoes an epic explosion, shattering dramatically into multiple fragments with visually spectacular realism.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed fragmentation.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial structural crack, (2) resonant, powerful explosion burst, (3) detailed dispersion sounds of fragments flying outward, and (4) subtle resonating settling sounds as fragments land. The initial crack should be especially sharp and prominent, emphasizing the exact start of the explosive event. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments following fragments.\n**Composition**: Centered object clearly visible until the moment of explosion.\n**Ambiance**: Pin-drop silence around the explosive sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the spectacular, satisfying detail of the epic explosion. Visually stunning, physically captivating.\n\nParameters:\n\n- Scene: {{ $('Генератор сценарного шаблона3').item.json.output.Scene }}\n\n- Triggerer: {{ $('Генератор сценарного шаблона3').item.json.output.Character }}\n\n- Action: {{ $('Генератор сценарного шаблона3').item.json.output.Action }}\n\n- Cluster: {{ $('Генератор сценарного шаблона3').item.json.output.Object }}\n\n- Location: {{ $('Генератор сценарного шаблона3').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария4').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        416,
        976
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "11c01939-6008-4395-a6c6-dfb0b2de2ccf",
      "name": "Merge",
      "parameters": {
        "numberInputs": 4
      },
      "position": [
        3136,
        400
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "1f3f09d0-1235-4e31-a8e2-ee5d19221bf3",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "jsonBody": "={\n  \"template_id\": \"dd46a8e9-ca16-42bb-bd39-80f834eff50b\",\n  \"modifications\": {\n    \"Back-1.source\": \"{{ $json.links[0] }}\",\n    \"Back-2.source\": \"{{ $json.links[1] }}\",\n    \"Back-3.source\": \"{{ $json.links[2] }}\",\n    \"Back-4.source\": \"{{ $json.links[3] }}\",\n    \"Front-1.source\": \"{{ $json.links[0] }}\",\n    \"Front-2.source\": \"{{ $json.links[1] }}\",\n    \"Front-3.source\": \"{{ $json.links[2] }}\",\n    \"Front-4.source\": \"{{ $json.links[3] }}\",\n    \"Name.text\": \"{{ $json.Names[0] }}\"\n  }\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api.creatomate.com/v1/renders"
      },
      "position": [
        3760,
        432
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "0b9f6a91-6b26-46d8-9ee5-243bcdea50b0",
      "name": "Wait1",
      "parameters": {
        "unit": "minutes"
      },
      "position": [
        3920,
        432
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "5930f4ed-364c-4f4d-b6a6-01526460ca1a"
    },
    {
      "id": "91f97670-9a94-447e-9ee0-b249abefbf5b",
      "name": "Get Final Video",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://api.creatomate.com/v1/renders/{{ $json.id }}"
      },
      "position": [
        4080,
        432
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "5364fbdf-3b41-4a92-a36d-f2b08133e060",
      "name": "HTTP Request8",
      "parameters": {
        "options": {},
        "url": "={{ $json.url }}"
      },
      "position": [
        4240,
        432
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "d6aa37b9-ed9b-42fd-84a0-f252be6450fc",
      "name": "Edit Fields1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -976,
        -80
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "fd0dcc5d-317f-4bc8-8413-988eeab7056c",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -976,
        256
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "1f62a021-71a2-4b2a-a1c7-90d99471f851",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -976,
        608
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b316ad45-c8f6-44df-a89a-2d20f17b03c2",
      "name": "Edit Fields4",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -976,
        976
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "9108a688-c33d-4b2b-adaf-16030c2c5c46",
      "name": "Append or update row in sheet5",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Идея": "={{ $json.modifications['Name.text'] }}",
            "Ссылки": "={{ $('Get Final Video').item.json.url }}",
            "Статус": "Готовый"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12_6FbrRM2G8qgdw982mCSuahpflPBerURmWGLb0cohE/edit?usp=drivesdk",
          "mode": "list",
          "value": "12_6FbrRM2G8qgdw982mCSuahpflPBerURmWGLb0cohE"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        4592,
        208
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "cf4dcd77-2eb7-489f-b7f8-4708f024eae0",
      "name": "Simple Memory1",
      "parameters": {
        "contextWindowLength": 50,
        "sessionIdType": "customKey",
        "sessionKey": "compressitem"
      },
      "position": [
        -1472,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "0689dec0-6b04-468e-a193-306d3f286b7b",
      "name": "Append or update row in sheet1",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit?usp=drivesdk",
          "mode": "list",
          "value": "1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        2864,
        -80
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "b081cdda-2835-40d0-b7e9-1efdc801841b",
      "name": "Append or update row in sheet2",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit?usp=drivesdk",
          "mode": "list",
          "value": "1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        2864,
        256
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "f4774074-a608-4664-b5fd-5c3589b4cf50",
      "name": "Append or update row in sheet3",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit?usp=drivesdk",
          "mode": "list",
          "value": "1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        2880,
        608
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "3b52c747-1f65-4ce8-90d9-7fdc3a8c2de8",
      "name": "Append or update row in sheet4",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit?usp=drivesdk",
          "mode": "list",
          "value": "1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        2880,
        976
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "executeOnce": true,
      "id": "3f26101d-18ac-4656-aeea-48d1c3963c4d",
      "name": "Get row(s) in sheet1",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit?usp=drivesdk",
          "mode": "list",
          "value": "1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio"
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        3280,
        432
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "00aec59f-7735-4c41-bf3d-ee806f40bdc7",
      "name": "Ссылки видео1",
      "parameters": {
        "jsCode": "// Получаем все строки с ссылками\nconst links = items.map(item => item.json.link);\nconst Names = items.map(item => item.json.Name);// Получаем все ссылки из данных\n\n// Возвращаем массив ссылок\nreturn [\n  {\n    json: {\n      links: links,\n      Names: Names\n    }\n  }\n];\n"
      },
      "position": [
        3600,
        432
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "95d22075-5fdc-4366-b0fd-cb626405daab",
      "name": "Edit Fields5",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68a99b2d-bf33-4535-83be-1128ed8bec61",
              "name": "link",
              "type": "string",
              "value": "={{ $json['Футажи'] }}"
            },
            {
              "id": "83aedc92-0f57-4d66-b572-72fde52cb610",
              "name": "Name",
              "type": "string",
              "value": "={{ $('Жанры').item.json.output.title }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3440,
        432
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "ef05140d-08bf-44d6-94fc-ac20e2d57f88",
      "name": "Delete rows or columns from sheet",
      "onError": "continueRegularOutput",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Explosion Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit?usp=drivesdk",
          "mode": "list",
          "value": "1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio"
        },
        "numberToDelete": 50,
        "operation": "delete",
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UMR_vbUV4m1AtB1u3JARJ5utwsMcSliyKrcrRTWmjio/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        4752,
        208
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5
    },
    {
      "id": "cb92c020-1057-419e-bf3c-50213f257565",
      "name": "YT Tags1",
      "parameters": {
        "options": {
          "systemMessage": "=Ты бот который генерирует тэги для youtube отталкиваясь от сценария пользователя"
        },
        "promptType": "define",
        "text": "=Now comes the actual topic/transcript. Give me the Youtube tags for it: {{ $('Генерация промтов1').last().json.output }}\n\n"
      },
      "position": [
        3440,
        640
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "0086a130-8e1b-45ac-996d-962c85c06db0",
      "name": "Generate Title1",
      "notes": "Request to OpenAi for generate description with the audio extracted from the video",
      "notesInFlow": true,
      "parameters": {
        "messages": {
          "values": [
            {
              "content": "You are an expert assistant in creating engaging social media video titles.",
              "role": "system"
            },
            {
              "content": "=На основе текста напиши кликбейт название шортса на Английском языке для 30 секудного видео, но не нарушая правила: {{ $('Генератор сценария1').last().json.output }}"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        3760,
        640
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "waitBetweenTries": 5000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "4d3e0149-9889-4258-aea8-efb0491065a9",
      "name": "Upload file1",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/1wi8UguJFAy73RkcGgbbocE9114Owvck_"
        },
        "options": {}
      },
      "position": [
        3280,
        640
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "3a61a692-dc6b-45f8-94ac-9cc0c3dfa0c3",
      "name": "Search files and folders1",
      "parameters": {
        "filter": {
          "driveId": {
            "__rl": true,
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "url",
            "value": "https://drive.google.com/drive/folders/1wi8UguJFAy73RkcGgbbocE9114Owvck_"
          }
        },
        "limit": 1,
        "options": {
          "fields": [
            "webViewLink"
          ]
        },
        "resource": "fileFolder"
      },
      "position": [
        4080,
        640
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "540ee54e-7638-4584-9c54-069077b78bf0",
      "name": "Download file1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.webViewLink }}"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        4240,
        640
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "ea0cb0c0-9883-4c0f-9640-78b97150a4c5",
      "name": "OpenAI Chat Model13",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2576,
        640
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "b3ddd5d5-019a-462c-8aa1-5ab05becac9d",
      "name": "OpenAI Chat Model14",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4o",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        3440,
        800
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "c11e5ae9-6638-4d72-b1f4-2e9ca506ca1c",
      "name": "Schedule Trigger1",
      "parameters": {
        "rule": {
          "interval": [
            {
              "expression": "0 14 * * *",
              "field": "cronExpression"
            }
          ]
        }
      },
      "position": [
        -2768,
        432
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "7bef9e3b-be86-4534-bfce-2e5b36047630",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -1264,
        448
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "ebae1c55-2217-4b04-a1a6-883fe5afbe29",
      "name": "Wait2",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        2896,
        1424
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "2fadfa46-7d63-4902-b169-4a5f64bf60ff",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        2896,
        1296
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "1a3dbed9-bd90-406f-ab3a-5dbcbf938f2b",
      "name": "Wait3",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        3104,
        1424
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "ad173cbe-8ba5-470c-83ac-4bc04b54ec82",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        3104,
        1296
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "b4874892-cee3-4d7e-9a1e-3eb458e6e195",
      "name": "Wait4",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        2896,
        1728
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "8251e663-47cb-42ad-a856-f63254ef15df",
      "name": "Loop Over Items8",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        2896,
        1600
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "83bab36a-b751-458b-b042-ab975ce30968",
      "name": "Wait5",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        3104,
        1728
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "f61cab9c-36ce-4716-aa2e-fc26a455265d",
      "name": "Loop Over Items17",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        3104,
        1600
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "924e702f-2b5c-4b53-bccb-4bfd5e87fc9a",
      "name": "Wait6",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1904,
        688
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82555773-06bc-4447-a550-56a22e26d6b2"
    },
    {
      "credentials": {
        "uploadPostApi": {
          "id": "2YLbM7GkHfpuNAfs",
          "name": "Upload Post account"
        }
      },
      "id": "7170416b-fba2-4fe5-ad04-287a60564971",
      "name": "Upload Post",
      "parameters": {
        "operation": "uploadVideo",
        "platform": [
          "tiktok"
        ],
        "tiktokIsAigc": true,
        "title": "={{ $('Generate Title1').item.json.message.content }} Creativity, fun, and fresh moments every day.  Follow us on: YouTube: https://www.youtube.com/@boommling TikTok: https://www.tiktok.com/@kyrawelsh744 Instagram: https://www.instagram.com/boommling",
        "user": "ASMRBoom",
        "video": "data"
      },
      "position": [
        4592,
        432
      ],
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1
    },
    {
      "id": "f23a07a9-36b1-4f73-8a4d-e6e3951c1016",
      "name": "Status Kling AI1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        1904,
        -80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "68bafc58-ae6c-48dd-9ab9-37d005012b7a",
      "name": "Kling AI1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana1').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        1616,
        -80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "0d95a6be-4ba2-4b48-95e6-6b390afcfb99",
      "name": "Wait12",
      "parameters": {
        "amount": 60
      },
      "position": [
        1760,
        -80
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "9412062b-2466-4e9c-9fc3-366b29f32cb9",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2048,
        -80
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "727f22cd-275f-4d85-a1ce-3a4bccaf6727",
      "name": "take video",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        2192,
        -80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a51b0fd4-24cb-4059-9049-2d0e546cf863",
      "maxTries": 5,
      "name": "Nano-banana1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        896,
        -80
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "02122354-7d4b-4dfe-b2d9-b1e8cfd327a4",
      "name": "Convert to img1",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        1328,
        -80
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "fe933302-8cb0-479d-b688-a54a2a97cd7b",
      "name": "Upload file",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        1472,
        -80
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "c9adaa35-c3f8-4eb6-a79b-54074e44ec95",
      "name": "Ready?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1136,
        -80
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "4f39dc36-d11a-4bfd-82a2-046b7517d5c0",
      "name": "Status Kling AI",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        1888,
        256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "9769f586-9922-4f5c-9dfb-95b4db2d1d07",
      "name": "Kling AI",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        1600,
        256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "c3d27440-8235-4f7b-a6e9-d25b4f0e3094",
      "name": "Wait",
      "parameters": {
        "amount": 60
      },
      "position": [
        1744,
        256
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "88c595e3-a286-4600-8c2c-b2a3a1734134",
      "name": "If6",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2032,
        256
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "10f371fc-b879-4603-aa18-bc7f2f808fed",
      "name": "take video1",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        2176,
        256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "fb00fcf2-e0fc-4e19-969c-c0a9b7f20e30",
      "maxTries": 5,
      "name": "Nano-banana",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        880,
        256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "f6d248c1-0b7b-46c8-a0eb-9e972767d632",
      "name": "Convert to img",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        1312,
        256
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "8a35ec8b-bf01-4606-bb6d-0d15d19dc3d3",
      "name": "Upload file2",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        1456,
        256
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "c59b33a4-1e85-4907-8e1c-028dc782d473",
      "name": "Ready?1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1120,
        256
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "c7d85c80-5122-4451-a641-1294da176b33",
      "name": "Status Kling AI2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        1888,
        608
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "5eb450b2-8227-478c-95ec-05ef18c4f71c",
      "name": "Kling AI2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana2').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        1600,
        608
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "7fd15710-fb9e-4dc3-9707-93aedf96fba5",
      "name": "Wait13",
      "parameters": {
        "amount": 60
      },
      "position": [
        1744,
        608
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "786fcfce-b7c5-403c-80bb-fecd0b05fb4d",
      "name": "If7",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2032,
        608
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "183feb7f-9e59-46d3-9577-b2f234986de4",
      "name": "take video2",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        2176,
        608
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "46680a74-cb12-4e7a-8686-45f81ede688e",
      "maxTries": 5,
      "name": "Nano-banana2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        880,
        608
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "56fc0262-256f-46c2-b6e8-293a89d26b95",
      "name": "Convert to img2",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        1312,
        608
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "d162a285-e14f-47a8-bf64-c044fe33e0be",
      "name": "Upload file3",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        1456,
        608
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "7f51e951-4780-49a3-adcb-46c0fc3adb0e",
      "name": "Ready?2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1120,
        608
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "0d281617-d287-42ef-a144-047dc9c8a3cb",
      "name": "Status Kling AI3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        1888,
        976
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f0520917-0aae-4100-94f5-14b8730fa3f3",
      "name": "Kling AI3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana3').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        1600,
        976
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "2b627c61-3de7-4737-99c2-3de81631f764",
      "name": "Wait14",
      "parameters": {
        "amount": 60
      },
      "position": [
        1744,
        976
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "d058ea80-06bd-4e49-acbb-f6c54949893a",
      "name": "If8",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2032,
        976
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "b2de61d7-5535-4603-81e7-0b7a1979bc7d",
      "name": "take video3",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        2176,
        976
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "afde9919-c482-4c00-8f3e-84786338e08e",
      "maxTries": 5,
      "name": "Nano-banana3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        880,
        976
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "1a240d65-af74-4228-8df5-5f4a4d29da0d",
      "name": "Convert to img3",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        1312,
        976
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "e87f3bd5-9bca-4bd5-a12e-2409e3355fda",
      "name": "Upload file4",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        1456,
        976
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "eb6dfe90-109b-4bef-98fd-1f7bb6bd5b7c",
      "name": "Ready?3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1120,
        976
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-23T07:45:23.756Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-23T07:45:23.756Z",
      "workflowId": "iHJnRGm5BIsWgOA0"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-23T06:11:42.348Z",
      "id": "NtJ9sBFxQjddtkfX",
      "name": "AI",
      "updatedAt": "2025-07-23T06:11:42.348Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-12T11:59:48.000Z",
  "versionId": "09f12660-0144-4895-a7eb-721d6fac63a3"
}