folder/CEO_ASMR Tost Jem (Vladislav Saveliev)_v.1_v.1_v.1.json
{
  "active": true,
  "connections": {
    "Append or update row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait10",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items17",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items8",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete rows or columns from sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo4",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo5",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo6",
            "type": "main"
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Loop Over Items18",
            "type": "main"
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Post",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям2",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям3",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ссылки видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Title1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search files and folders1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request8",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Get prompt for YT Tags1": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Анимация видео1": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Анимация видео2": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Анимация видео3": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Анимация видео4": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценария1": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценария2": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценария3": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценария4": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценарного шаблона": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценарного шаблона1": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценарного шаблона2": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генератор сценарного шаблона3": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генерация промтов1": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генерация промтов2": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генерация промтов3": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Генерация промтов4": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for Жанры": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If2",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields5",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Append or update row in sheet5",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items10": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items11": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items12": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items13": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items14": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items15": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items16": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo6",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items17": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items18": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items9": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Structured Output Parser2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download file1",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items10",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items9",
            "type": "main"
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items14",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items11",
            "type": "main"
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items15",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items12",
            "type": "main"
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items16",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items13",
            "type": "main"
          }
        ]
      ]
    },
    "Upload Video and Description to Instagram": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait8",
            "type": "main"
          }
        ]
      ]
    },
    "Upload Video and Description to Instagram1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait9",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet5",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo": {
      "main": [
        [
          {
            "index": 0,
            "node": "status",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo4": {
      "main": [
        [
          {
            "index": 0,
            "node": "status1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo5": {
      "main": [
        [
          {
            "index": 0,
            "node": "status2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo6": {
      "main": [
        [
          {
            "index": 0,
            "node": "status3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Final Video",
            "type": "main"
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete rows or columns from sheet",
            "type": "main"
          }
        ]
      ]
    },
    "YT Tags1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Title1",
            "type": "main"
          }
        ]
      ]
    },
    "status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    },
    "status1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch1",
            "type": "main"
          }
        ]
      ]
    },
    "status2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch2",
            "type": "main"
          }
        ]
      ]
    },
    "status3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch3",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video1",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video2",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video3",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "main"
          }
        ]
      ]
    },
    "Жанры": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If3",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If4",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If5",
            "type": "main"
          }
        ]
      ]
    },
    "Ссылки видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T07:42:04.315Z",
  "id": "j30X6rt1TVgAgo8R",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CEO_ASMR Tost Jem (Vladislav Saveliev)_v.1_v.1_v.1",
  "nodes": [
    {
      "id": "3655d0eb-833a-4118-bbb5-302475491f80",
      "name": "Upload Video and Description to Instagram",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRTost"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "caption",
              "value": "Bright ideas, good vibes, and daily inspiration.\n\nFind us on:\nYouTube: https://www.youtube.com/@Smushlight\nTikTok: https://www.tiktok.com/@smusshlight\nInstagram: https://www.instagram.com/smusshlight/\n"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        64,
        592
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "442756d6-c1ba-4934-ad77-535802f18f5d",
      "name": "Upload Video and Description to Instagram1",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRTost"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "tags",
              "value": "={{ $('YT Tags1').item.json.output }}"
            },
            {
              "name": "madeForKids",
              "value": "false"
            },
            {
              "name": "privacyStatus",
              "value": "public"
            },
            {
              "name": "description",
              "value": "Bright ideas, good vibes, and daily inspiration.\n\nFind us on:\nYouTube: https://www.youtube.com/@Smushlight\nTikTok: https://www.tiktok.com/@smusshlight\nInstagram: https://www.instagram.com/smusshlight/\n"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        64,
        800
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "8c6c2053-2a00-4b85-a661-90e73846b2ac",
      "name": "Chat Memory Manager",
      "parameters": {
        "deleteMode": "all",
        "mode": "delete"
      },
      "position": [
        -5088,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1
    },
    {
      "id": "ac4d3ef0-f3ec-40f6-8a38-ef6fe7ac7e2e",
      "name": "Structured Output Parser2",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -4496,
        64
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "e5d77d00-3b12-428f-9bc0-ef5037e48ce5",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n    \"title\": \"Название\"\n}"
      },
      "position": [
        -5728,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "5f0d3c04-a868-45d0-ac8e-ee14a89b3fd0",
      "name": "Simple Memory2",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -5808,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "7c0c9011-8e4b-47e3-8a9f-38f028159473",
      "name": "OpenAI Chat Model6",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4576,
        64
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "26a2b113-6034-4e30-9bc4-b1f509f07af5",
      "name": "Simple Memory",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -5088,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "b0981132-0c49-404b-907d-aadfc48f9c29",
      "name": "Генератор сценарного шаблона",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -4576,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "08eece2f-d38d-4d0a-aa6f-611e804bc677",
      "name": "Жанры",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -5888,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5b24d4f7-b336-4373-a5a8-10052134bf12",
      "name": "Проверка по критериям",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4128,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "98f82685-bd9b-47fa-a290-4cb035dd4f52",
      "maxTries": 5,
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3824,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "b5b68a9d-410f-41fa-9dc4-0430d4852f5b",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -3664,
        -128
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "942a444a-3248-4e3b-a489-431dfc97cab9",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E/edit?usp=drivesdk",
          "mode": "list",
          "value": "1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Идея",
              "lookupValue": "={{ $json.output.title }}"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -5584,
        384
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "ba604650-9ec8-488c-972d-616484cbed18",
      "name": "If2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "912e5ad3-6e48-4519-ae35-9e476ffba150",
              "leftValue": "={{ $json['Идея'] }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": "={{ $json['Идея'] }}"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {
          "ignoreCase": false
        }
      },
      "position": [
        -5424,
        384
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "2c250638-7967-46a3-9e1f-535d3b02d0da",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -5424,
        528
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "339bd645-4f9a-402f-afbe-5920fe977b31",
      "name": "Append or update row in sheet",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "removed": true,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "ЖАНР": "Фильм",
            "Идея": "={{ $('Жанры').item.json.output.title }}",
            "Статус": "Взят"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E/edit?usp=drivesdk",
          "mode": "list",
          "value": "1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -5264,
        384
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "9fbbdd45-c1d5-440b-a6eb-98a4cb4f934c",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -4480,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "9e6aef8e-78b8-4f4f-ae96-0f1fae5bd2f9",
      "name": "Генератор сценарного шаблона1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -4576,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "42d0541a-c1a0-40fa-bdcf-7055f6b3eeca",
      "name": "Проверка по критериям1",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4128,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "7e95bbb5-790e-48ce-a6fc-15d4ce571de9",
      "maxTries": 5,
      "name": "If3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3824,
        208
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "e4514cc6-d884-49a8-9917-855d3a851207",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -3664,
        208
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "af1dcad1-28ce-450c-a4cf-ae1c5527dcc0",
      "name": "Structured Output Parser3",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -4496,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "adf73b35-0db4-46de-b33e-95976ef650ee",
      "name": "OpenAI Chat Model7",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4576,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "9798ca71-c7dd-46d7-8f3c-eb63b4a1afdc",
      "name": "Генератор сценарного шаблона2",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -4576,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5e25331d-a31c-43d8-a3b3-1374b02cf706",
      "name": "Проверка по критериям2",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4128,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "874c078f-13b1-4c21-936e-2ab9c5094985",
      "maxTries": 5,
      "name": "If4",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3824,
        560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "e770d182-b3bc-4c80-aa46-37531e3df77d",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -3664,
        560
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "439d2df0-8ed3-4207-8f55-df4b3cc1eec7",
      "name": "Structured Output Parser4",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -4496,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "b77aabcd-9c59-4b41-82da-5dc157a67cba",
      "name": "OpenAI Chat Model8",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4576,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "52a1cefe-5ae7-4b85-88ae-67535f98b9a7",
      "name": "Генератор сценарного шаблона3",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -4576,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "4d1267f2-56cf-456d-a379-b3106be716ab",
      "name": "Проверка по критериям3",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -4128,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "5876f37f-42b6-4f8c-8cb3-05491c41c23c",
      "maxTries": 5,
      "name": "If5",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3824,
        928
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "f381d4f9-d408-491f-8e7d-1fde039b6a20",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -3664,
        928
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "a0303365-05d8-4c67-bc76-2ee334ef58ba",
      "name": "Генерация промтов1",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3200,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "34229bd2-34fe-4b4d-89d9-c07d665d61ca",
      "name": "OpenAI Chat Model9",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3200,
        64
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "33baeb57-3110-4368-94a4-a8efef9817b1",
      "name": "Генератор сценария1",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3504,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "1050001a-45e5-4fda-99e5-b5a4f24fa725",
      "name": "Анимация видео1",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -2896,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "4367a6cb-4329-4635-8a27-8836d2a4eea2",
      "name": "Генерация промтов2",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3200,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5629f8e4-7b57-404a-b662-72b7ec80c395",
      "name": "OpenAI Chat Model10",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3200,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "2b3e4e54-a046-4bb3-b99d-727a5c3413d5",
      "name": "Генератор сценария2",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3504,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "0b61426e-11c5-4372-b047-189125803485",
      "name": "Анимация видео2",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -2896,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "bf1f6ea4-ced4-49e1-87ef-588cf81fa021",
      "name": "Генерация промтов3",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3200,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "9cf6e1df-40d9-4253-9344-434fbe1b38f8",
      "name": "OpenAI Chat Model11",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3200,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "85c2c7ed-7db8-41c6-880a-4e51bc9d26b4",
      "name": "Генератор сценария3",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3504,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "61dff4b0-6e33-4b0c-ad11-140a0302dce5",
      "name": "Анимация видео3",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -2896,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "0671a399-7d4e-4764-812d-39b626129731",
      "name": "Генерация промтов4",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3200,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "9adb87f0-2405-41f5-a9e7-81604494499f",
      "name": "OpenAI Chat Model12",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3200,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "bdc87a34-8a57-4ef4-9e00-74bb6087f8fb",
      "name": "Генератор сценария4",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -3504,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "337ee0f9-93aa-4207-9e04-4293d51759f9",
      "name": "Анимация видео4",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -2896,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "ed82eb1f-3554-4870-9bc5-28e542f69f64",
      "name": "Create Video1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -2608,
        -128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "ac6e3260-13c4-432f-bb57-92379ee4c61d",
      "name": "Get Video1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status').item.json.request_id }}"
      },
      "position": [
        -2032,
        -128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "6240ba5f-7c00-429d-bd04-4858f2858174",
      "name": "Wait for Veo",
      "parameters": {
        "amount": 60
      },
      "position": [
        -2464,
        -128
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "8c655845-eaa2-441c-8c71-99975e46bd82",
      "name": "Create Video2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -2608,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "ad7ab6ca-d46f-4b1d-82d5-c640430c0b93",
      "name": "Get Video2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status1').item.json.request_id }}"
      },
      "position": [
        -2032,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f8f61328-b881-4520-8e80-413a39c3395f",
      "name": "Wait for Veo4",
      "parameters": {
        "amount": 60
      },
      "position": [
        -2448,
        208
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "d2bf38ff-84ee-4ad4-8232-2df13fefe550",
      "name": "Create Video3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -2608,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "90ef6123-d557-4576-99f8-e2c4eea9d4de",
      "name": "Wait for Veo5",
      "parameters": {
        "amount": "=60"
      },
      "position": [
        -2448,
        560
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "f2b5a0e9-dc83-48a6-86ad-44bebaaf3ce4",
      "name": "Create Video4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -2608,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "24bfea18-2f85-4cc6-8b99-088c27b75853",
      "name": "Wait for Veo6",
      "parameters": {
        "amount": 60
      },
      "position": [
        -2448,
        928
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a7bf329e-b1ca-4f59-b954-d57e551210f6"
    },
    {
      "id": "f7c534f2-80d1-4d4d-be6c-caee018eb0ed",
      "name": "Merge",
      "parameters": {
        "numberInputs": 4
      },
      "position": [
        -1552,
        352
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "bccdc33b-c29a-4c65-b139-5f44858d52f5",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "jsonBody": "={\n  \"template_id\": \"dd46a8e9-ca16-42bb-bd39-80f834eff50b\",\n  \"modifications\": {\n    \"Back-1.source\": \"{{ $json.links[0] }}\",\n    \"Back-2.source\": \"{{ $json.links[1] }}\",\n    \"Back-3.source\": \"{{ $json.links[2] }}\",\n    \"Back-4.source\": \"{{ $json.links[3] }}\",\n    \"Front-1.source\": \"{{ $json.links[0] }}\",\n    \"Front-2.source\": \"{{ $json.links[1] }}\",\n    \"Front-3.source\": \"{{ $json.links[2] }}\",\n    \"Front-4.source\": \"{{ $json.links[3] }}\",\n    \"Name.text\": \"{{ $json.Names[0] }}\"\n  }\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api.creatomate.com/v1/renders"
      },
      "position": [
        -928,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "8bb3bb09-8ce4-4f58-9637-687b35bb7474",
      "name": "Wait1",
      "parameters": {
        "amount": 8,
        "unit": "minutes"
      },
      "position": [
        -768,
        384
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "5930f4ed-364c-4f4d-b6a6-01526460ca1a"
    },
    {
      "id": "cc9d330e-ebad-4ddb-931f-a840b0937441",
      "name": "Get Final Video",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://api.creatomate.com/v1/renders/{{ $json.id }}"
      },
      "position": [
        -608,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "84db0ed3-4972-4010-ba87-150783298bf8",
      "name": "HTTP Request8",
      "parameters": {
        "options": {},
        "url": "={{ $json.url }}"
      },
      "position": [
        -448,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "d80c627e-8dd5-4df7-b1d7-0f2190254c40",
      "name": "Edit Fields1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -4288,
        -128
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b9993819-d0a7-4168-9e73-3c08d66e408d",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -4288,
        208
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "60d6893d-ea27-4d6d-af15-e3417e2e2c71",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -4288,
        560
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "472e2c1e-1e51-49ee-80e0-5957bb4d0db4",
      "name": "Edit Fields4",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -4288,
        928
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "28e22cf9-2f57-43aa-a4e9-a65c73bb44a0",
      "name": "Append or update row in sheet5",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Идея": "={{ $json.modifications['Name.text'] }}",
            "Ссылки": "={{ $('Get Final Video').item.json.url }}",
            "Статус": "Готовый"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E/edit?usp=drivesdk",
          "mode": "list",
          "value": "1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -96,
        160
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "3c5b528a-2d34-454b-b46d-610fe16945ef",
      "name": "Loop Over Items9",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2032,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "66a645f3-1d7b-46ec-9bad-e94e3b97eae3",
      "name": "Simple Memory1",
      "parameters": {
        "contextWindowLength": 50,
        "sessionIdType": "customKey",
        "sessionKey": "compressitem"
      },
      "position": [
        -4784,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "cb5a0967-8096-4dd5-84b7-1d03f56b7d99",
      "name": "Switch",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -2176,
        -128
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "04e90d9d-6ed5-47f5-8029-1e8abf4d9e44",
      "name": "Loop Over Items10",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2176,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "8e77c275-5609-4da1-8afd-7efb3b0bfb20",
      "name": "status",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -2320,
        -128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "9b0f477d-2021-4f2a-93cc-f34767ef7373",
      "name": "Loop Over Items11",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2032,
        336
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "7580ff42-02b8-4a34-b159-32672554dacf",
      "name": "Switch1",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -2176,
        208
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "ab115b3a-2ca0-40f0-a304-ad77e7e90f09",
      "name": "Loop Over Items14",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2176,
        336
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "4fa1fa81-22c1-4027-9874-1479dd058108",
      "name": "status1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -2304,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f0952587-0f59-4995-a3a4-9ac4f90b2e19",
      "name": "Get Video3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status2').item.json.request_id }}"
      },
      "position": [
        -2032,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "587adaad-3744-43e6-80f2-d2e0e2175af4",
      "name": "Loop Over Items12",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2032,
        688
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "46c1f492-b495-4ecc-8be7-3e586c30da13",
      "name": "Switch2",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -2176,
        560
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "5dc82ff6-10c0-4219-9be1-b874c4909c56",
      "name": "Loop Over Items15",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2176,
        688
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "27ac2182-a759-4651-843b-4b7a4ccf6e69",
      "name": "status2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -2304,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "eaed829a-db9f-4215-9f97-728f355423fd",
      "name": "Get Video4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status3').item.json.request_id }}"
      },
      "position": [
        -2032,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "19a42cce-a355-44ad-b258-8b124bae897c",
      "name": "Loop Over Items13",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2032,
        1056
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "699bd566-4063-4fd7-aa7a-b531016a28e5",
      "name": "Switch3",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -2176,
        928
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "7d560e7b-0998-486f-9d49-3d69df3fc1bc",
      "name": "Loop Over Items16",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2176,
        1056
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "ccee936c-c10e-46d8-a374-8221a8ae38d9",
      "name": "status3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -2304,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "bddabbd7-b322-4781-9e32-b3efea8d33af",
      "name": "Append or update row in sheet1",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1824,
        -128
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "bb85a906-2a79-40c8-a128-1e78d6470a26",
      "name": "Append or update row in sheet2",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1824,
        208
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "fd6aae33-3127-44e6-89c6-6628eb18a1a7",
      "name": "Append or update row in sheet3",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1808,
        560
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "c52d2955-f996-4e2b-895e-23fec5d8eafa",
      "name": "Append or update row in sheet4",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1808,
        928
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "executeOnce": true,
      "id": "1f58f70b-6f58-4dc4-a4cc-70c1a5057447",
      "name": "Get row(s) in sheet1",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1408,
        384
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "9d47aa3d-76b4-4c32-84a9-27e7b86bf9b9",
      "name": "Ссылки видео1",
      "parameters": {
        "jsCode": "// Получаем все строки с ссылками\nconst links = items.map(item => item.json.link);\nconst Names = items.map(item => item.json.Name);// Получаем все ссылки из данных\n\n// Возвращаем массив ссылок\nreturn [\n  {\n    json: {\n      links: links,\n      Names: Names\n    }\n  }\n];\n"
      },
      "position": [
        -1088,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2d4791cb-3492-412c-8443-588d0b235f9c",
      "name": "Edit Fields5",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68a99b2d-bf33-4535-83be-1128ed8bec61",
              "name": "link",
              "type": "string",
              "value": "={{ $json['Футажи'] }}"
            },
            {
              "id": "83aedc92-0f57-4d66-b572-72fde52cb610",
              "name": "Name",
              "type": "string",
              "value": "={{ $('Жанры').item.json.output.title }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1248,
        384
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "adf80475-51c6-402b-b26c-f5effab894a5",
      "name": "Delete rows or columns from sheet",
      "onError": "continueErrorOutput",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "numberToDelete": 10,
        "operation": "delete",
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        64,
        160
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5
    },
    {
      "id": "3684e89b-031d-488a-93eb-45af46d206f7",
      "name": "YT Tags1",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -1248,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "f90defac-f145-48f9-abf6-43fe11dac578",
      "name": "Generate Title1",
      "notes": "Request to OpenAi for generate description with the audio extracted from the video",
      "notesInFlow": true,
      "parameters": {
        "messages": {
          "values": [
            {
              "content": "You are an expert assistant in creating engaging social media video titles.",
              "role": "system"
            },
            {
              "content": "=На основе текста напиши кликбейт название шортса на Английском языке для 30 секудного видео, но не нарушая правила: {{ $('Генератор сценария1').last().json.output }}"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -928,
        592
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "waitBetweenTries": 5000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "dd298dff-0d18-4ac7-ac03-9ae560c7645a",
      "name": "Upload file1",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/12OQOqfxqhl4nFP70fOpDy5vqzsk1yWTW"
        },
        "options": {}
      },
      "position": [
        -1408,
        592
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "289fbe84-664f-45ab-91de-b557ed163da8",
      "name": "Search files and folders1",
      "parameters": {
        "filter": {
          "driveId": {
            "__rl": true,
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "url",
            "value": "https://drive.google.com/drive/folders/12OQOqfxqhl4nFP70fOpDy5vqzsk1yWTW"
          }
        },
        "limit": 1,
        "options": {
          "fields": [
            "webViewLink"
          ]
        },
        "resource": "fileFolder"
      },
      "position": [
        -608,
        592
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "4881b4b8-6883-4fa0-a4de-2a9941e44198",
      "name": "Download file1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.webViewLink }}"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        -448,
        592
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "f9e1cd33-63f8-4f9f-897c-1f1e8792356e",
      "name": "OpenAI Chat Model13",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5888,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "ca4c8c02-17f1-4f96-b82a-792c59c0e975",
      "name": "OpenAI Chat Model14",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4o",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -1248,
        752
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "5c9efea3-e200-43aa-8a2f-50c2f9fa7863",
      "name": "Schedule Trigger1",
      "parameters": {
        "rule": {
          "interval": [
            {
              "expression": "0 15 * * *",
              "field": "cronExpression"
            }
          ]
        }
      },
      "position": [
        -6080,
        384
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "e942488c-ad3e-441e-b719-1b356cd84d29",
      "name": "OpenAI Chat Model4",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4576,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "f264c229-051e-4910-9a10-16d8c76e131a",
      "name": "Wait2",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1696,
        1312
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "e34f9282-dfb5-4f9b-abba-1c214fcdf0aa",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1696,
        1184
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "8032bfc9-6f36-43be-adb3-2d82ca52b17c",
      "name": "Wait3",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1488,
        1312
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "12fc0fa6-f28a-4058-854d-606bc44ce053",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1488,
        1184
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "86355bd9-c3d6-4805-a338-8c0ebbaa33d6",
      "name": "Wait4",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1696,
        1616
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "dd5e8cd8-19c9-4993-b8ed-82ecab47160b",
      "name": "Loop Over Items8",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1696,
        1488
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "0a55cfa9-d4d0-47ce-8a7f-e17bf2a0f229",
      "name": "Wait5",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1488,
        1616
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "26590f82-b878-4b19-a9f6-493474e0d6ef",
      "name": "Loop Over Items17",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1488,
        1488
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "39a0a405-fc4f-477e-a66d-9f7a45f35877",
      "name": "Wait",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -128,
        -16
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "22c479e5-6bee-440a-9814-6b253985733e",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -128,
        -144
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "59d78d57-943e-4ae2-bab0-483c1e3853a4",
      "name": "Wait6",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        80,
        -16
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "fad4ba99-078c-4f1c-bf46-4175cd72eed5",
      "name": "Loop Over Items18",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        80,
        -144
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "8b29430e-d17b-487f-b329-0baca5feeda5",
      "name": "Wait8",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        320,
        576
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a33d101c-a4c1-4992-a1db-536eea6dd5da"
    },
    {
      "id": "03f40643-fcf3-4167-95bd-6098f1eba6f3",
      "name": "Wait9",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        320,
        784
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a33d101c-a4c1-4992-a1db-536eea6dd5da"
    },
    {
      "id": "38205940-d31b-42fa-a62f-26a4e2a81823",
      "name": "Wait10",
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "position": [
        -5072,
        752
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "5d040034-9fab-4447-90eb-9835c5463ff4"
    },
    {
      "credentials": {
        "uploadPostApi": {
          "id": "2YLbM7GkHfpuNAfs",
          "name": "Upload Post account"
        }
      },
      "id": "f1e5e4d0-dc88-4971-8eb3-4f72e873edcb",
      "name": "Upload Post",
      "parameters": {
        "operation": "uploadVideo",
        "platform": [
          "tiktok"
        ],
        "tiktokIsAigc": true,
        "title": "={{ $('Generate Title1').item.json.message.content }} Bright ideas, good vibes, and daily inspiration.  Find us on: YouTube: https://www.youtube.com/@Smushlight TikTok: https://www.tiktok.com/@smusshlight Instagram: https://www.instagram.com/smusshlight/",
        "user": "ASMRTost",
        "video": "data"
      },
      "position": [
        64,
        384
      ],
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-b0981132-0c49-404b-907d-aadfc48f9c29",
      "name": "Get prompt for Генератор сценарного шаблона",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "b0981132-0c49-404b-907d-aadfc48f9c29"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -4416,
        -128
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-08eece2f-d38d-4d0a-aa6f-611e804bc677",
      "name": "Get prompt for Жанры",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "08eece2f-d38d-4d0a-aa6f-611e804bc677"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -5728,
        384
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-9e6aef8e-78b8-4f4f-ae96-0f1fae5bd2f9",
      "name": "Get prompt for Генератор сценарного шаблона1",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "9e6aef8e-78b8-4f4f-ae96-0f1fae5bd2f9"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -4416,
        208
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-9798ca71-c7dd-46d7-8f3c-eb63b4a1afdc",
      "name": "Get prompt for Генератор сценарного шаблона2",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "9798ca71-c7dd-46d7-8f3c-eb63b4a1afdc"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -4416,
        560
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-52a1cefe-5ae7-4b85-88ae-67535f98b9a7",
      "name": "Get prompt for Генератор сценарного шаблона3",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "52a1cefe-5ae7-4b85-88ae-67535f98b9a7"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -4416,
        928
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-a0303365-05d8-4c67-bc76-2ee334ef58ba",
      "name": "Get prompt for Генерация промтов1",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "a0303365-05d8-4c67-bc76-2ee334ef58ba"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3040,
        -128
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-33baeb57-3110-4368-94a4-a8efef9817b1",
      "name": "Get prompt for Генератор сценария1",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "33baeb57-3110-4368-94a4-a8efef9817b1"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3344,
        -128
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-1050001a-45e5-4fda-99e5-b5a4f24fa725",
      "name": "Get prompt for Анимация видео1",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "1050001a-45e5-4fda-99e5-b5a4f24fa725"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -2736,
        -128
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-4367a6cb-4329-4635-8a27-8836d2a4eea2",
      "name": "Get prompt for Генерация промтов2",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "4367a6cb-4329-4635-8a27-8836d2a4eea2"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3040,
        208
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-2b3e4e54-a046-4bb3-b99d-727a5c3413d5",
      "name": "Get prompt for Генератор сценария2",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "2b3e4e54-a046-4bb3-b99d-727a5c3413d5"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3344,
        208
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-0b61426e-11c5-4372-b047-189125803485",
      "name": "Get prompt for Анимация видео2",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "0b61426e-11c5-4372-b047-189125803485"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -2736,
        208
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-bf1f6ea4-ced4-49e1-87ef-588cf81fa021",
      "name": "Get prompt for Генерация промтов3",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "bf1f6ea4-ced4-49e1-87ef-588cf81fa021"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3040,
        560
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-85c2c7ed-7db8-41c6-880a-4e51bc9d26b4",
      "name": "Get prompt for Генератор сценария3",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "85c2c7ed-7db8-41c6-880a-4e51bc9d26b4"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3344,
        560
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-61dff4b0-6e33-4b0c-ad11-140a0302dce5",
      "name": "Get prompt for Анимация видео3",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "61dff4b0-6e33-4b0c-ad11-140a0302dce5"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -2736,
        560
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-0671a399-7d4e-4764-812d-39b626129731",
      "name": "Get prompt for Генерация промтов4",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "0671a399-7d4e-4764-812d-39b626129731"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3040,
        928
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-bdc87a34-8a57-4ef4-9e00-74bb6087f8fb",
      "name": "Get prompt for Генератор сценария4",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "bdc87a34-8a57-4ef4-9e00-74bb6087f8fb"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -3344,
        928
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-337ee0f9-93aa-4207-9e04-4293d51759f9",
      "name": "Get prompt for Анимация видео4",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "337ee0f9-93aa-4207-9e04-4293d51759f9"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -2736,
        928
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-3684e89b-031d-488a-93eb-45af46d206f7",
      "name": "Get prompt for YT Tags1",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "3684e89b-031d-488a-93eb-45af46d206f7"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -1088,
        592
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-23T07:42:04.320Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-23T07:42:04.320Z",
      "workflowId": "j30X6rt1TVgAgo8R"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-23T06:11:42.348Z",
      "id": "NtJ9sBFxQjddtkfX",
      "name": "AI",
      "updatedAt": "2025-07-23T06:11:42.348Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T22:00:08.689Z",
  "versionId": "ecd46bcb-7028-4648-996c-3d127a2c9299"
}