folder/CEO_ASMR Tost Jem (Vladislav Saveliev).json
{
  "active": false,
  "connections": {
    "Append or update row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait10",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items17",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items8",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete rows or columns from sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file2",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file3",
            "type": "main"
          }
        ]
      ]
    },
    "Convert to img3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file4",
            "type": "main"
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Loop Over Items18",
            "type": "main"
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Post",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям2",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям3",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ссылки видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Title1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search files and folders1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request8",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If2",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields5",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Append or update row in sheet5",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait12",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait13",
            "type": "main"
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait14",
            "type": "main"
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "index": 0,
            "node": "take video3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait15",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait13",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait12",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait14",
            "type": "main"
          }
        ]
      ]
    },
    "Kling AI3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait15",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items17": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items18": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?1",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?2",
            "type": "main"
          }
        ]
      ]
    },
    "Nano-banana3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ready?3",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Structured Output Parser2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Ready?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana1",
            "type": "main"
          }
        ]
      ]
    },
    "Ready?1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana",
            "type": "main"
          }
        ]
      ]
    },
    "Ready?2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana2",
            "type": "main"
          }
        ]
      ]
    },
    "Ready?3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert to img3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Nano-banana3",
            "type": "main"
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download file1",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Chat Memory Manager",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Status Kling AI": {
      "main": [
        [
          {
            "index": 0,
            "node": "If6",
            "type": "main"
          }
        ]
      ]
    },
    "Status Kling AI1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Status Kling AI2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If7",
            "type": "main"
          }
        ]
      ]
    },
    "Status Kling AI3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If8",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Upload Video and Description to Instagram": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait8",
            "type": "main"
          }
        ]
      ]
    },
    "Upload Video and Description to Instagram1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait9",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI1",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI2",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Kling AI3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet5",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Final Video",
            "type": "main"
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI",
            "type": "main"
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "index": 0,
            "node": "Status Kling AI3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete rows or columns from sheet",
            "type": "main"
          }
        ]
      ]
    },
    "YT Tags1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Title1",
            "type": "main"
          }
        ]
      ]
    },
    "take video": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "take video1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "take video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "take video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana1",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana2",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Nano-banana3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "main"
          }
        ]
      ]
    },
    "Жанры": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Жанры",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If3",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If4",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If5",
            "type": "main"
          }
        ]
      ]
    },
    "Ссылки видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T07:42:04.315Z",
  "id": "j30X6rt1TVgAgo8R",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CEO_ASMR Tost Jem (Vladislav Saveliev)",
  "nodes": [
    {
      "id": "3655d0eb-833a-4118-bbb5-302475491f80",
      "name": "Upload Video and Description to Instagram",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRTost"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "caption",
              "value": "Bright ideas, good vibes, and daily inspiration.\n\nFind us on:\nYouTube: https://www.youtube.com/@Smushlight\nTikTok: https://www.tiktok.com/@smusshlight\nInstagram: https://www.instagram.com/smusshlight/\n"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        64,
        592
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "442756d6-c1ba-4934-ad77-535802f18f5d",
      "name": "Upload Video and Description to Instagram1",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRTost"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "tags",
              "value": "={{ $('YT Tags1').item.json.output }}"
            },
            {
              "name": "madeForKids",
              "value": "false"
            },
            {
              "name": "privacyStatus",
              "value": "public"
            },
            {
              "name": "description",
              "value": "Bright ideas, good vibes, and daily inspiration.\n\nFind us on:\nYouTube: https://www.youtube.com/@Smushlight\nTikTok: https://www.tiktok.com/@smusshlight\nInstagram: https://www.instagram.com/smusshlight/\n"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        64,
        800
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "8c6c2053-2a00-4b85-a661-90e73846b2ac",
      "name": "Chat Memory Manager",
      "parameters": {
        "deleteMode": "all",
        "mode": "delete"
      },
      "position": [
        -6240,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1
    },
    {
      "id": "ac4d3ef0-f3ec-40f6-8a38-ef6fe7ac7e2e",
      "name": "Structured Output Parser2",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -5648,
        64
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "e5d77d00-3b12-428f-9bc0-ef5037e48ce5",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n    \"title\": \"Название\"\n}"
      },
      "position": [
        -6880,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "5f0d3c04-a868-45d0-ac8e-ee14a89b3fd0",
      "name": "Simple Memory2",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -6960,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "7c0c9011-8e4b-47e3-8a9f-38f028159473",
      "name": "OpenAI Chat Model6",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5728,
        64
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "26a2b113-6034-4e30-9bc4-b1f509f07af5",
      "name": "Simple Memory",
      "parameters": {
        "contextWindowLength": 40,
        "sessionIdType": "customKey",
        "sessionKey": "sesionasmrcompressname"
      },
      "position": [
        -6240,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "b0981132-0c49-404b-907d-aadfc48f9c29",
      "name": "Генератор сценарного шаблона",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены размазывание предметов на тосте из миниатюрных неожиданных предметов, связанных с фильмом/сериалом.\n## Контекст: Сцены — визуально насыщенное размазывание, эффект необычного состава предмеиа и реакции на поверхности тоста, акцент на физику, wow-реакцию, сюрреалистичность, никаких бытовых вещей, банальной еды или магии.\n## Задача: На основе названия фильма/сериала придумать сцену по шаблону:\n- Spread: [Краткое описание всей сцены, акцент на эффекте смазывания и сюрреализме].\n- Element: [Инструмент (ложка, нож, кисть, рука)].\n- Action: [Smearing/размазывание предметов, какой текстурой, с какими мини-объектами, как мажется, как ведет себя паста].\n- Objects: [Какие необычные мини-объекты].\n- Reaction: [Что происходит с предметами, какой неожиданный эффект, как раскрываются объекты, звук, текстура].\n- Surface: [На чем происходит действие: тост].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, строго по шаблону.\n## Стиль: Сухо, насыщенно деталями и реакцией, без лишних пояснений.\n## Требования:\n– Язык: Английский.\n– Только размазывание (spread, smearing), никаких бытовых объектов, банальной еды, магии.\n## Финальный чек-лист:\n– Сцена, необычная, весь эффект только за счет сюрреализма и необычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который размазывают по тосту должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -5728,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "08eece2f-d38d-4d0a-aa6f-611e804bc677",
      "name": "Жанры",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Steps to generate:\n1. Randomly select: movie or TV series (50/50 chance).\n2. If a movie - choose one of the popular ones (e.g. Interstellar, The Matrix, Gladiator, or any other hit).\n3. If a TV series - choose one of the well-known ones (e.g. Friends, Chernobyl, The Mandalorian, or any other).\nThis is all an example, you don't have to use from these lists.\n\nOutput format (strictly adhere to it):\n[Movie or series title]\n\nGenerate only the title, without type, year, justification or any other text. Use the original title in English or as commonly accepted in pop culture.\nJust write the title and the name of the movie/series.\nDon't repeat yourself."
        },
        "promptType": "define",
        "text": "Дай название фильма или сериала"
      },
      "position": [
        -7040,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5b24d4f7-b336-4373-a5a8-10052134bf12",
      "name": "Проверка по критериям",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5280,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "98f82685-bd9b-47fa-a290-4cb035dd4f52",
      "maxTries": 5,
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -4976,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "b5b68a9d-410f-41fa-9dc4-0430d4852f5b",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -4816,
        -128
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "942a444a-3248-4e3b-a489-431dfc97cab9",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E/edit?usp=drivesdk",
          "mode": "list",
          "value": "1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Идея",
              "lookupValue": "={{ $json.output.title }}"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -6736,
        384
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "ba604650-9ec8-488c-972d-616484cbed18",
      "name": "If2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "912e5ad3-6e48-4519-ae35-9e476ffba150",
              "leftValue": "={{ $json['Идея'] }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": "={{ $json['Идея'] }}"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {
          "ignoreCase": false
        }
      },
      "position": [
        -6576,
        384
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "2c250638-7967-46a3-9e1f-535d3b02d0da",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -6576,
        528
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "339bd645-4f9a-402f-afbe-5920fe977b31",
      "name": "Append or update row in sheet",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "removed": true,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "ЖАНР": "Фильм",
            "Идея": "={{ $('Жанры').item.json.output.title }}",
            "Статус": "Взят"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E/edit?usp=drivesdk",
          "mode": "list",
          "value": "1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -6416,
        384
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "9fbbdd45-c1d5-440b-a6eb-98a4cb4f934c",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -5632,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "9e6aef8e-78b8-4f4f-ae96-0f1fae5bd2f9",
      "name": "Генератор сценарного шаблона1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены размазывание предметов на тосте из миниатюрных неожиданных предметов, связанных с фильмом/сериалом.\n## Контекст: Сцены — визуально насыщенное размазывание, эффект необычного состава предмеиа и реакции на поверхности тоста, акцент на физику, wow-реакцию, сюрреалистичность, никаких бытовых вещей, банальной еды или магии.\n## Задача: На основе названия фильма/сериала придумать сцену по шаблону:\n- Spread: [Краткое описание всей сцены, акцент на эффекте смазывания и сюрреализме].\n- Element: [Инструмент (ложка, нож, кисть, рука)].\n- Action: [Smearing/размазывание предметов, какой текстурой, с какими мини-объектами, как мажется, как ведет себя паста].\n- Objects: [Какие необычные мини-объекты].\n- Reaction: [Что происходит с предметами, какой неожиданный эффект, как раскрываются объекты, звук, текстура].\n- Surface: [На чем происходит действие: тост].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, строго по шаблону.\n## Стиль: Сухо, насыщенно деталями и реакцией, без лишних пояснений.\n## Требования:\n– Язык: Английский.\n– Только размазывание (spread, smearing), никаких бытовых объектов, банальной еды, магии.\n## Финальный чек-лист:\n– Сцена, необычная, весь эффект только за счет сюрреализма и необычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который размазывают по тосту должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -5728,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "42d0541a-c1a0-40fa-bdcf-7055f6b3eeca",
      "name": "Проверка по критериям1",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5280,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "7e95bbb5-790e-48ce-a6fc-15d4ce571de9",
      "maxTries": 5,
      "name": "If3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -4976,
        208
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "e4514cc6-d884-49a8-9917-855d3a851207",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -4816,
        208
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "af1dcad1-28ce-450c-a4cf-ae1c5527dcc0",
      "name": "Structured Output Parser3",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -5648,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "adf73b35-0db4-46de-b33e-95976ef650ee",
      "name": "OpenAI Chat Model7",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5728,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "9798ca71-c7dd-46d7-8f3c-eb63b4a1afdc",
      "name": "Генератор сценарного шаблона2",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены размазывание предметов на тосте из миниатюрных неожиданных предметов, связанных с фильмом/сериалом.\n## Контекст: Сцены — визуально насыщенное размазывание, эффект необычного состава предмеиа и реакции на поверхности тоста, акцент на физику, wow-реакцию, сюрреалистичность, никаких бытовых вещей, банальной еды или магии.\n## Задача: На основе названия фильма/сериала придумать сцену по шаблону:\n- Spread: [Краткое описание всей сцены, акцент на эффекте смазывания и сюрреализме].\n- Element: [Инструмент (ложка, нож, кисть, рука)].\n- Action: [Smearing/размазывание предметов, какой текстурой, с какими мини-объектами, как мажется, как ведет себя паста].\n- Objects: [Какие необычные мини-объекты].\n- Reaction: [Что происходит с предметами, какой неожиданный эффект, как раскрываются объекты, звук, текстура].\n- Surface: [На чем происходит действие: тост].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, строго по шаблону.\n## Стиль: Сухо, насыщенно деталями и реакцией, без лишних пояснений.\n## Требования:\n– Язык: Английский.\n– Только размазывание (spread, smearing), никаких бытовых объектов, банальной еды, магии.\n## Финальный чек-лист:\n– Сцена, необычная, весь эффект только за счет сюрреализма и необычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который размазывают по тосту должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -5728,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5e25331d-a31c-43d8-a3b3-1374b02cf706",
      "name": "Проверка по критериям2",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5280,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "874c078f-13b1-4c21-936e-2ab9c5094985",
      "maxTries": 5,
      "name": "If4",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -4976,
        560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "e770d182-b3bc-4c80-aa46-37531e3df77d",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -4816,
        560
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "439d2df0-8ed3-4207-8f55-df4b3cc1eec7",
      "name": "Structured Output Parser4",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -5648,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "b77aabcd-9c59-4b41-82da-5dc157a67cba",
      "name": "OpenAI Chat Model8",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5728,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "52a1cefe-5ae7-4b85-88ae-67535f98b9a7",
      "name": "Генератор сценарного шаблона3",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены размазывание предметов на тосте из миниатюрных неожиданных предметов, связанных с фильмом/сериалом.\n## Контекст: Сцены — визуально насыщенное размазывание, эффект необычного состава предмеиа и реакции на поверхности тоста, акцент на физику, wow-реакцию, сюрреалистичность, никаких бытовых вещей, банальной еды или магии.\n## Задача: На основе названия фильма/сериала придумать сцену по шаблону:\n- Spread: [Краткое описание всей сцены, акцент на эффекте смазывания и сюрреализме].\n- Element: [Инструмент (ложка, нож, кисть, рука)].\n- Action: [Smearing/размазывание предметов, какой текстурой, с какими мини-объектами, как мажется, как ведет себя паста].\n- Objects: [Какие необычные мини-объекты].\n- Reaction: [Что происходит с предметами, какой неожиданный эффект, как раскрываются объекты, звук, текстура].\n- Surface: [На чем происходит действие: тост].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, строго по шаблону.\n## Стиль: Сухо, насыщенно деталями и реакцией, без лишних пояснений.\n## Требования:\n– Язык: Английский.\n– Только размазывание (spread, smearing), никаких бытовых объектов, банальной еды, магии.\n## Финальный чек-лист:\n– Сцена, необычная, весь эффект только за счет сюрреализма и необычных объектов.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который размазывают по тосту должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -5728,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "4d1267f2-56cf-456d-a379-b3106be716ab",
      "name": "Проверка по критериям3",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий сцену смазывания/размазывания по 20 критериям wow-эффекта, визуальной насыщенности, реалистичной реакции и сюрреализма.\n## Контекст: Фокус — удовлетворяющее смазывание пасты, эффектные мини-объекты, реакция, звук, физика; никаких бытовых предметов или магии.\n## Задача: Оценить сцену, выдать баллы и решение (\"да\" если баллов >=80, \"нет\" если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только результат.\n## Требования:\n– Исключить банальные объекты, простую еду, бытовуху.\n– Только итог (баллы и вердикт), без пояснений.\n## Финальный чек-лист:\n– Баллы и вердикт по формату, ничего лишнего.\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic smear sounds (squish, crunch).\n6. Aesthetic Transformation: Beauty in spreading, layering.\n7. Smear Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching smear and reaction cues.\n9. Before/After Contrast: Dramatic change post-smear.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible grains, streaks, textures.\n12. Cinematic Smear Moment: Clear, engaging spread.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-smear behavior (stick, crumble).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique clumping, oozing.\n19. Spread Smoothness: Anticipatory motion.\n20. Internal Surprise: Non-banal reveal (sparkle, pop).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -5280,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "5876f37f-42b6-4f8c-8cb3-05491c41c23c",
      "maxTries": 5,
      "name": "If5",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -4976,
        928
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "f381d4f9-d408-491f-8e7d-1fde039b6a20",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -4816,
        928
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "a0303365-05d8-4c67-bc76-2ee334ef58ba",
      "name": "Генерация промтов1",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, генерирующий промт для AI-изображения сцены smearing/surreal paste на тосте, hand/knife сверху, необычные мини-объекты, насыщенный свет, детализированная текстура пасты и поверхности.\n## Контекст: Промт для AI — hand/knife above toast, smearing surreal paste, визуальный акцент — необычные мини-объекты, реакция, hyper-realistic, 16:9 horizontal.\n## Задача: Описать сцену одной строкой на английском: hand/knife above, smearing/viscous surreal paste, детали, текстуры, свет, материал, wow-эффект.\n## Входные данные:\n– Текст сценария.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, насыщенно визуальными деталями spread/smearing.\n## Требования:\n– Язык: Английский.\n– Hand/knife above, smearing/spread, unusual mini-objects, hyper-realistic, 16:9, никаких macro, магии, бытовых объектов.\n## Финальный чек-лист:\n– Промт однострочный, hand/knife above, spread/smearing, детали, wow-эффект."
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -4352,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "34229bd2-34fe-4b4d-89d9-c07d665d61ca",
      "name": "OpenAI Chat Model9",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4352,
        64
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "33baeb57-3110-4368-94a4-a8efef9817b1",
      "name": "Генератор сценария1",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий короткий сценарий ASMR-видео, где акцент на эффекте смазывания пасты из необычных объектов на поверхности, реакции, текстуре, звучании, физике.\n## Контекст: Видео — это непрерывное размазывание/намазывание, раскрытие мини-объектов и эффектов, wow-реакция, никаких бытовых вещей, магии, еды.\n## Задача: Описать сцену одной строкой: hand/knife/element, smearing/surreal paste, что видно, какая реакция, звук, ощущение.\n## Входные данные:\n– Сцена, прошедшая фильтрацию.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, по делу, акцент только на смазывании и реакции.\n## Требования:\n– Язык: Английский.\n– Только spread/smearing, hand/knife, никакой macro, бытовухи или спецэффектов.\n## Финальный чек-лист:\n– Сценарий однострочный, только смазывание и реакция, ничего лишнего.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields1').item.json.Scene }}"
      },
      "position": [
        -4656,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "1050001a-45e5-4fda-99e5-b5a4f24fa725",
      "name": "Анимация видео1",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"chocolate bar\", \"avocado slice\", \"cream cheese cube\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being gently spread onto a piece of warm, crispy toast in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a lightly textured ceramic or wooden plate holding a fresh, golden-brown slice of toast.\n* Spreading action must appear visually satisfying, realistic, and physically plausible—the object smoothly and evenly transforms into a spreadable consistency.\n* The video starts immediately with the spreading action.\n* The object must retain clear visual details (color, texture, shape, and reflective qualities) initially, creating strong visual contrast during the spreading process.\n* No humans visible, only a realistic butter knife or spreader performing the action.\n* The spreading should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of the knife or spreader touching the object\n  2. Gentle scraping or spreading sound across the toast\n  3. Subtle crackling sounds of the toast's surface reacting to the spread\n  4. Soft final smoothing sound indicating the completion of the spread\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the tactile nature of the spreading.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the toast surface (e.g., golden-brown crispy texture), lighting setup (e.g., soft morning sunlight), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Spreading Action**: Clearly detail the spreading event—from initial contact through the smooth, visually pleasing application onto the toast.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the spreader\n   * Smooth, gentle scraping or spreading\n   * Toast surface subtle crackling\n   * Soft final smoothing sounds\n5. **Ambience**: Total silence except for spreading sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed beside a warm, golden-brown slice of toast on a textured ceramic plate.\n**Setting**: Static close-up, soft natural morning lighting, minimal background.\n**Action**: A realistic butter knife gently spreads the \\[object] onto the crispy toast, transforming smoothly into a satisfying, even layer.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed spreading dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial knife contact, (2) gentle scraping and spreading, (3) subtle toast crackling, and (4) soft final smoothing sounds. The initial contact sound should be especially sharp and prominent, emphasizing the satisfying tactile moment. No other audio.\n**Camera Motion**: Fixed camera with subtle focus shifts highlighting spreading details.\n**Composition**: Centered toast and object, knife enters smoothly from the edge.\n**Ambiance**: Pin-drop silence around the spreading sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the soothing detail of the gentle, mesmerizing spreading action. Visually delightful, physically comforting.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона').item.json.output.Action }}\n- Spread: {{ $('Генератор сценарного шаблона').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария1').item.json.output }} и выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -4048,
        -128
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "4367a6cb-4329-4635-8a27-8836d2a4eea2",
      "name": "Генерация промтов2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, генерирующий промт для AI-изображения сцены smearing/surreal paste на тосте, hand/knife сверху, необычные мини-объекты, насыщенный свет, детализированная текстура пасты и поверхности.\n## Контекст: Промт для AI — hand/knife above toast, smearing surreal paste, визуальный акцент — необычные мини-объекты, реакция, hyper-realistic, 16:9 horizontal.\n## Задача: Описать сцену одной строкой на английском: hand/knife above, smearing/viscous surreal paste, детали, текстуры, свет, материал, wow-эффект.\n## Входные данные:\n– Текст сценария.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, насыщенно визуальными деталями spread/smearing.\n## Требования:\n– Язык: Английский.\n– Hand/knife above, smearing/spread, unusual mini-objects, hyper-realistic, 16:9, никаких macro, магии, бытовых объектов.\n## Финальный чек-лист:\n– Промт однострочный, hand/knife above, spread/smearing, детали, wow-эффект.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -4352,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5629f8e4-7b57-404a-b662-72b7ec80c395",
      "name": "OpenAI Chat Model10",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4352,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "2b3e4e54-a046-4bb3-b99d-727a5c3413d5",
      "name": "Генератор сценария2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий короткий сценарий ASMR-видео, где акцент на эффекте смазывания пасты из необычных объектов на поверхности, реакции, текстуре, звучании, физике.\n## Контекст: Видео — это непрерывное размазывание/намазывание, раскрытие мини-объектов и эффектов, wow-реакция, никаких бытовых вещей, магии, еды.\n## Задача: Описать сцену одной строкой: hand/knife/element, smearing/surreal paste, что видно, какая реакция, звук, ощущение.\n## Входные данные:\n– Сцена, прошедшая фильтрацию.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, по делу, акцент только на смазывании и реакции.\n## Требования:\n– Язык: Английский.\n– Только spread/smearing, hand/knife, никакой macro, бытовухи или спецэффектов.\n## Финальный чек-лист:\n– Сценарий однострочный, только смазывание и реакция, ничего лишнего.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields2').item.json.Scene }}"
      },
      "position": [
        -4656,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "0b61426e-11c5-4372-b047-189125803485",
      "name": "Анимация видео2",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"chocolate bar\", \"avocado slice\", \"cream cheese cube\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being gently spread onto a piece of warm, crispy toast in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a lightly textured ceramic or wooden plate holding a fresh, golden-brown slice of toast.\n* Spreading action must appear visually satisfying, realistic, and physically plausible—the object smoothly and evenly transforms into a spreadable consistency.\n* The video starts immediately with the spreading action.\n* The object must retain clear visual details (color, texture, shape, and reflective qualities) initially, creating strong visual contrast during the spreading process.\n* No humans visible, only a realistic butter knife or spreader performing the action.\n* The spreading should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of the knife or spreader touching the object\n  2. Gentle scraping or spreading sound across the toast\n  3. Subtle crackling sounds of the toast's surface reacting to the spread\n  4. Soft final smoothing sound indicating the completion of the spread\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the tactile nature of the spreading.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the toast surface (e.g., golden-brown crispy texture), lighting setup (e.g., soft morning sunlight), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Spreading Action**: Clearly detail the spreading event—from initial contact through the smooth, visually pleasing application onto the toast.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the spreader\n   * Smooth, gentle scraping or spreading\n   * Toast surface subtle crackling\n   * Soft final smoothing sounds\n5. **Ambience**: Total silence except for spreading sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed beside a warm, golden-brown slice of toast on a textured ceramic plate.\n**Setting**: Static close-up, soft natural morning lighting, minimal background.\n**Action**: A realistic butter knife gently spreads the \\[object] onto the crispy toast, transforming smoothly into a satisfying, even layer.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed spreading dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial knife contact, (2) gentle scraping and spreading, (3) subtle toast crackling, and (4) soft final smoothing sounds. The initial contact sound should be especially sharp and prominent, emphasizing the satisfying tactile moment. No other audio.\n**Camera Motion**: Fixed camera with subtle focus shifts highlighting spreading details.\n**Composition**: Centered toast and object, knife enters smoothly from the edge.\n**Ambiance**: Pin-drop silence around the spreading sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the soothing detail of the gentle, mesmerizing spreading action. Visually delightful, physically comforting.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона1').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона1').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона1').item.json.output.Action }}\n- Spread: {{ $('Генератор сценарного шаблона1').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона1').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария2').item.json.output }} и выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -4048,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "bf1f6ea4-ced4-49e1-87ef-588cf81fa021",
      "name": "Генерация промтов3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, генерирующий промт для AI-изображения сцены smearing/surreal paste на тосте, hand/knife сверху, необычные мини-объекты, насыщенный свет, детализированная текстура пасты и поверхности.\n## Контекст: Промт для AI — hand/knife above toast, smearing surreal paste, визуальный акцент — необычные мини-объекты, реакция, hyper-realistic, 16:9 horizontal.\n## Задача: Описать сцену одной строкой на английском: hand/knife above, smearing/viscous surreal paste, детали, текстуры, свет, материал, wow-эффект.\n## Входные данные:\n– Текст сценария.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, насыщенно визуальными деталями spread/smearing.\n## Требования:\n– Язык: Английский.\n– Hand/knife above, smearing/spread, unusual mini-objects, hyper-realistic, 16:9, никаких macro, магии, бытовых объектов.\n## Финальный чек-лист:\n– Промт однострочный, hand/knife above, spread/smearing, детали, wow-эффект."
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -4352,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "9cf6e1df-40d9-4253-9344-434fbe1b38f8",
      "name": "OpenAI Chat Model11",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4352,
        768
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "85c2c7ed-7db8-41c6-880a-4e51bc9d26b4",
      "name": "Генератор сценария3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий короткий сценарий ASMR-видео, где акцент на эффекте смазывания пасты из необычных объектов на поверхности, реакции, текстуре, звучании, физике.\n## Контекст: Видео — это непрерывное размазывание/намазывание, раскрытие мини-объектов и эффектов, wow-реакция, никаких бытовых вещей, магии, еды.\n## Задача: Описать сцену одной строкой: hand/knife/element, smearing/surreal paste, что видно, какая реакция, звук, ощущение.\n## Входные данные:\n– Сцена, прошедшая фильтрацию.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, по делу, акцент только на смазывании и реакции.\n## Требования:\n– Язык: Английский.\n– Только spread/smearing, hand/knife, никакой macro, бытовухи или спецэффектов.\n## Финальный чек-лист:\n– Сценарий однострочный, только смазывание и реакция, ничего лишнего.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields3').item.json.Scene }}"
      },
      "position": [
        -4656,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "61dff4b0-6e33-4b0c-ad11-140a0302dce5",
      "name": "Анимация видео3",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"chocolate bar\", \"avocado slice\", \"cream cheese cube\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being gently spread onto a piece of warm, crispy toast in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a lightly textured ceramic or wooden plate holding a fresh, golden-brown slice of toast.\n* Spreading action must appear visually satisfying, realistic, and physically plausible—the object smoothly and evenly transforms into a spreadable consistency.\n* The video starts immediately with the spreading action.\n* The object must retain clear visual details (color, texture, shape, and reflective qualities) initially, creating strong visual contrast during the spreading process.\n* No humans visible, only a realistic butter knife or spreader performing the action.\n* The spreading should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of the knife or spreader touching the object\n  2. Gentle scraping or spreading sound across the toast\n  3. Subtle crackling sounds of the toast's surface reacting to the spread\n  4. Soft final smoothing sound indicating the completion of the spread\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the tactile nature of the spreading.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the toast surface (e.g., golden-brown crispy texture), lighting setup (e.g., soft morning sunlight), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Spreading Action**: Clearly detail the spreading event—from initial contact through the smooth, visually pleasing application onto the toast.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the spreader\n   * Smooth, gentle scraping or spreading\n   * Toast surface subtle crackling\n   * Soft final smoothing sounds\n5. **Ambience**: Total silence except for spreading sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed beside a warm, golden-brown slice of toast on a textured ceramic plate.\n**Setting**: Static close-up, soft natural morning lighting, minimal background.\n**Action**: A realistic butter knife gently spreads the \\[object] onto the crispy toast, transforming smoothly into a satisfying, even layer.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed spreading dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial knife contact, (2) gentle scraping and spreading, (3) subtle toast crackling, and (4) soft final smoothing sounds. The initial contact sound should be especially sharp and prominent, emphasizing the satisfying tactile moment. No other audio.\n**Camera Motion**: Fixed camera with subtle focus shifts highlighting spreading details.\n**Composition**: Centered toast and object, knife enters smoothly from the edge.\n**Ambiance**: Pin-drop silence around the spreading sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the soothing detail of the gentle, mesmerizing spreading action. Visually delightful, physically comforting.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона2').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона2').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона2').item.json.output.Action }}\n- Spread: {{ $('Генератор сценарного шаблона2').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона2').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария3').item.json.output }} и выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -4048,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "0671a399-7d4e-4764-812d-39b626129731",
      "name": "Генерация промтов4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, генерирующий промт для AI-изображения сцены smearing/surreal paste на тосте, hand/knife сверху, необычные мини-объекты, насыщенный свет, детализированная текстура пасты и поверхности.\n## Контекст: Промт для AI — hand/knife above toast, smearing surreal paste, визуальный акцент — необычные мини-объекты, реакция, hyper-realistic, 16:9 horizontal.\n## Задача: Описать сцену одной строкой на английском: hand/knife above, smearing/viscous surreal paste, детали, текстуры, свет, материал, wow-эффект.\n## Входные данные:\n– Текст сценария.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, насыщенно визуальными деталями spread/smearing.\n## Требования:\n– Язык: Английский.\n– Hand/knife above, smearing/spread, unusual mini-objects, hyper-realistic, 16:9, никаких macro, магии, бытовых объектов.\n## Финальный чек-лист:\n– Промт однострочный, hand/knife above, spread/smearing, детали, wow-эффект."
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -4352,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "9adb87f0-2405-41f5-a9e7-81604494499f",
      "name": "OpenAI Chat Model12",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -4352,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "bdc87a34-8a57-4ef4-9e00-74bb6087f8fb",
      "name": "Генератор сценария4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий короткий сценарий ASMR-видео, где акцент на эффекте смазывания пасты из необычных объектов на поверхности, реакции, текстуре, звучании, физике.\n## Контекст: Видео — это непрерывное размазывание/намазывание, раскрытие мини-объектов и эффектов, wow-реакция, никаких бытовых вещей, магии, еды.\n## Задача: Описать сцену одной строкой: hand/knife/element, smearing/surreal paste, что видно, какая реакция, звук, ощущение.\n## Входные данные:\n– Сцена, прошедшая фильтрацию.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, по делу, акцент только на смазывании и реакции.\n## Требования:\n– Язык: Английский.\n– Только spread/smearing, hand/knife, никакой macro, бытовухи или спецэффектов.\n## Финальный чек-лист:\n– Сценарий однострочный, только смазывание и реакция, ничего лишнего.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields4').item.json.Scene }}"
      },
      "position": [
        -4656,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "337ee0f9-93aa-4207-9e04-4293d51759f9",
      "name": "Анимация видео4",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"chocolate bar\", \"avocado slice\", \"cream cheese cube\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being gently spread onto a piece of warm, crispy toast in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a lightly textured ceramic or wooden plate holding a fresh, golden-brown slice of toast.\n* Spreading action must appear visually satisfying, realistic, and physically plausible—the object smoothly and evenly transforms into a spreadable consistency.\n* The video starts immediately with the spreading action.\n* The object must retain clear visual details (color, texture, shape, and reflective qualities) initially, creating strong visual contrast during the spreading process.\n* No humans visible, only a realistic butter knife or spreader performing the action.\n* The spreading should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of the knife or spreader touching the object\n  2. Gentle scraping or spreading sound across the toast\n  3. Subtle crackling sounds of the toast's surface reacting to the spread\n  4. Soft final smoothing sound indicating the completion of the spread\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the tactile nature of the spreading.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the toast surface (e.g., golden-brown crispy texture), lighting setup (e.g., soft morning sunlight), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Spreading Action**: Clearly detail the spreading event—from initial contact through the smooth, visually pleasing application onto the toast.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the spreader\n   * Smooth, gentle scraping or spreading\n   * Toast surface subtle crackling\n   * Soft final smoothing sounds\n5. **Ambience**: Total silence except for spreading sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed beside a warm, golden-brown slice of toast on a textured ceramic plate.\n**Setting**: Static close-up, soft natural morning lighting, minimal background.\n**Action**: A realistic butter knife gently spreads the \\[object] onto the crispy toast, transforming smoothly into a satisfying, even layer.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed spreading dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial knife contact, (2) gentle scraping and spreading, (3) subtle toast crackling, and (4) soft final smoothing sounds. The initial contact sound should be especially sharp and prominent, emphasizing the satisfying tactile moment. No other audio.\n**Camera Motion**: Fixed camera with subtle focus shifts highlighting spreading details.\n**Composition**: Centered toast and object, knife enters smoothly from the edge.\n**Ambiance**: Pin-drop silence around the spreading sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the soothing detail of the gentle, mesmerizing spreading action. Visually delightful, physically comforting.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона3').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона3').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона3').item.json.output.Action }}\n- Spread: {{ $('Генератор сценарного шаблона3').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона3').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария4').item.json.output }} и выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -4048,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "f7c534f2-80d1-4d4d-be6c-caee018eb0ed",
      "name": "Merge",
      "parameters": {
        "numberInputs": 4
      },
      "position": [
        -1552,
        352
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "bccdc33b-c29a-4c65-b139-5f44858d52f5",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "jsonBody": "={\n  \"template_id\": \"dd46a8e9-ca16-42bb-bd39-80f834eff50b\",\n  \"modifications\": {\n    \"Back-1.source\": \"{{ $json.links[0] }}\",\n    \"Back-2.source\": \"{{ $json.links[1] }}\",\n    \"Back-3.source\": \"{{ $json.links[2] }}\",\n    \"Back-4.source\": \"{{ $json.links[3] }}\",\n    \"Front-1.source\": \"{{ $json.links[0] }}\",\n    \"Front-2.source\": \"{{ $json.links[1] }}\",\n    \"Front-3.source\": \"{{ $json.links[2] }}\",\n    \"Front-4.source\": \"{{ $json.links[3] }}\",\n    \"Name.text\": \"{{ $json.Names[0] }}\"\n  }\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api.creatomate.com/v1/renders"
      },
      "position": [
        -928,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "8bb3bb09-8ce4-4f58-9637-687b35bb7474",
      "name": "Wait1",
      "parameters": {
        "amount": 8,
        "unit": "minutes"
      },
      "position": [
        -768,
        384
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "5930f4ed-364c-4f4d-b6a6-01526460ca1a"
    },
    {
      "id": "cc9d330e-ebad-4ddb-931f-a840b0937441",
      "name": "Get Final Video",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://api.creatomate.com/v1/renders/{{ $json.id }}"
      },
      "position": [
        -608,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "84db0ed3-4972-4010-ba87-150783298bf8",
      "name": "HTTP Request8",
      "parameters": {
        "options": {},
        "url": "={{ $json.url }}"
      },
      "position": [
        -448,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "d80c627e-8dd5-4df7-b1d7-0f2190254c40",
      "name": "Edit Fields1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -5440,
        -128
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b9993819-d0a7-4168-9e73-3c08d66e408d",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -5440,
        208
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "60d6893d-ea27-4d6d-af15-e3417e2e2c71",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -5440,
        560
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "472e2c1e-1e51-49ee-80e0-5957bb4d0db4",
      "name": "Edit Fields4",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -5440,
        928
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "28e22cf9-2f57-43aa-a4e9-a65c73bb44a0",
      "name": "Append or update row in sheet5",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Идея": "={{ $json.modifications['Name.text'] }}",
            "Ссылки": "={{ $('Get Final Video').item.json.url }}",
            "Статус": "Готовый"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E/edit?usp=drivesdk",
          "mode": "list",
          "value": "1VtdDA1RA2N2FwJjbXT9wnIN9AJ-fm6uVhUV8ogWbd6E"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -96,
        160
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "66a645f3-1d7b-46ec-9bad-e94e3b97eae3",
      "name": "Simple Memory1",
      "parameters": {
        "contextWindowLength": 50,
        "sessionIdType": "customKey",
        "sessionKey": "compressitem"
      },
      "position": [
        -5936,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "bddabbd7-b322-4781-9e32-b3efea8d33af",
      "name": "Append or update row in sheet1",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1824,
        -128
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "bb85a906-2a79-40c8-a128-1e78d6470a26",
      "name": "Append or update row in sheet2",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1824,
        208
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "fd6aae33-3127-44e6-89c6-6628eb18a1a7",
      "name": "Append or update row in sheet3",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1808,
        560
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "c52d2955-f996-4e2b-895e-23fec5d8eafa",
      "name": "Append or update row in sheet4",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1808,
        928
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "executeOnce": true,
      "id": "1f58f70b-6f58-4dc4-a4cc-70c1a5057447",
      "name": "Get row(s) in sheet1",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1408,
        384
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "9d47aa3d-76b4-4c32-84a9-27e7b86bf9b9",
      "name": "Ссылки видео1",
      "parameters": {
        "jsCode": "// Получаем все строки с ссылками\nconst links = items.map(item => item.json.link);\nconst Names = items.map(item => item.json.Name);// Получаем все ссылки из данных\n\n// Возвращаем массив ссылок\nreturn [\n  {\n    json: {\n      links: links,\n      Names: Names\n    }\n  }\n];\n"
      },
      "position": [
        -1088,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "2d4791cb-3492-412c-8443-588d0b235f9c",
      "name": "Edit Fields5",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68a99b2d-bf33-4535-83be-1128ed8bec61",
              "name": "link",
              "type": "string",
              "value": "={{ $json['Футажи'] }}"
            },
            {
              "id": "83aedc92-0f57-4d66-b572-72fde52cb610",
              "name": "Name",
              "type": "string",
              "value": "={{ $('Жанры').item.json.output.title }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1248,
        384
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "adf80475-51c6-402b-b26c-f5effab894a5",
      "name": "Delete rows or columns from sheet",
      "onError": "continueErrorOutput",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Tost jem Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit?usp=drivesdk",
          "mode": "list",
          "value": "1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs"
        },
        "numberToDelete": 10,
        "operation": "delete",
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Mb4XUhhU3COhpQ3zT34hNroSdYOEudyTJ0L0CAeyfs/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        64,
        160
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5
    },
    {
      "id": "3684e89b-031d-488a-93eb-45af46d206f7",
      "name": "YT Tags1",
      "parameters": {
        "options": {
          "systemMessage": "=Ты бот который генерирует тэги для youtube отталкиваясь от сценария пользователя"
        },
        "promptType": "define",
        "text": "=Now comes the actual topic/transcript. Give me the Youtube tags for it: {{ $('Генерация промтов1').last().json.output }}\n\n"
      },
      "position": [
        -1248,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "f90defac-f145-48f9-abf6-43fe11dac578",
      "name": "Generate Title1",
      "notes": "Request to OpenAi for generate description with the audio extracted from the video",
      "notesInFlow": true,
      "parameters": {
        "messages": {
          "values": [
            {
              "content": "You are an expert assistant in creating engaging social media video titles.",
              "role": "system"
            },
            {
              "content": "=На основе текста напиши кликбейт название шортса на Английском языке для 30 секудного видео, но не нарушая правила: {{ $('Генератор сценария1').last().json.output }}"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -928,
        592
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "waitBetweenTries": 5000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "dd298dff-0d18-4ac7-ac03-9ae560c7645a",
      "name": "Upload file1",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/12OQOqfxqhl4nFP70fOpDy5vqzsk1yWTW"
        },
        "options": {}
      },
      "position": [
        -1408,
        592
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "289fbe84-664f-45ab-91de-b557ed163da8",
      "name": "Search files and folders1",
      "parameters": {
        "filter": {
          "driveId": {
            "__rl": true,
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "url",
            "value": "https://drive.google.com/drive/folders/12OQOqfxqhl4nFP70fOpDy5vqzsk1yWTW"
          }
        },
        "limit": 1,
        "options": {
          "fields": [
            "webViewLink"
          ]
        },
        "resource": "fileFolder"
      },
      "position": [
        -608,
        592
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "4881b4b8-6883-4fa0-a4de-2a9941e44198",
      "name": "Download file1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.webViewLink }}"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        -448,
        592
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "f9e1cd33-63f8-4f9f-897c-1f1e8792356e",
      "name": "OpenAI Chat Model13",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -7040,
        592
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "ca4c8c02-17f1-4f96-b82a-792c59c0e975",
      "name": "OpenAI Chat Model14",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4o",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -1248,
        752
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "5c9efea3-e200-43aa-8a2f-50c2f9fa7863",
      "name": "Schedule Trigger1",
      "parameters": {
        "rule": {
          "interval": [
            {
              "expression": "0 15 * * *",
              "field": "cronExpression"
            }
          ]
        }
      },
      "position": [
        -7232,
        384
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "e942488c-ad3e-441e-b719-1b356cd84d29",
      "name": "OpenAI Chat Model4",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -5728,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "f264c229-051e-4910-9a10-16d8c76e131a",
      "name": "Wait2",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1696,
        1312
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "e34f9282-dfb5-4f9b-abba-1c214fcdf0aa",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1696,
        1184
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "8032bfc9-6f36-43be-adb3-2d82ca52b17c",
      "name": "Wait3",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1488,
        1312
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "12fc0fa6-f28a-4058-854d-606bc44ce053",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1488,
        1184
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "86355bd9-c3d6-4805-a338-8c0ebbaa33d6",
      "name": "Wait4",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1696,
        1616
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "dd5e8cd8-19c9-4993-b8ed-82ecab47160b",
      "name": "Loop Over Items8",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1696,
        1488
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "0a55cfa9-d4d0-47ce-8a7f-e17bf2a0f229",
      "name": "Wait5",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -1488,
        1616
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "26590f82-b878-4b19-a9f6-493474e0d6ef",
      "name": "Loop Over Items17",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1488,
        1488
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "39a0a405-fc4f-477e-a66d-9f7a45f35877",
      "name": "Wait",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -128,
        -16
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "22c479e5-6bee-440a-9814-6b253985733e",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -128,
        -144
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "59d78d57-943e-4ae2-bab0-483c1e3853a4",
      "name": "Wait6",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        80,
        -16
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0283019f-871e-4d69-9255-dad985a2a0ba"
    },
    {
      "id": "fad4ba99-078c-4f1c-bf46-4175cd72eed5",
      "name": "Loop Over Items18",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        80,
        -144
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "8b29430e-d17b-487f-b329-0baca5feeda5",
      "name": "Wait8",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        320,
        576
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a33d101c-a4c1-4992-a1db-536eea6dd5da"
    },
    {
      "id": "03f40643-fcf3-4167-95bd-6098f1eba6f3",
      "name": "Wait9",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        320,
        784
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "a33d101c-a4c1-4992-a1db-536eea6dd5da"
    },
    {
      "id": "38205940-d31b-42fa-a62f-26a4e2a81823",
      "name": "Wait10",
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "position": [
        -6224,
        752
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "5d040034-9fab-4447-90eb-9835c5463ff4"
    },
    {
      "credentials": {
        "uploadPostApi": {
          "id": "2YLbM7GkHfpuNAfs",
          "name": "Upload Post account"
        }
      },
      "id": "f1e5e4d0-dc88-4971-8eb3-4f72e873edcb",
      "name": "Upload Post",
      "parameters": {
        "operation": "uploadVideo",
        "platform": [
          "tiktok"
        ],
        "tiktokIsAigc": true,
        "title": "={{ $('Generate Title1').item.json.message.content }} Bright ideas, good vibes, and daily inspiration.  Find us on: YouTube: https://www.youtube.com/@Smushlight TikTok: https://www.tiktok.com/@smusshlight Instagram: https://www.instagram.com/smusshlight/",
        "user": "ASMRTost",
        "video": "data"
      },
      "position": [
        64,
        384
      ],
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1
    },
    {
      "id": "12f66406-3d99-4fa3-af50-e45d810f31e1",
      "name": "Status Kling AI1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        -2640,
        -128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "51d86888-1991-44e1-939c-a970422d1d3b",
      "name": "Kling AI1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana1').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        -2928,
        -128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "334391c3-db0b-4f91-a66d-2419264adc2b",
      "name": "Wait12",
      "parameters": {
        "amount": 60
      },
      "position": [
        -2784,
        -128
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "24fb5780-80fb-441f-94a3-da52b2d23958",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2496,
        -128
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "b9248813-4151-42d3-9246-ba7765f173c2",
      "name": "take video",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        -2352,
        -128
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "5d0748f0-6052-488e-9693-0ce9fa73ae8c",
      "maxTries": 5,
      "name": "Nano-banana1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        -3648,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "64234679-94d2-4475-8898-1de65056a0ad",
      "name": "Convert to img1",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        -3216,
        -128
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "d5ea97bc-59ef-4165-8cc1-848f1e7ecdb9",
      "name": "Upload file",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        -3072,
        -128
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "d2a6b728-b32b-4863-b656-a0e5403623fb",
      "name": "Ready?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3408,
        -128
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "d5f3bf4b-2b5f-4a1d-9185-6fd30a6cc9bb",
      "name": "Status Kling AI",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        -2640,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "e0039665-d14c-434e-bafa-c4557c52dab6",
      "name": "Kling AI",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        -2928,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "c23a12b4-4cd4-417a-9d31-ed77c03ebfa1",
      "name": "Wait13",
      "parameters": {
        "amount": 60
      },
      "position": [
        -2784,
        208
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "588472f3-0881-4feb-9271-936cd694e533",
      "name": "If6",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2496,
        208
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "878c4d2a-c584-4d76-a167-495b4e13ccf7",
      "name": "take video1",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        -2352,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a75136b2-9d0a-4e4d-be99-f05b3ee5b2f2",
      "maxTries": 5,
      "name": "Nano-banana",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        -3648,
        208
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "0ecbd5c3-b213-44a6-82af-f830c996b33c",
      "name": "Convert to img",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        -3216,
        208
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "0d6af7b4-cd41-4321-ab76-d67f9c6ff3ae",
      "name": "Upload file2",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        -3072,
        208
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "7e37d652-2984-4b97-a6ba-3ae486681f54",
      "name": "Ready?1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3408,
        208
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "d333aa38-519b-42f5-8d0b-1ee69bc8815f",
      "name": "Status Kling AI2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        -2640,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f5885284-f643-45eb-a07b-8e1d08feb0d0",
      "name": "Kling AI2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana2').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        -2928,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "9ec4cdd1-129e-45d3-ac1f-9d71269700fe",
      "name": "Wait14",
      "parameters": {
        "amount": 60
      },
      "position": [
        -2784,
        560
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "a27eac6f-5f4d-476e-9774-8579b6a8e014",
      "name": "If7",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2496,
        560
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "a207ed26-cb58-4f39-b859-4131adfd9a73",
      "name": "take video2",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        -2352,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "1151d657-f702-4a9d-a324-56703c4e5a04",
      "maxTries": 5,
      "name": "Nano-banana2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        -3648,
        560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "9dc05ed4-d905-4971-9f50-9e14c9820a5f",
      "name": "Convert to img2",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        -3216,
        560
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "650138bb-e202-4c1b-abef-d5c37acb8cec",
      "name": "Upload file3",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        -3072,
        560
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "59873b41-8f1f-45e4-82a4-65cc97d4ee0f",
      "name": "Ready?2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3408,
        560
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "439cbe3a-9780-4dc1-b5da-999b7f7adbd2",
      "name": "Status Kling AI3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendHeaders": true,
        "url": "=https://api-singapore.klingai.com/v1/videos/text2video/{{ $json.data.task_id }}"
      },
      "position": [
        -2640,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "a6051411-7c4b-4bb0-b2c2-d41c9ff85eaa",
      "name": "Kling AI3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBOVFNckZoOU1DcjNnVFlFOGZwQ2VkM0VHVERFeVlhRCIsImlhdCI6MTc2NTQ2MzY0NCwibmJmIjoxNzY1NDYzNjM5LCJleHAiOjE3NjU2NDM2NDR9.1an2aFSmv9kLjliI8fuhKkCog1w__o5JBYd_UKSGSKI"
            }
          ]
        },
        "jsonBody": "={\n  \"model_name\": \"kling-v2-5-turbo\",\n  \"mode\": \"pro\",\n  \"duration\": \"10\",\n  \"image\": \"{{ $('Nano-banana3').item.json.candidates[0].content.parts[1].inlineData.data }}\",\n  \"prompt\": \"{{ $('Генерация промпта для Kling o1').first().json.output.replace(/[{}\"]/g, '') }}\",\n  \"cfg_scale\": 0.8\n}",
        "method": "POST",
        "options": {
          "redirect": {
            "redirect": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api-singapore.klingai.com/v1/videos/image2video"
      },
      "position": [
        -2928,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "d16da446-289a-45cf-a1e1-1c04eb2af824",
      "name": "Wait15",
      "parameters": {
        "amount": 60
      },
      "position": [
        -2784,
        928
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "82450daa-b8fb-4dff-9c53-b75de8b83f8e"
    },
    {
      "id": "466d3b10-b4ea-4780-adaa-51ef30e44c50",
      "name": "If8",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e8084667-4a9b-486b-a2dc-ccdde7895c9f",
              "leftValue": "={{ $json.data.task_status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "processing"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2496,
        928
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "77d451f2-e7f2-41ec-803c-74901d3f891b",
      "name": "take video3",
      "parameters": {
        "options": {},
        "url": "={{ $json.data.task_result.videos[0].url }}"
      },
      "position": [
        -2352,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "375d5891-86d7-4fed-a56a-9f89b1721183",
      "maxTries": 5,
      "name": "Nano-banana3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAe_DA6Ds45RYC-mPB6wbxdwM7QIN_pT4g"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={{ $json }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent"
      },
      "position": [
        -3648,
        928
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 1000
    },
    {
      "id": "cb96a52a-ceb3-4fb2-b249-c5a907f7923c",
      "name": "Convert to img3",
      "parameters": {
        "operation": "toBinary",
        "options": {},
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data"
      },
      "position": [
        -3216,
        928
      ],
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1
    },
    {
      "id": "91a007f7-6e45-4e37-8a85-e4957ca8caba",
      "name": "Upload file4",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT",
          "mode": "list",
          "value": "1Vpgnx6ZDaZ093NmPDAeATh3kXHJggjqT"
        },
        "name": "={{ $('Loop Over Items').all()[$runIndex].json.sceneIndex }}",
        "options": {}
      },
      "position": [
        -3072,
        928
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "11052965-825d-48d6-8cd3-55b82382adb3",
      "name": "Ready?3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "109230f1-8c59-40fa-9979-04d01474561c",
              "leftValue": "={{ $json.candidates[0].finishMessage }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "Unable to show the generated image. The model could not generate the image based on the prompt provided. You will not be charged for this request. Try rephrasing the prompt. If you think this was an error, [send feedback](https://ai.google.dev/gemini-api/docs/troubleshooting)."
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -3408,
        928
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-23T07:42:04.320Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-23T07:42:04.320Z",
      "workflowId": "j30X6rt1TVgAgo8R"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-23T06:11:42.348Z",
      "id": "NtJ9sBFxQjddtkfX",
      "name": "AI",
      "updatedAt": "2025-07-23T06:11:42.348Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-12T12:03:17.000Z",
  "versionId": "fc65ae48-55d2-445b-b5a6-ca9279ef3410"
}