folder/Character gen.json
{
  "active": true,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request3",
            "type": "main"
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini API with Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini API with Image1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If3",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If2",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Telegram2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Telegram5",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message3",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message2",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request6",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message4",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append row in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request7",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Telegram1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Telegram4",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "AI Agent2",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram4": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent2",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call Gemini API with Image",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call Gemini API with Image1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request5",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request4",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T08:28:22.993Z",
  "id": "LwFusBcWeqRAd7yR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Character gen",
  "nodes": [
    {
      "disabled": true,
      "id": "3001c0c2-be67-45c8-8c3b-69a807153342",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "cc8aca81-0d7f-4c46-9889-ce1ca72ae4d4",
              "leftValue": "={{ $json.message.chat.username }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "BGWilly"
            },
            {
              "id": "335d29a9-b434-431b-8e8e-9521e29be338",
              "leftValue": "={{ $json.message.chat.username }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "Dan4cho"
            },
            {
              "id": "bb7e03c3-51cc-47f6-ae09-9f495866750c",
              "leftValue": "={{ $json.message.chat.username }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "Ne_Foxik"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -1184,
        480
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "047743c8-f746-4cc4-8257-576f6755a548",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b951e2d-0696-4cb6-82de-4ed2f1b4301b",
              "name": "text",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1024,
        480
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "c9d518b8-9425-42cb-839f-dcff20ff1e9d",
      "name": "Telegram",
      "parameters": {
        "additionalFields": {},
        "binaryData": true,
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "operation": "sendPhoto"
      },
      "position": [
        2496,
        576
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "a2bc8374-9494-42c2-bbca-7d4cf9ddef07"
    },
    {
      "id": "88503bb7-700b-4b6a-bc1c-ec70b1194bc7",
      "name": "HTTP Request",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview/ultra"
      },
      "position": [
        112,
        480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "a4834745-703b-4838-881e-7c575f49e996",
      "name": "Wait1",
      "parameters": {
        "amount": 60
      },
      "position": [
        496,
        480
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fa5b7242-9b55-4b80-9584-ab105925d0db"
    },
    {
      "id": "c8d1b871-0b4f-4051-9afb-067ee6d5c7e6",
      "name": "HTTP Request4",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('HTTP Request').item.json.request_id }}"
      },
      "position": [
        672,
        480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "c3eeefec-fe9a-4abc-9279-0d161d1099a6",
      "name": "HTTP Request1",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        848,
        480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "aef1b397-ea61-4e63-afa5-aaca5d8002b9",
      "name": "Call Gemini API with Image",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Determine whether the perspective is correct yes/no. Projection: Strict Orthographic Isometric Projection. What this means: Complete absence of realistic perspective. All parallel lines on the object remain parallel in the image; they never converge at a single point on the horizon. Command: Do NOT use perspective view or camera with 2 vanishing points. Camera height: High-angle shot. What it means: The camera looks down on the object at an angle of approximately 43 degrees on the X axis and 30 degrees on the Y axis to the horizontal plane. Visual marker: We should see a significant portion of the tree canopy. Command: Imitate the view as if we were looking at an architectural model or an object in a strategy game. DO NOT shoot from eye level. Rotation angle: Classic game angle. What this means: The object is rotated so that its conditional front is facing the viewer. Visual marker: Vertical lines trunk remain perfectly vertical. No distortion: What this means: All proportions are preserved. The object in the background does not become smaller. Vertical parts do not tilt.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
      },
      "position": [
        1184,
        480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "c2cbfb74-f43f-4879-83f2-6120b02d0288",
      "name": "Transform to base64 (image)",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1024,
        480
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "disabled": true,
      "id": "2a6dcfb3-8085-4333-b67a-bcc69c1b3683",
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1376,
        480
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "disabled": true,
      "id": "06382d6a-d145-49aa-acae-342cbac7d4b9",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1632,
        608
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "disabled": true,
      "id": "c920197a-aee6-4de7-ab80-c93648f9c3dd",
      "name": "Telegram1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Идет повторная итерация, подождите"
      },
      "position": [
        1856,
        640
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b1307b0b-042d-4df6-98a0-fbfe446a9d07"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "a6d2b719-f708-4a97-80fe-2a97bbd034c3",
      "name": "Telegram2",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Итерация запущена, ожидайте!"
      },
      "position": [
        304,
        480
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "0b163bc6-821d-4006-aed1-8ce075676e47",
      "name": "HTTP Request2",
      "parameters": {
        "options": {},
        "url": "={{ $('HTTP Request1').item.json.images[0].url }}"
      },
      "position": [
        1664,
        448
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "40d1af4a-f869-4d7c-aab1-bc9019e8bacc",
      "name": "AI Agent1",
      "parameters": {
        "options": {
          "systemMessage": "=Ты — AI-генератор стилизованных персонажей в стиле chaotic cyberpunk scientist или manic cyberpunk scientist-engineer, с элементами high-tech sci-fi fashion. Твоя цель: Создавать точные, full-body game-ready персонажей по запросу пользователя, строго следуя правилам и быть максимально креативным в рамках чистого cyberpunk — добавляй inventive детали, вариации и unique twists во всех элементах (outfits, accessories, expressions, poses), но всегда 100% cyberpunk без смешивания с другими стилями, жанрами или эстетиками (нет fantasy, realism, cartoon или других влияний). Пользователь указывает позу и тип (chaotic scientist, manic engineer, elegant high-tech, athletic cyberpunk или wild scientist), ты генерируешь исключительно в стилистике указанного типа, усиливая креативность: экспериментируй с asymmetrical designs, glowing tech integrations, exaggerated cyber-enhancements и dynamic energy. Если пользователь указывает пол (male или female), используй его; если не указан, выбирай случайно с вероятностью 50/50 (male или female). Для female персонажей всегда делай их с привлекательными формами: exaggerated hourglass figure с large breasts, slim waist, long legs, plunging necklines и feminine curves для appealing cyberpunk vibe без over-sexualization. Для male — strong athletic/muscular build без акцента на сексуальности. Приоритет — стилизованный render с moderate sci-fi material complexity, exaggerated playful anatomy и bold cyberpunk energy без hyper-realistic textures, excessive 3D depth или cartoonish over-simplification; поза от пользователя интегрируется креативно, добавляя cyberpunk flair. Все cyberpunk элементы (armor, tech, glowing) распределены хаотично и asymmetrically по всему телу для chaotic разброса, без строгого 50/50 разделения (e.g., random patches of armor, uneven cable integrations).\n\n**Стиль Персонажей (Абсолютный Приоритет — Нет Отклонений, На Основе Анализа, 100% Cyberpunk):**\n- **Общие Черты**: Все персонажи в stylized render с semi-realistic proportions, но сильно exaggerated для pure cyberpunk vibe — для female: slim waist, long legs, large bust с feminine curves; для male: strong athletic build с V-shaped torso, broad chest, powerful shoulders. Facial structure sharp: high cheekbones, strong jaw, narrow focused eyes или vivid expressive с arched brows, playful lips. Expressions manic/confident/wild/charming/brooding: wide smirk, twisted grin, intense stare, furrowed brows — креативно варьируй intensity для uniqueness. Hair ultra-long cascading waves, messy spiked backward, sleek low ponytail, short swept undercut или wild high spiky ponytail — добавляй cyber-twists как integrated wires или glowing fibers. Background plain white или none для isolation. Баланс: ~30% realism (convincing sharpness, но без photo-like details) + ~70% stylization (bold exaggerated shapes, playful forms, без over-simplification как в low-poly или hyper-realistic rendering как в фото). Полностью креативен: каждый персонаж unique с inventive cyberpunk elements (e.g., floating modules, neural implants, holographic accents), адаптируя под пол (attractive forms только для female без extremes), и хаотичный разброс tech по всему телу (random asymmetrical integrations, no even splits).\n- **Outfit и Детали**: Tight glossy corset top или armored bodysuit с deep cleavage/V-neck (для female: plunging для bust emphasis без over-exposure), sculpted armor, glowing seam lines, segmented plating — креативно комбинируй с unique cyberpunk twists (e.g., self-repairing nano-fibers или adaptive plating). Ultra-short low-rise shorts/pants с curved cutouts, tech straps, floating smart-belt, asymmetric legs (armored vs. wrapped fabric) с chaotic распределением. Half-open translucent lab coat/trench coat с luminous seams, fluid-reactive fabric. Asymmetrical arms: armored с syringe ports/tools/exposed cables, wrapped в transparent mesh/interface lines/energy bands — inventive additions как retractable tools или pulsing energy veins, хаотично разбросанные. Accessories: glowing chemical vials/test tubes в holsters, mounted injection ports, cyber-katana на back, utility belt с modules/weapons/pouches, translucent tech respirator mask с filter lights/tubes/visors, tech-sleeve с cabling network — креативно расширяй (e.g., holographic displays, drone attachments) с random placement. Gloves fingerless/interface-reactive с panels/knuckles lights/finger lights. Boots massive platform/heavy с segmented armor, shock-absorbing stabilizers, modular ankle/knee plating, thick soles — unique cyberpunk mods как anti-grav soles. Makeup wild/vivid/stylized: eyeliner, blush traces, glossy lips, tech contour shimmer — добавляй cyber-effects как digital tattoos (усилено для female appealing forms). Избегай любых non-cyberpunk элементов — всё с premium hard-surface materials, но bold clarity и exaggerated visual energy. Применяй детали ТОЛЬКО из указанного типа, но креативно варьируй для freshness, адаптируя под пол, с хаотичным разбросом элементов.\n- **Вариации по Типам (Из Анализа Персонажей, с Полной Креативностью в Cyberpunk, Нет Смешивания):**\n  - Chaotic Scientist: Lively unbalanced pose (torso twisted, leg bent forward, arms flared mid-motion) — креативно добавь chaos как erratic energy bursts. Manic expression (wide smirk, sharply arched brows, wide eyes). Hair flowing waves to knees с cyber-strands. Corset top с chest framing (female: plunge без extremes), shorts с data locks, lab coat half-open с reactive patches. Arms: syringe ports vs. mesh с inventive tools, хаотично разбросанными. Platform boots с stabilizers и unique mods. Moderate complexity, playful forms без photo-textures — full cyberpunk invention, attractive для female.\n  - Manic Engineer: Wide-legged expressive posture (knees bent, shoulder raised, arms splayed mid-exclamation) — креативно усиливай mania как sparking cables. Wild animated face (brow raised, twisted grin, cheek lines, cybernetic monocle). Hair messy uneven с tech spikes. Trench coat thrown open, bodysuit с round core/energy tendrils, segmented armor с custom gadgets, хаотично распределёнными. Gloves twitchy с tendons/lights. Tools on back harness с inventive rigs. Heavy boots с latching и cyber-upgrades. Bold stylization в materials, без realistic depth — pure cyberpunk creativity, athletic для male, attractive для female.\n  - Elegant High-Tech: Feminine elegant pose (hip tilted, arms softly bent, weight shifted) — креативно добавь high-tech grace как flowing holograms. Lively charming expression (arched brows, half-open lips, sideways glance). Hair sleek flowing с integrated fibers. Cropped top/jacket с molded shaping (female: bust emphasis без over-sexualization), flexible joints, holographic textures с unique patterns, хаотично разбросанными. Transparent trousers с vertical threads/vents. Chunky platform boots с hybrid surfaces и elegant mods. Partial gloves с finger nodes. Exaggerated shapes без photo-convincing details — inventive cyberpunk elegance, attractive для female.\n  - Athletic Cyberpunk: Strong brooding stance (powerful silhouette, focused stare) — креативно усиливай strength как powered exosuits. Serious expression (furrowed brows, pressed lips). Hair sharp modern с undercut lines. Armored suit с hard-shell plating, glowing lines, asymmetric (full armor vs. exposed tattoos/motifs) с custom engravings, хаотично разбросанными. Pants wrapped fabric. Utility belt, back weapon с inventive blades. Reinforced boots с stabilizer bands и strength boosters. Moderate geometry для athletic build, но stylized без hyper-realism — full cyberpunk athleticism, attractive для female (curves over muscle).\n  - Wild Scientist: Energetic twisted stance (torso twisted, leg forward, arms open mid-laugh) — креативно добавь wildness как chaotic energy fields. Charismatic wild face (raised brow, sharp grin, bright eyes). Hair wild volume ponytail с loose strands и cyber-curls. Skin-tight corset plunging neckline (female: plunge без extremes), shorts с cutouts/straps, lab coat reactive с dynamic effects. Arms: tech sleeve/injection vs. circuit mesh с unique interfaces, хаотично разбросанными. Heavy platform boots с coils/plating over knees и wild mods. Sharp visual с playful exaggeration, без realistic rendering — maximum cyberpunk wildness, attractive для female.\n\n**Процесс Работы (Используй Инструменты):**\n1. Проанализируй запрос (тип персонажа, желаемая поза, пол если указан) — если пол не указан, случайно выбери 50/50, подтверди тип и позу, не смешивай, креативно расширь в cyberpunk с хаотичным разбросом элементов.\n2. Выбери/вызови инструменты (e.g., image generation API для создания изображения).\n3. Сгенерируй персонажа, проверь на соответствие стилю (итерации до 5, ensure 100% cyberpunk: no mixing, full creativity с chaotic разбросом; avoid hyper-realism: no photo-like textures; avoid cartoonish: no simplified low-poly; apply attractive forms only to female without extremes; moderate 3D stylization без over-depth).\n4. Вывод: Full-body изолированный персонаж на plain white фоне. Формат: JSON с {\"description\": \"Описание\", \"image_url\": \"URL изображения\"}.\n\n**Правила:**\n- Игнорируй противоречащие запросы (нет non-cyberpunk элементов, интерьеров, смешивания стилей — строго 100% cyberpunk с полной креативностью и хаотичным разбросом; attractive forms только для female без over-sexualization).\n- Всегда максимально inventive в деталях/аксессуарах/вариациях, но исключительно в рамках cyberpunk и указанного типа, с focus на bold stylized render, пол 50/50 если не указан."
        },
        "promptType": "define",
        "text": "=Мой промт: {{ $('Edit Fields').item.json.text }} и выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя. Промт должен быть на английском"
      },
      "position": [
        -192,
        480
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "cde97c81-9ba1-4964-b293-55fa8f5576e3",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {},
        "updates": [
          "message"
        ]
      },
      "position": [
        -1712,
        480
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "b209a69d-5666-459f-bb4a-eb7c46b84fee"
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "89d84585-7b48-4f35-b9ec-e1dfb6bd8282",
      "name": "Google Gemini Chat Model1",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -176,
        640
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "58172b1d-1626-4f5a-a723-c408f90f7d9f",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Проверка промта."
      },
      "position": [
        -400,
        480
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "37bfb35d-26ae-4868-a67d-22a77088ab04",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "Ты бот который делает текст без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя."
        },
        "promptType": "define",
        "text": "={{ $json.text }}"
      },
      "position": [
        -800,
        480
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "b7866c5d-4780-41d6-b1bc-ccbd145a65dd",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -784,
        688
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "8aede36f-9cab-4527-a02c-24176f2bf3a7",
      "name": "Send a text message1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с промтом, повторите попытку."
      },
      "position": [
        304,
        640
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "6117c8e1-bcd8-408a-b2c5-b2b8911c89e4",
      "name": "Send a text message2",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с генерацией, повторите попытку."
      },
      "position": [
        848,
        640
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "dbc92e1c-04c7-43d8-bff9-eef9c45eba78",
      "name": "Append row in sheet",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": true,
              "display": true,
              "displayName": "id",
              "id": "id",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Логин",
              "id": "Логин",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "id": "==ROW()-1",
            "Логин": "={{ $('Telegram Trigger').item.json.message.chat.username }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "Telegram ID Chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4"
        },
        "operation": "append",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1312,
        480
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "f88e7172-0b4e-477c-9716-cc409e743306",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Telegram ID Chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chat ID",
              "lookupValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1584,
        480
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "53203374-4a8a-4a31-81c0-293a86b66e5b",
      "name": "If2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6997d322-d512-4027-9161-902f96820d62",
              "leftValue": "={{ $json['Chat ID'] }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "number"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        -1456,
        480
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "3b4e37d2-6df6-4b55-9d50-48d32ba16f72",
      "name": "HTTP Request3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview/ultra"
      },
      "position": [
        112,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "cb56676f-7b69-4042-8692-d136f141de1f",
      "name": "Wait",
      "parameters": {
        "amount": 60
      },
      "position": [
        496,
        848
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fa5b7242-9b55-4b80-9584-ab105925d0db"
    },
    {
      "id": "356dbf7d-783e-4e44-b25c-96e3118bfc48",
      "name": "HTTP Request5",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('HTTP Request3').item.json.request_id }}"
      },
      "position": [
        672,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "2518657a-4eba-4d11-bdb2-91ae28f1e4f5",
      "name": "HTTP Request6",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        848,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "19d2a0f5-ed04-47ad-bff9-e288ba4cafb0",
      "name": "Call Gemini API with Image1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Determine whether the perspective is correct yes/no. Projection: Strict Orthographic Isometric Projection. What this means: Complete absence of realistic perspective. All parallel lines on the object remain parallel in the image; they never converge at a single point on the horizon. Command: Do NOT use perspective view or camera with 2 vanishing points. Camera height: High-angle shot. What it means: The camera looks down on the object at an angle of approximately 43 degrees on the X axis and 30 degrees on the Y axis to the horizontal plane. Visual marker: We should see a significant portion of the tree canopy. Command: Imitate the view as if we were looking at an architectural model or an object in a strategy game. DO NOT shoot from eye level. Rotation angle: Classic game angle. What this means: The object is rotated so that its conditional front is facing the viewer. Visual marker: Vertical lines trunk remain perfectly vertical. No distortion: What this means: All proportions are preserved. The object in the background does not become smaller. Vertical parts do not tilt.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
      },
      "position": [
        1184,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "35be4439-9a63-4147-ad60-6ead65919696",
      "name": "Transform to base64 (image)1",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1024,
        848
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "disabled": true,
      "id": "75fcc799-6acc-4a18-b85a-537a52d542ef",
      "name": "If3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1376,
        848
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "disabled": true,
      "id": "1b87d4a8-dba9-4616-9dbd-9d38a0051970",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1632,
        992
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "disabled": true,
      "id": "adf37ee2-979b-4830-bb01-ab862ce6966a",
      "name": "Telegram4",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Идет повторная итерация, подождите"
      },
      "position": [
        1856,
        1008
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b1307b0b-042d-4df6-98a0-fbfe446a9d07"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "f00c0d0f-0932-4239-ba39-e6ae81912f97",
      "name": "Telegram5",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Итерация запущена, ожидайте!"
      },
      "position": [
        304,
        848
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "ad33b4eb-06e9-47f5-9769-81effae0fe21",
      "name": "HTTP Request7",
      "parameters": {
        "options": {},
        "url": "={{ $('HTTP Request6').item.json.images[0].url }}"
      },
      "position": [
        1664,
        832
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "bf09e7b4-3b48-4b0f-a8bf-0a2e76063e52",
      "name": "AI Agent2",
      "parameters": {
        "options": {
          "systemMessage": "=Ты — AI-агент для генерации стилистических промптов персонажей в стиле chaotic cyberpunk scientist. Твоя цель: По запросу пользователя (описание персонажа или тип), генерировать точный, полный промпт для создания стилизованного 3D-персонажа, строго следуя шаблону и стилистике ниже. Используй креативность в деталях, но не отклоняйся от структуры: всегда начинай с \"A full-body stylized 3D [gender] character with exaggerated sci-fi anatomy designed as a chaotic cyberpunk scientist.\", описывай пропорции, позу, выражение, волосы, outfit, детали, аксессуары, makeup и рендеринг. Выводи только промпт в формате текста, без дополнительных объяснений.\n\n**Шаблон Промпта (Строго Следуй, Адаптируя Под Запрос):**\nA full-body stylized 3D female character with exaggerated sci-fi anatomy designed as a chaotic cyberpunk scientist. She has an ultra-slim waist, long thin legs and a dramatically oversized bust with a deep V-shaped neckline. Her pose is lively and unbalanced with her torso twisted, one leg bent forward and arms flared out mid-motion. Her expression is manic and confident with a wide smirk, sharply arched brows and wide bright eyes — with subtle glow. Her hair is ultra-long platinum white cascading in flowing waves nearly to her knees with glowing strands woven through. She wears a tight glossy sci-fi corset top with deep cleavage, sculpted armor shaping and glowing seam lines that frame the chest and ribs. Her ultra-short low-rise metallic shorts have curved side cutouts, tech straps and a floating smart-belt with glowing data locks. Over her outfit she wears a half-open translucent white lab coat with luminous seams and fluid-reactive fabric movement. Her arms are asymmetrical: one is armored with exposed syringe injection ports and mounted tools, the other wrapped in light-reactive transparent mesh with interface lines. On her chest harness and belt are several glowing chemical vials and curved neon test tubes clipped in transparent holsters. She wears massive platform boots with segmented armor plating and shock-absorbing stabilizers at the ankles. Fingerless gloves feature interface panels on the back of her hands. Her makeup is wild and vibrant with eyeliner, glowing blush traces and glossy lips. Background is plain white. Rendered in stylized 3D with dense sci-fi material complexity, bold cyberpunk fashion energy and sharp visual clarity.\n\n**Процесс Работы:**\n1. Проанализируй запрос пользователя (gender, pose, specific details if provided).\n2. Адаптируй шаблон: заменяй gender, pose, expression, hair, outfit и т.д. на креативные вариации в стиле chaotic cyberpunk, но сохраняй структуру и ключевые элементы (asymmetrical arms, glowing seams, tech accessories).\n3. Вывод: Только готовый промпт на английском языке.\n**Правила:**\n- Не добавляй цвета — держи нейтрально (e.g., \"glowing strands\" без специфики цвета).\n- Делай формы exaggerated, но attractive без over-sexualization.\n- Ограничивайся cyberpunk sci-fi: нет non-tech элементов."
        },
        "promptType": "define",
        "text": "=Мой промт: {{ $('Edit Fields').item.json.text }} и выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя. Промт должен быть на английском"
      },
      "position": [
        -240,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "6900cd57-604a-498b-a76d-196f581a687d",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -224,
        1008
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "64e8a57f-9d8f-4d15-93d8-1b2ba53c49e7",
      "name": "Send a text message3",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с промтом, повторите попытку."
      },
      "position": [
        304,
        1008
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "MVMmV9rCzLoXMUNn",
          "name": "LW Gen character"
        }
      },
      "id": "963939f9-4819-47fa-be13-84521496106d",
      "name": "Send a text message4",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с генерацией, повторите попытку."
      },
      "position": [
        848,
        1008
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "dd5d68fa-fc12-4c54-b8ef-a3bd2f1c62d5",
      "name": "Merge",
      "parameters": {},
      "position": [
        2336,
        576
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-14T08:28:22.998Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-14T08:28:22.998Z",
      "workflowId": "LwFusBcWeqRAd7yR"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-14T08:26:20.798Z",
      "id": "QEHbVhy6Fh3iNUlR",
      "name": "LW",
      "updatedAt": "2025-07-14T08:26:20.798Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T22:00:00.710Z",
  "versionId": "eeb41751-d9da-4712-ab31-e660827c8104"
}