folder/GD_Building LW (Vladislav Saveliev)_v.1.json
{
  "active": true,
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request8",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request12",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request24",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request28",
            "type": "main"
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini API with Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini API with Image2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If4",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini API with Image3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If5",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini API with Image6": {
      "main": [
        [
          {
            "index": 0,
            "node": "If8",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini API with Image7": {
      "main": [
        [
          {
            "index": 0,
            "node": "If9",
            "type": "main"
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items9",
            "type": "main"
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Get prompt for AI Agent1": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for AI Agent3": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent3",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for AI Agent4": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for AI Agent7": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent7",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get prompt for AI Agent8": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent8",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "If2",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent7",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent8",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message19",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)2",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message25",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message7",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request14",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message8",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)3",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request24": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message31",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message13",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request25": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request26",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message14",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request26": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)6",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request27": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request28": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message33",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message15",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request29": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request30",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message16",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request30": {
      "main": [
        [
          {
            "index": 0,
            "node": "Transform to base64 (image)7",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request31": {
      "main": [
        [
          {
            "index": 4,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message2",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message23",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message5",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request10",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send a text message6",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append row in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request11",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request15",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request27",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request31",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Send a text message20",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items11": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Loop Over Items9",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Send a text message24",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Send a text message26",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Send a text message32",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Send a text message34",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items9": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "AI Agent3",
            "type": "main"
          },
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "main"
          },
          {
            "index": 0,
            "node": "AI Agent7",
            "type": "main"
          },
          {
            "index": 0,
            "node": "AI Agent8",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a photo message",
            "type": "main"
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items11",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code1",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message19": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message20": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent1",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message23": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message24": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent3",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message25": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message26": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message31": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message32": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent7",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message33": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait7",
            "type": "main"
          }
        ]
      ]
    },
    "Send a text message34": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent8",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract from File",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call Gemini API with Image",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call Gemini API with Image2",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call Gemini API with Image3",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call Gemini API with Image6",
            "type": "main"
          }
        ]
      ]
    },
    "Transform to base64 (image)7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call Gemini API with Image7",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request9",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request13",
            "type": "main"
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request25",
            "type": "main"
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request29",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T08:31:17.029Z",
  "id": "OHHQ0mLeb3sNb3fL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "GD_Building LW (Vladislav Saveliev)_v.1",
  "nodes": [
    {
      "id": "6ea24c53-1eea-4abb-a23d-acad0c787fc0",
      "name": "HTTP Request",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview/ultra"
      },
      "position": [
        144,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "130ccc74-e5af-4832-9691-d39c8d1bb1cf",
      "name": "Wait1",
      "parameters": {
        "amount": 60
      },
      "position": [
        768,
        192
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fa5b7242-9b55-4b80-9584-ab105925d0db"
    },
    {
      "id": "226d7f80-b964-42d3-b81b-53ec06292bc7",
      "name": "HTTP Request4",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('HTTP Request').item.json.request_id }}"
      },
      "position": [
        928,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "ad3f492f-4661-4ecc-94b0-43e70e647d53",
      "name": "HTTP Request1",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        1104,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "93861461-cfab-4883-b772-9cae3c5e8c19",
      "name": "Call Gemini API with Image",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Determine whether the perspective is correct yes/no. Strict orthographic isometric projection high angle view top down view three quarter classic strategy game angle without perspective distortion Detailed breakdown Projection Strict orthographic isometric projection Height and angle High angle view top down at 45 degrees Rotation Three quarter view classic game rotation View style Architectural model view strategy game asset style Negative prompt perspective view vanishing point eye-level shot low-angle shot camera distortion foreshortening two-point perspective tilted vertical lines photography\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
      },
      "position": [
        1440,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "49cf4716-e103-4b02-ae24-7baa4421d926",
      "name": "Transform to base64 (image)",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1280,
        192
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "78c6d886-fa4f-42b0-918f-c00db36754e2",
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1632,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "4ee7f315-fe08-4c76-bc7a-c2d3a24bc672",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1888,
        320
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "fc4d442e-7ed1-484c-af9a-e47777fed16a",
      "name": "HTTP Request2",
      "parameters": {
        "options": {},
        "url": "={{ $('HTTP Request1').item.json.images[0].url }}"
      },
      "position": [
        1888,
        192
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "a6143d90-6a60-4ae7-a24b-c1f7330737a4",
      "name": "AI Agent1",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -224,
        192
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "8f71705a-78c7-4b2f-93a2-dd4f2af86232",
      "name": "Google Gemini Chat Model1",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -208,
        352
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "4f37912f-6668-477f-9495-c8aeb076effe",
      "name": "Send a text message1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с промтом, повторите попытку."
      },
      "position": [
        304,
        320
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "acf3575e-0366-463c-9a9a-004789ac21d2",
      "name": "Send a text message2",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с генерацией, повторите попытку."
      },
      "position": [
        1104,
        352
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "292fcbd0-f0a8-42ed-a51e-fc19bd613615",
      "name": "Merge",
      "parameters": {
        "numberInputs": 5
      },
      "position": [
        2432,
        448
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "aa84a136-b8cf-4f55-8b98-afe476f0eab6",
      "name": "HTTP Request8",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview/ultra"
      },
      "position": [
        144,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "4dfb380d-5fc3-4d69-8481-22e94ff1a2d6",
      "name": "Wait2",
      "parameters": {
        "amount": 60
      },
      "position": [
        768,
        544
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fa5b7242-9b55-4b80-9584-ab105925d0db"
    },
    {
      "id": "2de59ac7-6756-4509-955c-58f9af563f3f",
      "name": "HTTP Request9",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('HTTP Request8').item.json.request_id }}"
      },
      "position": [
        928,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "cd67d418-d376-40ea-b73e-62bab3924b01",
      "name": "HTTP Request10",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        1104,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "fa69f1cd-ba31-4194-b38e-336d4be78656",
      "name": "Call Gemini API with Image2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Determine whether the perspective is correct yes/no. Strict orthographic isometric projection high angle view top down view three quarter classic strategy game angle without perspective distortion Detailed breakdown Projection Strict orthographic isometric projection Height and angle High angle view top down at 45 degrees Rotation Three quarter view classic game rotation View style Architectural model view strategy game asset style Negative prompt perspective view vanishing point eye-level shot low-angle shot camera distortion foreshortening two-point perspective tilted vertical lines photography\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
      },
      "position": [
        1440,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "4d6d6eb3-4306-447c-b4e5-c4ebaa20296d",
      "name": "Transform to base64 (image)2",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1280,
        544
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "fdfba04e-ebad-478e-b116-f5f48a13fc84",
      "name": "If4",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1632,
        544
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "e4f3efca-9212-4971-8db3-a7566fe2ffdd",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1888,
        688
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "a9298fe6-c235-40ac-8cc3-684c174970c6",
      "name": "HTTP Request11",
      "parameters": {
        "options": {},
        "url": "={{ $('HTTP Request10').item.json.images[0].url }}"
      },
      "position": [
        1888,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "8c50888c-3ac2-46b6-96fb-12e1cc4566d8",
      "name": "AI Agent3",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -224,
        544
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "c0ce1ef1-b1e6-4dc0-b402-fabb6fd51b2a",
      "name": "Google Gemini Chat Model2",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -208,
        704
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "66d55acf-17df-48d6-80c0-200be175ad1c",
      "name": "Send a text message5",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с промтом, повторите попытку."
      },
      "position": [
        304,
        688
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "b28e8f96-0783-402e-8845-309b2c13e5fa",
      "name": "Send a text message6",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с генерацией, повторите попытку."
      },
      "position": [
        1104,
        704
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "6b819864-6ff4-4f66-b728-7f79a3a5b706",
      "name": "HTTP Request12",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview/ultra"
      },
      "position": [
        144,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f629bc18-9601-4e89-b3b5-fdaadbe42a62",
      "name": "Wait3",
      "parameters": {
        "amount": 60
      },
      "position": [
        768,
        928
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fa5b7242-9b55-4b80-9584-ab105925d0db"
    },
    {
      "id": "5be7043b-c4a3-420c-8279-7c52acb36be7",
      "name": "HTTP Request13",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('HTTP Request12').item.json.request_id }}"
      },
      "position": [
        928,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "3b00bcac-036f-45db-a155-b8ffd829a886",
      "name": "HTTP Request14",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        1104,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "4fc53d9c-2df6-423c-8249-b7ebc3437501",
      "name": "Call Gemini API with Image3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Determine whether the perspective is correct yes/no. Strict orthographic isometric projection high angle view top down view three quarter classic strategy game angle without perspective distortion Detailed breakdown Projection Strict orthographic isometric projection Height and angle High angle view top down at 45 degrees Rotation Three quarter view classic game rotation View style Architectural model view strategy game asset style Negative prompt perspective view vanishing point eye-level shot low-angle shot camera distortion foreshortening two-point perspective tilted vertical lines photography\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
      },
      "position": [
        1440,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "91e7ae40-24fb-42bf-af44-98049ab78589",
      "name": "Transform to base64 (image)3",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1280,
        928
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "4603987d-1936-4268-8e59-068d56705a1f",
      "name": "If5",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1632,
        928
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "a8d1535f-9f0b-4923-9c1e-c051e1f23442",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1888,
        1072
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "fb3183cd-0d45-4f3b-988e-3f732496fef8",
      "name": "HTTP Request15",
      "parameters": {
        "options": {},
        "url": "={{ $('HTTP Request14').item.json.images[0].url }}"
      },
      "position": [
        1888,
        928
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "066b2834-dac6-4533-8fdf-2cf096051b2f",
      "name": "AI Agent4",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -224,
        928
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "d689ed88-5b93-4435-ae29-09e4a98633d4",
      "name": "Google Gemini Chat Model3",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -208,
        1088
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "4cf778cd-dc64-4820-8a5c-d3323ca1ac28",
      "name": "Send a text message7",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с промтом, повторите попытку."
      },
      "position": [
        304,
        1072
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "2ade27c5-8eca-4b15-b856-c8f484af57e3",
      "name": "Send a text message8",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с генерацией, повторите попытку."
      },
      "position": [
        1104,
        1088
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "93bee64e-c427-483d-b790-a80d37c061ef",
      "name": "HTTP Request24",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview/ultra"
      },
      "position": [
        144,
        1280
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "450c6c4f-31ad-4113-a6d4-efbb121a76ad",
      "name": "Wait6",
      "parameters": {
        "amount": 60
      },
      "position": [
        768,
        1280
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fa5b7242-9b55-4b80-9584-ab105925d0db"
    },
    {
      "id": "d750da5a-4dde-482a-99cb-531df6e77e45",
      "name": "HTTP Request25",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('HTTP Request24').item.json.request_id }}"
      },
      "position": [
        928,
        1280
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "a3c60cdb-72fe-4e64-8298-827ad17621b7",
      "name": "HTTP Request26",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        1104,
        1280
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "955869fd-1557-4860-84a2-3155920030aa",
      "name": "Call Gemini API with Image6",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Determine whether the perspective is correct yes/no. Strict orthographic isometric projection high angle view top down view three quarter classic strategy game angle without perspective distortion Detailed breakdown Projection Strict orthographic isometric projection Height and angle High angle view top down at 45 degrees Rotation Three quarter view classic game rotation View style Architectural model view strategy game asset style Negative prompt perspective view vanishing point eye-level shot low-angle shot camera distortion foreshortening two-point perspective tilted vertical lines photography\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
      },
      "position": [
        1440,
        1280
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "0fac63b3-fd5b-49f3-b3db-9b213b9ab051",
      "name": "Transform to base64 (image)6",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1280,
        1280
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "ff20661a-d308-4cfb-bc65-fd0a3e2c7fbe",
      "name": "If8",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1632,
        1280
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "77bcb24d-1699-413d-adc7-67f0033b8ea1",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1888,
        1424
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "2c497a78-e242-4069-a82b-f0181fa76f84",
      "name": "HTTP Request27",
      "parameters": {
        "options": {},
        "url": "={{ $('HTTP Request26').item.json.images[0].url }}"
      },
      "position": [
        1888,
        1280
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "08137065-6695-42e7-b6ff-857b535b0ab0",
      "name": "AI Agent7",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -224,
        1280
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "66f195f4-9eae-451c-ad86-9de820fcca8a",
      "name": "Google Gemini Chat Model6",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -208,
        1440
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "bc029f07-070f-4243-a6c8-1ecef98919c8",
      "name": "Send a text message13",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с промтом, повторите попытку."
      },
      "position": [
        304,
        1424
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "79334586-9d11-42e1-b6a5-21f12fb28cd1",
      "name": "Send a text message14",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с генерацией, повторите попытку."
      },
      "position": [
        1104,
        1440
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "b5e5ed66-aa20-47e2-b2b4-6d993ac196c4",
      "name": "HTTP Request28",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.output }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview/ultra"
      },
      "position": [
        144,
        1712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "5a8f9c1f-4b33-4f13-9597-81844305f5a7",
      "name": "Wait7",
      "parameters": {
        "amount": 60
      },
      "position": [
        768,
        1712
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fa5b7242-9b55-4b80-9584-ab105925d0db"
    },
    {
      "id": "ebda3113-69f6-4a30-b217-045a43bd9763",
      "name": "HTTP Request29",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('HTTP Request28').item.json.request_id }}"
      },
      "position": [
        928,
        1712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "cf651c09-22ee-414d-b4b5-7362389b0afc",
      "name": "HTTP Request30",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        1104,
        1712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "baaa9356-6eca-42a1-89a0-10414cd93e9e",
      "name": "Call Gemini API with Image7",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDewKLyP-TIb3gc2kZPHdTFq7Zo3pW5qiA"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Determine whether the perspective is correct yes/no. Strict orthographic isometric projection high angle view top down view three quarter classic strategy game angle without perspective distortion Detailed breakdown Projection Strict orthographic isometric projection Height and angle High angle view top down at 45 degrees Rotation Three quarter view classic game rotation View style Architectural model view strategy game asset style Negative prompt perspective view vanishing point eye-level shot low-angle shot camera distortion foreshortening two-point perspective tilted vertical lines photography\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}",
        "method": "POST",
        "options": {
          "response": {
            "response": {}
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"
      },
      "position": [
        1440,
        1712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "b4f7d9f6-8275-4bde-9f71-80d4f609ea6f",
      "name": "Transform to base64 (image)7",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        1280,
        1712
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "ae34f74c-bf3d-41d7-b81d-9328677a40a7",
      "name": "If9",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "yes"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1632,
        1712
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "52a624db-64a8-4567-88aa-925498714a15",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        1888,
        1840
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "394d4884-30cc-489f-8788-8c39e97f7e2b",
      "name": "HTTP Request31",
      "parameters": {
        "options": {},
        "url": "={{ $('HTTP Request30').item.json.images[0].url }}"
      },
      "position": [
        1888,
        1712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "f4fb8471-b760-42da-885f-604bd17e9ab1",
      "name": "AI Agent8",
      "parameters": {
        "options": {
          "systemMessage": "=Обратись к data table для получения промпта, полученный промпт используй для обработки входящего сообщения, обработай полученное сообщение сразу же, не спрашивай, не добавляй доп. текст, просто исполни инструкцию которую ты получил из data table"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "position": [
        -224,
        1712
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "8c7b16ec-2d1b-4a86-8af4-58d9cae6c39c",
      "name": "Google Gemini Chat Model7",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -208,
        1872
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "cfb9f183-3200-4e8d-9f33-ac7882e6f2d9",
      "name": "Send a text message15",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с промтом, повторите попытку."
      },
      "position": [
        304,
        1840
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "f157e456-4410-456f-b0df-a1bd54732a92",
      "name": "Send a text message16",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Произошла ошибка с генерацией, повторите попытку."
      },
      "position": [
        1104,
        1872
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "id": "71588e35-a686-47c4-8e50-0c546575169d",
      "name": "Loop Over Items11",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        3008,
        560
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "7ed4acaa-286d-43ea-a4e2-22559303d855",
      "name": "Send a photo message",
      "parameters": {
        "additionalFields": {},
        "binaryData": true,
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "operation": "sendPhoto"
      },
      "position": [
        2624,
        560
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "a2bc8374-9494-42c2-bbca-7d4cf9ddef07"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "61bc1cee-83c8-461a-8385-e3a7e0a5033b",
      "name": "Send a text message19",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Итерация запущена, ожидайте!"
      },
      "position": [
        480,
        192
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "f8a0ada1-a868-42f9-bee5-b8f5ca14556a",
      "name": "Send a text message20",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Идет повторная итерация, подождите"
      },
      "position": [
        2064,
        320
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b1307b0b-042d-4df6-98a0-fbfe446a9d07"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "2ba9b12b-7cef-4d6b-9beb-9960ef0a2831",
      "name": "Send a text message23",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Итерация запущена, ожидайте!"
      },
      "position": [
        480,
        544
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "3d68e975-b17b-4abf-b935-458e84d5e0b9",
      "name": "Send a text message24",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Идет повторная итерация, подождите"
      },
      "position": [
        2064,
        688
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b1307b0b-042d-4df6-98a0-fbfe446a9d07"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "54f77b42-6528-4b80-a95a-518067b5bd0e",
      "name": "Send a text message25",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Итерация запущена, ожидайте!"
      },
      "position": [
        480,
        928
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "149dd4cb-1dd2-400f-8f23-7eaf92cc5388",
      "name": "Send a text message26",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Идет повторная итерация, подождите"
      },
      "position": [
        2064,
        1072
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b1307b0b-042d-4df6-98a0-fbfe446a9d07"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "9155c6ba-e1c0-4bca-be30-74e1eca070b6",
      "name": "Send a text message31",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Итерация запущена, ожидайте!"
      },
      "position": [
        480,
        1280
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "9f3e8116-3094-44c3-ba54-bbc34dc538f3",
      "name": "Send a text message32",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Идет повторная итерация, подождите"
      },
      "position": [
        2064,
        1424
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b1307b0b-042d-4df6-98a0-fbfe446a9d07"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "940e75a5-5a97-4aa8-ada1-5e21b73ac66e",
      "name": "Send a text message33",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Итерация запущена, ожидайте!"
      },
      "position": [
        480,
        1712
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "1a131f2a-5687-4c0e-a332-58b68e7a5a4b",
      "name": "Send a text message34",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Идет повторная итерация, подождите"
      },
      "position": [
        2064,
        1840
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "b1307b0b-042d-4df6-98a0-fbfe446a9d07"
    },
    {
      "id": "760d120f-4c0b-4ee1-9b16-97ce057b2e27",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "cc8aca81-0d7f-4c46-9889-ce1ca72ae4d4",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.username }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "BGWilly"
            },
            {
              "id": "335d29a9-b434-431b-8e8e-9521e29be338",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.username }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "Dan4cho"
            },
            {
              "id": "bb7e03c3-51cc-47f6-ae09-9f495866750c",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.username }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "Ne_Foxik"
            },
            {
              "id": "8b2f1cc5-20bc-44ba-aa32-0d5bc70ba307",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.username }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "Det_rin"
            },
            {
              "id": "50ecbb5b-4020-4b9a-a728-34bf65ee8631",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.username }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "WunshPunshhh"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -1600,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "3e80049b-7812-4353-8099-1b64528ea422",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b951e2d-0696-4cb6-82de-4ed2f1b4301b",
              "name": "text",
              "type": "string",
              "value": "={{ $('Extract from File').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1360,
        192
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "f8021bc0-8d4a-4b71-afe4-aba2ad9f4479",
      "name": "Code",
      "parameters": {
        "jsCode": "const items = $input.first().json.text;\n\nlet result = '';\nfor (const item of items) {\n  if (item.json?.data?.text) {\n    result = item.json.data.text;\n    break;\n  }\n}\n\n// Удаляем все \\r, \\n, \\t, заменяя на пробел\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\n\n// Заменяем маркеры \"•\" и точки с пробелом на дефис и пробел\ncleanedText = cleanedText.replace(/•/g, '-');\n\n// Убираем лишние пробелы (больше одного подряд)\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      result: cleanedText\n    }\n  }\n];\n"
      },
      "position": [
        -1184,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "39d138d5-37cd-414e-af1c-cff5d50e5f11",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Проверка промта."
      },
      "position": [
        -1008,
        192
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "3df86982-4e7c-4fe4-ad5a-f93efa7c60b6"
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "c6904f54-5ccc-41ad-b595-12743a902e7c",
      "name": "Append row in sheet",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": true,
              "display": true,
              "displayName": "id",
              "id": "id",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Логин",
              "id": "Логин",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "id": "==ROW()-1",
            "Логин": "={{ $('Telegram Trigger').item.json.message.chat.username }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "Telegram ID Chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4"
        },
        "operation": "append",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1744,
        192
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "48ff8299-ce74-495d-bf76-9baba5956d74",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Telegram ID Chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chat ID",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MN9WsKrxd956d3_DKZUf8X-7_d1nKkORSihE14etLz4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -2048,
        192
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "7ae0c274-7379-47c7-ae0d-9d8a7819f7ad",
      "name": "If2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6997d322-d512-4027-9161-902f96820d62",
              "leftValue": "={{ $json['Chat ID'] }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "number"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        -1888,
        192
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "dc48bef9-4a96-436e-a56c-2a6a9c4cef35",
      "name": "Code1",
      "parameters": {
        "jsCode": "// Вход: текст из Telegram, например, \"Идея1\\nИдея2\\nИдея3\" или \"1. Идея1 2. Идея2\"\nconst text = $('Edit Fields').first().json.text// Получаем текст сообщения\n\n// Разделяем по новым строкам (или адаптируй: по ',' или регуляркой для номеров)\nlet ideas = text.split('\\n').map(idea => idea.trim()).filter(idea => idea.length > 0);\n\n// Если идеи нумерованы (типа \"1. ...\"), используй regex для очистки\n// ideas = text.split(/\\d+\\./).map(idea => idea.trim()).filter(idea => idea.length > 0);\nideas = ideas.map(idea => idea.replace(/^\\d+\\.\\s*/, ''));\n\n// Возвращаем массив объектов, где каждый — отдельная идея\nreturn ideas.map(idea => ({ json: { idea } }));"
      },
      "position": [
        -848,
        192
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "44dd0a9a-f160-44a6-8f86-3b7fdffb56e1",
      "name": "Loop Over Items9",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -544,
        192
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "executeOnce": false,
      "id": "5557b8ba-546a-4f8b-b0e9-5ea7003aea31",
      "name": "Edit Fields1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "575a61dd-05f1-4e02-a23d-c997e5f9179d",
              "name": "idea",
              "type": "string",
              "value": "={{ $json.idea }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -688,
        192
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "LT9WoulXlMvTubE1",
          "name": "Build LW"
        }
      },
      "id": "939b90b5-29e8-4566-8f26-b7e55ae017b8",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {
          "download": true
        },
        "updates": [
          "message"
        ]
      },
      "position": [
        -2416,
        192
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "2fe21576-187c-4acf-afeb-3784ec7eb79a"
    },
    {
      "id": "60c8e5f0-e5f2-4802-9ce6-f03d5528474f",
      "name": "Extract from File",
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "position": [
        -2208,
        192
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-a6143d90-6a60-4ae7-a24b-c1f7330737a4",
      "name": "Get prompt for AI Agent1",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "a6143d90-6a60-4ae7-a24b-c1f7330737a4"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -64,
        192
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-8c50888c-3ac2-46b6-96fb-12e1cc4566d8",
      "name": "Get prompt for AI Agent3",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "8c50888c-3ac2-46b6-96fb-12e1cc4566d8"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -64,
        544
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-066b2834-dac6-4533-8fdf-2cf096051b2f",
      "name": "Get prompt for AI Agent4",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "066b2834-dac6-4533-8fdf-2cf096051b2f"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -64,
        928
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-08137065-6695-42e7-b6ff-857b535b0ab0",
      "name": "Get prompt for AI Agent7",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "08137065-6695-42e7-b6ff-857b535b0ab0"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -64,
        1280
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    },
    {
      "id": "datatable-tool-for-f4fb8471-b760-42da-885f-604bd17e9ab1",
      "name": "Get prompt for AI Agent8",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "VzaWf779bSTwqxiQ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "node_id",
              "keyValue": "f4fb8471-b760-42da-885f-604bd17e9ab1"
            }
          ]
        },
        "limit": 1000,
        "matchType": "allConditions",
        "operation": "get"
      },
      "position": [
        -64,
        1712
      ],
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-14T08:31:17.033Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-14T08:31:17.033Z",
      "workflowId": "OHHQ0mLeb3sNb3fL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-14T08:26:20.798Z",
      "id": "QEHbVhy6Fh3iNUlR",
      "name": "LW",
      "updatedAt": "2025-07-14T08:26:20.798Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-10T15:36:34.483Z",
  "versionId": "63e63460-4a92-4a5a-ac84-4f52f5f03486"
}