folder/Head_ASMR Jump(Vladislav Saveliev).json
{
  "active": false,
  "connections": {
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items17",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items8",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete rows or columns from sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo1",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo4",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo5",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo6",
            "type": "main"
          }
        ]
      ]
    },
    "Create Video5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo2",
            "type": "main"
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload Video and Description to Tiktok",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload Video and Description to Instagram1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям4",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям2",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка по критериям3",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ссылки видео1",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Title1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search files and folders1",
            "type": "main"
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request8",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Get Video5": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields5",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait for Veo",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request3",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request4",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video5",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Append or update row in sheet5",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items11": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items12": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items13": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items14": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items15": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items16": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo6",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items17": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items18": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items19": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценария",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items20": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait for Veo2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Structured Output Parser5",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model15": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Генерация промтов",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Анимация видео",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценария",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser3",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser4",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона4",
            "type": "main"
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download file1",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона4",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_memory"
          },
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона4",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items14",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items11",
            "type": "main"
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items15",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items12",
            "type": "main"
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items16",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items13",
            "type": "main"
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items18",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Video5",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items20",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items19",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "YT Tags1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo1": {
      "main": [
        [
          {
            "index": 0,
            "node": "status4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo2": {
      "main": [
        [
          {
            "index": 0,
            "node": "status5",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo4": {
      "main": [
        [
          {
            "index": 0,
            "node": "status1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo5": {
      "main": [
        [
          {
            "index": 0,
            "node": "status2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait for Veo6": {
      "main": [
        [
          {
            "index": 0,
            "node": "status3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Final Video",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append or update row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "YT Tags1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Title1",
            "type": "main"
          }
        ]
      ]
    },
    "status1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch1",
            "type": "main"
          }
        ]
      ]
    },
    "status2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch2",
            "type": "main"
          }
        ]
      ]
    },
    "status3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch3",
            "type": "main"
          }
        ]
      ]
    },
    "status4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch4",
            "type": "main"
          }
        ]
      ]
    },
    "status5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch5",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Switch5",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request1",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video2",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video3",
            "type": "main"
          }
        ]
      ]
    },
    "Анимация видео4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Video4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценария4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Генерация промтов4",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона1",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона2",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона3",
            "type": "main"
          }
        ]
      ]
    },
    "Генератор сценарного шаблона4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Генератор сценарного шаблона4",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео2",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео3",
            "type": "main"
          }
        ]
      ]
    },
    "Генерация промтов4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Анимация видео4",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям1": {
      "main": [
        [
          {
            "index": 0,
            "node": "If3",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If4",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If5",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка по критериям4": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Ссылки видео1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-16T07:30:34.444Z",
  "id": "E0OUUq7hfZHF848P",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Head_ASMR Jump(Vladislav Saveliev)",
  "nodes": [
    {
      "id": "3bab5f5c-935e-42ea-a57c-2e18988ba6b7",
      "name": "Upload Video and Description to Tiktok",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}\nChronooCrush\nExploring moments, stories, and the passage of time.\n\nConnect with us:\nYouTube: https://www.youtube.com/@ChronooCrush\nInstagram: https://www.instagram.com/chronoocrush/\nTikTok: https://www.tiktok.com/@leblancjoel926"
            },
            {
              "name": "user",
              "value": "ASMRComp"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        1008,
        992
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "52276a80-e170-4bf6-a073-2617eee68052",
      "name": "Upload Video and Description to Instagram",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRComp"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "caption",
              "value": "ChronooCrush\nExploring moments, stories, and the passage of time.\n\nConnect with us:\nYouTube: https://www.youtube.com/@ChronooCrush\nInstagram: https://www.instagram.com/chronoocrush/\nTikTok: https://www.tiktok.com/@leblancjoel926"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        1008,
        1232
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "5e199ac1-fe9f-4d12-9fa2-4a6fb8cce740",
      "name": "Upload Video and Description to Instagram1",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Title1').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "ASMRComp"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "tags",
              "value": "={{ $('YT Tags1').item.json.output }}"
            },
            {
              "name": "madeForKids",
              "value": "false"
            },
            {
              "name": "privacyStatus",
              "value": "public"
            },
            {
              "name": "description",
              "value": "ChronooCrush\nExploring moments, stories, and the passage of time.\n\nConnect with us:\nYouTube: https://www.youtube.com/@ChronooCrush\nInstagram: https://www.instagram.com/chronoocrush/\nTikTok: https://www.tiktok.com/@leblancjoel926"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImNhbm5vbmhhbXphaEBnbWFpbC5jb20iLCJleHAiOjQ5MDMyMjI0MTcsImp0aSI6IjliYWM3ZGJjLTg3MjktNDQ1Yy04ODJiLTkwMDVlODU2NWMyMCJ9.yJi2F9zJ8dAmF9cqMJqEF8j5NKhTTdS5--67uJqRLJA"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        1008,
        1456
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "67172601-0b03-4ac4-88cd-1664f3646c7f",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3360,
        1040
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "ec22d61b-f92a-43ca-8c55-088dd41349fa",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3456,
        1040
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "0edf4e84-8a84-4988-8052-e53dee034b35",
      "name": "Генератор сценарного шаблона1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены сжатия/давления оригинального объекта, связанного с фильмом/сериалом.\n## Контекст: В каждой сцене — обычный, узнаваемый или фантазийный объект подвергается сжатию/раздавливанию гидравлическим прессом сверху вниз.\n## Задача: На основе названия фильма/сериала придумать три сцены строго по структуре:\n- Compression: [Одно предложение, где описан эффектный процесс сжатия или давления объекта прессом сверху вниз, с описанием деформации и эффекта].\n- Object: [Название и описание объекта, реального размера, не мини, не кластер, не абстракция, связан с фильмом/сериалом].\n- Reaction: [Что происходит при сжатии: деформация, треск, вытекание содержимого, разлом, пыль, звук, свет].\n- Surface: [Реалистичная поверхность: стол, платформа пресса, асфальт, металл, дерево].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, по делу, без воды.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, сжатие происходит прессом сверху, никаких миниатюр, кластеров, магии, еды, сюрреализма.\n## Финальный чек-лист:\n– Всё по структуре, только реализм, только сжатие.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который давят должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -3456,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "bf3bee55-6f0e-465c-9d18-5e02a3d5258c",
      "name": "Проверка по критериям1",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3008,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "0d1b80c1-c41d-45c1-add7-93512fd4b10d",
      "maxTries": 5,
      "name": "If3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2704,
        848
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "8e928ca2-eede-49e1-84d0-a8564935d97c",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2544,
        848
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "c82ef718-7144-4710-a1ed-c21d60924aad",
      "name": "Structured Output Parser3",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3376,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "1ce32607-fb54-428b-b2dc-b51d3aef6f08",
      "name": "OpenAI Chat Model7",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3456,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "831eea16-6cd9-45e9-b643-fe6b58589eed",
      "name": "Генератор сценарного шаблона2",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены сжатия/давления оригинального объекта, связанного с фильмом/сериалом.\n## Контекст: В каждой сцене — обычный, узнаваемый или фантазийный объект подвергается сжатию/раздавливанию гидравлическим прессом сверху вниз.\n## Задача: На основе названия фильма/сериала придумать три сцены строго по структуре:\n- Compression: [Одно предложение, где описан эффектный процесс сжатия или давления объекта прессом сверху вниз, с описанием деформации и эффекта].\n- Object: [Название и описание объекта, реального размера, не мини, не кластер, не абстракция, связан с фильмом/сериалом].\n- Reaction: [Что происходит при сжатии: деформация, треск, вытекание содержимого, разлом, пыль, звук, свет].\n- Surface: [Реалистичная поверхность: стол, платформа пресса, асфальт, металл, дерево].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, по делу, без воды.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, сжатие происходит прессом сверху, никаких миниатюр, кластеров, магии, еды, сюрреализма.\n## Финальный чек-лист:\n– Всё по структуре, только реализм, только сжатие.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который давят должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -3456,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "10f78cfd-d911-4265-b7c3-ba308835cb66",
      "name": "Проверка по критериям2",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3008,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "c2589649-57c7-4f15-9e98-f77e3afd3750",
      "maxTries": 5,
      "name": "If4",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2704,
        1200
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "c5970826-186b-400f-a947-414cff3708d7",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2544,
        1200
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "ae9fe24e-7a6f-49e1-bcb4-57da257e2640",
      "name": "Structured Output Parser4",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3376,
        1760
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "4f369b38-cf42-4527-8664-4634481fda40",
      "name": "OpenAI Chat Model8",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3456,
        1760
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "5ed99244-b17a-46ab-baf9-b1fe596b2c55",
      "name": "Генератор сценарного шаблона3",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, придумывающий уникальные сцены сжатия/давления оригинального объекта, связанного с фильмом/сериалом.\n## Контекст: В каждой сцене — обычный, узнаваемый или фантазийный объект подвергается сжатию/раздавливанию гидравлическим прессом сверху вниз.\n## Задача: На основе названия фильма/сериала придумать три сцены строго по структуре:\n- Compression: [Одно предложение, где описан эффектный процесс сжатия или давления объекта прессом сверху вниз, с описанием деформации и эффекта].\n- Object: [Название и описание объекта, реального размера, не мини, не кластер, не абстракция, связан с фильмом/сериалом].\n- Reaction: [Что происходит при сжатии: деформация, треск, вытекание содержимого, разлом, пыль, звук, свет].\n- Surface: [Реалистичная поверхность: стол, платформа пресса, асфальт, металл, дерево].\n## Входные данные:\n– Название фильма/сериала.\n## Формат ответа: Markdown, пронумеровано, строго по структуре.\n## Стиль: Сухо, по делу, без воды.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, сжатие происходит прессом сверху, никаких миниатюр, кластеров, магии, еды, сюрреализма.\n## Финальный чек-лист:\n– Всё по структуре, только реализм, только сжатие.\n"
        },
        "promptType": "define",
        "text": "=Напиши в стиле фильма\\сериала и не повторяйся: {{ $('Жанры').item.json.output.title }}\nВажно! Предметы который давят должен быть узнаваемым или прям из фильма\\сериала"
      },
      "position": [
        -3456,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "53fba401-d4ca-4f79-aeb5-acf2ba8bd187",
      "name": "Проверка по критериям3",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -3008,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "id": "9fbb38e2-d4bb-4519-9ce7-8661332993bb",
      "maxTries": 5,
      "name": "If5",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "да"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2704,
        1568
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "f03eeea1-7cf4-47e2-a240-dac65b762a6f",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2544,
        1568
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "829a0576-17e6-43ac-a947-904719a1f2e6",
      "name": "Генерация промтов2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены сжатия оригинального объекта гидравлическим прессом сверху (без миниатюр, магии, еды, кластеров, сюрреализма).\n## Контекст: Изображение — обычный объект на платформе пресса, сверху над ним — массивный гидравлический пресс, момент сжатия, все детали деформации видны, физика реалистична.\n## Задача: Описать промт на английском одной строкой: объект на платформе, над ним пресс, момент сжатия, все детали деформации, hyper-realistic, dramatic lighting, no magic, 16:9, no motion blur.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, пресс сверху, никакой миниатюрности или магии.\n## Финальный чек-лист:\n– Всё только про реалистичное сжатие оригинального объекта прессом.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -2080,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "d22ba4a9-8887-4c5d-84d1-c3a98c4b7306",
      "name": "OpenAI Chat Model10",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2080,
        1040
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "c127c593-89ac-41c1-bbd4-689bd23b6489",
      "name": "Генератор сценария2",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для сцены сжатия оригинального объекта прессом сверху, максимально реалистично и эффектно, без магии и сюрреализма.\n## Контекст: Видео — 6–8 секунд, камера статична, объект оригинального размера, пресс сжимает его сверху, фиксируется весь процесс: деформация, трещины, вытекание, разлом, звуки.\n## Задача: Описать сцену секционно: объект, описание, динамика сжатия, реакция содержимого, звук, длительность по секциям (start, press, release, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, пошагово, всё про сжатие, физика, звук.\n## Требования:\n– Язык: Английский.\n– Обычный объект, пресс сверху вниз, реализм, всё без магии, миниатюр, кластеров.\n## Финальный чек-лист:\n– Всё по сцене, только физика сжатия, все шаги по времени.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields2').item.json.Scene }}"
      },
      "position": [
        -2384,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "2a049c7b-ca85-45c6-8ec4-96f7913b776f",
      "name": "Анимация видео2",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"metal ball\", \"rubber duck\", \"ceramic mug\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being slowly and satisfyingly compressed or crushed by a hydraulic press or similar device in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a heavy industrial press surface, typically polished steel or heavy-duty metal.\n* Compression must appear realistic, visually satisfying, and physically plausible—the object must deform smoothly or fracture realistically based on its material.\n* The video starts immediately with the pressing action.\n* The object must retain clear visual details (color, texture, and reflective qualities) to create strong visual contrast during compression.\n* No humans visible. Only the mechanical press visibly performing the action.\n* The pressing should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of press contacting the object\n  2. Clear sounds of object deforming or fracturing\n  3. Deep resonant hum or mechanical noise of the press exerting force\n  4. Subtle crackling or popping as the object reaches full compression or breaking point\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the forceful yet controlled nature of the pressing.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the press surface material (e.g., polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Pressing Action**: Clearly detail the pressing event—from initial contact to the final compression or fracture.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the press\n   * Detailed deformation or fracturing sounds\n   * Steady mechanical press hum\n   * Subtle final crackling sounds\n5. **Ambience**: Total silence except for pressing sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed firmly on a polished steel pressing platform.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: A heavy industrial press slowly compresses the \\[object], smoothly deforming or fracturing it with visually captivating precision.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed deformation dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial press contact sound, (2) vivid deformation or fracturing sounds, (3) steady resonant mechanical hum, and (4) subtle final crackling as the object fully compresses or fractures. The initial contact sound should be especially sharp and prominent, emphasizing the controlled force of compression. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments to highlight deformation or fractures.\n**Composition**: Centered object, press descends from top.\n**Ambiance**: Pin-drop silence around the pressing sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the satisfying detail of the slow, powerful pressing. Visually mesmerizing, physically calming.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона1').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона1').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона1').item.json.output.Action }}\n- Object: {{ $('Генератор сценарного шаблона1').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона1').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария2').item.json.output }}. \nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1776,
        848
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "0fc7d2bf-2980-42ec-8895-565c56ce6eed",
      "name": "Генерация промтов3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены сжатия оригинального объекта гидравлическим прессом сверху (без миниатюр, магии, еды, кластеров, сюрреализма).\n## Контекст: Изображение — обычный объект на платформе пресса, сверху над ним — массивный гидравлический пресс, момент сжатия, все детали деформации видны, физика реалистична.\n## Задача: Описать промт на английском одной строкой: объект на платформе, над ним пресс, момент сжатия, все детали деформации, hyper-realistic, dramatic lighting, no magic, 16:9, no motion blur.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, пресс сверху, никакой миниатюрности или магии.\n## Финальный чек-лист:\n– Всё только про реалистичное сжатие оригинального объекта прессом.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -2080,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "69a3062c-a337-4026-a3c1-57c4a0cf0990",
      "name": "OpenAI Chat Model11",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2080,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "ab004c6d-bbd3-4de9-8803-055c7f77c4a1",
      "name": "Генератор сценария3",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для сцены сжатия оригинального объекта прессом сверху, максимально реалистично и эффектно, без магии и сюрреализма.\n## Контекст: Видео — 6–8 секунд, камера статична, объект оригинального размера, пресс сжимает его сверху, фиксируется весь процесс: деформация, трещины, вытекание, разлом, звуки.\n## Задача: Описать сцену секционно: объект, описание, динамика сжатия, реакция содержимого, звук, длительность по секциям (start, press, release, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, пошагово, всё про сжатие, физика, звук.\n## Требования:\n– Язык: Английский.\n– Обычный объект, пресс сверху вниз, реализм, всё без магии, миниатюр, кластеров.\n## Финальный чек-лист:\n– Всё по сцене, только физика сжатия, все шаги по времени.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields3').item.json.Scene }}"
      },
      "position": [
        -2384,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "c8c085b5-a3b9-4937-8735-a4c75d9f2a08",
      "name": "Анимация видео3",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"metal ball\", \"rubber duck\", \"ceramic mug\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being slowly and satisfyingly compressed or crushed by a hydraulic press or similar device in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a heavy industrial press surface, typically polished steel or heavy-duty metal.\n* Compression must appear realistic, visually satisfying, and physically plausible—the object must deform smoothly or fracture realistically based on its material.\n* The video starts immediately with the pressing action.\n* The object must retain clear visual details (color, texture, and reflective qualities) to create strong visual contrast during compression.\n* No humans visible. Only the mechanical press visibly performing the action.\n* The pressing should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of press contacting the object\n  2. Clear sounds of object deforming or fracturing\n  3. Deep resonant hum or mechanical noise of the press exerting force\n  4. Subtle crackling or popping as the object reaches full compression or breaking point\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the forceful yet controlled nature of the pressing.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the press surface material (e.g., polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Pressing Action**: Clearly detail the pressing event—from initial contact to the final compression or fracture.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the press\n   * Detailed deformation or fracturing sounds\n   * Steady mechanical press hum\n   * Subtle final crackling sounds\n5. **Ambience**: Total silence except for pressing sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed firmly on a polished steel pressing platform.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: A heavy industrial press slowly compresses the \\[object], smoothly deforming or fracturing it with visually captivating precision.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed deformation dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial press contact sound, (2) vivid deformation or fracturing sounds, (3) steady resonant mechanical hum, and (4) subtle final crackling as the object fully compresses or fractures. The initial contact sound should be especially sharp and prominent, emphasizing the controlled force of compression. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments to highlight deformation or fractures.\n**Composition**: Centered object, press descends from top.\n**Ambiance**: Pin-drop silence around the pressing sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the satisfying detail of the slow, powerful pressing. Visually mesmerizing, physically calming.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона2').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона2').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона2').item.json.output.Action }}\n- Object: {{ $('Генератор сценарного шаблона2').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона2').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария3').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1776,
        1200
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "a2d17a91-eb0f-4f04-8b22-ae548838c6fe",
      "name": "Генерация промтов4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, создающий промт для AI-изображения сцены сжатия оригинального объекта гидравлическим прессом сверху (без миниатюр, магии, еды, кластеров, сюрреализма).\n## Контекст: Изображение — обычный объект на платформе пресса, сверху над ним — массивный гидравлический пресс, момент сжатия, все детали деформации видны, физика реалистична.\n## Задача: Описать промт на английском одной строкой: объект на платформе, над ним пресс, момент сжатия, все детали деформации, hyper-realistic, dramatic lighting, no magic, 16:9, no motion blur.\n## Входные данные:\n– Сцена/описание.\n## Формат ответа: Обычный текст, одной строкой.\n## Стиль: Сухо, визуально.\n## Требования:\n– Язык: Английский.\n– Только физика, обычный объект, пресс сверху, никакой миниатюрности или магии.\n## Финальный чек-лист:\n– Всё только про реалистичное сжатие оригинального объекта прессом.\n"
        },
        "promptType": "define",
        "text": "=Напиши промт:{{ $json.output }}"
      },
      "position": [
        -2080,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "33f32655-ff28-426b-a346-6fb73e37e703",
      "name": "OpenAI Chat Model12",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2080,
        1760
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "bce8dc0b-123f-4fe6-9c45-0adfb7c3b38f",
      "name": "Генератор сценария4",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль: Ты — ИИ-агент, формирующий сценарий только для сцены сжатия оригинального объекта прессом сверху, максимально реалистично и эффектно, без магии и сюрреализма.\n## Контекст: Видео — 6–8 секунд, камера статична, объект оригинального размера, пресс сжимает его сверху, фиксируется весь процесс: деформация, трещины, вытекание, разлом, звуки.\n## Задача: Описать сцену секционно: объект, описание, динамика сжатия, реакция содержимого, звук, длительность по секциям (start, press, release, end).\n## Входные данные:\n– Сцена из предыдущего этапа.\n## Формат ответа: Markdown, секциями.\n## Стиль: Сухо, пошагово, всё про сжатие, физика, звук.\n## Требования:\n– Язык: Английский.\n– Обычный объект, пресс сверху вниз, реализм, всё без магии, миниатюр, кластеров.\n## Финальный чек-лист:\n– Всё по сцене, только физика сжатия, все шаги по времени.\n"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий, но сделай сценарий так чтобы не нарушал авторские права но было максимально похоже на: {{ $('Edit Fields4').item.json.Scene }}"
      },
      "position": [
        -2384,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "69be914c-5add-4d3a-a3ae-bb970d83c5b2",
      "name": "Анимация видео4",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\n\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of an object with a specified material (e.g., \"metal ball\", \"rubber duck\", \"ceramic mug\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being slowly and satisfyingly compressed or crushed by a hydraulic press or similar device in a close-up ASMR scene.\n\n## Core Requirements:\n\n* The video must feel cinematic and photorealistic.\n* Scene is a static, close-up shot of a heavy industrial press surface, typically polished steel or heavy-duty metal.\n* Compression must appear realistic, visually satisfying, and physically plausible—the object must deform smoothly or fracture realistically based on its material.\n* The video starts immediately with the pressing action.\n* The object must retain clear visual details (color, texture, and reflective qualities) to create strong visual contrast during compression.\n* No humans visible. Only the mechanical press visibly performing the action.\n* The pressing should include **four distinct ASMR sound layers**:\n\n  1. Initial crisp sound of press contacting the object\n  2. Clear sounds of object deforming or fracturing\n  3. Deep resonant hum or mechanical noise of the press exerting force\n  4. Subtle crackling or popping as the object reaches full compression or breaking point\n* The **initial contact sound should be especially crisp and prominent**, emphasizing the forceful yet controlled nature of the pressing.\n\n## Prompt Requirements\n\n1. **Scene Description**: Detail the press surface material (e.g., polished steel), lighting setup (e.g., dramatic side-lighting), and camera style.\n2. **Object Detail**: Clearly describe the object's material, color, shape, texture, and reflective or matte qualities.\n3. **Pressing Action**: Clearly detail the pressing event—from initial contact to the final compression or fracture.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n\n   * Initial crisp contact of the press\n   * Detailed deformation or fracturing sounds\n   * Steady mechanical press hum\n   * Subtle final crackling sounds\n5. **Ambience**: Total silence except for pressing sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed \\[material and object] placed firmly on a polished steel pressing platform.\n**Setting**: Static close-up, dramatic yet soft lighting, minimal background.\n**Action**: A heavy industrial press slowly compresses the \\[object], smoothly deforming or fracturing it with visually captivating precision.\n**Style**: Cinematic ASMR realism, photorealistic textures and lighting, detailed deformation dynamics.\n**Sound**: Four high-fidelity sound layers — (1) ultra high definition initial press contact sound, (2) vivid deformation or fracturing sounds, (3) steady resonant mechanical hum, and (4) subtle final crackling as the object fully compresses or fractures. The initial contact sound should be especially sharp and prominent, emphasizing the controlled force of compression. No other audio.\n**Camera Motion**: Fixed camera, minor focus adjustments to highlight deformation or fractures.\n**Composition**: Centered object, press descends from top.\n**Ambiance**: Pin-drop silence around the pressing sounds.\n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed—as if they can see, hear, and feel the satisfying detail of the slow, powerful pressing. Visually mesmerizing, physically calming.\n\nParameters:\n- Scene: {{ $('Генератор сценарного шаблона3').item.json.output.Scene }}\n- Character: {{ $('Генератор сценарного шаблона3').item.json.output.Character }}\n- Action: {{ $('Генератор сценарного шаблона3').item.json.output.Action }}\n- Object: {{ $('Генератор сценарного шаблона3').item.json.output.Object }}\n- Location: {{ $('Генератор сценарного шаблона3').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для Veo 3, добавь еще SFX: {{ $('Генератор сценария4').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1776,
        1568
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "200e6acb-8f54-4a01-9b2f-f24b1f57931c",
      "name": "Create Video2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1488,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "113cf6e0-3295-489f-ab1b-43a9220937b3",
      "name": "Get Video2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status1').item.json.request_id }}"
      },
      "position": [
        -912,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "57ef4a88-f631-4452-ba6b-98353dc1a688",
      "name": "Wait for Veo4",
      "parameters": {
        "amount": 60
      },
      "position": [
        -1328,
        848
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "4fb522c1-1e43-43e6-99b6-e89393dbb5ec"
    },
    {
      "id": "55b3db96-ab9c-4f37-b9b9-982b47195c1a",
      "name": "Create Video3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1488,
        1200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "bfb5d92f-0bb4-4031-923b-7896f151c384",
      "name": "Wait for Veo5",
      "parameters": {
        "amount": "=60"
      },
      "position": [
        -1328,
        1200
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0cf21783-1ff1-4490-901c-ca1dda07d47a"
    },
    {
      "id": "24618eb9-f871-4906-80bc-0e8b58498ef2",
      "name": "Create Video4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1488,
        1568
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "57f19c9a-8313-47ed-8ec9-5c21a1a1e212",
      "name": "Wait for Veo6",
      "parameters": {
        "amount": 60
      },
      "position": [
        -1328,
        1568
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "2a6b21f3-4337-43df-b788-767101cde44e"
    },
    {
      "id": "df63ee31-8825-4ce4-9371-aca13dce91dd",
      "name": "Merge",
      "parameters": {
        "numberInputs": 4
      },
      "position": [
        -432,
        992
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "7f9deb5c-cbfc-4281-8a6c-8796c5270c5c",
      "name": "HTTP Request",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "jsonBody": "={\n  \"template_id\": \"dd46a8e9-ca16-42bb-bd39-80f834eff50b\",\n  \"modifications\": {\n    \"Back-1.source\": \"{{ $json.links[0] }}\",\n    \"Back-2.source\": \"{{ $json.links[1] }}\",\n    \"Back-3.source\": \"{{ $json.links[2] }}\",\n    \"Back-4.source\": \"{{ $json.links[3] }}\",\n    \"Front-1.source\": \"{{ $json.links[0] }}\",\n    \"Front-2.source\": \"{{ $json.links[1] }}\",\n    \"Front-3.source\": \"{{ $json.links[2] }}\",\n    \"Front-4.source\": \"{{ $json.links[3] }}\",\n    \"Name.text\": \"{{ $json.Names[0] }}\"\n  }\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api.creatomate.com/v1/renders"
      },
      "position": [
        192,
        1024
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "4d3983a1-bb15-4b9b-b532-873953e29ce0",
      "name": "Wait1",
      "parameters": {
        "unit": "minutes"
      },
      "position": [
        352,
        1024
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "281d04e9-2744-42a5-97f7-30356f2dd37b"
    },
    {
      "id": "e9db49c0-4e44-4452-b4e9-dc5299f0cfec",
      "name": "Get Final Video",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5d5d8aff2d0d49c29e76955295185dd66ce445dea632809d1abbb569df90dbeab9985eff66803dccc012b6c485e0e47f"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://api.creatomate.com/v1/renders/{{ $json.id }}"
      },
      "position": [
        512,
        1024
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "53bba35b-8ae1-42a1-b594-3f8489454244",
      "name": "HTTP Request8",
      "parameters": {
        "options": {},
        "url": "={{ $json.url }}"
      },
      "position": [
        672,
        1024
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "c5cf4565-f708-4520-b776-4df4087eabf4",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3168,
        848
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "08bac30c-7466-41cc-885b-1fc596b7efa3",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3168,
        1200
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "7b6632b9-55ed-43a3-88f3-a75685c68fc5",
      "name": "Edit Fields4",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3168,
        1568
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "f763e940-31a3-493d-b941-856d30d372f0",
      "name": "Append or update row in sheet5",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Идея"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ЖАНР",
              "id": "ЖАНР",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Идея",
              "id": "Идея",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Статус",
              "id": "Статус",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ссылки",
              "id": "Ссылки",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Идея": "={{ $json.modifications['Name.text'] }}",
            "Ссылки": "={{ $('Get Final Video').item.json.url }}",
            "Статус": "Готовый"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo/edit?usp=drivesdk",
          "mode": "list",
          "value": "14eALfZ-pEjTc8VTqkSvn-cUMIiEdNYTUFADW1LfASIo"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Im3ZlYbtrYp_t7lKkBg-5gOmxjQj3t95rg-E9AczC1c/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        1024,
        800
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "16f27da0-f45d-41c2-a538-379d2b088214",
      "name": "Simple Memory1",
      "parameters": {
        "contextWindowLength": 50,
        "sessionIdType": "customKey",
        "sessionKey": "compressitem"
      },
      "position": [
        -3664,
        1024
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "4bc33522-b9b4-4611-a8d1-c067e5b3faea",
      "name": "Loop Over Items11",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -912,
        976
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "efc7d635-4633-464a-98c6-05f1f9ab65f1",
      "name": "Switch1",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1056,
        848
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "d873c399-7740-4712-9fa5-ad06164f1c4a",
      "name": "Loop Over Items14",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1056,
        976
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "d53a60fd-26ac-4c99-9891-270d16720546",
      "name": "status1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1184,
        848
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "4c39f9dc-5087-496f-b745-3eef191143a3",
      "name": "Get Video3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status2').item.json.request_id }}"
      },
      "position": [
        -912,
        1200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "d0115d85-80ac-414d-b027-b3a9f454548b",
      "name": "Loop Over Items12",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -912,
        1328
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "33ba0474-b7fb-4038-91db-ee1bfc76a917",
      "name": "Switch2",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1056,
        1200
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "fef39b4e-ced4-4305-ab5d-52498fb6f5e0",
      "name": "Loop Over Items15",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1056,
        1328
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "63e65cfe-f51a-4a86-9157-e94f35139f42",
      "name": "status2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1184,
        1200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "20739987-6b95-4fe7-bbee-cb3aa384cfa8",
      "name": "Get Video4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status3').item.json.request_id }}"
      },
      "position": [
        -912,
        1568
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "c11978d4-8f0b-48bd-8114-5350642c851c",
      "name": "Loop Over Items13",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -912,
        1696
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "ce3d0da8-a40b-4684-be3f-61f835f571c3",
      "name": "Switch3",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1056,
        1568
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "98da19d1-7c67-43fa-b226-ad2974107d3f",
      "name": "Loop Over Items16",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1056,
        1696
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "2d9762f6-6b4d-4583-9cd8-3a2d13d77be0",
      "name": "status3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1184,
        1568
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "d12029f0-eed6-416c-a174-ffab1f7a055a",
      "name": "Append or update row in sheet1",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -704,
        512
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "11da0f39-a459-470d-9fc2-3b53969013cb",
      "name": "Append or update row in sheet2",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -704,
        848
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "c833f56d-a08e-415e-bfec-e4759e8f7882",
      "name": "Append or update row in sheet3",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -688,
        1200
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "68c18bd8-5f35-4ad2-a1a6-ce2b5c4360df",
      "name": "Append or update row in sheet4",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Футажи"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Футажи",
              "id": "Футажи",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Футажи": "={{ $json.video.url }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "operation": "appendOrUpdate",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -688,
        1568
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "executeOnce": true,
      "id": "79bba99f-1e21-4491-9105-9562a196c1f3",
      "name": "Get row(s) in sheet1",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -288,
        1024
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "e5396674-89d9-4c88-ace2-c093d3624a74",
      "name": "Ссылки видео1",
      "parameters": {
        "jsCode": "// Получаем все строки с ссылками\nconst links = items.map(item => item.json.link);\nconst Names = items.map(item => item.json.Name);// Получаем все ссылки из данных\n\n// Возвращаем массив ссылок\nreturn [\n  {\n    json: {\n      links: links,\n      Names: Names\n    }\n  }\n];\n"
      },
      "position": [
        32,
        1024
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "60875b5b-db82-4ad0-b982-484ca2ed11ce",
      "name": "Edit Fields5",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68a99b2d-bf33-4535-83be-1128ed8bec61",
              "name": "link",
              "type": "string",
              "value": "={{ $json['Футажи'] }}"
            },
            {
              "id": "83aedc92-0f57-4d66-b572-72fde52cb610",
              "name": "Name",
              "type": "string",
              "value": "={{ $('Жанры').item.json.output.title }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -128,
        1024
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gngoNLFSKF2sQUSt",
          "name": "N8NTelegram"
        }
      },
      "id": "3180851b-c563-4c7a-b929-bc184b6a2498",
      "name": "Delete rows or columns from sheet",
      "onError": "continueRegularOutput",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "ASMR Compression Footage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit?usp=drivesdk",
          "mode": "list",
          "value": "1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4"
        },
        "numberToDelete": 10,
        "operation": "delete",
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbKWCZ8QEndWiFE0xGRch0-SRI8qGvSLI4mnm8Kegx4/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        1184,
        800
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5
    },
    {
      "id": "a7ec6de2-3b8c-4a3f-af53-5025fca6b1da",
      "name": "YT Tags1",
      "parameters": {
        "options": {
          "systemMessage": "=Ты бот который генерирует тэги для youtube отталкиваясь от сценария пользователя"
        },
        "promptType": "define",
        "text": "=Now comes the actual topic/transcript. Give me the Youtube tags for it: {{ $('Генерация промтов1').last().json.output }}\n\n"
      },
      "position": [
        -128,
        1232
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "0114770a-34d9-428b-8ddf-02167dac9831",
      "name": "Generate Title1",
      "notes": "Request to OpenAi for generate description with the audio extracted from the video",
      "notesInFlow": true,
      "parameters": {
        "messages": {
          "values": [
            {
              "content": "You are an expert assistant in creating engaging social media video titles.",
              "role": "system"
            },
            {
              "content": "=На основе текста напиши кликбейт название шортса на Английском языке для 30 секудного видео, но не нарушая правила: {{ $('Генератор сценария1').last().json.output }}"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        192,
        1232
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "waitBetweenTries": 5000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "a8e7e5ff-af81-453a-ae96-65d596bfb004",
      "name": "Upload file1",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/1vfdsrafEg7HOIL5qJCkCuzc09z5pi3IA"
        },
        "options": {}
      },
      "position": [
        -288,
        1232
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "8540db50-76bc-407a-a0e0-d777fcf80204",
      "name": "Search files and folders1",
      "parameters": {
        "filter": {
          "driveId": {
            "__rl": true,
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive",
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "url",
            "value": "https://drive.google.com/drive/folders/1vfdsrafEg7HOIL5qJCkCuzc09z5pi3IA"
          }
        },
        "limit": 1,
        "options": {
          "fields": [
            "webViewLink"
          ]
        },
        "resource": "fileFolder"
      },
      "position": [
        512,
        1232
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "b2bf6e2b-5bc5-4102-8672-3328a1782ed2",
      "name": "Download file1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.webViewLink }}"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        672,
        1232
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "a4f07f90-980a-4981-9ade-12fe3405a5d1",
      "name": "OpenAI Chat Model14",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4o",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -128,
        1392
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "7bc68f77-0a59-4871-b262-4272fb48dde5",
      "name": "Schedule Trigger1",
      "parameters": {
        "rule": {
          "interval": [
            {
              "expression": "0 17 * * *",
              "field": "cronExpression"
            }
          ]
        }
      },
      "position": [
        -4416,
        1040
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "id": "d7762f73-af19-4104-9cc8-165a51ffb8a0",
      "name": "Wait2",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -480,
        1984
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "e7218272-5fa1-44c5-b603-271da9c0dcd4"
    },
    {
      "id": "550e031a-0a3b-40a9-9329-60c47b4a777c",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -480,
        1856
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "6111eb84-f642-4117-ac89-fca210fbf046",
      "name": "Wait3",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -272,
        1984
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "9644ddd6-0134-4d43-af4d-c9accaf46ff7"
    },
    {
      "id": "da80eeb1-2262-4436-a25f-70a01a8350a7",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -272,
        1856
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "5357ddfd-a02f-4aa0-8c99-2b923701918c",
      "name": "Wait4",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -480,
        2288
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "27e427d8-4120-49e5-94ad-36b3f5523e31"
    },
    {
      "id": "99ed38a6-a7ca-4c71-beae-4949e98cd968",
      "name": "Loop Over Items8",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -480,
        2160
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "b40cebd4-5c9a-4136-86cc-60f104c14056",
      "name": "Wait5",
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "position": [
        -272,
        2288
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "eb785885-319b-4102-82b1-791c01abc216"
    },
    {
      "id": "680e7216-708b-4012-afec-0ac1a1e432e0",
      "name": "Loop Over Items17",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -272,
        2160
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "13b71c94-cee8-454e-84a6-d178f4a343a7",
      "name": "Create Video",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"aspect_ratio\": \"16:9\",\n  \"duration\": \"8s\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": true\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/veo3"
      },
      "position": [
        -1440,
        -288
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "33de3345-84f0-4c0d-aca8-97e3e5277549",
      "name": "Get Video",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('status4').item.json.request_id }}"
      },
      "position": [
        -864,
        -288
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "623f69bf-dd46-475f-8385-c223261a6eac",
      "name": "Wait for Veo1",
      "parameters": {
        "amount": 60
      },
      "position": [
        -1296,
        -288
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "d1ccd6e9-be75-4378-95a7-75312f569d02"
    },
    {
      "id": "388ac1af-e967-4cd5-8754-b3f7b89416be",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -864,
        -160
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "943c697a-ef70-4da8-9d70-16326765aa96",
      "name": "Switch4",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1008,
        -288
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "acb750ad-0bcf-4a5d-a2a5-069974622712",
      "name": "Loop Over Items18",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1008,
        -160
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "b252f5c8-3362-4403-84e7-c58ae295ed39",
      "name": "status4",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -1152,
        -288
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "d5b6e977-2484-4ab4-b6f0-d577b2887043",
      "name": "Structured Output Parser5",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"Scene\": \"[One sentence with the scene description]\",\n  \"Character\": \"[Name or type]\", \n  \"Action\": \"[Slicing or cutting with a themed knife description, e.g., slices with a futuristic knife]\",\n  \"Object\": \"[Name]\",\n  \"Location\": \"[Name]\"\n}"
      },
      "position": [
        -3280,
        272
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "09161549-3481-4491-9137-e1cf243631e3",
      "name": "OpenAI Chat Model13",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -3360,
        272
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "9c5c0866-ba27-49cf-bc3a-9840b904f963",
      "name": "Генератор сценарного шаблона4",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль:\nТы — AI-Агент в n8n, который генерирует чёткие технические описания сцен для последующей генерации видео/рендеров. Работаешь для видеопродакшна.\n\n## Контекст:\nНужна лаконичная, визуально читаемая идея сцены: Молодая очаравательная женщина с спортивным телосложением, симметричным лицом, гладкой кожей и с очень большой грудью (18+) в образе с открытым глубоким декольте прыгает на скакалке. Важно сохранить эстетичность, деликатность, пышную грудь с акцентом на глубокий вырез (без обнажения), кинематографичность и хорошую читаемость движения для дальнейшей генерации (без морфинга и искажений). Избегать страшных или непривлекательных черт лица и тела.\n\n## Задача:\nСформировать 1 идею сцены + 2 вариации с чётким описанием образа, ракурса, света, темпа прыжков и окружения — кратко и по делу (каждая идея — ≤120 слов).\n\n## Входные данные:\n– setting — любая локация\n– wardrobe — одежда/стиль топ с глубоким вырезом, черные лосины\n– mood — настроение/атмосфера (напр. “энергично и вдохновляюще”)\n\n## Формат ответа:\nMarkdown с блоками:\n1. Main Idea — 1 абзац\n2. Two Variations — маркированный список из 2 кратких вариантов\n3. Tech Notes — технические параметры (кадры, свет, линза, стаб)\n4. Safety Check — явные подтверждения 18+, отсутствие обнажения и т.д.\n\n## Стиль:\nСухо, деловой и по делу. Короткие фразы, никакого сленга.\n\n## Требования:\n– Язык: Английский\n– Добавь минимальные примеры кода (JSON переменных) и ссылки на доки/best practices\n– Избегай расплывчатых слов (“красиво”, “классно”) — указывай конкретику (ракурс, свет, скорость)\n– Убедиться в привлекательном изображении женщины: симметричное лицо, гладкая кожа, отсутствие страшных черт.\n– Грудь: очень большая, с видимым глубоким декольте, но без обнажения.\n\n## Примеры плохого и хорошего ответа:\nПлохо: “Просто опишите девушку и включите камеру.”\nХорошо: “1) Приблеженная камера на уровне груди 2) Свет key справа 45°, fill 1/2 EV; 3) Темп прыжков 1,5 цикла/сек; 4) Одежда: спортивный топ с глубоким вырезом + леггинсы; 5) Без обнажения, 18+.”\n\n## Финальный чек-лист:\n– Все входные переменные учтены?\n– Есть 1 основная идея и 2 вариации?\n– Указаны ракурс/свет/темп/линза/стабилизация?\n– Ответ оформлен в Markdown и лаконичен?\n- Грудь большая?\n- Женщина очаравательная, без страшных черт?\n\n## Запрещено:\n– Любые намёки на несовершеннолетних, школьную атрибутику и т.п.\n– Придумывать факты и обещать недоступные функции.\n\n## Дополнительные ресурсы:\n– n8n Docs: [https://docs.n8n.io/](https://docs.n8n.io/)\n– Практики промптинга (OpenAI): [https://platform.openai.com/docs/guides/prompt-engineering](https://platform.openai.com/docs/guides/prompt-engineering)\n– Политики контента: [https://openai.com/policies/usage-policies](https://openai.com/policies/usage-policies)\n---\n### Шаблон ответа агента (подставь входные данные)\nMain Idea\nМолодая очаравательная женщина с спортивным телосложением, симметричным лицом, гладкой кожей и с очень большой грудью (18+) в образе: {wardrobe}, прыгает на скакалке в (setting). Кадр: (camera). Темп прыжков — стабильный, ~1.3–1.6 цикла/с; при слоумо — съемка (fps) с интерпретацией до 24fps. Свет: key 45° сбоку для подчёркивания формы костюма и глубокого декольте, fill −0.5…−1 EV; мягкие блики, без обнажения. Фон минималистичный, чтобы движение и силуэт читались. Эстетично, спортивно, энергично."
        },
        "promptType": "define",
        "text": "=Придумай новый сценарий и не повторяйся"
      },
      "position": [
        -3360,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "disabled": true,
      "id": "02ed484d-d20c-4068-977e-554d9e4e7386",
      "name": "Проверка по критериям4",
      "parameters": {
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=## Роль: Ты — ИИ-агент, оценивающий только сцены сжатия обычных объектов прессом по 20 критериям зрелищности, wow-эффекта, физики, звука и визуала.\n## Контекст: Критерии — только для обычных объектов и физического сжатия (никаких миниатюр, кластеров, магии, еды, абстракций).\n## Задача: Оценить сцену, выдать балл и вердикт (\"да\", если >=80; \"нет\" — если меньше).\n## Входные данные:\n– Markdown или JSON-сцена.\n## Формат ответа: JSON\n{\n  \"Score\": \"0-100\",\n  \"Pass\": \"да\" или \"нет\"\n}\n## Стиль: Сухо, только цифра и итог.\n## Требования:\n– Сцена — только про сжатие оригинального объекта прессом, только физика.\n– Только итог (баллы и вердикт), не объяснять критерии.\n## Финальный чек-лист:\n– Только баллы и вердикт, всё строго по формату.\n\n\n# Criteria (5 points max each)\n1. Trendiness: How current and hype-worthy.\n2. Wow Factor: Viewer surprise and delight.\n3. Initial Hook (0-1 sec): Instant visual/audio intrigue.\n4. Unexpected Twist: Shift from expected to surprising reaction.\n5. Sound Satisfaction: Realistic pour sounds (flow, bubble).\n6. Aesthetic Transformation: Beauty in mixing, spreading.\n7. Pour Speed (first 1.5 sec): Balanced rhythm.\n8. Audio-Visual Sync: Matching pour and reaction cues.\n9. Before/After Contrast: Dramatic change post-pour.\n10. Presence: Feels real and immersive.\n11. Micro-Details: Visible bubbles, swirls, textures.\n12. Cinematic Pour Moment: Clear, engaging flow.\n13. Framing: Centered for 9:16 vertical.\n14. Size Fit: Suited to vertical format.\n15. Closure: Satisfying end feel.\n16. Material Inertia: Post-pour behavior (settle, expand).\n17. Desire to Try: Urge to replicate.\n18. Reaction Dynamics: Unique dissolving, layering.\n19. Flow Smoothness: Anticipatory pour motion.\n20. Internal Surprise: Non-banal reveal (color burst, foam).",
              "role": "system"
            },
            {
              "content": "=<userQuery>\n{{ $json.Scene }}\n</userQuery>"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -2912,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7
    },
    {
      "disabled": true,
      "id": "1322a64d-0dd4-4ff2-942d-e8d388a8e874",
      "maxTries": 5,
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "ce3f2894-f95a-4a5b-84bd-3199b575aad4",
              "leftValue": "={{ $json.message.content.Pass }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "нет"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2608,
        80
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "disabled": true,
      "id": "b601067b-3a3e-44a8-8962-e9a375856036",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -2448,
        80
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "7fd03414-7a0a-4295-aabe-44dc78e70751",
      "name": "Генерация промтов",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль\n\nТы — ИИ-агент (Prompt Engineer) внутри **n8n**. Для узла генерации **Nano Banana** ты формируешь строгий промпт, negative-промпт и JSON-параметры (модель/разрешение/шаги/CFG/seed), чтобы получить **один стартовый кадр**: молодая женщина 18+, атлетичная, симметричное лицо, гладкая кожа, **очень большая грудь**, начало прыжка со скакалкой начиная с низу, реальный масштаб, без сюрреализма.\n\n## Контекст\n\nКадр — начальный момент реальной съёмки, камера неподвижна. Нужны измеримые параметры: просвет верёвки сверху/снизу (см), оптика (мм), экспозиция (f, s, ISO), свет (кратко). **Ракурс: лицо вперёд; композиционный акцент — верхняя часть торса (грудная клетка) для фиксации техники, без оголённости.**\n\n## Задача\n\nСобрать и вернуть объект с полями `prompt`, `negative_prompt`, `nb_params` (параметры Nano Banana) и `alts[2]` (две краткие альтернативы). Объект сразу совместим с узлом **Nano Banana** в n8n.\n\n## Входные данные\n\n* {{ $json.output }}\n  – `camera_frame` — тип кадра (напр. «фронтальный средний план»)\n  – `location` — локация («студия» / «крыша» / «квартира»)\n  – `attire` — спортивная одежда (топ высокой поддержки + леггинсы, кроссовки)\n  – `pose_phase` — `backswing` | `takeoff` | `flight` | `landing`\n  – `rope_top_cm` — просвет сверху (см, по умолчанию 20)\n  – `rope_bottom_cm` — просвет снизу (см, по умолчанию 3)\n  – `focal_mm_equiv` — экв. фокусное (мм: 35/50/85)\n  – `aperture_f` — диафрагма (напр. 4.0)\n  – `shutter_s` — выдержка (сек, напр. 0.001 = 1/1000 s)\n  – `iso` — ISO (100–400)\n  – `ev_target` — EV (8–9)\n  – `lighting_note` — свет (напр. «ключ 45° сверху-слева, мягкие тени»)\n  – `nb_model` — модель Nano Banana (напр. `nb-photoreal-v1`)\n  – `nb_width`, `nb_height` — разрешение (напр. 896×1152)\n  – `nb_steps` — шаги диффузии (28–40)\n  – `nb_cfg` — CFG (4.5–7.5)\n  – `nb_seed` — сид (число или `null`)\n  – `nb_safety` — bool (рекомендуется `true`)\n  – `nb_upscale` — апскейл (1.0–2.0)\n\n> Дефолты: `rope_top_cm=20`, `rope_bottom_cm=3`, `focal_mm_equiv=50`, `aperture_f=4.0`, `shutter_s=0.001`, `iso=200`, `ev_target=\"8–9\"`, `camera_frame=\"фронтальный средний план\"`, `lighting_note=\"ключ 45° сверху-слева, мягкие тени\"`, `nb_model=\"nb-photoreal-v1\"`, `nb_width=896`, `nb_height=1152`, `nb_steps=32`, `nb_cfg=6.5`, `nb_seed=null`, `nb_safety=true`, `nb_upscale=1.0`, `pose_phase=\"flight\"`.\n\n## Формат ответа\n\n**Markdown** с одним JSON-блоком:\n\n* `prompt` — основной промпт (≤120 слов, сухо, с числами)\n* `negative_prompt` — нежелательные элементы\n* `nb_params` — объект параметров Nano Banana\n* `alts` — массив из двух альтернатив `{ short, extended, negative, nb_params }`\n\n## Стиль\n\nСухо, деловой, инженерный. Только измеримые признаки (см, мм, EV, ISO, s). Русский язык.\n\n## Требования\n\n* Камера статична; реалистичный масштаб; без магии/VFX/текста/логотипов.\n* **Ракурс:** фронтально, лицо обращено к камере; **композиционный акцент — верхняя часть торса (грудная клетка)** для оценки техники прыжка.\n* Обязательно указать: тип кадра, фазу позы, просветы (см), оптику/экспозицию, свет.\n* Совместимость с узлом **Nano Banana**: параметры в `nb_params`.\n* Добавить пример кода для n8n (Function) с подстановками.\n\n## Примеры плохого и хорошего ответа\n\n**Плохо:** «Сделай красивую девушку со скакалкой.»\n**Хорошо:** «Фотореалистичный стартовый кадр, камера статична, фронтальный средний план; лицо смотрит вперёд, акцент на верхней части торса; просветы 20/3 см, оптика 50 мм, f/4, 1/1000 s, ISO 200, EV≈8–9, ключ 45° сверху-слева; без текста/эффектов.»\n\n## Финальный чек-лист\n\n* Все входные учтены или подставлены дефолты?\n* Есть поля: `prompt`, `negative_prompt`, `nb_params`, `alts[2]`?\n* Везде статичная камера, реальный масштаб, числа и фаза?\n* Ракурс фронтальный, лицо вперёд, акцент на верхней части торса?\n* Ответ ровно одним JSON-блоком в Markdown?\n* Указано что это начало прыжка на скакалке с низу?\n\n\n## Запрещено\n\nБренды/логотипы/текст, сюрреализм/частицы/дым/неон, карикатурные пропорции, оголённость/прозрачные ткани/сексуализированная лексика, движение камеры, «рыбий глаз».\n\n## Дополнительные ресурсы\n\nn8n выражения: `{{$json.var}}` в строках/объектах. Рекомендации по EV и выдержке для «заморозки» движения."
        },
        "promptType": "define",
        "text": "=Напиши промт для генерации изображения:{{ $json.output }}"
      },
      "position": [
        -1984,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "TeJoupiuKVAuyWb3",
          "name": "GPT"
        }
      },
      "id": "5d134691-f405-4978-9b1b-60cd97377844",
      "name": "OpenAI Chat Model15",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -1984,
        272
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "72cac11e-6d06-489a-9d02-57f9a9aba495",
      "name": "Генератор сценария",
      "parameters": {
        "options": {
          "systemMessage": "=## Роль\nТы — ИИ-агент, который пишет сценарий только для реалистичной сцены, где Молодая очаравательная женщина с спортивным телосложением с очень большой грудью (18+) непрерывно прыгает на скакалке. Никакой магии, сюрреализма или визуальных эффектов, искажающих физику.\n## Контекст\nДлительность: 6–8 секунд. Камера статична, реальный масштаб на уровни груи. Фиксируется полный цикл движения: замах верёвки → отталкивание → фаза полёта → приземление. Звук: свист/шелест верёвки, лёгкий тик пола, дыхание, фон помещения.\n## Задача\nНаписать сценарий по секциям: Персона, Описание, Динамика прыжков, Поведение скакалки, Звук, Тайминг (start / jump loop / settle / end).\nВ каждой секции укажи цель кадра, ключевые действия (beats) и риск/контроль качества (если применимо). Лаконично и по делу.\n## Входные данные\n– {{ $('Edit Fields').item.json.Scene }}.\n## Формат ответа\nMarkdown, секции в строгом порядке:\n* Персона\n* Описание\n* Динамика прыжков\n* Поведение скакалки\n* Звук\n* Тайминг (6–8 с итого): start / jump loop / settle / end\n## Стиль\nСухо, пошагово, инженерно. Фокус на биомеханике, читаемости движения, звуке и проверяемых параметрах (просветы, частота, ракурс, свет).\n## Требования\n* Язык: русский.\n* Реализм: реальный масштаб, без миниатюр и кластеров, камера строго статична.\n* Укажи: тип кадра (например, средний план на уровни груди), частоту прыжков (Гц), ориентиры реального масштаба (плитка/фактура пола).\n* Если нужны слоумо-подсказки: упомяни «съёмка 60 fps → интерпретация 24 fps».\n## Финальный чек-лист\n* Только сцена прыжков и её физика?\n* Все секции присутствуют и заполнены целью/beats/рисками?\n* Тайминги суммарно дают 6–8 с и логично делят процесс?\n* Камера статична, параметры движения и звука заданы проверяемо?\n---\n## Шаблон ответа (заполни на русском)\nПерсона\n* Описание: Молодая очаравательная женщина с спортивным телосложением с очень большой грудью (18+) в {одежде}, покрытие пола: {резина/паркет/асфальт}, ориентиры масштаба: {плитка/фактура}. Камера: статичный {средний план на уровни груди}.\n* Цель кадра: Обеспечить полную читаемость тела и дуги верёвки.\n* Риск/контроль: Избегать кадрирования, при котором верёвка выходит за границы кадра.\nОписание\n* Свет: мягкий ровный, читаемые тени под стопами; без бликов, «съедающих» контур.\n* Кадр: в рамке одновременно видны верхний просвет над головой и нижний под носками; камера неподвижна.\n* Beats: 1) Нейтральная стойка; 2) Подъём верёвки; 3) Переход к циклу.\nДинамика прыжков\n* Частота: {cadence_hz Гц, по умолчанию 1.6}.\n* Механика: мягкие колени; приземление на переднюю часть стопы; локти близко к корпусу; плечи расслаблены.\n* Beats: циклы одинаковой высоты, без пропусков; стабильная амплитуда.\n* Риск/контроль: следить за постоянством темпа; исключить смаз и «телепорт» между кадрами.\nПоведение скакалки\n* Просветы: верхний ~{15–25 см}, нижний ~{2–5 см}.\n* Контакт: краткий «тик» пола каждый цикл; зацепов нет.\n* Beats: дуга ровная; точка наивысшего подъёма над головой стабильна.\n* Риск/контроль: не допускать пересечения верёвки с рамкой кадра/фоном, где теряется видимость.\nЗвук\n* Состав: свист/шелест верёвки (раз в цикл), лёгкий «тик» пола, мягкий удар обуви при приземлении, дыхание, нейтральный фон помещения.\n* Уровни: естественные, без усиления.\n* Beats: акцент тик-звука на каждом касании.\nТайминг (6–8 с итого)\n* Start (0:00–0:{t1}): стойка; верёвка заведена за пятки; короткий вдох.\n* Jump loop (0:{t1}–0:{t2}): непрерывные циклы с частотой {cadence_hz} Гц; сохраняется полный обзор дуги.\n* Settle (0:{t2}–0:{t3}): замедление на 1–2 цикла до устойчивой стойки.\n* End (0:{t3}–0:{T}): фиксированный кадр; дыхание слышно; верёвка неподвижна"
        },
        "promptType": "define",
        "text": "=Мне нужен сценарий: {{ $('Edit Fields').item.json.Scene }}"
      },
      "position": [
        -2288,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8
    },
    {
      "id": "12c3f766-cd05-4b81-8321-8409cc50443b",
      "name": "Анимация видео",
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Kling AI. These videos must be 9:16 aspect ratio.\nYou will receive brief scene and subject descriptors. Your task is to generate a hyper-realistic, sensory-rich video prompt of an attractive young woman with an athletic build, symmetric face, smooth skin and very large breasts (18+) jumping rope in a static vertical frame — clear rope arc, readable footwork, natural sounds. Ensure emphasis on deep cleavage in outfit without nudity.\n## Core Requirements:\n* Cinematic, photorealistic look.\n* Static, locked-off camera in close-up on the chest of the subject (attractive young woman with an athletic build, symmetric face, smooth skin and very large breasts 18+; chest proportions 3 for height reference).\n* 9:16 vertical; upper body and partial rope arc fully inside frame (top and bottom clearance visible where applicable).\n* Realistic motion (basic bounce step), stable cadence, forefoot landings.\n* Starts immediately with the first floor tick (no intro).\n* One subject only; no fantasy/surreal effects.\n* Four ASMR layers:\n  1. crisp first floor tick of the rope,\n  2. per-cycle rope swish,\n  3. soft shoe thud/squeak on landing,\n  4. subtle steady breathing.\n     No other audio.\n## Prompt Requirements\n1. Scene Description: floor material (rubber/wood), soft even lighting, locked tripod, no camera movement; frame keeps focus on chest with partial rope visibility.\n2. Subject Detail: Attractive young woman with an athletic build, symmetric face, smooth skin and very large breasts(18+), athletic outfit with top featuring deep neckline showing cleavage (no nudity) and black leggings, running shoes, rope type/color (speed/PVC), real-scale cues (floor texture/tiles).\n3. Jump Action: immediate entry to steady loop; cadence (Hz), jump height, top/bottom clearances; short still hold at the end.\n4. Sound Design: emphasize the four layers above; natural levels only.\n5. Ambience: absolute silence besides movement/breathing; no music/speech/noise.\n## Format Output Like This:\nSubject: An attractive young woman with an athletic build, symmetric face, smooth skin and very large breasts (18+) with a speed jump rope, athletic outfit with top featuring deep neckline showing cleavage (no nudity) and black leggings, running shoes; upper body visible with partial rope clearance.\nSetting: Static, locked-off 9:16 frame on rubber floor; camera close-up on chest; soft even lighting; minimal background.\nAction: Continuous bounce-step at [cadence] Hz; rope arc smooth; top clearance ~[top_cm] cm, bottom clearance ~[bottom_cm] cm; starts with a crisp floor tick, then steady cycles, brief still hold to finish.\nStyle: Cinematic ASMR realism; photoreal textures (rope, shoes, floor); clean silhouettes; no surreal effects.\nSound: Four high-fidelity layers — (1) ultra-crisp first tick, (2) per-cycle swish, (3) soft forefoot thud/squeak, (4) subtle steady breathing. No other audio.\nCamera Motion: None. Locked tripod; no pans/tilts/zoom/focus pulls; exposure/WB/ISO locked.\nComposition: Centered subject; focus on chest area; partial feet and rope bottom in frame if visible.\nAmbiance: Pin-drop silence beyond movement sounds.\nAspect Ratio: 9:16.\nMake the viewer feel immersed — calm cadence, clear rope arc, satisfying footwork and sound.\nParameters:\n* Scene: {{ $('Генератор сценарного шаблона4').item.json.output.Scene }}\n* Character: {{ $('Генератор сценарного шаблона4').item.json.output.Character }}\n* Action: {{ $('Генератор сценарного шаблона4').item.json.output.Action }}\n* Object: {{ $('Генератор сценарного шаблона4').item.json.output.Object }}\n* Location: {{ $('Генератор сценарного шаблона4').item.json.output.Location }}"
        },
        "promptType": "define",
        "text": "=Напиши промт для kling ai до 2200 символов: {{ $('Генератор сценария').item.json.output }}.\nВАЖНО! Выдай только промт, без новых строк, только точки и запятые, без любых кавычек и без любых скобок, тире тоже нельзя и двоеточие. Промт должен быть на английском"
      },
      "position": [
        -1680,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "id": "45669289-c808-41e9-a483-3d45f0eb4046",
      "name": "Create Video5",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\",\n  \"duration\": \"10\",\n  \"negative_prompt\": \"blur, distort, and low quality\",\n  \"cfg_scale\": 0.5,\n\"image_url\": \"{{ $json.url }}\"\n}",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 2000,
              "batchSize": 1
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/kling-video/v2.5-turbo/pro/image-to-video"
      },
      "position": [
        -528,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "7b55b337-94c4-4e5f-b847-c7410bd0b327",
      "name": "Get Video5",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $('status5').item.json.request_id }}"
      },
      "position": [
        48,
        96
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "583b2761-ef17-4092-ad0f-a760708bc82a",
      "name": "Wait for Veo2",
      "parameters": {
        "amount": 60
      },
      "position": [
        -384,
        80
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "d1ccd6e9-be75-4378-95a7-75312f569d02"
    },
    {
      "id": "71badc3b-493c-422f-8f1e-8b59896e7fd0",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20d518f-3cda-4a83-bd40-bd184f990cd3",
              "name": "Scene",
              "type": "string",
              "value": "={{ $json.output.Scene }}\n{{ $json.output.Character }}\n{{ $json.output.Action }}\n{{ $json.output.Object }}\n{{ $json.output.Location }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3072,
        80
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "8d96adb7-b9d0-4cdb-a3fe-6d35f1315397",
      "name": "Loop Over Items19",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        48,
        208
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "1b68ec30-89db-4b5c-b9f3-b70217bff86d",
      "name": "Switch5",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "61c5c306-3b26-45ac-abec-e214b428ce21",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "COMPLETED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Ready",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5ebac8c-ca33-4a30-a2d3-fc5b00ac7697",
                    "leftValue": "={{ $json.status }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "IN_PROGRESS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Retry",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8edea1be-e201-4600-835c-18bff9cb4042",
                    "leftValue": "",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Error",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -96,
        80
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "6c1fd6c1-8571-43e8-abe0-1ba5114464d5",
      "name": "Loop Over Items20",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -96,
        208
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": false,
      "id": "370d3a9d-27de-4c8d-9070-26721a9d53cf",
      "name": "status5",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}/status"
      },
      "position": [
        -240,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "038f51c1-c6c9-4d82-a76d-b3dd038a0a09",
      "name": "Simple Memory",
      "parameters": {
        "contextWindowLength": 100,
        "sessionIdType": "customKey",
        "sessionKey": "skaklka"
      },
      "position": [
        -3280,
        384
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "id": "433359bd-39e7-4bd7-98ba-dbbc749cb497",
      "name": "HTTP Request4",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "inputDataFieldName": "data",
              "name": "file",
              "parameterType": "formBinaryData"
            },
            {
              "name": "upload_preset",
              "value": "ml_default"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://api.cloudinary.com/v1_1/dkkkutodd/image/upload"
      },
      "position": [
        -704,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "5062e604-9b56-4264-8630-758fd619215e",
      "name": "HTTP Request1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $('Генерация промтов').item.json.output.replace(/\\n/g, '').replace(/\"/g, '') }}\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/nano-banana"
      },
      "position": [
        -1328,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "e97c1fe9-450f-4ed7-ae08-6615127121af",
      "name": "Wait for Veo",
      "parameters": {
        "amount": 60
      },
      "position": [
        -1168,
        80
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "d1ccd6e9-be75-4378-95a7-75312f569d02"
    },
    {
      "id": "27a9e4cf-47ea-40e8-910d-39467529b65d",
      "name": "HTTP Request2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $('HTTP Request1').item.json.request_id }}"
      },
      "position": [
        -1024,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "ad4f19bb-b1f3-49fe-b54f-e174d2f5e7d9",
      "name": "HTTP Request3",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -880,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    }
  ],
  "pinData": {
    "Schedule Trigger1": [
      {
        "json": {
          "Day of month": "10",
          "Day of week": "Wednesday",
          "Hour": "17",
          "Minute": "00",
          "Month": "September",
          "Readable date": "September 10th 2025, 5:00:00 pm",
          "Readable time": "5:00:00 pm",
          "Second": "00",
          "Timezone": "Europe/Warsaw (UTC+02:00)",
          "Year": "2025",
          "timestamp": "2025-09-10T17:00:00.006+02:00"
        }
      }
    ]
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "3mM0jvFQycOqYesd",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-16T07:30:34.450Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-09-16T07:30:34.450Z",
      "workflowId": "E0OUUq7hfZHF848P"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-23T06:11:42.348Z",
      "id": "NtJ9sBFxQjddtkfX",
      "name": "AI",
      "updatedAt": "2025-07-23T06:11:42.348Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-08T10:56:31.000Z",
  "versionId": "20aa080f-2fb5-46ff-979d-0ec6d8fc7045"
}