folder/LW Generation Icons.json
{
  "active": false,
  "connections": {
    ">": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    ">1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    ">2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items10",
            "type": "main"
          }
        ]
      ]
    },
    ">3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items13",
            "type": "main"
          }
        ]
      ]
    },
    ">70": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated1",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated2",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated3",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated4",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 4",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen ",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 1",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 2",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 3",
            "type": "main"
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Drive URL",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Remove",
            "type": "main"
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Formatted Date",
            "type": "main"
          }
        ]
      ]
    },
    "Drive URL": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Drive URL1",
            "type": "main"
          }
        ]
      ]
    },
    "Finish": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Finish1",
            "type": "main"
          }
        ]
      ]
    },
    "Formatted Date": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create folder",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file3",
            "type": "main"
          }
        ]
      ]
    },
    "Image1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file4",
            "type": "main"
          }
        ]
      ]
    },
    "Image2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file5",
            "type": "main"
          }
        ]
      ]
    },
    "Image3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file",
            "type": "main"
          }
        ]
      ]
    },
    "Image4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file6",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen ": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finish",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items10": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items11": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items13": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items14": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items16": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Promt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    },
    "Promt1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "Promt2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items16",
            "type": "main"
          }
        ]
      ]
    },
    "Promt3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items11",
            "type": "main"
          }
        ]
      ]
    },
    "Promt4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items14",
            "type": "main"
          }
        ]
      ]
    },
    "Queue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Queue1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Queue2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Queue3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Queue4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Rated": {
      "main": [
        [
          {
            "index": 0,
            "node": ">70",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait11",
            "type": "main"
          }
        ]
      ]
    },
    "Rated1": {
      "main": [
        [
          {
            "index": 0,
            "node": ">",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait10",
            "type": "main"
          }
        ]
      ]
    },
    "Rated2": {
      "main": [
        [
          {
            "index": 0,
            "node": ">1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait9",
            "type": "main"
          }
        ]
      ]
    },
    "Rated3": {
      "main": [
        [
          {
            "index": 0,
            "node": ">2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait8",
            "type": "main"
          }
        ]
      ]
    },
    "Rated4": {
      "main": [
        [
          {
            "index": 0,
            "node": ">3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait7",
            "type": "main"
          }
        ]
      ]
    },
    "Remove": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split",
            "type": "main"
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt2",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt3",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt4",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file4": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file5": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file6": {
      "main": [
        [
          {
            "index": 4,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Url": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait16",
            "type": "main"
          }
        ]
      ]
    },
    "Url1": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait15",
            "type": "main"
          }
        ]
      ]
    },
    "Url2": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait14",
            "type": "main"
          }
        ]
      ]
    },
    "Url3": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait13",
            "type": "main"
          }
        ]
      ]
    },
    "Url4": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait12",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated",
            "type": "main"
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait16": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated2",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Date & Time1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T12:28:02.991Z",
  "id": "x0N5aIKsOHKCnpMP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LW Generation Icons",
  "nodes": [
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "aabb5964-e493-4352-b891-01b8e385e5b0",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "options": {}
      },
      "position": [
        -1488,
        -320
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "f7380647-34e9-4423-9cb8-34141b1b31d2",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -3088,
        -512
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "fb06674e-8d05-4114-9410-8c209ba88a22",
      "name": "Create folder",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Icons",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NJrIwD2x-RiZ-7v7cwkG-Go80y5jbS_B",
          "mode": "list",
          "value": "1NJrIwD2x-RiZ-7v7cwkG-Go80y5jbS_B"
        },
        "name": "={{ $json.formattedDateTime }} {{ $('When Executed by Another Workflow').item.json.File_name[0].replace(/\\+/g, '_').replace('.pdf', '') }}",
        "options": {},
        "resource": "folder"
      },
      "position": [
        -2384,
        -512
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "9f04969a-5b83-4381-8fb4-50b0ed529c61",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "position": [
        -1744,
        -512
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "66901f76-a8aa-4d70-9c1c-16c21d0c1dfb",
      "maxTries": 5,
      "name": "Promt",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты AI agent, который создает промты для генерации 3D игровых иконок на основе технического задания (ТЗ). Твоя задача - проанализировать предоставленное ТЗ и создать детальный промт для генерации 3D иконки в стилистике cyberpunk sci-fi.\n\nОБЯЗАТЕЛЬНЫЕ ЭЛЕМЕНТЫ СТИЛИСТИКИ:\n- 3D game icon of a futuristic sci-fi (Обязательный стиль для промта)\n- Clean, polished, painterly rendering style (Стиль рендера)\n- Dramatic lighting, strong highlights, и subtle rim light(Освещение)\n- Slightly glossy materials (Описание материала из тз)\n- Stylized glowing tech accents (Светящие элементы)\n- Centered на pure white background (#FFFFFF), no shadows (Белый фон)\n\nПроанализируй предоставленное ТЗ и создай промт для генерации 3D иконки.\n\nАНАЛИЗ ТЗ И АДАПТАЦИЯ:\n1. ИЗВЛЕКИ ИЗ ТЗ:\n- Название (всегда находится между \"Название:\" и \"Тип объекта:\")\n- Краткое описание объекта\n- Форму и композицию\n- Материалы и поверхности\n- Цветовую палитру (особенно неоновые акценты)\n- Светящиеся элементы и их цвета\n- Специфические технологические детали\n\n2. ОПРЕДЕЛИ КЛЮЧЕВЫЕ ХАРАКТЕРИСТИКИ:\n- Основная форма объекта (геометрическая, органическая, техническая)\n- Доминирующие материалы (металл, пластик, композит, стекло)\n- Основные цвета корпуса\n- Цвет неоновых/светящихся элементов\n- Особые технологические детали (голограммы, интерфейсы, индикаторы)\n\n3. СОЗДАЙ ПРОМТ СЛЕДУЯ СТРУКТУРЕ:\n\"3D game icon of a futuristic sci-fi [краткое описание объекта из ТЗ] — [детальное описание формы и ключевых элементов]. [Описание материалов и поверхностей]. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in [основные цвета из ТЗ] and [цвет неоновых акцентов]. [Описание светящихся элементов и технологических деталей]. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Solid pure white background (#FFFFFF), no shadows.\"\n\nПРИМЕРЫ (удачные промты):\n1. 3D game icon of futuristic hourglass — sleek sci-fi design with a metallic frame, glowing neon tubes instead of sand, and suspended energy particles flowing between chambers. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark steel, chrome, and vibrant neon blue or purple. Chunky, well-defined silhouette, easily readable at small size. Stylized glowing accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n2. 3D game icon of a futuristic combat helmet — sleek and angular design with a reinforced faceplate, side-mounted modules, and a glowing cyan visor. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials with saturated colors (dark metal, chrome, neon cyan). Chunky, well-defined shape, easily readable at small size. Glowing sci-fi accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n3. 3D game icon of a futuristic sci-fi dog tag — sleek black metal body with beveled edges and a glowing neon green border. Two embedded green chevron arrows point downward on the front surface, inset into the tag and softly glowing. The metal has a glossy, polished finish with clean reflections. Slightly asymmetrical sci-fi paneling and tech engravings give it a cyberpunk feel. Chunky, well-defined shape, easily readable at small size. Isolated on a pure white background (#FFFFFF), no shadows.\n\n4. 3D game icon of a futuristic radar — circular device with glowing holographic grid, rotating scanner beam, and sci-fi interface details. Metallic frame with angular panels and embedded lights. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark gray, silver, and neon green or cyan. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Centered on a pure white background (#FFFFFF), no shadows.\n\nСТРУКТУРА ОТВЕТА:\n1. Название: [извлеченное название]\n2. Промт: [сгенерированный промт]\n\nВАЖНО:\n- Сохраняй все уникальные детали из ТЗ\n- Адаптируй описание под формат 3D game icon\n- Используй точные цвета из ТЗ (особенно hex-коды неоновых акцентов)\n- Всегда отдельно выводи Название из полученного ТЗ\n- Название всегда находится между \"Название:\" и \"Тип объекта:\"\n- Всегда в конце промта добавляй цвет фона белый (solid pure white background (#FFFFFF)).\n- Не дублирой негде в промте цвет фона.\n\n"
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1488,
        -512
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "ceb71d81-6f2f-4b01-b642-6d071e873423",
      "name": "Wait",
      "parameters": {
        "amount": 12
      },
      "position": [
        -688,
        -512
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "7ec5fb76-02aa-4c08-a6e1-488f64c2d6ab",
      "name": "Formatted Date",
      "parameters": {
        "jsCode": "// Код для форматирования даты и времени в российском формате для n8n\n// Входная дата: 2025-08-04T15:56:12.178+03:00\n\nconst date = new Date($input.first().json.currentDate);\n\n// Форматирование даты (ДД.ММ.ГГГГ)\nconst day = String(date.getDate()).padStart(2, '0');\nconst month = String(date.getMonth() + 1).padStart(2, '0');\nconst year = date.getFullYear();\n\n// Форматирование времени (ЧЧ:ММ:СС)\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\nconst seconds = String(date.getSeconds()).padStart(2, '0');\n\n// Возвращаем различные форматы\nreturn [{\n  formattedDate: `${day}.${month}.${year}`,\n  formattedTime: `${hours}:${minutes}:${seconds}`,\n  formattedDateTime: `${day}.${month}.${year} ${hours}:${minutes}:${seconds}`,\n  formattedDateTimeShort: `${day}.${month}.${year} ${hours}:${minutes}`\n}];\n\n// Альтернативный вариант с использованием toLocaleString для российской локали:\n/*\nconst date = new Date($input.first().json.currentDate);\n\nreturn [{\n  formattedDate: date.toLocaleDateString('ru-RU'),\n  formattedTime: date.toLocaleTimeString('ru-RU'),\n  formattedDateTime: date.toLocaleString('ru-RU'),\n  formattedDateTimeCustom: date.toLocaleString('ru-RU', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n  })\n}];\n*/"
      },
      "position": [
        -2624,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f094db49-5246-4fac-b397-df956a4ff36d",
      "name": "Structured Output Parser",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1296,
        -320
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "8857d6d4-2a0f-4c2f-84e1-2438ad31db7a",
      "maxTries": 5,
      "name": "Imagen 4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gemini-25-flash-image"
      },
      "position": [
        -896,
        -512
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "f9b901d6-ce1d-4b7a-9a37-55c39af1b02a",
      "maxTries": 5,
      "name": "Queue",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gemini-25-flash-image/requests/{{ $('Imagen 4').item.json.request_id }}"
      },
      "position": [
        -496,
        -512
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "a3c5719a-5aa1-4826-a199-d18cb303c4d2",
      "maxTries": 5,
      "name": "Url",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -272,
        -512
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "38cff83d-d905-43bd-914b-85f44f8f35f1",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        624,
        -352
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "27ba7c0d-7c7b-420f-be3d-601b3624e416",
      "maxTries": 5,
      "name": "Image",
      "parameters": {
        "options": {},
        "url": "={{ $('Url').item.json.images[0].url }}"
      },
      "position": [
        624,
        -512
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "d68d04e9-d65e-4dde-9a0f-9321863dd4c3",
      "maxTries": 5,
      "name": "All Icons",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Icons.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1/view?usp=drivesdk",
          "mode": "list",
          "value": "1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -32,
        -512
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "308cadcc-c6ee-42dc-b683-69cb9284ca61",
      "name": ">70",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 70
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        384,
        -512
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "524bdae7-7fe7-448b-9bc1-2267c55e7f95",
      "maxTries": 5,
      "name": "Rated",
      "onError": "continueErrorOutput",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=[ROLE]\nТы — senior-эксперт по анализу игровых иконок в стилизованной 2.5D изометрии sci-fi. Задача — сравнить новую иконку с 9 якорями и выставить оценки по 20 критериям.\n[PASS]\nПорог: ПРИНЯТО, если X ≥ 95/100; иначе ОТКЛОНЕНО.\n[ОБОЗНАЧЕНИЯ]\nOᵢ — оценка критерия Kᵢ (точный балл 0–100, допускаются дробные).\nVᵢ — вес критерия Kᵢ в процентах.\nFO — финальная оценка (0–100).\nX — это FO (округление только при отображении).\n[ДВА ОБЯЗАТЕЛЬНЫХ ПРАВИЛА]\n1) Каждый Oᵢ ∈ [0..100], точный балл (без дискретизации).\n2) Сумма весов ∑Vᵢ = строго 100%.\n[ФОРМУЛА]\nFO = (O1×V1)/100 + (O2×V2)/100 + … + (O20×V20)/100\nX = FO\n[INPUT]\nФайл 1: 9 якорных иконок (2 ряда) — эталон стиля/качества.\nФайл 2: новая иконка (кандидат, сгенерированная ИИ).\nОценивай только визуально наблюдаемое; ничего не додумывай.\n[DATA FORMAT — ЖЁСТКО]\nPNG/JPG, sRGB, длинная сторона ≥1024 px; кандидат центрирован; без рамок/текста/коллажей; масштаб сопоставим с якорями (высота 0.9–1.1× от средней высоты якорей).\nЛюбое нарушение → выведи одну строку и завершай:\nНарушен формат входных данных — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[FAIL-FAST: ОБРЕЗКА]\nЕсли любой значимый элемент объекта не помещается в кадр →\nИконка обрезана — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[ANCHOR CUES]\nОрто-изометрия (без схода); оси ≈30–35°; высота ≈35–40°; азимут ≈45°. Матовый металл/стекло/композиты; неон-акценты без пересветов; средняя читабельная детализация; отсутствие «грязи»; силуэт читаем на 64×64 и 128×128 px.\n[MEASUREMENT RULES]\n— Силуэт читаем на 64×64 и 128×128 px; 2–3 фокус-зоны.\n— Локальный контраст фокуса ≥25% (визуально на 128×128 px).\n— Glow: без клиппинга; «заливка» ≤10% площади объекта.\n— Углы: рёбра параллельны; оси 30° ±5°; высота 35–40°; азимут 45° ±5°.\n— «Короткое предложение»: 6–14 слов.\n— При невидимом/неподтверждаемом признаке: Oᵢ=0 и краткая причина «Недостаточно данных: …».\n[SCORING — ТОЧНЫЕ БАЛЛЫ]\nИспользуй точные Oᵢ (0–100, допускаются дробные). Без шкалы {0,25,50,75,100}.\n[CRITERIA & WEIGHTS] (∑Vᵢ = 100%)\nK1 Жанр и концепция — 4%\nK2 Стиль (чистые формы, порядок, неон) — 6%\nK3 Перспектива (ортографическая изометрия) — 6%\nK4 Угол обзора (высота/азимут в допусках) — 5%\nK5 Читаемость из изометрии — 6%\nK6 Функциональность архитектуры — 5%\nK7 Форма = Функция — 6%\nK8 Основание/платформа — 4%\nK9 Эмоциональный акцент/контрасты — 7%\nK10 Цветовая палитра — 6%\nK11 Glow (подчёркивает форму; заливка ≤10%) — 6%\nK12 Материалы (металл/стекло/композиты) — 5%\nK13 Освещение (мягкое; без hot spots) — 5%\nK14 Детализация (средняя; без шума) — 5%\nK15 Отсутствие грязи/артефактов — 5%\nK16 Уникальность (верх/силуэт) — 4%\nK17 Разнообразие форм — 3%\nK18 Читаемость силуэта (64×64/128×128) — 6%\nK19 Контролируемое повреждение (если есть) — 3%\nK20 Направление света и тени — 3%\n[ПРОВЕРКА ВЕСОВ]\n4%+6%+6%+5%+6%+5%+6%+4%+7%+6%+6%+5%+5%+5%+5%+4%+3%+6%+3%+3% = 100% → OK\n[OUTPUT FORMAT — строго]\n— По каждому из 20 критериев:\n  1 короткое предложение (6–14 слов) с сравнением «кандидат vs якоря».\n  Следующая строка: Oᵢ=/100; Vᵢ=%; вклад=(Oᵢ×Vᵢ)/100 = …\n— Строка проверки весов (как выше).\n— Явная суммарная формула (подставь все вклады):\n  FO = (O1×4%)+(O2×6%)+(O3×6%)+…+(O20×3%) = X/100\n— Финал:\n  ИТОГОВАЯ ОЦЕНКА: X/100 → ПРИНЯТО (если X ≥ 95) / ОТКЛОНЕНО\n[RESTRICTIONS]\nНе придумывай невидимые детали. При невидимых признаках — Oᵢ=0 с краткой причиной. Без внешних фактов. Без таблиц/JSON. Строго соблюдай порядок критериев, формат и формулу FO."
      },
      "position": [
        176,
        -512
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "510d1f9f-5157-4a3e-83d2-899a7722dbef",
      "name": "Google Gemini Chat Model1",
      "parameters": {
        "options": {}
      },
      "position": [
        -1488,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "7cb99b3e-ab06-45ea-a20f-4db527dcf8ef",
      "maxTries": 5,
      "name": "Promt1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты AI agent, который создает промты для генерации 3D игровых иконок на основе технического задания (ТЗ). Твоя задача - проанализировать предоставленное ТЗ и создать детальный промт для генерации 3D иконки в стилистике cyberpunk sci-fi.\n\nОБЯЗАТЕЛЬНЫЕ ЭЛЕМЕНТЫ СТИЛИСТИКИ:\n- 3D game icon of a futuristic sci-fi (Обязательный стиль для промта)\n- Clean, polished, painterly rendering style (Стиль рендера)\n- Dramatic lighting, strong highlights, и subtle rim light(Освещение)\n- Slightly glossy materials (Описание материала из тз)\n- Stylized glowing tech accents (Светящие элементы)\n- Centered на pure white background (#FFFFFF), no shadows (Белый фон)\n\nПроанализируй предоставленное ТЗ и создай промт для генерации 3D иконки.\n\nАНАЛИЗ ТЗ И АДАПТАЦИЯ:\n1. ИЗВЛЕКИ ИЗ ТЗ:\n- Название (всегда находится между \"Название:\" и \"Тип объекта:\")\n- Краткое описание объекта\n- Форму и композицию\n- Материалы и поверхности\n- Цветовую палитру (особенно неоновые акценты)\n- Светящиеся элементы и их цвета\n- Специфические технологические детали\n\n2. ОПРЕДЕЛИ КЛЮЧЕВЫЕ ХАРАКТЕРИСТИКИ:\n- Основная форма объекта (геометрическая, органическая, техническая)\n- Доминирующие материалы (металл, пластик, композит, стекло)\n- Основные цвета корпуса\n- Цвет неоновых/светящихся элементов\n- Особые технологические детали (голограммы, интерфейсы, индикаторы)\n\n3. СОЗДАЙ ПРОМТ СЛЕДУЯ СТРУКТУРЕ:\n\"3D game icon of a futuristic sci-fi [краткое описание объекта из ТЗ] — [детальное описание формы и ключевых элементов]. [Описание материалов и поверхностей]. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in [основные цвета из ТЗ] and [цвет неоновых акцентов]. [Описание светящихся элементов и технологических деталей]. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Solid pure white background (#FFFFFF), no shadows.\"\n\nПРИМЕРЫ (удачные промты):\n1. 3D game icon of futuristic hourglass — sleek sci-fi design with a metallic frame, glowing neon tubes instead of sand, and suspended energy particles flowing between chambers. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark steel, chrome, and vibrant neon blue or purple. Chunky, well-defined silhouette, easily readable at small size. Stylized glowing accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n2. 3D game icon of a futuristic combat helmet — sleek and angular design with a reinforced faceplate, side-mounted modules, and a glowing cyan visor. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials with saturated colors (dark metal, chrome, neon cyan). Chunky, well-defined shape, easily readable at small size. Glowing sci-fi accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n3. 3D game icon of a futuristic sci-fi dog tag — sleek black metal body with beveled edges and a glowing neon green border. Two embedded green chevron arrows point downward on the front surface, inset into the tag and softly glowing. The metal has a glossy, polished finish with clean reflections. Slightly asymmetrical sci-fi paneling and tech engravings give it a cyberpunk feel. Chunky, well-defined shape, easily readable at small size. Isolated on a pure white background (#FFFFFF), no shadows.\n\n4. 3D game icon of a futuristic radar — circular device with glowing holographic grid, rotating scanner beam, and sci-fi interface details. Metallic frame with angular panels and embedded lights. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark gray, silver, and neon green or cyan. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Centered on a pure white background (#FFFFFF), no shadows.\n\nСТРУКТУРА ОТВЕТА:\n1. Название: [извлеченное название]\n2. Промт: [сгенерированный промт]\n\nВАЖНО:\n- Сохраняй все уникальные детали из ТЗ\n- Адаптируй описание под формат 3D game icon\n- Используй точные цвета из ТЗ (особенно hex-коды неоновых акцентов)\n- Всегда отдельно выводи Название из полученного ТЗ\n- Название всегда находится между \"Название:\" и \"Тип объекта:\"\n- Всегда в конце промта добавляй цвет фона белый (solid pure white background (#FFFFFF)).\n- Не дублирой негде в промте цвет фона."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1488,
        -128
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "d957ecaf-477b-4082-8ccb-db695e145051",
      "name": "Wait1",
      "parameters": {
        "amount": 12
      },
      "position": [
        -688,
        -128
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "456b4b20-6486-410c-8808-db83baff96e1",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1296,
        80
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "04e65282-a077-45ee-9a14-be7fca4a3f7f",
      "maxTries": 5,
      "name": "Imagen ",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gemini-25-flash-image"
      },
      "position": [
        -896,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "ca04b02c-4c16-4915-8e28-f06519ee6ceb",
      "maxTries": 5,
      "name": "Queue1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gemini-25-flash-image/requests/{{ $('Imagen ').item.json.request_id }}"
      },
      "position": [
        -496,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "2bcf98fc-ddfc-445b-8dce-5fa342e08b7a",
      "maxTries": 5,
      "name": "Url1",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -272,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "6579515a-46f8-4d41-a089-d4656197c0ad",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        624,
        48
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "255f9b33-79a6-4f40-b870-914f875807bc",
      "maxTries": 5,
      "name": "Image1",
      "parameters": {
        "options": {},
        "url": "={{ $('Url1').item.json.images[0].url }}"
      },
      "position": [
        624,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "e089981f-457a-43c0-8868-1d45669a2379",
      "maxTries": 5,
      "name": "All Icons1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Icons.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1/view?usp=drivesdk",
          "mode": "list",
          "value": "1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -32,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "0fe49b03-c49e-4de0-88f8-5cce301af6b0",
      "name": ">",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 70
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        384,
        -128
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "08a4149f-9953-44f8-aac1-37dbc6919935",
      "maxTries": 5,
      "name": "Rated1",
      "onError": "continueErrorOutput",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=[ROLE]\nТы — senior-эксперт по анализу игровых иконок в стилизованной 2.5D изометрии sci-fi. Задача — сравнить новую иконку с 9 якорями и выставить оценки по 20 критериям.\n[PASS]\nПорог: ПРИНЯТО, если X ≥ 95/100; иначе ОТКЛОНЕНО.\n[ОБОЗНАЧЕНИЯ]\nOᵢ — оценка критерия Kᵢ (точный балл 0–100, допускаются дробные).\nVᵢ — вес критерия Kᵢ в процентах.\nFO — финальная оценка (0–100).\nX — это FO (округление только при отображении).\n[ДВА ОБЯЗАТЕЛЬНЫХ ПРАВИЛА]\n1) Каждый Oᵢ ∈ [0..100], точный балл (без дискретизации).\n2) Сумма весов ∑Vᵢ = строго 100%.\n[ФОРМУЛА]\nFO = (O1×V1)/100 + (O2×V2)/100 + … + (O20×V20)/100\nX = FO\n[INPUT]\nФайл 1: 9 якорных иконок (2 ряда) — эталон стиля/качества.\nФайл 2: новая иконка (кандидат, сгенерированная ИИ).\nОценивай только визуально наблюдаемое; ничего не додумывай.\n[DATA FORMAT — ЖЁСТКО]\nPNG/JPG, sRGB, длинная сторона ≥1024 px; кандидат центрирован; без рамок/текста/коллажей; масштаб сопоставим с якорями (высота 0.9–1.1× от средней высоты якорей).\nЛюбое нарушение → выведи одну строку и завершай:\nНарушен формат входных данных — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[FAIL-FAST: ОБРЕЗКА]\nЕсли любой значимый элемент объекта не помещается в кадр →\nИконка обрезана — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[ANCHOR CUES]\nОрто-изометрия (без схода); оси ≈30–35°; высота ≈35–40°; азимут ≈45°. Матовый металл/стекло/композиты; неон-акценты без пересветов; средняя читабельная детализация; отсутствие «грязи»; силуэт читаем на 64×64 и 128×128 px.\n[MEASUREMENT RULES]\n— Силуэт читаем на 64×64 и 128×128 px; 2–3 фокус-зоны.\n— Локальный контраст фокуса ≥25% (визуально на 128×128 px).\n— Glow: без клиппинга; «заливка» ≤10% площади объекта.\n— Углы: рёбра параллельны; оси 30° ±5°; высота 35–40°; азимут 45° ±5°.\n— «Короткое предложение»: 6–14 слов.\n— При невидимом/неподтверждаемом признаке: Oᵢ=0 и краткая причина «Недостаточно данных: …».\n[SCORING — ТОЧНЫЕ БАЛЛЫ]\nИспользуй точные Oᵢ (0–100, допускаются дробные). Без шкалы {0,25,50,75,100}.\n[CRITERIA & WEIGHTS] (∑Vᵢ = 100%)\nK1 Жанр и концепция — 4%\nK2 Стиль (чистые формы, порядок, неон) — 6%\nK3 Перспектива (ортографическая изометрия) — 6%\nK4 Угол обзора (высота/азимут в допусках) — 5%\nK5 Читаемость из изометрии — 6%\nK6 Функциональность архитектуры — 5%\nK7 Форма = Функция — 6%\nK8 Основание/платформа — 4%\nK9 Эмоциональный акцент/контрасты — 7%\nK10 Цветовая палитра — 6%\nK11 Glow (подчёркивает форму; заливка ≤10%) — 6%\nK12 Материалы (металл/стекло/композиты) — 5%\nK13 Освещение (мягкое; без hot spots) — 5%\nK14 Детализация (средняя; без шума) — 5%\nK15 Отсутствие грязи/артефактов — 5%\nK16 Уникальность (верх/силуэт) — 4%\nK17 Разнообразие форм — 3%\nK18 Читаемость силуэта (64×64/128×128) — 6%\nK19 Контролируемое повреждение (если есть) — 3%\nK20 Направление света и тени — 3%\n[ПРОВЕРКА ВЕСОВ]\n4%+6%+6%+5%+6%+5%+6%+4%+7%+6%+6%+5%+5%+5%+5%+4%+3%+6%+3%+3% = 100% → OK\n[OUTPUT FORMAT — строго]\n— По каждому из 20 критериев:\n  1 короткое предложение (6–14 слов) с сравнением «кандидат vs якоря».\n  Следующая строка: Oᵢ=/100; Vᵢ=%; вклад=(Oᵢ×Vᵢ)/100 = …\n— Строка проверки весов (как выше).\n— Явная суммарная формула (подставь все вклады):\n  FO = (O1×4%)+(O2×6%)+(O3×6%)+…+(O20×3%) = X/100\n— Финал:\n  ИТОГОВАЯ ОЦЕНКА: X/100 → ПРИНЯТО (если X ≥ 95) / ОТКЛОНЕНО\n[RESTRICTIONS]\nНе придумывай невидимые детали. При невидимых признаках — Oᵢ=0 с краткой причиной. Без внешних фактов. Без таблиц/JSON. Строго соблюдай порядок критериев, формат и формулу FO."
      },
      "position": [
        176,
        -128
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 3000
    },
    {
      "id": "4ad8ce36-63cd-4a8c-a503-3d609651d899",
      "name": "Merge",
      "parameters": {
        "numberInputs": 5
      },
      "position": [
        1136,
        224
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "2251335a-5396-4bcd-bee8-0171ff664313",
      "name": "Google Gemini Chat Model2",
      "parameters": {
        "options": {}
      },
      "position": [
        -1488,
        464
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "606030a7-019e-4d5f-98bd-5ff727d7e839",
      "maxTries": 5,
      "name": "Promt2",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты AI agent, который создает промты для генерации 3D игровых иконок на основе технического задания (ТЗ). Твоя задача - проанализировать предоставленное ТЗ и создать детальный промт для генерации 3D иконки в стилистике cyberpunk sci-fi.\n\nОБЯЗАТЕЛЬНЫЕ ЭЛЕМЕНТЫ СТИЛИСТИКИ:\n- 3D game icon of a futuristic sci-fi (Обязательный стиль для промта)\n- Clean, polished, painterly rendering style (Стиль рендера)\n- Dramatic lighting, strong highlights, и subtle rim light(Освещение)\n- Slightly glossy materials (Описание материала из тз)\n- Stylized glowing tech accents (Светящие элементы)\n- Centered на pure white background (#FFFFFF), no shadows (Белый фон)\n\nПроанализируй предоставленное ТЗ и создай промт для генерации 3D иконки.\n\nАНАЛИЗ ТЗ И АДАПТАЦИЯ:\n1. ИЗВЛЕКИ ИЗ ТЗ:\n- Название (всегда находится между \"Название:\" и \"Тип объекта:\")\n- Краткое описание объекта\n- Форму и композицию\n- Материалы и поверхности\n- Цветовую палитру (особенно неоновые акценты)\n- Светящиеся элементы и их цвета\n- Специфические технологические детали\n\n2. ОПРЕДЕЛИ КЛЮЧЕВЫЕ ХАРАКТЕРИСТИКИ:\n- Основная форма объекта (геометрическая, органическая, техническая)\n- Доминирующие материалы (металл, пластик, композит, стекло)\n- Основные цвета корпуса\n- Цвет неоновых/светящихся элементов\n- Особые технологические детали (голограммы, интерфейсы, индикаторы)\n\n3. СОЗДАЙ ПРОМТ СЛЕДУЯ СТРУКТУРЕ:\n\"3D game icon of a futuristic sci-fi [краткое описание объекта из ТЗ] — [детальное описание формы и ключевых элементов]. [Описание материалов и поверхностей]. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in [основные цвета из ТЗ] and [цвет неоновых акцентов]. [Описание светящихся элементов и технологических деталей]. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Solid pure white background (#FFFFFF), no shadows.\"\n\nПРИМЕРЫ (удачные промты):\n1. 3D game icon of futuristic hourglass — sleek sci-fi design with a metallic frame, glowing neon tubes instead of sand, and suspended energy particles flowing between chambers. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark steel, chrome, and vibrant neon blue or purple. Chunky, well-defined silhouette, easily readable at small size. Stylized glowing accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n2. 3D game icon of a futuristic combat helmet — sleek and angular design with a reinforced faceplate, side-mounted modules, and a glowing cyan visor. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials with saturated colors (dark metal, chrome, neon cyan). Chunky, well-defined shape, easily readable at small size. Glowing sci-fi accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n3. 3D game icon of a futuristic sci-fi dog tag — sleek black metal body with beveled edges and a glowing neon green border. Two embedded green chevron arrows point downward on the front surface, inset into the tag and softly glowing. The metal has a glossy, polished finish with clean reflections. Slightly asymmetrical sci-fi paneling and tech engravings give it a cyberpunk feel. Chunky, well-defined shape, easily readable at small size. Isolated on a pure white background (#FFFFFF), no shadows.\n\n4. 3D game icon of a futuristic radar — circular device with glowing holographic grid, rotating scanner beam, and sci-fi interface details. Metallic frame with angular panels and embedded lights. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark gray, silver, and neon green or cyan. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Centered on a pure white background (#FFFFFF), no shadows.\n\nСТРУКТУРА ОТВЕТА:\n1. Название: [извлеченное название]\n2. Промт: [сгенерированный промт]\n\nВАЖНО:\n- Сохраняй все уникальные детали из ТЗ\n- Адаптируй описание под формат 3D game icon\n- Используй точные цвета из ТЗ (особенно hex-коды неоновых акцентов)\n- Всегда отдельно выводи Название из полученного ТЗ\n- Название всегда находится между \"Название:\" и \"Тип объекта:\"\n- Всегда в конце промта добавляй цвет фона белый (solid pure white background (#FFFFFF)).\n- Не дублирой негде в промте цвет фона."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1488,
        272
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "953c1d49-255c-4b03-96a8-c14e4e30f167",
      "name": "Wait2",
      "parameters": {
        "amount": 12
      },
      "position": [
        -688,
        272
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "a545c797-bf37-43c4-9a0f-2918cc954e5a",
      "name": "Structured Output Parser2",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1296,
        464
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "abdc17a3-faa4-4513-a001-2093095a6e7a",
      "maxTries": 5,
      "name": "Imagen 1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gemini-25-flash-image"
      },
      "position": [
        -896,
        272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "78870eb4-3315-4dce-8091-ad69504754ef",
      "maxTries": 5,
      "name": "Queue2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gemini-25-flash-image/requests/{{ $('Imagen 1').item.json.request_id }}"
      },
      "position": [
        -496,
        272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "0638673e-e700-4c82-97ea-2f8617302303",
      "maxTries": 5,
      "name": "Url2",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -272,
        272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "129d3127-f0d8-489f-a58d-84069e403de7",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        624,
        432
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "0f0ecba2-9559-4a1f-b9d5-b86be4c92601",
      "maxTries": 5,
      "name": "Image2",
      "parameters": {
        "options": {},
        "url": "={{ $('Url2').item.json.images[0].url }}"
      },
      "position": [
        624,
        272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "0b5085f0-07b0-4779-9a84-6980c96a4701",
      "maxTries": 5,
      "name": "All Icons2",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Icons.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1/view?usp=drivesdk",
          "mode": "list",
          "value": "1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -32,
        272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "71fde46a-4767-461c-a894-10c45d8c31ae",
      "name": ">1",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 70
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        384,
        272
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "35630c59-75ce-4abc-95ff-0571bcb9ffa1",
      "maxTries": 5,
      "name": "Rated2",
      "onError": "continueErrorOutput",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=[ROLE]\nТы — senior-эксперт по анализу игровых иконок в стилизованной 2.5D изометрии sci-fi. Задача — сравнить новую иконку с 9 якорями и выставить оценки по 20 критериям.\n[PASS]\nПорог: ПРИНЯТО, если X ≥ 95/100; иначе ОТКЛОНЕНО.\n[ОБОЗНАЧЕНИЯ]\nOᵢ — оценка критерия Kᵢ (точный балл 0–100, допускаются дробные).\nVᵢ — вес критерия Kᵢ в процентах.\nFO — финальная оценка (0–100).\nX — это FO (округление только при отображении).\n[ДВА ОБЯЗАТЕЛЬНЫХ ПРАВИЛА]\n1) Каждый Oᵢ ∈ [0..100], точный балл (без дискретизации).\n2) Сумма весов ∑Vᵢ = строго 100%.\n[ФОРМУЛА]\nFO = (O1×V1)/100 + (O2×V2)/100 + … + (O20×V20)/100\nX = FO\n[INPUT]\nФайл 1: 9 якорных иконок (2 ряда) — эталон стиля/качества.\nФайл 2: новая иконка (кандидат, сгенерированная ИИ).\nОценивай только визуально наблюдаемое; ничего не додумывай.\n[DATA FORMAT — ЖЁСТКО]\nPNG/JPG, sRGB, длинная сторона ≥1024 px; кандидат центрирован; без рамок/текста/коллажей; масштаб сопоставим с якорями (высота 0.9–1.1× от средней высоты якорей).\nЛюбое нарушение → выведи одну строку и завершай:\nНарушен формат входных данных — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[FAIL-FAST: ОБРЕЗКА]\nЕсли любой значимый элемент объекта не помещается в кадр →\nИконка обрезана — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[ANCHOR CUES]\nОрто-изометрия (без схода); оси ≈30–35°; высота ≈35–40°; азимут ≈45°. Матовый металл/стекло/композиты; неон-акценты без пересветов; средняя читабельная детализация; отсутствие «грязи»; силуэт читаем на 64×64 и 128×128 px.\n[MEASUREMENT RULES]\n— Силуэт читаем на 64×64 и 128×128 px; 2–3 фокус-зоны.\n— Локальный контраст фокуса ≥25% (визуально на 128×128 px).\n— Glow: без клиппинга; «заливка» ≤10% площади объекта.\n— Углы: рёбра параллельны; оси 30° ±5°; высота 35–40°; азимут 45° ±5°.\n— «Короткое предложение»: 6–14 слов.\n— При невидимом/неподтверждаемом признаке: Oᵢ=0 и краткая причина «Недостаточно данных: …».\n[SCORING — ТОЧНЫЕ БАЛЛЫ]\nИспользуй точные Oᵢ (0–100, допускаются дробные). Без шкалы {0,25,50,75,100}.\n[CRITERIA & WEIGHTS] (∑Vᵢ = 100%)\nK1 Жанр и концепция — 4%\nK2 Стиль (чистые формы, порядок, неон) — 6%\nK3 Перспектива (ортографическая изометрия) — 6%\nK4 Угол обзора (высота/азимут в допусках) — 5%\nK5 Читаемость из изометрии — 6%\nK6 Функциональность архитектуры — 5%\nK7 Форма = Функция — 6%\nK8 Основание/платформа — 4%\nK9 Эмоциональный акцент/контрасты — 7%\nK10 Цветовая палитра — 6%\nK11 Glow (подчёркивает форму; заливка ≤10%) — 6%\nK12 Материалы (металл/стекло/композиты) — 5%\nK13 Освещение (мягкое; без hot spots) — 5%\nK14 Детализация (средняя; без шума) — 5%\nK15 Отсутствие грязи/артефактов — 5%\nK16 Уникальность (верх/силуэт) — 4%\nK17 Разнообразие форм — 3%\nK18 Читаемость силуэта (64×64/128×128) — 6%\nK19 Контролируемое повреждение (если есть) — 3%\nK20 Направление света и тени — 3%\n[ПРОВЕРКА ВЕСОВ]\n4%+6%+6%+5%+6%+5%+6%+4%+7%+6%+6%+5%+5%+5%+5%+4%+3%+6%+3%+3% = 100% → OK\n[OUTPUT FORMAT — строго]\n— По каждому из 20 критериев:\n  1 короткое предложение (6–14 слов) с сравнением «кандидат vs якоря».\n  Следующая строка: Oᵢ=/100; Vᵢ=%; вклад=(Oᵢ×Vᵢ)/100 = …\n— Строка проверки весов (как выше).\n— Явная суммарная формула (подставь все вклады):\n  FO = (O1×4%)+(O2×6%)+(O3×6%)+…+(O20×3%) = X/100\n— Финал:\n  ИТОГОВАЯ ОЦЕНКА: X/100 → ПРИНЯТО (если X ≥ 95) / ОТКЛОНЕНО\n[RESTRICTIONS]\nНе придумывай невидимые детали. При невидимых признаках — Oᵢ=0 с краткой причиной. Без внешних фактов. Без таблиц/JSON. Строго соблюдай порядок критериев, формат и формулу FO."
      },
      "position": [
        176,
        272
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "d4705155-60a4-47ea-ac45-aefff6999601",
      "maxTries": 5,
      "name": "Upload file3",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        864,
        -512
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "e4e3132f-38bd-4b06-8d6b-e83dfd878e31",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1072,
        -352
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "197d8f27-e0a5-40bc-a776-d27f88f9d977",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1072,
        48
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "ecccd936-dbec-48de-b082-85bb8695f499",
      "maxTries": 5,
      "name": "Upload file4",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt1').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        864,
        -128
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "c41b7bf0-2d2d-4b0b-b05f-658a4349f40b",
      "maxTries": 5,
      "name": "Upload file5",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt2').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        864,
        272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "049b7ad4-5477-4b64-b7f4-361216c4f5da",
      "maxTries": 5,
      "name": "Drive URL",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=🔄    💠 *Создаю иконки!* \n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -2192,
        -704
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "ac911fa0-8805-4a53-af37-c3072247974f",
      "maxTries": 5,
      "name": "Finish",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=✅    💠 *Ваши иконки готовы!*\n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -1488,
        -704
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "993ccdda-8d7f-4be4-a551-9977a6822be1",
      "maxTries": 5,
      "name": "Drive URL1",
      "onError": "continueRegularOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "text": "=🔄    💠 Создаю иконки!\n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -1968,
        -704
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "1b1de0ac-8240-4754-91b8-c6daefb67601",
      "maxTries": 5,
      "name": "Finish1",
      "onError": "continueRegularOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "text": "=✅    💠 Ваши иконки готовы!\n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -1264,
        -704
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "d1ab5ff9-6b18-42fd-a914-7c232e03ca78"
    },
    {
      "id": "d9880309-7506-4197-ada3-7230e80fe73c",
      "name": "Remove",
      "parameters": {
        "jsCode": "// Получаем текст напрямую из Gemini API\nconst input = $('When Executed by Another Workflow').first().json.Tasks;\n\n// Логируем входные данные для отладки\nconsole.log('Input text:', input);\nconsole.log('Input type:', typeof input);\n\n// Проверяем, что input - это строка\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  console.log('Error: Input is not a string, received:', input);\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\n// Удаляем все \\r, \\n, \\t, заменяя на пробел\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\n\n// Заменяем маркеры \"•\" и \"●\" на дефис\ncleanedText = cleanedText.replace(/[•●]/g, '-');\n\n// Убираем лишние пробелы (больше одного подряд)\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      result: cleanedText,\n      original_length: result.length,\n      cleaned_length: cleanedText.length\n    }\n  }\n];"
      },
      "position": [
        -2192,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": true,
      "id": "e14a7983-9b06-4f5d-a20c-d4c5bbbd7f7e",
      "name": "Split",
      "parameters": {
        "jsCode": "// Получаем текст из нового формата данных\nconst fullText = $input.first().json.result;$input.first().json.result\n\n// Логируем для отладки\nconsole.log('Input text length:', fullText.length);\nconsole.log('First 100 chars:', fullText.substring(0, 100));\n\n// Разделяем по разделителю \" --- \" (с пробелами)\nconst tasks = fullText.split(' --- ');\n\n// Создаем отдельные элементы для каждого ТЗ\nconst result = tasks.map((task, index) => {\n  return {\n    task_number: index + 1,\n    task_content: task.trim(),\n    total_tasks: tasks.length,\n    content_length: task.trim().length,\n  };\n});\n\nconsole.log('Total tasks found:', result.length);\n\nreturn result;"
      },
      "position": [
        -1968,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "322d707a-7808-4c44-9b87-b6c523369612",
      "name": "Clear Promt",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1072,
        -512
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "4f3cf06f-a917-4963-8ffb-037ad70d9cc9",
      "name": "Clear Promt1",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1072,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "698895fd-29f2-4766-b035-798222cc329a",
      "name": "Clear Promt2",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1072,
        272
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "2603f45a-1504-41ae-8a3d-e865be449888",
      "name": "Google Gemini Chat Model3",
      "parameters": {
        "options": {}
      },
      "position": [
        -1488,
        880
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "e24b06c8-00e1-4c69-a9db-e545631cae1e",
      "maxTries": 5,
      "name": "Promt3",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты AI agent, который создает промты для генерации 3D игровых иконок на основе технического задания (ТЗ). Твоя задача - проанализировать предоставленное ТЗ и создать детальный промт для генерации 3D иконки в стилистике cyberpunk sci-fi.\n\nОБЯЗАТЕЛЬНЫЕ ЭЛЕМЕНТЫ СТИЛИСТИКИ:\n- 3D game icon of a futuristic sci-fi (Обязательный стиль для промта)\n- Clean, polished, painterly rendering style (Стиль рендера)\n- Dramatic lighting, strong highlights, и subtle rim light(Освещение)\n- Slightly glossy materials (Описание материала из тз)\n- Stylized glowing tech accents (Светящие элементы)\n- Centered на pure white background (#FFFFFF), no shadows (Белый фон)\n\nПроанализируй предоставленное ТЗ и создай промт для генерации 3D иконки.\n\nАНАЛИЗ ТЗ И АДАПТАЦИЯ:\n1. ИЗВЛЕКИ ИЗ ТЗ:\n- Название (всегда находится между \"Название:\" и \"Тип объекта:\")\n- Краткое описание объекта\n- Форму и композицию\n- Материалы и поверхности\n- Цветовую палитру (особенно неоновые акценты)\n- Светящиеся элементы и их цвета\n- Специфические технологические детали\n\n2. ОПРЕДЕЛИ КЛЮЧЕВЫЕ ХАРАКТЕРИСТИКИ:\n- Основная форма объекта (геометрическая, органическая, техническая)\n- Доминирующие материалы (металл, пластик, композит, стекло)\n- Основные цвета корпуса\n- Цвет неоновых/светящихся элементов\n- Особые технологические детали (голограммы, интерфейсы, индикаторы)\n\n3. СОЗДАЙ ПРОМТ СЛЕДУЯ СТРУКТУРЕ:\n\"3D game icon of a futuristic sci-fi [краткое описание объекта из ТЗ] — [детальное описание формы и ключевых элементов]. [Описание материалов и поверхностей]. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in [основные цвета из ТЗ] and [цвет неоновых акцентов]. [Описание светящихся элементов и технологических деталей]. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Solid pure white background (#FFFFFF), no shadows.\"\n\nПРИМЕРЫ (удачные промты):\n1. 3D game icon of futuristic hourglass — sleek sci-fi design with a metallic frame, glowing neon tubes instead of sand, and suspended energy particles flowing between chambers. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark steel, chrome, and vibrant neon blue or purple. Chunky, well-defined silhouette, easily readable at small size. Stylized glowing accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n2. 3D game icon of a futuristic combat helmet — sleek and angular design with a reinforced faceplate, side-mounted modules, and a glowing cyan visor. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials with saturated colors (dark metal, chrome, neon cyan). Chunky, well-defined shape, easily readable at small size. Glowing sci-fi accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n3. 3D game icon of a futuristic sci-fi dog tag — sleek black metal body with beveled edges and a glowing neon green border. Two embedded green chevron arrows point downward on the front surface, inset into the tag and softly glowing. The metal has a glossy, polished finish with clean reflections. Slightly asymmetrical sci-fi paneling and tech engravings give it a cyberpunk feel. Chunky, well-defined shape, easily readable at small size. Isolated on a pure white background (#FFFFFF), no shadows.\n\n4. 3D game icon of a futuristic radar — circular device with glowing holographic grid, rotating scanner beam, and sci-fi interface details. Metallic frame with angular panels and embedded lights. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark gray, silver, and neon green or cyan. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Centered on a pure white background (#FFFFFF), no shadows.\n\nСТРУКТУРА ОТВЕТА:\n1. Название: [извлеченное название]\n2. Промт: [сгенерированный промт]\n\nВАЖНО:\n- Сохраняй все уникальные детали из ТЗ\n- Адаптируй описание под формат 3D game icon\n- Используй точные цвета из ТЗ (особенно hex-коды неоновых акцентов)\n- Всегда отдельно выводи Название из полученного ТЗ\n- Название всегда находится между \"Название:\" и \"Тип объекта:\"\n- Всегда в конце промта добавляй цвет фона белый (solid pure white background (#FFFFFF)).\n- Не дублирой негде в промте цвет фона."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1488,
        688
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "aedef3b0-722b-4173-939c-0a29c2dca4fd",
      "name": "Wait5",
      "parameters": {
        "amount": 12
      },
      "position": [
        -688,
        688
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "560db5b4-1ee2-4983-b6c6-4f233b8384ed",
      "name": "Structured Output Parser3",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1296,
        880
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "ff0e1be4-ea29-4802-aeb3-96d7ad4a435f",
      "maxTries": 5,
      "name": "Imagen 2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gemini-25-flash-image"
      },
      "position": [
        -896,
        688
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "02492b90-e40c-4794-8a1b-bd3250e24166",
      "maxTries": 5,
      "name": "Queue3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gemini-25-flash-image/requests/{{ $('Imagen 2').item.json.request_id }}"
      },
      "position": [
        -496,
        688
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "05c32b94-8fc8-4d68-8e6c-3ff997a50d1f",
      "maxTries": 5,
      "name": "Url3",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -272,
        688
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "e6e338c0-be8d-4e93-902e-7f96401f6518",
      "name": "Loop Over Items10",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        624,
        848
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "58ee4f7c-30ca-425e-9f50-0d943eded8c6",
      "maxTries": 5,
      "name": "Image3",
      "parameters": {
        "options": {},
        "url": "={{ $('Url3').item.json.images[0].url }}"
      },
      "position": [
        624,
        688
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "839881e4-df41-4a4c-a92e-9b4560002495",
      "maxTries": 5,
      "name": "All Icons3",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Icons.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1/view?usp=drivesdk",
          "mode": "list",
          "value": "1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -32,
        688
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "2d21006e-402b-4e53-aeb9-2f494ead0998",
      "name": ">2",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 70
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        384,
        688
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "66f81d70-3182-433e-88b6-5af16a1009ec",
      "maxTries": 5,
      "name": "Rated3",
      "onError": "continueErrorOutput",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=[ROLE]\nТы — senior-эксперт по анализу игровых иконок в стилизованной 2.5D изометрии sci-fi. Задача — сравнить новую иконку с 9 якорями и выставить оценки по 20 критериям.\n[PASS]\nПорог: ПРИНЯТО, если X ≥ 95/100; иначе ОТКЛОНЕНО.\n[ОБОЗНАЧЕНИЯ]\nOᵢ — оценка критерия Kᵢ (точный балл 0–100, допускаются дробные).\nVᵢ — вес критерия Kᵢ в процентах.\nFO — финальная оценка (0–100).\nX — это FO (округление только при отображении).\n[ДВА ОБЯЗАТЕЛЬНЫХ ПРАВИЛА]\n1) Каждый Oᵢ ∈ [0..100], точный балл (без дискретизации).\n2) Сумма весов ∑Vᵢ = строго 100%.\n[ФОРМУЛА]\nFO = (O1×V1)/100 + (O2×V2)/100 + … + (O20×V20)/100\nX = FO\n[INPUT]\nФайл 1: 9 якорных иконок (2 ряда) — эталон стиля/качества.\nФайл 2: новая иконка (кандидат, сгенерированная ИИ).\nОценивай только визуально наблюдаемое; ничего не додумывай.\n[DATA FORMAT — ЖЁСТКО]\nPNG/JPG, sRGB, длинная сторона ≥1024 px; кандидат центрирован; без рамок/текста/коллажей; масштаб сопоставим с якорями (высота 0.9–1.1× от средней высоты якорей).\nЛюбое нарушение → выведи одну строку и завершай:\nНарушен формат входных данных — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[FAIL-FAST: ОБРЕЗКА]\nЕсли любой значимый элемент объекта не помещается в кадр →\nИконка обрезана — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[ANCHOR CUES]\nОрто-изометрия (без схода); оси ≈30–35°; высота ≈35–40°; азимут ≈45°. Матовый металл/стекло/композиты; неон-акценты без пересветов; средняя читабельная детализация; отсутствие «грязи»; силуэт читаем на 64×64 и 128×128 px.\n[MEASUREMENT RULES]\n— Силуэт читаем на 64×64 и 128×128 px; 2–3 фокус-зоны.\n— Локальный контраст фокуса ≥25% (визуально на 128×128 px).\n— Glow: без клиппинга; «заливка» ≤10% площади объекта.\n— Углы: рёбра параллельны; оси 30° ±5°; высота 35–40°; азимут 45° ±5°.\n— «Короткое предложение»: 6–14 слов.\n— При невидимом/неподтверждаемом признаке: Oᵢ=0 и краткая причина «Недостаточно данных: …».\n[SCORING — ТОЧНЫЕ БАЛЛЫ]\nИспользуй точные Oᵢ (0–100, допускаются дробные). Без шкалы {0,25,50,75,100}.\n[CRITERIA & WEIGHTS] (∑Vᵢ = 100%)\nK1 Жанр и концепция — 4%\nK2 Стиль (чистые формы, порядок, неон) — 6%\nK3 Перспектива (ортографическая изометрия) — 6%\nK4 Угол обзора (высота/азимут в допусках) — 5%\nK5 Читаемость из изометрии — 6%\nK6 Функциональность архитектуры — 5%\nK7 Форма = Функция — 6%\nK8 Основание/платформа — 4%\nK9 Эмоциональный акцент/контрасты — 7%\nK10 Цветовая палитра — 6%\nK11 Glow (подчёркивает форму; заливка ≤10%) — 6%\nK12 Материалы (металл/стекло/композиты) — 5%\nK13 Освещение (мягкое; без hot spots) — 5%\nK14 Детализация (средняя; без шума) — 5%\nK15 Отсутствие грязи/артефактов — 5%\nK16 Уникальность (верх/силуэт) — 4%\nK17 Разнообразие форм — 3%\nK18 Читаемость силуэта (64×64/128×128) — 6%\nK19 Контролируемое повреждение (если есть) — 3%\nK20 Направление света и тени — 3%\n[ПРОВЕРКА ВЕСОВ]\n4%+6%+6%+5%+6%+5%+6%+4%+7%+6%+6%+5%+5%+5%+5%+4%+3%+6%+3%+3% = 100% → OK\n[OUTPUT FORMAT — строго]\n— По каждому из 20 критериев:\n  1 короткое предложение (6–14 слов) с сравнением «кандидат vs якоря».\n  Следующая строка: Oᵢ=/100; Vᵢ=%; вклад=(Oᵢ×Vᵢ)/100 = …\n— Строка проверки весов (как выше).\n— Явная суммарная формула (подставь все вклады):\n  FO = (O1×4%)+(O2×6%)+(O3×6%)+…+(O20×3%) = X/100\n— Финал:\n  ИТОГОВАЯ ОЦЕНКА: X/100 → ПРИНЯТО (если X ≥ 95) / ОТКЛОНЕНО\n[RESTRICTIONS]\nНе придумывай невидимые детали. При невидимых признаках — Oᵢ=0 с краткой причиной. Без внешних фактов. Без таблиц/JSON. Строго соблюдай порядок критериев, формат и формулу FO."
      },
      "position": [
        176,
        688
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 3000
    },
    {
      "id": "29ad57a2-1558-488f-bbcc-2585b452fe03",
      "name": "Loop Over Items11",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1072,
        848
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "d161d74d-a19e-40c1-a636-a2bd8bf09885",
      "maxTries": 5,
      "name": "Upload file",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt3').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        864,
        688
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "c53d3268-f28e-43f3-bf52-e2f89e21166a",
      "name": "Clear Promt3",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1072,
        688
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "b2a55df5-32ac-413d-84bf-d1894d79202d",
      "name": "Google Gemini Chat Model4",
      "parameters": {
        "options": {}
      },
      "position": [
        -1488,
        1312
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "40c27774-d33d-4128-88e7-426a82fc9e7d",
      "maxTries": 5,
      "name": "Promt4",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты AI agent, который создает промты для генерации 3D игровых иконок на основе технического задания (ТЗ). Твоя задача - проанализировать предоставленное ТЗ и создать детальный промт для генерации 3D иконки в стилистике cyberpunk sci-fi.\n\nОБЯЗАТЕЛЬНЫЕ ЭЛЕМЕНТЫ СТИЛИСТИКИ:\n- 3D game icon of a futuristic sci-fi (Обязательный стиль для промта)\n- Clean, polished, painterly rendering style (Стиль рендера)\n- Dramatic lighting, strong highlights, и subtle rim light(Освещение)\n- Slightly glossy materials (Описание материала из тз)\n- Stylized glowing tech accents (Светящие элементы)\n- Centered на pure white background (#FFFFFF), no shadows (Белый фон)\n\nПроанализируй предоставленное ТЗ и создай промт для генерации 3D иконки.\n\nАНАЛИЗ ТЗ И АДАПТАЦИЯ:\n1. ИЗВЛЕКИ ИЗ ТЗ:\n- Название (всегда находится между \"Название:\" и \"Тип объекта:\")\n- Краткое описание объекта\n- Форму и композицию\n- Материалы и поверхности\n- Цветовую палитру (особенно неоновые акценты)\n- Светящиеся элементы и их цвета\n- Специфические технологические детали\n\n2. ОПРЕДЕЛИ КЛЮЧЕВЫЕ ХАРАКТЕРИСТИКИ:\n- Основная форма объекта (геометрическая, органическая, техническая)\n- Доминирующие материалы (металл, пластик, композит, стекло)\n- Основные цвета корпуса\n- Цвет неоновых/светящихся элементов\n- Особые технологические детали (голограммы, интерфейсы, индикаторы)\n\n3. СОЗДАЙ ПРОМТ СЛЕДУЯ СТРУКТУРЕ:\n\"3D game icon of a futuristic sci-fi [краткое описание объекта из ТЗ] — [детальное описание формы и ключевых элементов]. [Описание материалов и поверхностей]. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in [основные цвета из ТЗ] and [цвет неоновых акцентов]. [Описание светящихся элементов и технологических деталей]. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Solid pure white background (#FFFFFF), no shadows.\"\n\nПРИМЕРЫ (удачные промты):\n1. 3D game icon of futuristic hourglass — sleek sci-fi design with a metallic frame, glowing neon tubes instead of sand, and suspended energy particles flowing between chambers. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark steel, chrome, and vibrant neon blue or purple. Chunky, well-defined silhouette, easily readable at small size. Stylized glowing accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n2. 3D game icon of a futuristic combat helmet — sleek and angular design with a reinforced faceplate, side-mounted modules, and a glowing cyan visor. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials with saturated colors (dark metal, chrome, neon cyan). Chunky, well-defined shape, easily readable at small size. Glowing sci-fi accents. Centered on a pure white background (#FFFFFF), no shadows.\n\n3. 3D game icon of a futuristic sci-fi dog tag — sleek black metal body with beveled edges and a glowing neon green border. Two embedded green chevron arrows point downward on the front surface, inset into the tag and softly glowing. The metal has a glossy, polished finish with clean reflections. Slightly asymmetrical sci-fi paneling and tech engravings give it a cyberpunk feel. Chunky, well-defined shape, easily readable at small size. Isolated on a pure white background (#FFFFFF), no shadows.\n\n4. 3D game icon of a futuristic radar — circular device with glowing holographic grid, rotating scanner beam, and sci-fi interface details. Metallic frame with angular panels and embedded lights. Clean, polished, painterly rendering style with dramatic lighting, strong highlights, and subtle rim light. Slightly glossy materials in dark gray, silver, and neon green or cyan. Chunky, well-defined shape, easily readable at small size. Stylized glowing tech accents. Centered on a pure white background (#FFFFFF), no shadows.\n\nСТРУКТУРА ОТВЕТА:\n1. Название: [извлеченное название]\n2. Промт: [сгенерированный промт]\n\nВАЖНО:\n- Сохраняй все уникальные детали из ТЗ\n- Адаптируй описание под формат 3D game icon\n- Используй точные цвета из ТЗ (особенно hex-коды неоновых акцентов)\n- Всегда отдельно выводи Название из полученного ТЗ\n- Название всегда находится между \"Название:\" и \"Тип объекта:\"\n- Всегда в конце промта добавляй цвет фона белый (solid pure white background (#FFFFFF)).\n- Не дублирой негде в промте цвет фона."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1488,
        1120
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "f87d5b11-2381-4e9d-815a-aa2dd53d3caa",
      "name": "Wait6",
      "parameters": {
        "amount": 12
      },
      "position": [
        -688,
        1120
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "395c5841-b3e7-4b7e-9b32-6072a14880d9"
    },
    {
      "id": "c1f53aee-f8e6-4571-b6ae-c041d7e8739c",
      "name": "Structured Output Parser4",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1296,
        1312
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "cc0b8870-4f28-4c95-beaa-1af17b5d0a42",
      "maxTries": 5,
      "name": "Imagen 3",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gemini-25-flash-image"
      },
      "position": [
        -896,
        1120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "f810c747-4792-4bfc-b754-0dc79cfc4120",
      "maxTries": 5,
      "name": "Queue4",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gemini-25-flash-image/requests/{{ $('Imagen 3').item.json.request_id }}"
      },
      "position": [
        -496,
        1120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "bc0e6c97-fcba-4086-b6b7-d5f7c57db98a",
      "maxTries": 5,
      "name": "Url4",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -272,
        1120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "0ef495ba-0e4a-47a8-82a0-1954e1944512",
      "name": "Loop Over Items13",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        624,
        1280
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "20dc7bee-74fb-4f06-bae4-93e0234b891c",
      "maxTries": 5,
      "name": "Image4",
      "parameters": {
        "options": {},
        "url": "={{ $('Url4').item.json.images[0].url }}"
      },
      "position": [
        624,
        1120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "881ecc25-ca1f-494a-ac07-e7eba3f27e0a",
      "maxTries": 4,
      "name": "All Icons4",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Icons.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1/view?usp=drivesdk",
          "mode": "list",
          "value": "1XM4RvtqzGug_a3uz6ZcaipXrBFTpT9o1"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -32,
        1120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "f492f68c-66b2-416b-ac48-bb9fefc88b2e",
      "name": ">3",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 70
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        384,
        1120
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini Ilya Owner"
        }
      },
      "id": "6198d5be-aa46-4dbb-a88d-1a3671f101e4",
      "maxTries": 5,
      "name": "Rated4",
      "onError": "continueErrorOutput",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=[ROLE]\nТы — senior-эксперт по анализу игровых иконок в стилизованной 2.5D изометрии sci-fi. Задача — сравнить новую иконку с 9 якорями и выставить оценки по 20 критериям.\n[PASS]\nПорог: ПРИНЯТО, если X ≥ 95/100; иначе ОТКЛОНЕНО.\n[ОБОЗНАЧЕНИЯ]\nOᵢ — оценка критерия Kᵢ (точный балл 0–100, допускаются дробные).\nVᵢ — вес критерия Kᵢ в процентах.\nFO — финальная оценка (0–100).\nX — это FO (округление только при отображении).\n[ДВА ОБЯЗАТЕЛЬНЫХ ПРАВИЛА]\n1) Каждый Oᵢ ∈ [0..100], точный балл (без дискретизации).\n2) Сумма весов ∑Vᵢ = строго 100%.\n[ФОРМУЛА]\nFO = (O1×V1)/100 + (O2×V2)/100 + … + (O20×V20)/100\nX = FO\n[INPUT]\nФайл 1: 9 якорных иконок (2 ряда) — эталон стиля/качества.\nФайл 2: новая иконка (кандидат, сгенерированная ИИ).\nОценивай только визуально наблюдаемое; ничего не додумывай.\n[DATA FORMAT — ЖЁСТКО]\nPNG/JPG, sRGB, длинная сторона ≥1024 px; кандидат центрирован; без рамок/текста/коллажей; масштаб сопоставим с якорями (высота 0.9–1.1× от средней высоты якорей).\nЛюбое нарушение → выведи одну строку и завершай:\nНарушен формат входных данных — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[FAIL-FAST: ОБРЕЗКА]\nЕсли любой значимый элемент объекта не помещается в кадр →\nИконка обрезана — анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0/100\n[ANCHOR CUES]\nОрто-изометрия (без схода); оси ≈30–35°; высота ≈35–40°; азимут ≈45°. Матовый металл/стекло/композиты; неон-акценты без пересветов; средняя читабельная детализация; отсутствие «грязи»; силуэт читаем на 64×64 и 128×128 px.\n[MEASUREMENT RULES]\n— Силуэт читаем на 64×64 и 128×128 px; 2–3 фокус-зоны.\n— Локальный контраст фокуса ≥25% (визуально на 128×128 px).\n— Glow: без клиппинга; «заливка» ≤10% площади объекта.\n— Углы: рёбра параллельны; оси 30° ±5°; высота 35–40°; азимут 45° ±5°.\n— «Короткое предложение»: 6–14 слов.\n— При невидимом/неподтверждаемом признаке: Oᵢ=0 и краткая причина «Недостаточно данных: …».\n[SCORING — ТОЧНЫЕ БАЛЛЫ]\nИспользуй точные Oᵢ (0–100, допускаются дробные). Без шкалы {0,25,50,75,100}.\n[CRITERIA & WEIGHTS] (∑Vᵢ = 100%)\nK1 Жанр и концепция — 4%\nK2 Стиль (чистые формы, порядок, неон) — 6%\nK3 Перспектива (ортографическая изометрия) — 6%\nK4 Угол обзора (высота/азимут в допусках) — 5%\nK5 Читаемость из изометрии — 6%\nK6 Функциональность архитектуры — 5%\nK7 Форма = Функция — 6%\nK8 Основание/платформа — 4%\nK9 Эмоциональный акцент/контрасты — 7%\nK10 Цветовая палитра — 6%\nK11 Glow (подчёркивает форму; заливка ≤10%) — 6%\nK12 Материалы (металл/стекло/композиты) — 5%\nK13 Освещение (мягкое; без hot spots) — 5%\nK14 Детализация (средняя; без шума) — 5%\nK15 Отсутствие грязи/артефактов — 5%\nK16 Уникальность (верх/силуэт) — 4%\nK17 Разнообразие форм — 3%\nK18 Читаемость силуэта (64×64/128×128) — 6%\nK19 Контролируемое повреждение (если есть) — 3%\nK20 Направление света и тени — 3%\n[ПРОВЕРКА ВЕСОВ]\n4%+6%+6%+5%+6%+5%+6%+4%+7%+6%+6%+5%+5%+5%+5%+4%+3%+6%+3%+3% = 100% → OK\n[OUTPUT FORMAT — строго]\n— По каждому из 20 критериев:\n  1 короткое предложение (6–14 слов) с сравнением «кандидат vs якоря».\n  Следующая строка: Oᵢ=/100; Vᵢ=%; вклад=(Oᵢ×Vᵢ)/100 = …\n— Строка проверки весов (как выше).\n— Явная суммарная формула (подставь все вклады):\n  FO = (O1×4%)+(O2×6%)+(O3×6%)+…+(O20×3%) = X/100\n— Финал:\n  ИТОГОВАЯ ОЦЕНКА: X/100 → ПРИНЯТО (если X ≥ 95) / ОТКЛОНЕНО\n[RESTRICTIONS]\nНе придумывай невидимые детали. При невидимых признаках — Oᵢ=0 с краткой причиной. Без внешних фактов. Без таблиц/JSON. Строго соблюдай порядок критериев, формат и формулу FO."
      },
      "position": [
        176,
        1120
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 3000
    },
    {
      "id": "7c6e4666-3067-4869-8eb6-351e39223a48",
      "name": "Loop Over Items14",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1072,
        1280
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "4282669d-bc90-4916-ae6f-9bf24f93654a",
      "maxTries": 5,
      "name": "Upload file6",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt4').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        864,
        1120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "38ca4714-1972-4672-96c9-2e0144759d56",
      "name": "Clear Promt4",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1072,
        1120
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a7f4a87b-8a5e-40a5-a29d-385d421e43bf",
      "name": "Wait7",
      "parameters": {
        "amount": 10
      },
      "position": [
        384,
        1296
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "87ed3d6e-755a-4776-861a-83b0dfc5c78e",
      "name": "Wait8",
      "parameters": {
        "amount": 10
      },
      "position": [
        384,
        864
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "8f9915ba-939b-493a-8e26-d13ab9a2318b",
      "name": "Wait9",
      "parameters": {
        "amount": 10
      },
      "position": [
        384,
        448
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "3316fb79-04f0-43f6-b586-3acf386dfd8c",
      "name": "Wait10",
      "parameters": {
        "amount": 10
      },
      "position": [
        384,
        64
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "8ff5523e-d51a-4362-ad0f-e8a2c689e169",
      "name": "Wait11",
      "parameters": {
        "amount": 10
      },
      "position": [
        384,
        -336
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "executeOnce": true,
      "id": "1b1a1bea-63e9-477c-9884-8eef5eae17c5",
      "name": "Date & Time1",
      "parameters": {
        "options": {
          "timezone": "Europe/Moscow"
        }
      },
      "position": [
        -2848,
        -512
      ],
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2
    },
    {
      "id": "1f922172-32a0-4e29-83c5-37df0e0d783d",
      "name": "Loop Over Items16",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1072,
        432
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "7873e19c-5dcf-44a0-8de6-af32a53dd9cb",
      "name": "Wait12",
      "parameters": {},
      "position": [
        -32,
        1296
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "234231d3-6d73-4011-b9a9-abdeedac0692",
      "name": "Wait13",
      "parameters": {},
      "position": [
        -32,
        864
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "6a891ee0-6fe7-4833-b91e-3d50fef76169",
      "name": "Wait14",
      "parameters": {},
      "position": [
        -32,
        448
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "785a0e4e-7a56-46cb-9563-36c218cd702d",
      "name": "Wait15",
      "parameters": {},
      "position": [
        -32,
        64
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "c2139c52-7bff-4166-894d-6bb4ff1622ec",
      "name": "Wait16",
      "parameters": {},
      "position": [
        -32,
        -336
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "74b8917d-3aef-41a3-8d5c-5c3efecc2d0f",
      "maxTries": 5,
      "name": "Promt5",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Инструкция ниже описывает как составлять промт. Используй полученное ТЗ для составления промта.\n\nINSTRUCTION FOR ICON PROMPT GENERATOR BOT\n\nYour task is to generate concise, ready-to-use English prompts for an image AI that creates high-quality, 3D-looking stylized game icons in a semi-realistic casual style.\n\nHere are the detailed characteristics:\n\nColor Palette: The objects feature a vibrant yet cohesive color scheme, predominantly using bold primary colors such as yellow, orange, blue, and purple, often accented with neon highlights in cyan or red. This creates a striking contrast against the white backgrounds, emphasizing a high-tech, glowing effect typical of sci-fi visuals.\n\nSimplified 2D Design:a casual style would shift toward a flatter, 2D illustration. This involves reducing depth with minimal shading and avoiding complex gradients or reflections. The focus would be on clean, bold outlines and flat color fills, giving a hand-drawn or sketch-like feel suitable for casual gaming or app interfaces.\n\nFuturistic Design: The objects—such as a battery, key, pickaxe, camera, radar, wheel, card reader, helmet, and visor—incorporate sleek, angular shapes and geometric patterns. These designs are reminiscent of advanced technology or cyberpunk aesthetics, with elements like sharp edges, metallic textures, and integrated lights or screens.\nNeon Accents: A defining feature is the use of neon lines and glowing details, often in cyan or red, which outline key components or highlight interactive elements (e.g., the camera lens, radar screen, or keyhole). This adds a dynamic, energetic feel and suggests functionality or power.\nMaterial and Texture: The objects appear to be made of a combination of metallic and matte materials, with some areas suggesting plastic or glass (e.g., the transparent visor or the glowing core of the diamond-shaped item). The textures are clean and stylized, avoiding intricate realism for a more uniform, polished look.\nThematic Consistency: All items share a unified theme of advanced technology or gaming-related icons, likely intended for a sci-fi game or digital interface. The consistent use of glowing elements and futuristic shapes ties them together as part of a cohesive visual language.\nReflections should be minimal and subtle, appearing as soft ambient lighting rather than sharp highlights or mirror-like effects.\n\n**BOT BEHAVIOR:**\n\n* Output only the finished English prompt, no explanations or greetings.\n* Always follow the style guide above, strictly **without black outlines**, matching the depth, color, and clarity of the references.\n\n**Example prompts:**\n\nA stylized game icon of a futuristic energy cell, cylindrical in shape and slightly tilted upwards to the right. The entire object has a sleek, matte finish with subtle surface details. The main body is made of a glowing, translucent material with a vibrant internal yellow to orange gradient, resembling active energy or liquid. Its surface features gentle ambient lighting that follows the cylindrical form. A prominent, stylized lightning bolt symbol with a bold red outline and a bright yellow-orange fill is centered on its surface, appearing slightly raised with a subtle shadow effect. The top and bottom caps are a sleek, dark purple with a smooth matte finish, featuring distinct beveled edges with soft ambient lighting that emphasizes their curved form, with gentle glow effects on the dark chassis. Clean geometric shapes, simplified futuristic design, vibrant casual game art style, UI element, game asset, high detail, 8k, trending on ArtStation, isolated on a pure white background.\n\nA stylized game icon of a futuristic headset or VR goggles, presented from a slightly angled front-side view, featuring a prominent glowing visor. The entire object has a sleek, matte finish with subtle surface textures. The main body is predominantly dark charcoal grey, composed of robust, interlocking, hard-surface panels and chunky forms, with gentle ambient lighting. The large central visor area is a deep, dark screen with a bold, vibrant neon cyan outline that emits a soft internal glow, casting gentle luminescent effects onto surrounding surfaces. Yellow armored plates form prominent accents around the visor and on the side earpieces, with soft ambient lighting. Small, glowing neon cyan and vibrant yellow indicator lights are subtly embedded on the surface, emitting a soft internal glow with gentle light bleed on the dark chassis. Clean geometric shapes, simplified futuristic design, vibrant casual game art style, UI element, game asset, high detail, 8k, trending on ArtStation, isolated on a pure white background.\n\nA stylized game icon of a futuristic energy shard or gem-infused device, presented from a slightly angled front view. The entire object has a sleek, matte finish with subtle surface details. The main body is a thick, angular, dark charcoal grey shield-like structure, composed of multi-faceted, robust hard-surface panels, with gentle ambient lighting. A prominent, large, faceted, vibrant yellow-orange crystal gem is deeply set into the center, emitting a strong, soft internal glow, casting gentle luminescent effects onto surrounding surfaces and showing soft, internal light refractions. Multiple thin, internally glowing neon orange lines curve outwards from the gem, and a striking vertical neon cyan light strip is embedded into a recessed 'V' shaped section below the gem, all emitting a soft internal glow with gentle light bleed on the dark chassis. Clean geometric shapes, simplified futuristic design, vibrant casual game art style, UI element, game asset, high detail, 8k, trending on ArtStation, isolated on a pure white background.\n\nA stylized game icon of a futuristic key, angled slightly downwards to the right, emphasizing its solid, three-dimensional form. The entire object has a sleek, matte finish with subtle surface textures. The main body of the key is a vibrant blue, with the head featuring intricate, angular, chunky shapes and layered panels that subtly transition to a deeper purple at the edges. These surfaces feature gentle ambient lighting that follows their forms. A prominent circular recess within the key's head contains a vibrant neon cyan element that emits a soft internal glow, casting gentle luminescent effects onto surrounding surfaces. A circular hole is present at the top of the key head, also showing a smooth, matte finish. The key's shaft is thick and solid blue, with crisp edges and soft ambient lighting. The key's teeth are chunky and defined, matching the matte blue material. Clean geometric shapes, simplified futuristic design, vibrant casual game art style, UI element, game asset, high detail, 8k, trending on ArtStation, isolated on a pure white background.\n\nФОРМАТ ОТВЕТА:\n\"Name\": \"Название из ТЗ\",\n\"Promt\": \"составленый промт\"\n\nВАЖНО:\n* В Промте не должно быть новых строк, только точки и запятые, без любых кавычек и без любых скобок, минус тоже нельзя. Промт должен быть на английском.\n* Всегда отдельньно выводи Название из получаеного ТЗ. Это всегда данные от Название: ДО Тип объекта: (вместо ДО будет название из ТЗ)."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -2176,
        -288
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Chat ID": [
            "804687104"
          ],
          "File_name": [
            "ТЗ+Арт+лечение+и+тренировка+юнитов+ГК_fixed.pdf"
          ],
          "Tasks": "Название: Icon_TreatmentNTraining_UnitTreatment\nТип объекта: Иконка\nКраткое описание: Иконка, сигнализирующая о наличии раненых юнитов и необходимости их лечения.\nРоль/назначение: Визуальный маркер на главном экране, который информирует игрока о доступности функции лечения. При нажатии открывает соответствующий интерфейс.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный гексагональный контейнер из полированного белого металла. Внутри контейнера находится голографический символ, изображающий медленно восстанавливающуюся клеточную структуру или ДНК-спираль. Формы чистые, с четкими фасками, которые ловят блики.\nМатериалы и поверхности: Основа — глянцевый белый композит с высокой отражающей способностью. Голографический символ внутри — полупрозрачный, с ярким внутренним свечением.\nОсвещение и блики: Яркие, четкие спекулярные блики на гранях гексагона. Голограмма является источником мягкого, пульсирующего света, который отражается на внутренних стенках контейнера.\nСветящиеся элементы: Основной свет исходит от голограммы. По контуру гексагона проходит тонкая неоновая линия, которая также медленно пульсирует в такт с голограммой, создавая эффект \"дыхания\".\nАнимация: Для привлечения внимания иконка совершает плавное покачивание из стороны в сторону. Голограмма внутри медленно вращается и пульсирует светом.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Бирюзовый (#00FFFF) используется для голограммы и неонового контура. Белый (#FFFFFF) используется для основного корпуса.\n---\nНазвание: Icon_TreatmentNTraining_WaitingTime\nТип объекта: Иконка\nКраткое описание: Иконка с таймером, отображающая время до завершения лечения юнитов.\nРоль/назначение: Информирует игрока об оставшемся времени процесса. При нажатии открывает окно ускорения лечения.\nОписание и адаптация:\nФорма и композиция: Иконка выполнена в виде футуристического круглого хронометра. Внешнее кольцо из темного матового металла, внутри которого расположен сегментированный неоновый индикатор, показывающий истекающее время. В центре — цифровой дисплей с голографическими цифрами таймера.\nМатериалы и поверхности: Внешний корпус — темный матовый металл. Неоновый индикатор — яркий, светящийся материал без текстуры. Цифры таймера — голографические, слегка прозрачные.\nОсвещение и блики: Основной источник света — неоновый индикатор, который отбрасывает цветной рефлекс на внутреннюю поверхность металлического кольца. Голографические цифры имеют собственное мягкое свечение.\nСветящиеся элементы: Неоновый индикатор прогресса и голографический таймер. Сегменты индикатора гаснут по мере истечения времени.\nАнимация: Помимо убывания индикатора и смены цифр, иконка может иметь легкое покачивание для привлечения внимания. При наведении курсора неоновый индикатор может становиться ярче.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Розовый (#FF00FF) используется для неонового индикатора. Бирюзовый (#00FFFF) используется для голографических цифр. Темно-серый (#2C2C2C) используется для корпуса.\n---\nНазвание: Icon_TreatmentNTraining_TreatIcon\nТип объекта: Иконка\nКраткое описание: Иконка, символизирующая процесс лечения, размещается рядом со шкалой здоровья.\nРоль/назначение: Постоянный визуальный индикатор, ассоциирующийся с функцией восстановления здоровья тяжелораненых юнитов.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный нано-инжектор. Это небольшой цилиндрический объект с прозрачной капсулой, внутри которой видна светящаяся субстанция. От цилиндра отходит тонкая игла. Форма минималистичная, но технологичная.\nМатериалы и поверхности: Корпус инжектора — полированный хром. Капсула — чистое стекло. Субстанция внутри — жидкая энергия с эффектом свечения.\nОсвещение и блики: Яркие блики на хромированном корпусе и игле. Светящаяся субстанция внутри капсулы является основным источником света, создавая мягкое свечение.\nСветящиеся элементы: Энергетическая субстанция внутри инжектора. Возможно, на корпусе есть небольшой светодиодный индикатор.\nДетализация: Внутри капсулы могут быть видны микроскопические нано-боты, плавающие в жидкости, что подчеркивает высокотехнологичную природу лечения.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Лаймовый (#ADFF2F) используется для светящейся субстанции. Серебристый (#C0C0C0) используется для корпуса инжектора.\n---\nНазвание: Icon_TreatmentNTraining_FirstAidKit\nТип объекта: Иконка\nКраткое описание: Иконка, обозначающая активацию процесса лечения.\nРоль/назначение: Визуальный индикатор, появляющийся при запуске лечения и располагающийся рядом со шкалой времени.\nОписание и адаптация:\nФорма и композиция: Вместо аптечки создаем иконку мобильной медицинской станции. Это компактный, белый куб с закругленными углами и голографическим символом пульса (кардиограммы) на передней панели.\nМатериалы и поверхности: Корпус станции — матовый белый пластик. Голографический символ — яркий, полупрозрачный, с неоновым свечением.\nОсвещение и блики: Глянцевая поверхность голографического проектора ловит блики. Сам символ кардиограммы является источником света.\nСветящиеся элементы: Голографический символ пульса на передней панели. По периметру куба может проходить тонкая светящаяся линия, показывающая, что устройство активно.\nДетализация: На боковых гранях можно добавить стилизованные вентиляционные решетки или порты, намекающие на сложное технологическое устройство.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Бирюзовый (#00FFFF) используется для голограммы и контурной подсветки. Белый (#FFFFFF) используется для корпуса.\n---\nНазвание: Icon_TreatmentNTraining_WoundedUnits\nТип объекта: Иконка\nКраткое описание: Иконка для отображения раненого юнита в очереди на лечение.\nРоль/назначение: Идентификация конкретного юнита, нуждающегося в лечении, с указанием его уровня.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой голографический аватар юнита. Это стилизованный, полупрозрачный силуэт солдата, заключенный в круглую рамку. В верхнем углу рамки расположен цифровой индикатор уровня. Силуэт имеет эффект \"глитча\" или помех, визуально передавая состояние \"поврежден\".\nМатериалы и поверхности: Рамка — темный полированный металл. Голограмма — полупрозрачная, светящаяся. Индикатор уровня — непрозрачный, с четкими цифрами.\nОсвещение и блики: Голограмма является источником света, отбрасывая цветные рефлексы на рамку. На самой рамке видны четкие блики.\nСветящиеся элементы: Голографический силуэт юнита. Его свечение неравномерное, мерцающее, что подчеркивает повреждения. Индикатор уровня также имеет мягкую подсветку.\nДетализация: Внутри силуэта могут пробегать красные \"scan-линии\", как при диагностике повреждений. Уровень юнита отображается в виде яркой, легко читаемой цифры.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Оранжевый (#FFA500) используется для \"поврежденной\" голограммы. Белый (#FFFFFF) используется для цифры уровня. Темно-серый (#2C2C2C) используется для рамки.\n---\nНазвание: Icon_TreatmentNTraining_UnitsReasyToReceive\nТип объекта: Иконка\nКраткое описание: Иконка, информирующая о готовности вылеченных юнитов.\nРоль/назначение: Визуальное уведомление о том, что юниты завершили лечение и готовы к получению.\nОписание и адаптация:\nФорма и композиция: Иконка выполнена в виде стилизованного голографического силуэта юнита, над которым светится галочка (check mark). Силуэт юнита теперь целый, без \"глитч\" эффекта, и светится ровным, здоровым светом. Вся композиция заключена в круглую рамку, аналогичную иконке раненого юнита.\nМатериалы и поверхности: Рамка — темный полированный металл. Голограмма — полупрозрачная, с ровным свечением. Галочка — яркая, неоновая.\nОсвещение и блики: Основной источник света — голограмма и галочка. На металлической рамке видны блики от их свечения.\nСветящиеся элементы: Голографический силуэт и неоновая галочка. Свечение голограммы ровное и стабильное, символизируя полное восстановление.\nДетализация: Галочка может быть выполнена в виде энергетического символа, подтверждающего успешное завершение процесса.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Лаймовый (#ADFF2F) используется для голограммы и галочки, символизируя \"здоровье\" и \"успех\". Темно-серый (#2C2C2C) используется для рамки.\n---\nНазвание: Icon_TreatmentNTraining_NumberOfWounded\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая количество раненых юнитов.\nРоль/назначение: Цифровой индикатор, показывающий общее число юнитов, ожидающих или проходящих лечение.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный силуэт солдата (аналогично аватару юнита, но более обобщенный и плоский), рядом с которым расположено большое голографическое число. Фон иконки — полупрозрачная плашка с закругленными углами.\nМатериалы и поверхности: Силуэт и фон — матовые, однотонные. Цифры — яркие, голографические, с легким свечением.\nОсвещение и блики: Голографические цифры являются единственным источником света, отбрасывая мягкий свет на плашку и силуэт.\nСветящиеся элементы: Голографические цифры, отображающие количество.\nДетализация: Силуэт выполнен в минималистичном стиле, чтобы не отвлекать внимание от основной информации — числа. Плашка может иметь тонкую неоновую окантовку.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Белый (#FFFFFF) используется для голографических цифр и силуэта. Полупрозрачный синий (#0000FF с 50% прозрачности) используется для фоновой плашки.\n---\nНазвание: Icon_TreatmentNTraining_ChangeUnitNumber\nТип объекта: Иконка\nКраткое описание: Иконки для изменения количества юнитов, отправляемых на лечение.\nРоль/назначение: Две кнопки (\"плюс\" и \"минус\") для регулировки числа юнитов в интерфейсе лечения.\nОписание и адаптация:\nФорма и композиция: Две отдельные квадратные кнопки с закругленными углами. На одной — стилизованный знак \"+\", на другой — \"–\". Символы выполнены в виде неоновых трубок, встроенных в поверхность кнопки.\nМатериалы и поверхности: Корпус кнопок — матовый темно-серый пластик. Символы — неоновые, светящиеся.\nОсвещение и блики: Неоновые символы являются источником света, создавая мягкое свечение вокруг себя и подсвечивая края углубления, в котором они находятся.\nСветящиеся элементы: Неоновые символы \"плюс\" и \"минус\".\nСостояния: В неактивном состоянии свечение тусклое. При наведении курсора яркость увеличивается. При нажатии происходит короткая яркая вспышка и анимация \"вдавливания\" кнопки.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Бирюзовый (#00FFFF) используется для неонового символа \"+\". Оранжевый (#FFA500) используется для неонового символа \"–\". Темно-серый (#2C2C2C) используется для корпуса кнопок.\n---\nНазвание: Icon_TreatmentNTraining_Information\nТип объекта: Иконка\nКраткое описание: Информационная иконка.\nРоль/назначение: Кнопка, при нажатии на которую открывается окно с подробной информацией о госпитале.\nОписание и адаптация:\nФорма и композиция: Иконка выполнена в виде круглой кнопки, в центре которой находится голографический символ \"i\" (information). Символ объемный и медленно вращается вокруг своей оси.\nМатериалы и поверхности: Основа кнопки — полированный металл с круговой шлифовкой. Голографический символ — яркий, полупрозрачный.\nОсвещение и блики: На металлической основе видны анизотропные блики, которые перемещаются при изменении угла обзора. Голограмма является источником света.\nСветящиеся элементы: Голографический символ \"i\".\nАнимация: Медленное вращение голограммы. При наведении курсора вращение может ускоряться, а свечение становиться ярче, сигнализируя об интерактивности.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Белый (#FFFFFF) используется для голограммы. Темно-синий (#00008B) используется для металлической основы.\n---\nНазвание: Icon_TreatmentNTraining_TreatmentTime\nТип объекта: Иконка\nКраткое описание: Декоративная иконка времени лечения на кнопке.\nРоль/назначение: Декоративный элемент, визуально ассоциирующий кнопку с функцией времени.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный песочные часы, но в sci-fi исполнении. Вместо песка между двумя стеклянными колбами перетекают энергетические частицы или светящаяся жидкость. Форма корпуса — футуристическая, с чистыми линиями.\nМатериалы и поверхности: Корпус — белый глянцевый пластик. Колбы — прозрачное стекло. Энергетические частицы — светящийся материал.\nОсвещение и блики: Яркие блики на стеклянных колбах и глянцевом корпусе. Светящиеся частицы являются основным источником света.\nСветящиеся элементы: Энергетические частицы, перетекающие из одной колбы в другую.\nДетализация: Можно добавить тонкие неоновые полосы на корпусе для дополнительной детализации.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Желтый (#FFFF00) используется для светящихся частиц. Белый (#FFFFFF) используется для корпуса.\n---\nНазвание: Icon_TreatmentNTraining_Exit\nТип объекта: Иконка\nКраткое описание: Иконка для закрытия окна.\nРоль/назначение: Стандартная кнопка \"Закрыть\" для интерфейса лечения.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный символ \"X\", выполненный из двух пересекающихся энергетических лезвий или неоновых трубок. Символ находится на круглой или квадратной плашке.\nМатериалы и поверхности: Плашка-основа — темный полупрозрачный материал, похожий на тонированное стекло. Символ \"X\" — яркий, светящийся, с четкими краями.\nОсвещение и блики: Символ \"X\" является источником света, создавая яркий контурный свет и отбрасывая красный рефлекс на поверхность под ним.\nСветящиеся элементы: Неоновый символ \"X\".\nСостояния: В обычном состоянии свечение ровное. При наведении курсора яркость увеличивается, возможно появление эффекта \"энергетической нестабильности\" по краям лезвий. При нажатии — короткая вспышка.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Красный (#FF0000) используется для символа \"X\". Темно-серый (#2C2C2C) используется для плашки-основы.\n---\nНазвание: Icon_TreatmentNTraining_EndTrainingSession\nТип объекта: Иконка\nКраткое описание: Иконка, уведомляющая об окончании тренировки юнитов.\nРоль/назначение: Сигнализирует игроку, что процесс тренировки завершен. При нажатии юниты отправляются на военный полигон.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой голографический аватар юнита (аналогично иконке лечения), но с дополнительным символом — стилизованной стрелкой вверх, символизирующей \"выпуск\" или \"готовность\". Под аватаром расположена плашка с количеством готовых юнитов.\nМатериалы и поверхности: Аватар и стрелка — яркая голограмма. Рамка — полированный металл. Плашка с числом — матовая.\nОсвещение и блики: Голограмма аватара и стрелки являются источником света, отбрасывая рефлексы на рамку.\nСветящиеся элементы: Голограмма юнита и символ стрелки. Свечение ровное, уверенное.\nАнимация: Иконка совершает плавное покачивание. Стрелка может иметь легкую пульсацию, привлекая внимание.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Бирюзовый (#00FFFF) используется для голограммы. Белый (#FFFFFF) используется для числа юнитов.\n---\nНазвание: Icon_TreatmentNTraining_FreeBarracks\nТип объекта: Иконка\nКраткое описание: Иконка, показывающая, что казарма свободна.\nРоль/назначение: Индикатор статуса казармы. Появляется, когда нет тренируемых войск. При нажатии открывает окно тренировки.\nОписание и адаптация:\nФорма и композиция: Иконка изображает стилизованное здание казармы в изометрии. Над зданием горит зеленый голографический символ, означающий \"свободно\" (например, стилизованный пустой контур солдата).\nМатериалы и поверхности: Здание выполнено из матовых белых и серых панелей. Голографический символ — полупрозрачный, с мягким свечением.\nОсвещение и блики: Источником света является голограмма, которая отбрасывает зеленый свет на крышу здания.\nСветящиеся элементы: Голографический символ над зданием. Возможно, окна или дверной проем здания также имеют мягкую подсветку.\nАнимация: Плавное покачивание для привлечения внимания. Голограмма может медленно вращаться.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Зеленый (#00FF00) используется для голограммы \"свободно\". Белый (#FFFFFF) и серый (#808080) используются для здания.\n---\nНазвание: Icon_TreatmentNTraining_WaitingTime\nТип объекта: Иконка\nКраткое описание: Иконка с таймером, отображающая время до завершения тренировки юнитов.\nРоль/назначение: Информирует игрока об оставшемся времени процесса тренировки. При нажатии открывает окно ускорения.\nОписание и адаптация:\nФорма и композиция: Иконка выполнена в виде футуристического круглого хронометра. Внешнее кольцо из темного матового металла, внутри которого расположен сегментированный неоновый индикатор, показывающий истекающее время. В центре — цифровой дисплей с голографическими цифрами таймера.\nМатериалы и поверхности: Внешний корпус — темный матовый металл. Неоновый индикатор — яркий, светящийся материал без текстуры. Цифры таймера — голографические, слегка прозрачные.\nОсвещение и блики: Основной источник света — неоновый индикатор, который отбрасывает цветной рефлекс на внутреннюю поверхность металлического кольца. Голографические цифры имеют собственное мягкое свечение.\nСветящиеся элементы: Неоновый индикатор прогресса и голографический таймер. Сегменты индикатора гаснут по мере истечения времени.\nАнимация: Помимо убывания индикатора и смены цифр, иконка может иметь легкое покачивание для привлечения внимания. При наведении курсора неоновый индикатор может становиться ярче.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Фиолетовый (#8A2BE2) используется для неонового индикатора. Белый (#FFFFFF) используется для голографических цифр. Темно-серый (#2C2C2C) используется для корпуса.\n---\nНазвание: Icon_TreatmentNTraining_IconOfPower\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая параметр \"Мощь\".\nРоль/назначение: Постоянный визуальный индикатор, который показывает числовое значение мощи игрока.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный энергетический кристалл или ядро. Форма — ограненный октаэдр, внутри которого пульсирует энергия.\nМатериалы и поверхности: Кристалл выполнен из полупрозрачного материала с ярким внутренним свечением. Грани кристалла четкие, отражающие свет.\nОсвещение и блики: Внутренняя энергия является источником света, который преломляется через грани кристалла, создавая красивые каустические эффекты на поверхности под ним. На гранях видны яркие блики.\nСветящиеся элементы: Вся иконка является светящимся элементом. Яркость пульсирует, создавая динамический эффект.\nДетализация: Внутри кристалла могут быть видны тонкие энергетические разряды, похожие на молнии.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Желто-оранжевый (#FFD700) используется для энергетического ядра.\n---\nНазвание: Icon_TreatmentNTraining_IconOfMorale\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая параметр \"Моральный дух\".\nРоль/назначение: Постоянный визуальный индикатор, который показывает числовое значение морального духа войск.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованное голографическое знамя или флаг. Это не физический объект, а проекция света, состоящая из центрального \"древка\" и развевающегося \"полотна\" из чистой энергии.\nМатериалы и поверхности: Голограмма. Материал полупрозрачный, с видимыми линиями сканирования, как у старых ЭЛТ-мониторов, что придает ему технологичный вид.\nОсвещение и блики: Иконка сама является источником света.\nСветящиеся элементы: Вся иконка светится. \"Полотно\" может иметь более яркую окантовку.\nАнимация: \"Полотно\" плавно развевается, как будто на ветру, создавая ощущение динамики и жизни.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Лаймовый (#ADFF2F) используется для голограммы.\n---\nНазвание: Icon_TreatmentNTraining_SquadLoad\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая параметр \"Нагрузка отряда\".\nРоль/назначение: Постоянный визуальный индикатор, который показывает текущую нагрузку отряда.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный контейнер или ящик снабжения в изометрической проекции. На боковой стороне контейнера расположен стилизованный символ веса (например, три горизонтальные линии разной толщины).\nМатериалы и поверхности: Контейнер выполнен из матового темно-серого металла с неоновыми вставками.\nОсвещение и блики: Мягкое освещение, подчеркивающее форму контейнера. Блики минимальны, чтобы сохранить \"утилитарный\" вид.\nСветящиеся элементы: Неоновые полосы по краям контейнера и светящийся символ веса на боковой панели.\nДетализация: На контейнере видны технологические замки и крепления, что подчеркивает его функциональность.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Белый (#FFFFFF) используется для светящегося символа. Темно-серый (#2C2C2C) используется для корпуса контейнера.\n---\nНазвание: Icon_TreatmentNTraining_HeroHealth\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая параметр \"Здоровье героя\".\nРоль/назначение: Постоянный визуальный индикатор, который показывает текущее здоровье героя.\nОписание и адаптация:\nФорма и композиция: Иконка выполнена в виде стилизованного сердца, но в технологическом ключе. Это механическое сердце с видимыми шестернями и трубками, по которым течет светящаяся жидкость.\nМатериалы и поверхности: Корпус сердца — полированный хром. Трубки — прозрачные, жидкость внутри — светящаяся.\nОсвещение и блики: Яркие блики на хромированных деталях. Светящаяся жидкость является основным источником света.\nСветящиеся элементы: Энергетическая жидкость, циркулирующая по трубкам. Возможно, в центре находится пульсирующее энергетическое ядро.\nАнимация: Механизм сердца медленно движется, а жидкость пульсирует, имитируя сердцебиение.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Зеленый (#00FF00) используется для светящейся жидкости, символизируя полное здоровье. Хром (#E0E0E0) используется для корпуса.\n---\nНазвание: Icon_TreatmentNTraining_HeroAttack\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая параметр \"Атака героя\".\nРоль/назначение: Постоянный визуальный индикатор, который показывает текущее значение атаки героя.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой два пересекающихся энергетических клинка или луча. Форма динамичная и агрессивная.\nМатериалы и поверхности: Клинки выполнены из чистой энергии, с ярким ядром и более мягким свечением по краям.\nОсвещение и блики: Иконка сама является источником света. В месте пересечения клинков — яркая вспышка света.\nСветящиеся элементы: Вся иконка является светящимся элементом.\nДетализация: На поверхности энергетических клинков могут быть видны едва заметные паттерны или текстура текущей энергии, что придает им объем.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Оранжевый (#FFA500) используется для энергетических клинков.\n---\nНазвание: Icon_TreatmentNTraining_HeroProtection\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая параметр \"Защита героя\".\nРоль/назначение: Постоянный визуальный индикатор, который показывает текущее значение защиты героя.\nОписание и адаптация:\nФорма и композиция: Иконка выполнена в виде гексагонального энергетического щита. Щит состоит из множества мелких светящихся шестиугольников, образующих сотовую структуру.\nМатериалы и поверхности: Щит — полупрозрачная голограмма.\nОсвещение и блики: Щит является источником света. Свет мягкий, рассеянный.\nСветящиеся элементы: Вся поверхность щита светится. При получении \"урона\" по щиту может пробегать волна яркого света.\nАнимация: Поверхность щита может иметь легкий эффект \"дыхания\" или мерцания, показывая, что он активен.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Бирюзовый (#00FFFF) используется для энергетического щита.\n---\nНазвание: Icon_TreatmentNTraining_TrainedUnit\nТип объекта: Иконка\nКраткое описание: Иконка, отображающая юнита в процессе тренировки.\nРоль/назначение: Идентификация юнита в очереди на тренировку, с указанием его уровня и количества.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой голографический аватар юнита, аналогичный иконкам лечения. В верхнем углу рамки — индикатор уровня, а в нижнем — плашка с количеством тренируемых юнитов. Вокруг аватара вращается кольцо-индикатор прогресса тренировки.\nМатериалы и поверхности: Рамка — темный металл. Аватар — голограмма. Индикаторы уровня и количества — матовые плашки с яркими цифрами. Кольцо прогресса — неоновое.\nОсвещение и блики: Голограмма и неоновое кольцо являются источниками света.\nСветящиеся элементы: Голограмма юнита и кольцо прогресса.\nАнимация: Кольцо прогресса постепенно заполняется по мере тренировки. Голограмма может иметь анимацию \"сборки\" или \"сканирования\", символизирующую процесс обучения.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Синий (#0000FF) используется для голограммы. Желтый (#FFFF00) используется для кольца прогресса.\n---\nНазвание: Icon_TreatmentNTraining_ImprovementAvailable\nТип объекта: Иконка\nКраткое описание: Иконка, уведомляющая о доступности улучшения для юнита.\nРоль/назначение: Визуальный маркер, который появляется, когда для юнита становится доступно улучшение.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованную восходящую стрелку, внутри которой находится символ шестеренки. Форма простая, но динамичная, указывающая на прогресс и апгрейд.\nМатериалы и поверхности: Стрелка выполнена из полированного металла, а шестеренка внутри — из светящегося неона.\nОсвещение и блики: Яркие блики на гранях стрелки. Неоновая шестеренка является источником света.\nСветящиеся элементы: Шестеренка внутри стрелки.\nАнимация: Шестеренка медленно вращается, а вся иконка может совершать легкие пульсирующие движения вверх-вниз, привлекая внимание.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Зеленый (#00FF00) используется для неоновой шестеренки. Серебристый (#C0C0C0) используется для стрелки.\n---\nНазвание: Icon_TreatmentNTraining_ImproveButton\nТип объекта: Иконка\nКраткое описание: Кнопка для запуска процесса улучшения юнита.\nРоль/назначение: Интерактивный элемент, инициирующий улучшение.\nОписание и адаптация:\nФорма и композиция: Кнопка представляет собой квадратную плашку, на которой изображена объемная стрелка, направленная вверх. Стрелка состоит из нескольких сегментов (шевронов), что создает ощущение роста и развития.\nМатериалы и поверхности: Плашка — матовый темно-серый пластик. Стрелка — полированный белый композит с неоновой окантовкой.\nОсвещение и блики: Яркие блики на гранях стрелки. Неоновая окантовка является источником света.\nСветящиеся элементы: Неоновая окантовка стрелки.\nСостояния: При наведении курсора неоновая окантовка становится ярче, а сегменты стрелки могут последовательно подсвечиваться снизу вверх. При нажатии — короткая вспышка и анимация \"вдавливания\".\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Бирюзовый (#00FFFF) используется для неоновой окантовки. Белый (#FFFFFF) используется для стрелки.\n---\nНазвание: Icon_TreatmentNTraining_ThereIsImprovement\nТип объекта: Иконка\nКраткое описание: Индикатор наличия доступного улучшения.\nРоль/назначение: Визуальный маркер, который появляется над юнитом, когда для него доступно улучшение, но он находится вне поля зрения.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный знак \"+\", заключенный в круг. Но вместо простого креста, он выполнен в виде четырех стрелок, указывающих из центра наружу, символизируя расширение возможностей.\nМатериалы и поверхности: Иконка полностью голографическая, полупрозрачная.\nОсвещение и блики: Источник света.\nСветящиеся элементы: Вся иконка светится ярким, пульсирующим светом.\nАнимация: Иконка медленно пульсирует и вращается, чтобы быть максимально заметной.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Лаймовый (#ADFF2F) используется для голограммы.\n---\nНазвание: Icon_TreatmentNTraining_ChangingNumberOfUnits\nТип объекта: Иконка\nКраткое описание: Иконки для изменения количества юнитов.\nРоль/назначение: Две кнопки (\"плюс\" и \"минус\") для регулировки числа юнитов в интерфейсе.\nОписание и адаптация:\nФорма и композиция: Две отдельные квадратные кнопки с закругленными углами. На одной — стилизованный знак \"+\", на другой — \"–\". Символы выполнены в виде неоновых трубок, встроенных в поверхность кнопки.\nМатериалы и поверхности: Корпус кнопок — матовый темно-серый пластик. Символы — неоновые, светящиеся.\nОсвещение и блики: Неоновые символы являются источником света, создавая мягкое свечение вокруг себя и подсвечивая края углубления, в котором они находятся.\nСветящиеся элементы: Неоновые символы \"плюс\" и \"минус\".\nСостояния: В неактивном состоянии свечение тусклое. При наведении курсора яркость увеличивается. При нажатии происходит короткая яркая вспышка и анимация \"вдавливания\" кнопки.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Бирюзовый (#00FFFF) используется для неонового символа \"+\". Оранжевый (#FFA500) используется для неонового символа \"–\". Темно-серый (#2C2C2C) используется для корпуса кнопок.\n---\nНазвание: Icon_TreatmentNTraining_TreatmentTime\nТип объекта: Иконка\nКраткое описание: Декоративная иконка времени на кнопке.\nРоль/назначение: Декоративный элемент, визуально ассоциирующий кнопку с функцией времени.\nОписание и адаптация:\nФорма и композиция: Иконка представляет собой стилизованный песочные часы, но в sci-fi исполнении. Вместо песка между двумя стеклянными колбами перетекают энергетические частицы или светящаяся жидкость. Форма корпуса — футуристическая, с чистыми линиями.\nМатериалы и поверхности: Корпус — белый глянцевый пластик. Колбы — прозрачное стекло. Энергетические частицы — светящийся материал.\nОсвещение и блики: Яркие блики на стеклянных колбах и глянцевом корпусе. Светящиеся частицы являются основным источником света.\nСветящиеся элементы: Энергетические частицы, перетекающие из одной колбы в другую.\nДетализация: Можно добавить тонкие неоновые полосы на корпусе для дополнительной детализации.\nОбщая стилистика проекта: Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на на чистом белом фоне, что подчеркивает его принадлежность к технологической базе игрока или контраст с постапокалиптическим миром.\nЦветовая палитра: Желтый (#FFFF00) используется для светящихся частиц. Белый (#FFFFFF) используется для корпуса.",
          "Username": [
            "Ne_Foxik"
          ]
        }
      }
    ]
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timezone": "Europe/Moscow"
  },
  "shared": [
    {
      "createdAt": "2025-07-30T12:28:02.996Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-30T12:28:02.996Z",
      "workflowId": "x0N5aIKsOHKCnpMP"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-14T08:26:20.798Z",
      "id": "QEHbVhy6Fh3iNUlR",
      "name": "LW",
      "updatedAt": "2025-07-14T08:26:20.798Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T14:03:04.000Z",
  "versionId": "74253e27-b8ba-4334-9ee4-ac520b0a6271"
}