folder/LW Generation Enemies.json
{
  "active": false,
  "connections": {
    ">": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items2",
            "type": "main"
          }
        ]
      ]
    },
    ">1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items6",
            "type": "main"
          }
        ]
      ]
    },
    ">70": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    ">71": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items3",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated1",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated2",
            "type": "main"
          }
        ]
      ]
    },
    "All Icons3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated3",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 4",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen ",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 5",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen 1",
            "type": "main"
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Remove",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Drive URL",
            "type": "main"
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "index": 0,
            "node": "Formatted Date",
            "type": "main"
          }
        ]
      ]
    },
    "Drive URL": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait3",
            "type": "main"
          }
        ]
      ]
    },
    "Drive URL1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait6",
            "type": "main"
          }
        ]
      ]
    },
    "Finish": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Formatted Date": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create folder",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt Female",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt Male",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt Male1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt Female1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file3",
            "type": "main"
          }
        ]
      ]
    },
    "Image1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file4",
            "type": "main"
          }
        ]
      ]
    },
    "Image2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file",
            "type": "main"
          }
        ]
      ]
    },
    "Image3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file5",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen ": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait5",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen 5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait2",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finish",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Promt Male",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt Female",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt Male1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Promt Female1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Male",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items10": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Female1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items11": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Male1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items12": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Female1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Female",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Male1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Male",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Female",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Female1",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Male",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Female",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items9": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Promt Male1",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Promt Female": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items5",
            "type": "main"
          }
        ]
      ]
    },
    "Promt Female1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items10",
            "type": "main"
          }
        ]
      ]
    },
    "Promt Male": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items4",
            "type": "main"
          }
        ]
      ]
    },
    "Promt Male1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items9",
            "type": "main"
          }
        ]
      ]
    },
    "Queue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait8",
            "type": "main"
          }
        ]
      ]
    },
    "Queue1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait7",
            "type": "main"
          }
        ]
      ]
    },
    "Queue2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait9",
            "type": "main"
          }
        ]
      ]
    },
    "Queue3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait10",
            "type": "main"
          }
        ]
      ]
    },
    "Queue4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items8",
            "type": "main"
          }
        ]
      ]
    },
    "Queue5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items7",
            "type": "main"
          }
        ]
      ]
    },
    "Queue6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items11",
            "type": "main"
          }
        ]
      ]
    },
    "Queue7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url3",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop Over Items12",
            "type": "main"
          }
        ]
      ]
    },
    "Rated": {
      "main": [
        [
          {
            "index": 0,
            "node": ">70",
            "type": "main"
          }
        ]
      ]
    },
    "Rated1": {
      "main": [
        [
          {
            "index": 0,
            "node": ">",
            "type": "main"
          }
        ]
      ]
    },
    "Rated2": {
      "main": [
        [
          {
            "index": 0,
            "node": ">71",
            "type": "main"
          }
        ]
      ]
    },
    "Rated3": {
      "main": [
        [
          {
            "index": 0,
            "node": ">1",
            "type": "main"
          }
        ]
      ]
    },
    "Remove": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split",
            "type": "main"
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt Male",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt Female",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt Male1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt Female1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "index": 2,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file4": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file5": {
      "main": [
        [
          {
            "index": 3,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Url": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons",
            "type": "main"
          }
        ]
      ]
    },
    "Url1": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons1",
            "type": "main"
          }
        ]
      ]
    },
    "Url2": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons2",
            "type": "main"
          }
        ]
      ]
    },
    "Url3": {
      "main": [
        [
          {
            "index": 0,
            "node": "All Icons3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue7",
            "type": "main"
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Drive URL1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finish1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue3",
            "type": "main"
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Drive URL2",
            "type": "main"
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue4",
            "type": "main"
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue5",
            "type": "main"
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue6",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Date & Time",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-08T14:07:51.806Z",
  "id": "OZJZ1GZiKvylOQqr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LW Generation Enemies",
  "nodes": [
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "7fde0b1f-7346-4fe7-8a94-bd7d27084f30",
      "name": "Google Gemini Chat Model1",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -1536,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "d620f8e5-ad9b-40a6-85b0-4f150c657689",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -1536,
        320
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "69259a90-fa7c-4635-8649-bdfa4708c222",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -3088,
        -256
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "ec50495b-3aae-43f3-af87-e20ab1c5bd0e",
      "name": "Create folder",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "Enemies",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_F8QgLn2mPmM2AezyM6vuphRbZKVSOSi",
          "mode": "list",
          "value": "1_F8QgLn2mPmM2AezyM6vuphRbZKVSOSi"
        },
        "name": "={{ $json.formattedDateTime }} Character",
        "options": {},
        "resource": "folder"
      },
      "position": [
        -2384,
        -256
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "4e5b3b7b-f523-4493-92a3-149c70678865",
      "name": "Date & Time",
      "parameters": {
        "options": {},
        "outputFieldName": "=currentDate"
      },
      "position": [
        -2848,
        -256
      ],
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2
    },
    {
      "id": "14dca930-1eae-446a-aa9c-2073270b40b2",
      "name": "Formatted Date",
      "parameters": {
        "jsCode": "// Код для форматирования даты и времени в российском формате для n8n\n// Входная дата: 2025-08-04T15:56:12.178+03:00\n\nconst date = new Date($input.first().json.currentDate);\n\n// Форматирование даты (ДД.ММ.ГГГГ)\nconst day = String(date.getDate()).padStart(2, '0');\nconst month = String(date.getMonth() + 1).padStart(2, '0');\nconst year = date.getFullYear();\n\n// Форматирование времени (ЧЧ:ММ:СС)\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\nconst seconds = String(date.getSeconds()).padStart(2, '0');\n\n// Возвращаем различные форматы\nreturn [{\n  formattedDate: `${day}.${month}.${year}`,\n  formattedTime: `${hours}:${minutes}:${seconds}`,\n  formattedDateTime: `${day}.${month}.${year} ${hours}:${minutes}:${seconds}`,\n  formattedDateTimeShort: `${day}.${month}.${year} ${hours}:${minutes}`\n}];\n\n// Альтернативный вариант с использованием toLocaleString для российской локали:\n/*\nconst date = new Date($input.first().json.currentDate);\n\nreturn [{\n  formattedDate: date.toLocaleDateString('ru-RU'),\n  formattedTime: date.toLocaleTimeString('ru-RU'),\n  formattedDateTime: date.toLocaleString('ru-RU'),\n  formattedDateTimeCustom: date.toLocaleString('ru-RU', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n  })\n}];\n*/"
      },
      "position": [
        -2624,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "657a9696-db14-4ef4-9b54-595b62df2306",
      "name": "Remove",
      "parameters": {
        "jsCode": "// Получаем текст напрямую из Gemini API\nconst input = $('When Executed by Another Workflow').first().json.Tasks;\n\n// Логируем входные данные для отладки\nconsole.log('Input text:', input);\nconsole.log('Input type:', typeof input);\n\n// Проверяем, что input - это строка\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  console.log('Error: Input is not a string, received:', input);\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\n// Удаляем все \\r, \\n, \\t, заменяя на пробел\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\n\n// Заменяем маркеры \"•\" и \"●\" на дефис\ncleanedText = cleanedText.replace(/[•●]/g, '-');\n\n// Убираем лишние пробелы (больше одного подряд)\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      result: cleanedText,\n      original_length: result.length,\n      cleaned_length: cleanedText.length\n    }\n  }\n];"
      },
      "position": [
        -2192,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": true,
      "id": "73c4abcb-38af-422b-bdff-2f2a73f98fc3",
      "name": "Split",
      "parameters": {
        "jsCode": "// Получаем текст из нового формата данных\nconst fullText = $input.first().json.result;$input.first().json.result\n\n// Логируем для отладки\nconsole.log('Input text length:', fullText.length);\nconsole.log('First 100 chars:', fullText.substring(0, 100));\n\n// Разделяем по разделителю \" --- \" (с пробелами)\nconst tasks = fullText.split(' --- ');\n\n// Создаем отдельные элементы для каждого ТЗ\nconst result = tasks.map((task, index) => {\n  return {\n    task_number: index + 1,\n    task_content: task.trim(),\n    total_tasks: tasks.length,\n    content_length: task.trim().length,\n  };\n});\n\nconsole.log('Total tasks found:', result.length);\n\nreturn result;"
      },
      "position": [
        -1968,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3882070e-eeda-44dd-b06f-2d7529afb9a4",
      "name": "Wait",
      "parameters": {
        "amount": 12
      },
      "position": [
        -768,
        -256
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "6a5e1188-19c5-4f82-b91f-de6534e9b991"
    },
    {
      "id": "95ed02ab-d543-4115-9575-3842afea8321",
      "maxTries": 5,
      "name": "Imagen 4",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview"
      },
      "position": [
        -976,
        -256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "56d1523d-719e-4fcb-8314-e0db0c60ba6d",
      "maxTries": 5,
      "name": "Queue",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen 4').item.json.request_id }}"
      },
      "position": [
        -576,
        -256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "f1bd6e4c-440d-45e3-b94d-54d7c6a3999a",
      "name": "Url",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -352,
        -256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "4bc311fe-498e-4d1e-ab14-e5643865f272",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        544,
        -96
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "e29de007-25af-4a0e-8b46-e2ce184572f4",
      "name": "Image",
      "parameters": {
        "options": {},
        "url": "={{ $('Url').item.json.images[0].url }}"
      },
      "position": [
        544,
        -256
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "b2bc186c-0402-4206-abb5-6058e8be7faa",
      "name": "All Icons",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Character.png",
          "cachedResultUrl": "https://drive.google.com/file/d/12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ/view?usp=drivesdk",
          "mode": "list",
          "value": "12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -112,
        -256
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "bf6df6ae-b08a-4164-ae1f-b0152629f5bd",
      "name": ">70",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        304,
        -256
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "9ac16410-9d9a-447c-88da-6d62fa866c0b",
      "name": "Rated",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты — эксперт по анализу игровых врагов (биомеханоидов) в стилизованном 3D с элементами техно-хоррора и sci-fi-механики. У тебя есть два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) врагов-биомеханоидов, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 нового врага-биомеханоида, сгенерированного нейросетью, которого необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать нового врага (второй файл) в сравнении с якорными врагами (первый файл) и оценить его соответствие по следующим критериям:\n\n1. **Жанр** (0–100 баллов)\n\n   * Соответствие стилизованному 3D с элементами техно-хоррора и sci-fi-механики.\n\n2. **Концепция** (0–100 баллов)\n\n   * Образ гибрида машины и живого организма с элементами сбойного ИИ.\n\n3. **Силуэт** (0–100 баллов)\n\n   * Агрессивный, с выраженными биомеханическими деформациями, легко отличимый от героев.\n\n4. **Асимметрия** (0–100 баллов)\n\n   * Чёткая функциональная асимметрия (оружейный модуль, сенсорный блок, клешня и т.п. на одной стороне).\n\n5. **Искажённые пропорции** (0–100 баллов)\n\n   * Удлинённые или утолщённые конечности, деформированные торсы, встроенные механизмы.\n\n6. **Форма = Угроза** (0–100 баллов)\n\n   * Внешний вид сразу передаёт опасность и тип роли врага (быстрый, тяжёлый, дальнобойный).\n\n7. **Головы и лица** (0–100 баллов)\n\n   * Неестественные решения — маски, линзы, сенсоры, голограммы, скрытые лица.\n\n8. **Визуальный сбой** (0–100 баллов)\n\n   * Элементы фликера, разрывы между плотью и металлом, искажённые контуры.\n\n9. **Glow** (0–100 баллов)\n\n   * Локальное свечение сенсоров, узлов, встроенных устройств, протечек энергии.\n\n10. **Материалы** (0–100 баллов)\n\n    * Сочетание плоти, металла, биопластика, кабелей, стальных прожилок, гелевых покрытий.\n\n11. **Детализация** (0–100 баллов)\n\n    * Контролируемая, каждая деталь подчинена образу, нет случайных декоративных элементов.\n\n12. **Поза** (0–100 баллов)\n\n    * Агрессивная, динамичная, с готовностью к атаке, допускаются изломы корпуса.\n\n13. **Эмоциональный посыл** (0–100 баллов)\n\n    * Даже без лица враг передаёт угрозу позой, наклоном корпуса, направлением конечностей.\n\n14. **\"Паразитный интеллект\"** (0–100 баллов)\n\n    * Передаёт ощущение сбойной машины, подчинившей биологическое существо.\n\n15. **Встроенные механизмы** (0–100 баллов)\n\n    * Чётко читаемые антенны, турели, интегрированные дроны, техно-паразиты.\n\n16. **Техно-органические эффекты** (0–100 баллов)\n\n    * Перегрев, выбросы энергии, анимированные участки конструкции.\n\n17. **Читаемость силуэта** (0–100 баллов)\n\n    * Даже при множестве деталей силуэт остаётся понятным и уникальным.\n\n18. **Стилевое соответствие** (0–100 баллов)\n\n    * Отсутствие военной эстетики; сочетание техно-хоррора и sci-fi-брутальности.\n\n19. **Цветовая палитра** (0–100 баллов)\n\n    * Цвета под образ врага: тёмные/приглушённые с яркими светоакцентами или светлые при сохранении угрозы.\n\n20. **Готовность к 3D-анимации** (0–100 баллов)\n\n    * Конструкция учитывает подвижность суставов и модулей для анимации.\n\n**Формат ответа:**\n\n* Для каждого критерия — 1 короткое предложение с комментарием и целое число баллов.\n* В конце — *ИТОГОВАЯ ОЦЕНКА: X/100*.\n\n**ВАЖНО:**\n\n* Если враг (включая все части тела, конечности, оружие и элементы конструкции) не помещается в кадр и хотя бы один элемент обрезан, дальнейший анализ не проводится — выстави *0 баллов* по всем критериям и *ИТОГОВАЯ ОЦЕНКА: 0/100*.\n* Если враг виден полностью, проведи оценку по всем пунктам."
      },
      "position": [
        96,
        -256
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1
    },
    {
      "id": "89950e83-32ba-4837-85cb-4d9b9acf9545",
      "name": "Wait1",
      "parameters": {
        "amount": 12
      },
      "position": [
        -768,
        144
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8b12f2dc-d6da-4808-a26f-64b848213a1b"
    },
    {
      "id": "cb5ad5e9-30c0-459e-9eca-669912a62397",
      "maxTries": 5,
      "name": "Imagen ",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview"
      },
      "position": [
        -976,
        144
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "9bf0c479-0be8-483c-a492-914310cab1cb",
      "maxTries": 5,
      "name": "Queue1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen ').item.json.request_id }}"
      },
      "position": [
        -576,
        144
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "a6d2dea2-b983-4510-a516-8a48001982fb",
      "name": "Url1",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -352,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "7c1eb1fc-7f6c-469e-bd89-fb8e7c7e6578",
      "name": "Loop Over Items2",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        544,
        320
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "b36b3d4c-d77e-41f9-a600-c2010be93af6",
      "name": "Image1",
      "parameters": {
        "options": {},
        "url": "={{ $('Url1').item.json.images[0].url }}"
      },
      "position": [
        544,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "944b801e-a6ca-42aa-bd1a-96b6fa5cd9e1",
      "name": "All Icons1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Character.png",
          "cachedResultUrl": "https://drive.google.com/file/d/12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ/view?usp=drivesdk",
          "mode": "list",
          "value": "12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -112,
        144
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "7165b45f-f33b-4f77-9f38-4e957307442a",
      "name": ">",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        304,
        144
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "2d17625d-0109-436c-9127-9cd05af68657",
      "name": "Rated1",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты — эксперт по анализу игровых врагов (биомеханоидов) в стилизованном 3D с элементами техно-хоррора и sci-fi-механики. У тебя есть два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) врагов-биомеханоидов, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 нового врага-биомеханоида, сгенерированного нейросетью, которого необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать нового врага (второй файл) в сравнении с якорными врагами (первый файл) и оценить его соответствие по следующим критериям:\n\n1. **Жанр** (0–100 баллов)\n\n   * Соответствие стилизованному 3D с элементами техно-хоррора и sci-fi-механики.\n\n2. **Концепция** (0–100 баллов)\n\n   * Образ гибрида машины и живого организма с элементами сбойного ИИ.\n\n3. **Силуэт** (0–100 баллов)\n\n   * Агрессивный, с выраженными биомеханическими деформациями, легко отличимый от героев.\n\n4. **Асимметрия** (0–100 баллов)\n\n   * Чёткая функциональная асимметрия (оружейный модуль, сенсорный блок, клешня и т.п. на одной стороне).\n\n5. **Искажённые пропорции** (0–100 баллов)\n\n   * Удлинённые или утолщённые конечности, деформированные торсы, встроенные механизмы.\n\n6. **Форма = Угроза** (0–100 баллов)\n\n   * Внешний вид сразу передаёт опасность и тип роли врага (быстрый, тяжёлый, дальнобойный).\n\n7. **Головы и лица** (0–100 баллов)\n\n   * Неестественные решения — маски, линзы, сенсоры, голограммы, скрытые лица.\n\n8. **Визуальный сбой** (0–100 баллов)\n\n   * Элементы фликера, разрывы между плотью и металлом, искажённые контуры.\n\n9. **Glow** (0–100 баллов)\n\n   * Локальное свечение сенсоров, узлов, встроенных устройств, протечек энергии.\n\n10. **Материалы** (0–100 баллов)\n\n    * Сочетание плоти, металла, биопластика, кабелей, стальных прожилок, гелевых покрытий.\n\n11. **Детализация** (0–100 баллов)\n\n    * Контролируемая, каждая деталь подчинена образу, нет случайных декоративных элементов.\n\n12. **Поза** (0–100 баллов)\n\n    * Агрессивная, динамичная, с готовностью к атаке, допускаются изломы корпуса.\n\n13. **Эмоциональный посыл** (0–100 баллов)\n\n    * Даже без лица враг передаёт угрозу позой, наклоном корпуса, направлением конечностей.\n\n14. **\"Паразитный интеллект\"** (0–100 баллов)\n\n    * Передаёт ощущение сбойной машины, подчинившей биологическое существо.\n\n15. **Встроенные механизмы** (0–100 баллов)\n\n    * Чётко читаемые антенны, турели, интегрированные дроны, техно-паразиты.\n\n16. **Техно-органические эффекты** (0–100 баллов)\n\n    * Перегрев, выбросы энергии, анимированные участки конструкции.\n\n17. **Читаемость силуэта** (0–100 баллов)\n\n    * Даже при множестве деталей силуэт остаётся понятным и уникальным.\n\n18. **Стилевое соответствие** (0–100 баллов)\n\n    * Отсутствие военной эстетики; сочетание техно-хоррора и sci-fi-брутальности.\n\n19. **Цветовая палитра** (0–100 баллов)\n\n    * Цвета под образ врага: тёмные/приглушённые с яркими светоакцентами или светлые при сохранении угрозы.\n\n20. **Готовность к 3D-анимации** (0–100 баллов)\n\n    * Конструкция учитывает подвижность суставов и модулей для анимации.\n\n**Формат ответа:**\n\n* Для каждого критерия — 1 короткое предложение с комментарием и целое число баллов.\n* В конце — *ИТОГОВАЯ ОЦЕНКА: X/100*.\n\n**ВАЖНО:**\n\n* Если враг (включая все части тела, конечности, оружие и элементы конструкции) не помещается в кадр и хотя бы один элемент обрезан, дальнейший анализ не проводится — выстави *0 баллов* по всем критериям и *ИТОГОВАЯ ОЦЕНКА: 0/100*.\n* Если враг виден полностью, проведи оценку по всем пунктам."
      },
      "position": [
        96,
        144
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1
    },
    {
      "id": "4ad87668-1d05-4f3b-b9a0-656721a892db",
      "name": "Merge",
      "parameters": {
        "numberInputs": 4
      },
      "position": [
        1216,
        304
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "c0bccba4-ec04-4b96-8296-a1e3aa8c8717",
      "name": "Upload file3",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt Male').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        784,
        -256
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "646835ff-17f1-4147-bbfa-514edd2e7703",
      "name": "Loop Over Items4",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1152,
        -96
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "9e2e1c64-6c74-420b-a1bd-f00d60456cdf",
      "name": "Loop Over Items5",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1152,
        320
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "406e0639-702f-452f-b892-62f2680fe076",
      "name": "Loop Over Items7",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        -96
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "f31b3bfa-f1f9-42f6-8c82-34a014c22350",
      "name": "Loop Over Items8",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        320
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "a9fc9a25-0ee6-4f65-9b36-e74ec1e01c83",
      "name": "Upload file4",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt Female').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        784,
        144
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "9b103444-be9d-45d0-bc88-5bf63839cc70",
      "name": "Clear Promt",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1152,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "34d12983-52c5-45fb-9e94-4efb2348249e",
      "name": "Clear Promt1",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1152,
        144
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "607a7e64-b141-4c54-9c8e-2552afa217d6",
      "name": "Loop Over Items",
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "position": [
        -1776,
        -256
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "c3683eb8-8d13-4a41-89ad-ca2f35036f65",
      "name": "Structured Output Parser",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1344,
        -80
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "de1ea70e-7ed2-4618-9cf2-ae77f04e9f32",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1344,
        320
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "7106a77e-2f6a-479b-b363-09ad370345e0",
      "maxTries": 5,
      "name": "Drive URL",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=🔄    👤 *Создаю персонажей \"Враги\"!* \n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -1920,
        -560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "23745759-9ffb-48b9-ab36-2e1f9fed433e"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "fa5a313e-0f12-4f1d-89cf-ec7648c77e4f",
      "maxTries": 5,
      "name": "Finish",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $('Create folder').item.json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=✅    👤 *Ваши персонажи \"Враги\" готовы!*\n\nhttps://drive.google.com/drive/folders/{{ $('Create folder').item.json.id }}"
      },
      "position": [
        -1536,
        -416
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "78b431b2-46ef-49a1-9fea-804fddf97363"
    },
    {
      "id": "a043ea17-ea43-4c08-b367-ca7f50d6b599",
      "name": "Wait3",
      "parameters": {
        "amount": 2
      },
      "position": [
        -1696,
        -560
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "42548182-398a-497f-9541-e5b8a7edd9b1"
    },
    {
      "id": "0f4dd12a-c88f-4ec7-8091-57a1945b9900",
      "name": "Wait4",
      "parameters": {
        "amount": 1
      },
      "position": [
        -1296,
        -416
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "16004912-fbd4-421a-b45c-3e7145b725ef"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "928bd27c-1d9e-4baa-851b-fb6721b564a4",
      "maxTries": 5,
      "name": "Drive URL1",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=🔄    👤 *Создаю персонажей \"Враги\"!* \n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -1536,
        -560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "a7909627-1754-4ef0-8cc3-a014c6c1e679"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "ef264cf0-f91c-4d92-9e85-3ccd527504d5",
      "maxTries": 5,
      "name": "Finish1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $('Create folder').item.json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=✅    👤 *Ваши персонажи \"Враги\" готовы!*\n\nhttps://drive.google.com/drive/folders/{{ $('Create folder').item.json.id }}"
      },
      "position": [
        -1136,
        -416
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "797f8904-a342-4a6d-87b5-378fb72dc9e8"
    },
    {
      "id": "da712d8f-624a-4a1d-8261-c2c745b90563",
      "maxTries": 5,
      "name": "Promt Male",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=A full-body stylized 3D male character with a massive, broad-shouldered heroic build rendered in a cyberpunk sci-fi aesthetic. He stands in a confident wide stance, exuding dominance and strength. His facial expression is stern and unyielding, with a bald head and a lower face covered by a high-tech respirator mask featuring glowing cyan elements.\n\nHe wears heavy, segmented dark metallic armor with angular paneling and sharp contours, integrated with glowing neon-cyan energy lines across the chest, arms, and legs. The armor is made of reinforced exoskeleton plates with polished surfaces and visible mechanical joints, giving both a protective and intimidating appearance.\n\nHis right arm wields a tall industrial pole topped with a cracked rectangular sign, displaying a neon-pink \"X\" and a cyan stylized helmet icon, with fractured edges, dangling cables, and faint glowing circuitry. His left arm rests at his side, detailed with mechanical plating and illuminated accents.\n\nLighting is bright and specular, with strong contrasts emphasizing the polished armor surfaces and glowing energy lines. The background is pure white for maximum readability. Rendered in Fortnite/Overwatch-inspired stylized 3D, with clean silhouettes, exaggerated heroic proportions, and game-ready clarity in every detail."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1536,
        -256
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "c9f0d0b9-9900-409f-9d45-bed60cfa3d52",
      "maxTries": 5,
      "name": "Promt Female",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=A full-body stylized 3D male character with a massive, broad-shouldered heroic build rendered in a cyberpunk sci-fi aesthetic. He stands in a confident wide stance, exuding dominance and strength. His facial expression is stern and unyielding, with a bald head and a lower face covered by a high-tech respirator mask featuring glowing cyan elements.\n\nHe wears heavy, segmented dark metallic armor with angular paneling and sharp contours, integrated with glowing neon-cyan energy lines across the chest, arms, and legs. The armor is made of reinforced exoskeleton plates with polished surfaces and visible mechanical joints, giving both a protective and intimidating appearance.\n\nHis right arm wields a tall industrial pole topped with a cracked rectangular sign, displaying a neon-pink \"X\" and a cyan stylized helmet icon, with fractured edges, dangling cables, and faint glowing circuitry. His left arm rests at his side, detailed with mechanical plating and illuminated accents.\n\nLighting is bright and specular, with strong contrasts emphasizing the polished armor surfaces and glowing energy lines. The background is pure white for maximum readability. Rendered in Fortnite/Overwatch-inspired stylized 3D, with clean silhouettes, exaggerated heroic proportions, and game-ready clarity in every detail."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1536,
        128
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "a1176f13-5eb1-41bc-aba1-d10def9f3f56",
      "name": "Google Gemini Chat Model2",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -1536,
        720
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "e57ba95f-cade-4ec9-baf8-66db4b6cca6c",
      "name": "Google Gemini Chat Model3",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -1536,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "f9685675-a366-47f6-b18e-e997cf508e0e",
      "name": "Wait2",
      "parameters": {
        "amount": 12
      },
      "position": [
        -768,
        544
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "0192eac6-6e80-4bf6-a07d-966926148b19"
    },
    {
      "id": "1ddad090-ff8a-4dd8-bdff-d45ca117f782",
      "maxTries": 5,
      "name": "Imagen 5",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview"
      },
      "position": [
        -976,
        544
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "07e3a501-6a97-4ede-b35f-f224ea093b92",
      "maxTries": 5,
      "name": "Queue2",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen 5').item.json.request_id }}"
      },
      "position": [
        -576,
        544
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "58ea7f6c-6b34-421b-9edd-8d6e0b99e397",
      "name": "Url2",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -352,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "5484ebcf-46ed-4c6f-b68f-d3026d8be4d1",
      "name": "Loop Over Items3",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        544,
        704
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "4f88e0e5-ea73-475e-85f4-35a5eb3847d4",
      "name": "Image2",
      "parameters": {
        "options": {},
        "url": "={{ $('Url2').item.json.images[0].url }}"
      },
      "position": [
        544,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "4a19c3fc-7eac-41b8-8374-5ec88763713a",
      "name": "All Icons2",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Character.png",
          "cachedResultUrl": "https://drive.google.com/file/d/12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ/view?usp=drivesdk",
          "mode": "list",
          "value": "12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -112,
        544
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "0c785bca-b0fc-4e27-b0b8-3ca8a8134d17",
      "name": ">71",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        304,
        544
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "9f0ccffd-f3f1-40bb-a947-bedddf8c9004",
      "name": "Rated2",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты — эксперт по анализу игровых врагов (биомеханоидов) в стилизованном 3D с элементами техно-хоррора и sci-fi-механики. У тебя есть два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) врагов-биомеханоидов, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 нового врага-биомеханоида, сгенерированного нейросетью, которого необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать нового врага (второй файл) в сравнении с якорными врагами (первый файл) и оценить его соответствие по следующим критериям:\n\n1. **Жанр** (0–100 баллов)\n\n   * Соответствие стилизованному 3D с элементами техно-хоррора и sci-fi-механики.\n\n2. **Концепция** (0–100 баллов)\n\n   * Образ гибрида машины и живого организма с элементами сбойного ИИ.\n\n3. **Силуэт** (0–100 баллов)\n\n   * Агрессивный, с выраженными биомеханическими деформациями, легко отличимый от героев.\n\n4. **Асимметрия** (0–100 баллов)\n\n   * Чёткая функциональная асимметрия (оружейный модуль, сенсорный блок, клешня и т.п. на одной стороне).\n\n5. **Искажённые пропорции** (0–100 баллов)\n\n   * Удлинённые или утолщённые конечности, деформированные торсы, встроенные механизмы.\n\n6. **Форма = Угроза** (0–100 баллов)\n\n   * Внешний вид сразу передаёт опасность и тип роли врага (быстрый, тяжёлый, дальнобойный).\n\n7. **Головы и лица** (0–100 баллов)\n\n   * Неестественные решения — маски, линзы, сенсоры, голограммы, скрытые лица.\n\n8. **Визуальный сбой** (0–100 баллов)\n\n   * Элементы фликера, разрывы между плотью и металлом, искажённые контуры.\n\n9. **Glow** (0–100 баллов)\n\n   * Локальное свечение сенсоров, узлов, встроенных устройств, протечек энергии.\n\n10. **Материалы** (0–100 баллов)\n\n    * Сочетание плоти, металла, биопластика, кабелей, стальных прожилок, гелевых покрытий.\n\n11. **Детализация** (0–100 баллов)\n\n    * Контролируемая, каждая деталь подчинена образу, нет случайных декоративных элементов.\n\n12. **Поза** (0–100 баллов)\n\n    * Агрессивная, динамичная, с готовностью к атаке, допускаются изломы корпуса.\n\n13. **Эмоциональный посыл** (0–100 баллов)\n\n    * Даже без лица враг передаёт угрозу позой, наклоном корпуса, направлением конечностей.\n\n14. **\"Паразитный интеллект\"** (0–100 баллов)\n\n    * Передаёт ощущение сбойной машины, подчинившей биологическое существо.\n\n15. **Встроенные механизмы** (0–100 баллов)\n\n    * Чётко читаемые антенны, турели, интегрированные дроны, техно-паразиты.\n\n16. **Техно-органические эффекты** (0–100 баллов)\n\n    * Перегрев, выбросы энергии, анимированные участки конструкции.\n\n17. **Читаемость силуэта** (0–100 баллов)\n\n    * Даже при множестве деталей силуэт остаётся понятным и уникальным.\n\n18. **Стилевое соответствие** (0–100 баллов)\n\n    * Отсутствие военной эстетики; сочетание техно-хоррора и sci-fi-брутальности.\n\n19. **Цветовая палитра** (0–100 баллов)\n\n    * Цвета под образ врага: тёмные/приглушённые с яркими светоакцентами или светлые при сохранении угрозы.\n\n20. **Готовность к 3D-анимации** (0–100 баллов)\n\n    * Конструкция учитывает подвижность суставов и модулей для анимации.\n\n**Формат ответа:**\n\n* Для каждого критерия — 1 короткое предложение с комментарием и целое число баллов.\n* В конце — *ИТОГОВАЯ ОЦЕНКА: X/100*.\n\n**ВАЖНО:**\n\n* Если враг (включая все части тела, конечности, оружие и элементы конструкции) не помещается в кадр и хотя бы один элемент обрезан, дальнейший анализ не проводится — выстави *0 баллов* по всем критериям и *ИТОГОВАЯ ОЦЕНКА: 0/100*.\n* Если враг виден полностью, проведи оценку по всем пунктам."
      },
      "position": [
        96,
        544
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1
    },
    {
      "id": "41d65be2-a49b-495c-ab83-184bb201a6bf",
      "name": "Wait5",
      "parameters": {
        "amount": 12
      },
      "position": [
        -768,
        944
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "1b26be4e-b19e-4454-b16d-28dc6c005b83"
    },
    {
      "id": "2e8a6f5a-4630-47fc-b388-09283058eae1",
      "maxTries": 5,
      "name": "Imagen 1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n     \"prompt\": \"{{ $json.ClearPromt }}\"\n   }",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/imagen4/preview"
      },
      "position": [
        -976,
        944
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "1012e078-1e44-4c36-9609-f1c2c4e18b71",
      "maxTries": 5,
      "name": "Queue3",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen 1').item.json.request_id }}"
      },
      "position": [
        -576,
        944
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "6c20c73f-9dbe-4e09-8f7d-65407e598f60",
      "name": "Url3",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -352,
        944
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "c35a9c44-2260-4925-854c-955bc743a863",
      "name": "Loop Over Items6",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        544,
        1120
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "0fe31523-cd89-4a03-81f1-146ee9af3553",
      "name": "Image3",
      "parameters": {
        "options": {},
        "url": "={{ $('Url3').item.json.images[0].url }}"
      },
      "position": [
        544,
        944
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "639fe205-f50d-4739-8cbb-3ba42271382e",
      "name": "All Icons3",
      "parameters": {
        "fileId": {
          "__rl": true,
          "cachedResultName": "All_Character.png",
          "cachedResultUrl": "https://drive.google.com/file/d/12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ/view?usp=drivesdk",
          "mode": "list",
          "value": "12Pjm7kLhqUz7KQ3VkOY-1H4MoWDP-ZeJ"
        },
        "operation": "download",
        "options": {
          "binaryPropertyName": "data1"
        }
      },
      "position": [
        -112,
        944
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "f78629be-0582-436e-9894-daf0da113fb9",
      "name": ">1",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 90
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        304,
        944
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "82635080-3e59-48e7-a89d-cca268e0eb92",
      "name": "Rated3",
      "parameters": {
        "binaryPropertyName": "data1, data",
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты — эксперт по анализу игровых врагов (биомеханоидов) в стилизованном 3D с элементами техно-хоррора и sci-fi-механики. У тебя есть два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) врагов-биомеханоидов, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, которые задают стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 нового врага-биомеханоида, сгенерированного нейросетью, которого необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать нового врага (второй файл) в сравнении с якорными врагами (первый файл) и оценить его соответствие по следующим критериям:\n\n1. **Жанр** (0–100 баллов)\n\n   * Соответствие стилизованному 3D с элементами техно-хоррора и sci-fi-механики.\n\n2. **Концепция** (0–100 баллов)\n\n   * Образ гибрида машины и живого организма с элементами сбойного ИИ.\n\n3. **Силуэт** (0–100 баллов)\n\n   * Агрессивный, с выраженными биомеханическими деформациями, легко отличимый от героев.\n\n4. **Асимметрия** (0–100 баллов)\n\n   * Чёткая функциональная асимметрия (оружейный модуль, сенсорный блок, клешня и т.п. на одной стороне).\n\n5. **Искажённые пропорции** (0–100 баллов)\n\n   * Удлинённые или утолщённые конечности, деформированные торсы, встроенные механизмы.\n\n6. **Форма = Угроза** (0–100 баллов)\n\n   * Внешний вид сразу передаёт опасность и тип роли врага (быстрый, тяжёлый, дальнобойный).\n\n7. **Головы и лица** (0–100 баллов)\n\n   * Неестественные решения — маски, линзы, сенсоры, голограммы, скрытые лица.\n\n8. **Визуальный сбой** (0–100 баллов)\n\n   * Элементы фликера, разрывы между плотью и металлом, искажённые контуры.\n\n9. **Glow** (0–100 баллов)\n\n   * Локальное свечение сенсоров, узлов, встроенных устройств, протечек энергии.\n\n10. **Материалы** (0–100 баллов)\n\n    * Сочетание плоти, металла, биопластика, кабелей, стальных прожилок, гелевых покрытий.\n\n11. **Детализация** (0–100 баллов)\n\n    * Контролируемая, каждая деталь подчинена образу, нет случайных декоративных элементов.\n\n12. **Поза** (0–100 баллов)\n\n    * Агрессивная, динамичная, с готовностью к атаке, допускаются изломы корпуса.\n\n13. **Эмоциональный посыл** (0–100 баллов)\n\n    * Даже без лица враг передаёт угрозу позой, наклоном корпуса, направлением конечностей.\n\n14. **\"Паразитный интеллект\"** (0–100 баллов)\n\n    * Передаёт ощущение сбойной машины, подчинившей биологическое существо.\n\n15. **Встроенные механизмы** (0–100 баллов)\n\n    * Чётко читаемые антенны, турели, интегрированные дроны, техно-паразиты.\n\n16. **Техно-органические эффекты** (0–100 баллов)\n\n    * Перегрев, выбросы энергии, анимированные участки конструкции.\n\n17. **Читаемость силуэта** (0–100 баллов)\n\n    * Даже при множестве деталей силуэт остаётся понятным и уникальным.\n\n18. **Стилевое соответствие** (0–100 баллов)\n\n    * Отсутствие военной эстетики; сочетание техно-хоррора и sci-fi-брутальности.\n\n19. **Цветовая палитра** (0–100 баллов)\n\n    * Цвета под образ врага: тёмные/приглушённые с яркими светоакцентами или светлые при сохранении угрозы.\n\n20. **Готовность к 3D-анимации** (0–100 баллов)\n\n    * Конструкция учитывает подвижность суставов и модулей для анимации.\n\n**Формат ответа:**\n\n* Для каждого критерия — 1 короткое предложение с комментарием и целое число баллов.\n* В конце — *ИТОГОВАЯ ОЦЕНКА: X/100*.\n\n**ВАЖНО:**\n\n* Если враг (включая все части тела, конечности, оружие и элементы конструкции) не помещается в кадр и хотя бы один элемент обрезан, дальнейший анализ не проводится — выстави *0 баллов* по всем критериям и *ИТОГОВАЯ ОЦЕНКА: 0/100*.\n* Если враг виден полностью, проведи оценку по всем пунктам."
      },
      "position": [
        96,
        944
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "0d2a27a4-1275-4fe5-a2be-9a60ecf9625f",
      "name": "Upload file",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt Male1').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        784,
        544
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "f615ba84-6902-43e0-a8a6-9606f93296fc",
      "name": "Loop Over Items9",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1152,
        704
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "cae0e565-6125-45e2-945b-a66ac181897d",
      "name": "Loop Over Items10",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -1152,
        1120
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "98c59270-6014-4ab3-80bb-97ccec208f1c",
      "name": "Loop Over Items11",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        704
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "1b5ed460-ca0e-47d7-b66e-1ba9c028d4bb",
      "name": "Loop Over Items12",
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "position": [
        -352,
        1120
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OkH8dso5q8ZT5CFW",
          "name": "N8N Bot"
        }
      },
      "id": "c99b693c-2d8a-4187-927b-06a3729c27af",
      "name": "Upload file5",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create folder').item.json.id }}"
        },
        "name": "={{ $('Promt Female1').item.json.output.Name }}",
        "options": {}
      },
      "position": [
        784,
        944
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "4a753724-df5a-4704-8f25-785a36f6f5c2",
      "name": "Clear Promt2",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1152,
        544
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "646e0498-9121-4c36-ab8f-2063cd02bedd",
      "name": "Clear Promt3",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -1152,
        944
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a50da6cb-4bee-41de-b85e-fa5c2ca5db6d",
      "name": "Structured Output Parser2",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1344,
        720
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "35ef69e1-ebf2-4247-9928-61eef7408590",
      "name": "Structured Output Parser3",
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"Название из ТЗ\",\n\t\"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -1344,
        1120
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "f56e4aaf-362d-41b4-8bfc-e8f1be82efe7",
      "maxTries": 5,
      "name": "Promt Male1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=A full-body stylized 3D male character with a massive, broad-shouldered heroic build rendered in a cyberpunk sci-fi aesthetic. He stands in a confident wide stance, exuding dominance and strength. His facial expression is stern and unyielding, with a bald head and a lower face covered by a high-tech respirator mask featuring glowing cyan elements.\n\nHe wears heavy, segmented dark metallic armor with angular paneling and sharp contours, integrated with glowing neon-cyan energy lines across the chest, arms, and legs. The armor is made of reinforced exoskeleton plates with polished surfaces and visible mechanical joints, giving both a protective and intimidating appearance.\n\nHis right arm wields a tall industrial pole topped with a cracked rectangular sign, displaying a neon-pink \"X\" and a cyan stylized helmet icon, with fractured edges, dangling cables, and faint glowing circuitry. His left arm rests at his side, detailed with mechanical plating and illuminated accents.\n\nLighting is bright and specular, with strong contrasts emphasizing the polished armor surfaces and glowing energy lines. The background is pure white for maximum readability. Rendered in Fortnite/Overwatch-inspired stylized 3D, with clean silhouettes, exaggerated heroic proportions, and game-ready clarity in every detail."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1536,
        544
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "c2d051a1-de1c-4b4e-a2f7-2c5c50421fc2",
      "maxTries": 5,
      "name": "Promt Female1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=A full-body stylized 3D male character with a massive, broad-shouldered heroic build rendered in a cyberpunk sci-fi aesthetic. He stands in a confident wide stance, exuding dominance and strength. His facial expression is stern and unyielding, with a bald head and a lower face covered by a high-tech respirator mask featuring glowing cyan elements.\n\nHe wears heavy, segmented dark metallic armor with angular paneling and sharp contours, integrated with glowing neon-cyan energy lines across the chest, arms, and legs. The armor is made of reinforced exoskeleton plates with polished surfaces and visible mechanical joints, giving both a protective and intimidating appearance.\n\nHis right arm wields a tall industrial pole topped with a cracked rectangular sign, displaying a neon-pink \"X\" and a cyan stylized helmet icon, with fractured edges, dangling cables, and faint glowing circuitry. His left arm rests at his side, detailed with mechanical plating and illuminated accents.\n\nLighting is bright and specular, with strong contrasts emphasizing the polished armor surfaces and glowing energy lines. The background is pure white for maximum readability. Rendered in Fortnite/Overwatch-inspired stylized 3D, with clean silhouettes, exaggerated heroic proportions, and game-ready clarity in every detail."
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Split').item.json.task_content }}"
      },
      "position": [
        -1536,
        928
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 2000
    },
    {
      "id": "d33a03a1-c9dc-4f9d-8542-547a2ac4d020",
      "name": "Wait6",
      "parameters": {
        "amount": 4
      },
      "position": [
        -1296,
        -560
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "39ca9a61-1ecd-45b6-b9c5-aec7aa33c99c"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "sDFqRe7Aff5vEwek",
          "name": "@lw_art_assistant_bot"
        }
      },
      "executeOnce": true,
      "id": "1bf3472f-780f-4626-9bfc-334f7bc49196",
      "maxTries": 5,
      "name": "Drive URL2",
      "onError": "continueRegularOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"][0] }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "additionalFields": {
                      "url": "=https://drive.google.com/drive/folders/{{ $json.id }}"
                    },
                    "text": "☁️ Google Drive "
                  }
                ]
              }
            }
          ]
        },
        "replyMarkup": "inlineKeyboard",
        "text": "=🔄    👤 *Создаю персонажей!* \n\nhttps://drive.google.com/drive/folders/{{ $json.id }}"
      },
      "position": [
        -1136,
        -560
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "7ea1aab5-6025-4cb3-9e84-21208780cf49"
    },
    {
      "id": "0699d9be-a1b1-408d-8d9d-7a1b828de866",
      "maxTries": 5,
      "name": "Queue4",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen').item.json.request_id }}"
      },
      "position": [
        -576,
        320
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "4a759e07-360a-4674-b21a-a3abf6b771b9",
      "name": "Wait7",
      "parameters": {
        "amount": 6
      },
      "position": [
        -768,
        320
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "ea48f4c7-3a45-40d8-86c4-7cdaf3058413"
    },
    {
      "id": "a9538ab9-615d-42ce-8901-f591bf7028b5",
      "maxTries": 5,
      "name": "Queue5",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen 4').item.json.request_id }}"
      },
      "position": [
        -576,
        -96
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "16af5c62-0867-4273-9251-5b6e6bec074d",
      "name": "Wait8",
      "parameters": {
        "amount": 6
      },
      "position": [
        -768,
        -96
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "7e86ded8-8ab5-46cd-bcae-17f59b0236a5"
    },
    {
      "id": "9c566a60-acf0-475e-b4f6-f2c0819939ba",
      "maxTries": 5,
      "name": "Queue6",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen 5').item.json.request_id }}"
      },
      "position": [
        -576,
        704
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "f21ababb-aec9-4f15-b9ba-1e9446ff3582",
      "name": "Wait9",
      "parameters": {
        "amount": 6
      },
      "position": [
        -768,
        704
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "612894ab-cbfd-4dc2-a4b9-580ec906abaa"
    },
    {
      "id": "0a2fd607-c10e-45d3-98e8-b58bcc463efc",
      "maxTries": 5,
      "name": "Queue7",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/imagen4/requests/{{ $('Imagen 1').item.json.request_id }}"
      },
      "position": [
        -576,
        1120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "79a77630-6768-4c59-9a0f-bb44eca5e1e9",
      "name": "Wait10",
      "parameters": {
        "amount": 6
      },
      "position": [
        -768,
        1120
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "5c0385f9-398f-44f5-ace8-a2504e70164f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-08T14:07:51.813Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-08-08T14:07:51.813Z",
      "workflowId": "OZJZ1GZiKvylOQqr"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-14T08:26:20.798Z",
      "id": "QEHbVhy6Fh3iNUlR",
      "name": "LW",
      "updatedAt": "2025-07-14T08:26:20.798Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-15T12:44:54.000Z",
  "versionId": "8eabc31f-9ef8-4c81-bd01-bd42442c6584"
}