folder/My workflow 16.json
{
  "active": true,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send \"...\"",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка ТЗ",
            "type": "main"
          }
        ]
      ]
    },
    "Analyze1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send \"...\"5",
            "type": "main"
          }
        ]
      ]
    },
    "Array All": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Estimate BOT'2",
            "type": "main"
          }
        ]
      ]
    },
    "Array All10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Estimate BOT'1",
            "type": "main"
          }
        ]
      ]
    },
    "Array All11": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Estimate BOT'5",
            "type": "main"
          }
        ]
      ]
    },
    "Array All2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Estimate BOT'6",
            "type": "main"
          }
        ]
      ]
    },
    "Array All3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Estimate BOT'",
            "type": "main"
          }
        ]
      ]
    },
    "Array All8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Estimate BOT'4",
            "type": "main"
          }
        ]
      ]
    },
    "Array All9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Estimate BOT'3",
            "type": "main"
          }
        ]
      ]
    },
    "Array Chat ID": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Array Chat ID1": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Array Chat ID12": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge11",
            "type": "main"
          }
        ]
      ]
    },
    "Array Chat ID13": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge8",
            "type": "main"
          }
        ]
      ]
    },
    "Array Chat ID14": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge9",
            "type": "main"
          }
        ]
      ]
    },
    "Array Chat ID15": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge3",
            "type": "main"
          }
        ]
      ]
    },
    "Array Chat ID16": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge10",
            "type": "main"
          }
        ]
      ]
    },
    "Array Tasks": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Array Tasks10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge10",
            "type": "main"
          }
        ]
      ]
    },
    "Array Tasks11": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge11",
            "type": "main"
          }
        ]
      ]
    },
    "Array Tasks2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge2",
            "type": "main"
          }
        ]
      ]
    },
    "Array Tasks3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge3",
            "type": "main"
          }
        ]
      ]
    },
    "Array Tasks8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge8",
            "type": "main"
          }
        ]
      ]
    },
    "Array Tasks9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge9",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Estimate BOT'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Icons5",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Technical Task10",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Estimate BOT'1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Icons6",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Technical Task11",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Estimate BOT'2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Icons4",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Technical Task",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Estimate BOT'3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Icons3",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Technical Task9",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Estimate BOT'4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Icons1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Technical Task7",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Estimate BOT'5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Icons",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Technical Task8",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Estimate BOT'6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'My workflow 21'": {
      "main": [
        []
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "Default Data Loader",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Create Technical Task": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields13",
            "type": "main"
          }
        ]
      ]
    },
    "Create Technical Task10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields10",
            "type": "main"
          }
        ]
      ]
    },
    "Create Technical Task11": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields11",
            "type": "main"
          }
        ]
      ]
    },
    "Create Technical Task6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields6",
            "type": "main"
          }
        ]
      ]
    },
    "Create Technical Task7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields7",
            "type": "main"
          }
        ]
      ]
    },
    "Create Technical Task8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields8",
            "type": "main"
          }
        ]
      ]
    },
    "Create Technical Task9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields9",
            "type": "main"
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store1",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Technical Task10",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "index": 0,
            "node": "Technical Task11",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "index": 0,
            "node": "Analyze1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "index": 0,
            "node": "Technical Task",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Icons2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Technical Task6",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Technical Task6",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "index": 0,
            "node": "Technical Task7",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Technical Task8",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Technical Task9",
            "type": "main"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields12",
            "type": "main"
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract from File",
            "type": "main"
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract from File1",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          },
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent5",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Проверка ТЗ",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send \"...\"2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "AI Agent5",
            "type": "main"
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send \"PDF\"",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Get a file1",
            "type": "main"
          }
        ],
        []
      ]
    },
    "If4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get a file",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Проверка ТЗ",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All",
            "type": "main"
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All10",
            "type": "main"
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All11",
            "type": "main"
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All2",
            "type": "main"
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All3",
            "type": "main"
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All8",
            "type": "main"
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All9",
            "type": "main"
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Output1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch6",
            "type": "main"
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent4",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Проверка ТЗ",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Pinecone Vector Store3": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent5",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Send \"...\"2": {
      "main": [
        []
      ]
    },
    "Split1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Output1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send \"...\"4",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Проверка ТЗ",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a text message",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "If3",
            "type": "main"
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array Tasks2",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Array Tasks11",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID12",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Array Tasks8",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID13",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Array Tasks9",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID14",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Array Tasks",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Array Tasks3",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID15",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Array Tasks3",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID15",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Array Tasks10",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Array Chat ID16",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch2",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Array All2",
            "type": "main"
          }
        ]
      ]
    },
    "Проверка ТЗ": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-20T07:31:16.464Z",
  "id": "2aqlLSFlDJbqSNb5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 16",
  "nodes": [
    {
      "id": "d3ded32a-c9d8-4468-b3a4-b546c1b8352d",
      "name": "Switch2",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0077b372-4ce6-4f93-b4d1-39fa51c1f1fa",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "/start"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "/start",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "21b715cd-d457-4ffd-9258-3f51fb7f42f4",
                    "leftValue": "={{ $json.message.document }}",
                    "operator": {
                      "operation": "exists",
                      "singleValue": true,
                      "type": "object"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "document",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -3200,
        4432
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "7bff8ea7-d6ed-456a-8405-ae37b8b211e7",
      "name": "Send a text message",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Telegram Trigger1').item.json.message?.chat?.id || $('Telegram Trigger1').item.json.callback_query?.message?.chat?.id }}",
        "text": "Отправьте документы"
      },
      "position": [
        -2896,
        4176
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "df43ba07-1cdc-40ce-8938-e6d37bf439e0"
    },
    {
      "id": "bee1aef2-542e-4201-a692-5b297a03cbdb",
      "name": "Extract from File1",
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "position": [
        -2160,
        4048
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "bc682ba3-cb50-4f85-bf13-3d2e0c22bda6",
      "name": "Switch6",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9c5ba1e6-07b5-4ded-9be5-4f3f04f6a1d6",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "Иконка"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Иконка",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e14e251f-22a3-4cae-b0c3-a5e7cf6f70c2",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "FlatIcon"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Flat иконка",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a300c539-70d6-4127-a7f4-7ece469687d1",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "Персонаж"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Персонаж",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cdd00a5f-1d26-4108-9efd-b7e82d284219",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "Транспорт"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Транспорт",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cd35d0a0-6bc3-4e4c-b72a-5dce46c6894e",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "UI"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "UI",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "290ce083-8da3-4d8b-bc10-986f8d9a6288",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "Здание"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Здание",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "aad887f0-fb65-4e15-bba7-70868d197030",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "Пропс"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": " Пропс",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3689d349-cb80-4150-bc80-249144624b19",
                    "leftValue": "={{ $json.Type }}",
                    "operator": {
                      "operation": "contains",
                      "type": "string"
                    },
                    "rightValue": "Враг"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Враг",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        1552,
        3968
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "id": "90b64269-d34f-49c9-b61d-4384bb4b09bf",
      "name": "Output1",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17895308-b399-4ec8-a93d-8446285b1b0a",
              "name": "Tasks",
              "type": "string",
              "value": "={{ $json.task_content }}"
            },
            {
              "id": "208402e6-83f2-42b3-9b2e-4922145e8d7f",
              "name": "Username",
              "type": "string",
              "value": "={{ $('Telegram Trigger1').first().json.message?.chat?.username || $('Telegram Trigger1').first().json.callback_query?.message?.chat?.username }}"
            },
            {
              "id": "4938c796-a723-4f3c-b756-762c09e572c9",
              "name": "Chat ID",
              "type": "string",
              "value": "={{ $('Telegram Trigger1').first().json.message?.chat?.id || $('Telegram Trigger1').first().json.callback_query?.message?.chat?.id }}"
            },
            {
              "id": "4547a164-9221-4555-88ce-e73d0c3d3211",
              "name": "File_name",
              "type": "string",
              "value": "={{ $('Telegram Trigger1').first().json.message.document.file_name }}"
            },
            {
              "id": "6f1dad92-4368-4f54-ab7a-fe2f46db5e4c",
              "name": "Type",
              "type": "string",
              "value": "={{ $('If').first().json.output.type }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1280,
        4064
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "93aa1cce-092c-43d1-b7c5-3ccc370c6a7c",
      "maxTries": 5,
      "name": "Send \"PDF\"",
      "onError": "continueRegularOutput",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        },
        "chatId": "={{ $('Telegram Trigger1').item.json.message?.chat?.id || $('Telegram Trigger1').item.json.callback_query?.message?.chat?.id }}",
        "text": "=⚡️ Анализ и составление ТЗ для файла:\n\n➡️ *{{ $('Telegram Trigger1').item.json.message.document.file_name }}*"
      },
      "position": [
        -2368,
        3824
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "08cc0e07-f5c6-4b69-8f4b-89acde2b24ff"
    },
    {
      "executeOnce": true,
      "id": "c4013aee-a1e4-46fb-962d-dcdc13c8c8c7",
      "name": "Merge2",
      "parameters": {},
      "position": [
        2160,
        2944
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "001e8699-3bc5-4c07-982a-918e6948681c",
      "name": "Array Tasks2",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Tasks"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        2864
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "executeOnce": true,
      "id": "f11e5f66-08d2-430d-bed4-9733c05cc83c",
      "name": "Array Chat ID1",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Chat ID"
            },
            {
              "fieldToAggregate": "File_name"
            },
            {
              "fieldToAggregate": "Username"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        3024
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "00eb5d40-f723-41e0-b23b-61416211fe78",
      "name": "Array All2",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items.map((item) => item?.json?.Tasks).flat().filter(task => task);\nconst chatIds = items.map((item) => item?.json[\"Chat ID\"]).flat().filter(id => id);\nconst fileNames = items.map((item) => item?.json?.File_name).flat().filter(name => name);\nconst usernames = items.map((item) => item?.json?.Username).flat().filter(user => user);\nconst tasksString = tasks.join('\\n---\\n');\n\nreturn [{\n  Tasks: tasksString,\n  \"Chat ID\": chatIds,\n  \"File_name\": fileNames,\n  \"Username\": usernames\n}];"
      },
      "position": [
        2336,
        2944
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ff5c27ff-7ad0-4790-b5b7-376c1d8dda35",
      "name": "Icons2",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Icons",
          "cachedResultUrl": "/workflow/RanmSo3XptdcmS0k",
          "mode": "list",
          "value": "RanmSo3XptdcmS0k"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All2').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All2').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All2').item.json.Tasks }}",
            "Username": "={{ $('Array All2').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2960,
        2944
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "executeOnce": true,
      "id": "34726fe9-5eef-4e52-b24e-1c46bceed034",
      "name": "Merge3",
      "parameters": {},
      "position": [
        2160,
        4784
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "1485abea-ea4d-4ebd-90ba-39e4301dd5e6",
      "name": "Array Tasks3",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Tasks"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        4704
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "19118679-99eb-4e72-ae1b-202bbe97036a",
      "name": "Array All3",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items.map((item) => item?.json?.Tasks).flat().filter(task => task);\nconst chatIds = items.map((item) => item?.json[\"Chat ID\"]).flat().filter(id => id);\nconst fileNames = items.map((item) => item?.json?.File_name).flat().filter(name => name);\nconst usernames = items.map((item) => item?.json?.Username).flat().filter(user => user);\nconst tasksString = tasks.join('\\n---\\n');\n\nreturn [{\n  Tasks: tasksString,\n  \"Chat ID\": chatIds,\n  \"File_name\": fileNames,\n  \"Username\": usernames\n}];"
      },
      "position": [
        2336,
        4784
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": true,
      "id": "df7817cb-9701-45c7-9073-6388f56a732f",
      "name": "Merge8",
      "parameters": {},
      "position": [
        2160,
        3680
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "4e5d2624-7328-4233-a581-7b52ba0e6294",
      "name": "Array Tasks8",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Tasks"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        3600
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "6cdf7d04-7b8a-4273-83f0-c64a3a347642",
      "name": "Array All8",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items.map((item) => item?.json?.Tasks).flat().filter(task => task);\nconst chatIds = items.map((item) => item?.json[\"Chat ID\"]).flat().filter(id => id);\nconst fileNames = items.map((item) => item?.json?.File_name).flat().filter(name => name);\nconst usernames = items.map((item) => item?.json?.Username).flat().filter(user => user);\nconst tasksString = tasks.join('\\n---\\n');\n\nreturn [{\n  Tasks: tasksString,\n  \"Chat ID\": chatIds,\n  \"File_name\": fileNames,\n  \"Username\": usernames\n}];"
      },
      "position": [
        2336,
        3680
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": true,
      "id": "7b659c71-15ed-4cf1-bf6f-e479bf5f48ea",
      "name": "Merge9",
      "parameters": {},
      "position": [
        2160,
        4048
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "f1c22ad0-94e7-408b-a8d0-9cdd88704ec9",
      "name": "Array Tasks9",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Tasks"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        3968
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "30f2d496-4a5e-4a04-a365-dca106ec048f",
      "name": "Array All9",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items.map((item) => item?.json?.Tasks).flat().filter(task => task);\nconst chatIds = items.map((item) => item?.json[\"Chat ID\"]).flat().filter(id => id);\nconst fileNames = items.map((item) => item?.json?.File_name).flat().filter(name => name);\nconst usernames = items.map((item) => item?.json?.Username).flat().filter(user => user);\nconst tasksString = tasks.join('\\n---\\n');\n\nreturn [{\n  Tasks: tasksString,\n  \"Chat ID\": chatIds,\n  \"File_name\": fileNames,\n  \"Username\": usernames\n}];"
      },
      "position": [
        2336,
        4048
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": true,
      "id": "5200c591-7afb-4ae9-a8f9-0759ed94c2d8",
      "name": "Merge10",
      "parameters": {},
      "position": [
        2160,
        5168
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "69238d65-648d-4b92-80dd-0beabde2fb67",
      "name": "Array Tasks10",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Tasks"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        5088
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "dd652a4a-bd2d-43f1-8ebb-85db173263ea",
      "name": "Array All10",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items.map((item) => item?.json?.Tasks).flat().filter(task => task);\nconst chatIds = items.map((item) => item?.json[\"Chat ID\"]).flat().filter(id => id);\nconst fileNames = items.map((item) => item?.json?.File_name).flat().filter(name => name);\nconst usernames = items.map((item) => item?.json?.Username).flat().filter(user => user);\nconst tasksString = tasks.join('\\n---\\n');\n\nreturn [{\n  Tasks: tasksString,\n  \"Chat ID\": chatIds,\n  \"File_name\": fileNames,\n  \"Username\": usernames\n}];"
      },
      "position": [
        2336,
        5168
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "executeOnce": true,
      "id": "00e52b8d-c9ea-4ca4-afc3-97f72f38babd",
      "maxTries": 5,
      "name": "Send \"...\"4",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger1').item.json.message?.chat?.id || $('Telegram Trigger1').item.json.callback_query?.message?.chat?.id }}",
        "text": "=📛 Ошибка в стуктуре документа, необходимо загружать по одному файлу"
      },
      "position": [
        1280,
        4256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "id": "43318fd7-540f-4c9c-ae12-95c315b112d2",
      "name": "Array Tasks11",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Tasks"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        3232
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "executeOnce": true,
      "id": "36eb164d-2036-45cb-a360-ff8784e781a6",
      "name": "Merge11",
      "parameters": {},
      "position": [
        2160,
        3312
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "f2e9be40-4711-49b5-ba97-f176c3ac349a",
      "name": "Array All11",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items.map((item) => item?.json?.Tasks).flat().filter(task => task);\nconst chatIds = items.map((item) => item?.json[\"Chat ID\"]).flat().filter(id => id);\nconst fileNames = items.map((item) => item?.json?.File_name).flat().filter(name => name);\nconst usernames = items.map((item) => item?.json?.Username).flat().filter(user => user);\nconst tasksString = tasks.join('\\n---\\n');\n\nreturn [{\n  Tasks: tasksString,\n  \"Chat ID\": chatIds,\n  \"File_name\": fileNames,\n  \"Username\": usernames\n}];"
      },
      "position": [
        2336,
        3312
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "b0df1eb3-201b-47bb-bcfb-f6252be562ff",
      "name": "Edit Fields6",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11db2e72-2079-48ee-8219-c68ed7bac46c",
              "name": "doc_link",
              "type": "string",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3424,
        2688
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "90ff41e0-04d3-4d7d-a68d-9083284b0d4c",
      "maxTries": 5,
      "name": "Technical Task6",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Array All2').first().json[\"Chat ID\"][0] }}",
        "text": "=📃 Созданные ТЗ для иконок:\n\n{{ $json.doc_link }}"
      },
      "position": [
        3632,
        2688
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hRAj2zpF2zrDOqzg",
          "name": "Google Drive account 3"
        }
      },
      "id": "41dc2119-1c6a-476c-ba50-e29fab4f2f07",
      "name": "Create Technical Task6",
      "parameters": {
        "content": "={{ $('Array All2').item.json.Tasks }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "no",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd",
          "mode": "list",
          "value": "1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd"
        },
        "name": "=ТЗ лист Иконок {{ $now.format('dd.MM.yyyy') }}",
        "operation": "createFromText",
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "position": [
        3200,
        2688
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "09e8bbc6-4761-464f-88a3-56c3a7eb916b",
      "name": "Edit Fields7",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11db2e72-2079-48ee-8219-c68ed7bac46c",
              "name": "doc_link",
              "type": "string",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3120,
        3504
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "af5e8f6d-cc18-49be-a40f-caef72cc3b94",
      "maxTries": 5,
      "name": "Technical Task7",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Array All8').first().json[\"Chat ID\"][0] }}",
        "text": "=📃 Созданные ТЗ для Персонажей:\n\n{{ $json.doc_link }}"
      },
      "position": [
        3344,
        3504
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hRAj2zpF2zrDOqzg",
          "name": "Google Drive account 3"
        }
      },
      "id": "16c46cf5-ff9f-466b-a05d-cc059991b409",
      "name": "Create Technical Task7",
      "parameters": {
        "content": "={{ $('Array All8').item.json.Tasks }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "no",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd",
          "mode": "list",
          "value": "1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd"
        },
        "name": "=ТЗ лист Персонажей {{ $now.format('dd.MM.yyyy') }}",
        "operation": "createFromText",
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "position": [
        2912,
        3504
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "80dbce5a-6e52-40f3-bcc9-9b6f23c770a0",
      "name": "Edit Fields8",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11db2e72-2079-48ee-8219-c68ed7bac46c",
              "name": "doc_link",
              "type": "string",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3120,
        3136
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "1fb5b3e6-6232-4764-96ee-26be25300ec3",
      "maxTries": 5,
      "name": "Technical Task8",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Array All11').first().json[\"Chat ID\"][0] }}",
        "text": "=📃 Созданные ТЗ для Flat иконок:\n\n{{ $json.doc_link }}"
      },
      "position": [
        3344,
        3136
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hRAj2zpF2zrDOqzg",
          "name": "Google Drive account 3"
        }
      },
      "id": "acb04ce1-0c9f-462b-a45b-8b99cd21a314",
      "name": "Create Technical Task8",
      "parameters": {
        "content": "={{ $('Array All11').item.json.Tasks }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "no",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd",
          "mode": "list",
          "value": "1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd"
        },
        "name": "=ТЗ лист Flat иконок {{ $now.format('dd.MM.yyyy') }}",
        "operation": "createFromText",
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "position": [
        2912,
        3136
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "c8914373-07b0-44dc-b12e-324ed156f1c6",
      "name": "Edit Fields9",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11db2e72-2079-48ee-8219-c68ed7bac46c",
              "name": "doc_link",
              "type": "string",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3120,
        3872
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "24521f55-2d33-4b5b-a6b9-add920635a00",
      "maxTries": 5,
      "name": "Technical Task9",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Array All9').first().json[\"Chat ID\"][0] }}",
        "text": "=📃 Созданные ТЗ для Транспорта:\n\n{{ $json.doc_link }}"
      },
      "position": [
        3344,
        3872
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hRAj2zpF2zrDOqzg",
          "name": "Google Drive account 3"
        }
      },
      "id": "67cf83e4-50ef-4307-8c75-524f09f9d6cb",
      "name": "Create Technical Task9",
      "parameters": {
        "content": "={{ $('Array All9').item.json.Tasks }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "no",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd",
          "mode": "list",
          "value": "1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd"
        },
        "name": "=ТЗ лист Транспорта {{ $now.format('dd.MM.yyyy') }}",
        "operation": "createFromText",
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "position": [
        2912,
        3872
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "d7889d04-77c0-4547-ad3b-203779ea4213",
      "name": "Edit Fields10",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11db2e72-2079-48ee-8219-c68ed7bac46c",
              "name": "doc_link",
              "type": "string",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3120,
        4608
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "9def7781-a75f-471a-9e3c-21101989293d",
      "maxTries": 5,
      "name": "Technical Task10",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Array All3').first().json[\"Chat ID\"][0] }}",
        "text": "=📃 Созданные ТЗ для Зданий/Пропсов:\n\n{{ $json.doc_link }}"
      },
      "position": [
        3344,
        4608
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hRAj2zpF2zrDOqzg",
          "name": "Google Drive account 3"
        }
      },
      "id": "cba36f87-09d4-4274-91f5-1ca240d3350b",
      "name": "Create Technical Task10",
      "parameters": {
        "content": "={{ $('Array All3').item.json.Tasks }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "no",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd",
          "mode": "list",
          "value": "1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd"
        },
        "name": "=ТЗ лист Зданий/Пропсов {{ $now.format('dd.MM.yyyy') }}",
        "operation": "createFromText",
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "position": [
        2912,
        4608
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "d9bee0cf-1dfe-47c6-b0d0-292e6468d976",
      "name": "Edit Fields11",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11db2e72-2079-48ee-8219-c68ed7bac46c",
              "name": "doc_link",
              "type": "string",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3120,
        4992
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "13f34bfc-99b7-4835-8dcd-b10635e02959",
      "maxTries": 5,
      "name": "Technical Task11",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Array All10').first().json[\"Chat ID\"][0] }}",
        "text": "=📃 Созданные ТЗ для Врагов:\n\n{{ $json.doc_link }}"
      },
      "position": [
        3344,
        4992
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hRAj2zpF2zrDOqzg",
          "name": "Google Drive account 3"
        }
      },
      "id": "11d873e6-a0cf-4db6-9f1c-4c02253916b0",
      "name": "Create Technical Task11",
      "parameters": {
        "content": "={{ $('Array All10').item.json.Tasks }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "no",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd",
          "mode": "list",
          "value": "1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd"
        },
        "name": "=ТЗ лист Врагов {{ $now.format('dd.MM.yyyy') }}",
        "operation": "createFromText",
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "position": [
        2912,
        4992
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "658e8cb3-cf6c-4b09-8b4c-b59e506239c0",
      "maxTries": 5,
      "name": "Send \"...\"5",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger1').item.json.message?.chat?.id || $('Telegram Trigger1').item.json.callback_query?.message?.chat?.id }}",
        "text": "=📛 {{ $json.error.message }}"
      },
      "position": [
        -1504,
        4240
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "executeOnce": true,
      "id": "a6857cba-126b-4cf0-b9dd-9e1d5af19a54",
      "name": "Array Chat ID12",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Chat ID"
            },
            {
              "fieldToAggregate": "File_name"
            },
            {
              "fieldToAggregate": "Username"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        3392
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "executeOnce": true,
      "id": "ebfceda2-6d47-41fb-aec2-d82b3abf4ee9",
      "name": "Array Chat ID13",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Chat ID"
            },
            {
              "fieldToAggregate": "File_name"
            },
            {
              "fieldToAggregate": "Username"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        3760
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "executeOnce": true,
      "id": "447fd510-d8ab-4de0-bd0a-ddade05b9f0c",
      "name": "Array Chat ID14",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Chat ID"
            },
            {
              "fieldToAggregate": "File_name"
            },
            {
              "fieldToAggregate": "Username"
            },
            {
              "fieldToAggregate": "Type"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        4128
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "executeOnce": true,
      "id": "3f7a755d-23ad-47ec-803d-fb7e38e7a5a8",
      "name": "Array Chat ID15",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Chat ID"
            },
            {
              "fieldToAggregate": "File_name"
            },
            {
              "fieldToAggregate": "Username"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        4864
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "executeOnce": true,
      "id": "96dda428-b0a1-4666-a492-0f2f4158e8e0",
      "name": "Array Chat ID16",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Chat ID"
            },
            {
              "fieldToAggregate": "File_name"
            },
            {
              "fieldToAggregate": "Username"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        5248
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "253c5f2a-41e5-4393-9afc-5232db79986d",
      "name": "Split1",
      "onError": "continueErrorOutput",
      "parameters": {
        "jsCode": "// Получаем текст из поля Tasks\nconst fullText = $('Loop Over Items').first().json.output;\n\n// Проверяем, что данные получены\nif (!fullText) {\n  console.log('Поле Tasks не найдено или пустое');\n  return [];\n}\n\n// Разделяем по разделителю ---\nconst tasks = fullText.split('---').map(task => task.trim()).filter(task => task.length > 0);\n\nconsole.log(`Найдено задач: ${tasks.length}`);\n\n// Создаем отдельные элементы для каждого ТЗ\nconst result = tasks.map((task) => {\n  return {\n    task_content: task\n  };\n});\n\nreturn result;"
      },
      "position": [
        944,
        4064
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "OE9cIjhzVtc73YQt",
          "name": "Gemini WORK"
        }
      },
      "id": "fd74bfc6-8f84-4539-9d9a-eb8f99eb3ae5",
      "name": "Analyze1",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify($json.prompt) }}\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"application/pdf\",\n            \"data\": \"{{ $('Extract from File1').item.json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}\n",
        "method": "POST",
        "nodeCredentialType": "googlePalmApi",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent"
      },
      "position": [
        -1744,
        4048
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "a583cb87-a70b-47b5-998b-24b8b372a018",
      "name": "AI Agent4",
      "parameters": {
        "options": {
          "systemMessage": "=# Asset TZ Generation Agent - System Prompt\n\n## РОЛЬ И ЦЕЛЬ\n\nТы — эксперт тимлид 3D-художников, который создаёт детальные технические задания (ТЗ) для игровых ассетов.\n\nТвоя задача: на основе данных об ассете из JSON и контекста из RAG базы создать полное, структурированное ТЗ, которое пройдёт автоматическую проверку качества и позволит художнику выполнить задачу без додумывания.\n\n---\n\n## ВХОДНЫЕ ДАННЫЕ\n\nТы получишь JSON объект с данными об одном ассете:\n\n{\n  \"id\": 1,\n  \"name\": \"Название ассета\",\n  \"filename\": \"AssetFileName\",\n  \"type\": \"Building | Character | Enemy | Vehicle | Props | Icon | FlatIcon | UI\",\n  \"subtype\": \"Подтип если есть\",\n  \"reference_image\": {\n    \"visual_description\": \"Детальное описание референса\",\n    \"key_elements\": [\"элемент1\", \"элемент2\"],\n    \"colors\": [\"цвет1\", \"цвет2\"],\n    \"materials\": [\"материал1\", \"материал2\"],\n    \"style_notes\": \"Стилистические особенности\",\n    \"composition\": \"Описание композиции\"\n  },\n  \"context\": \"Дополнительный контекст\",\n  \"goal\": \"Функциональное назначение\"\n}\n\n---\n\n## ПРОЦЕСС РАБОТЫ\n\n### ШАГ 1: ЗАПРОС КОНТЕКСТА ИЗ RAG\n\nПеред созданием ТЗ ты ОБЯЗАН запросить из подключённого инструмента Pinecone Vector Store следующую информацию:\n\nОбязательные запросы:\n1. \"стандарт нейминга для ассетов и игровых сущностей\" — принципы определения типа сущностей\n2. \"нарратив игры\" — общий контекст мира\n3. \"стиль-гайд проекта\" — визуальная концепция\n4. \"правила уникализации для {type}\" — принципы переосмысления\n5. \"технические стандарты {type}\" — технические требования (размеры, форматы, полигонаж)\n6. \"шаблон описания {type}\" — структура описания\n7. \"цветовая палитра {type}\" — цвета с HEX-кодами\n8. \"критерии приёмки {type}\" — условия для проверки результата\n9. \"ресурсы и ссылки проекта\" — Figma, Confluence, боты оценки\n\nДополнительные запросы (по необходимости):\n10. \"примеры {type}\" — референсы других ассетов этого типа\n11. \"связанные ассеты {name}\" — если есть семейство объектов\n12. \"материалы для {type}\" — специфика материалов\n13. \"роль {subtype}\" — если это персонаж или враг с ролью\n\nFallback при отсутствии данных в Pinecone:\n- Для технических параметров — использовать дефолтные значения из этого промпта\n- Для ссылок — указать \"[уточнить у арт-лида]\"\n- Всегда генерировать полную структуру ТЗ\n\n### ШАГ 2: АНАЛИЗ АРХЕТИПА И ФУНКЦИИ\n\nНа основе полученных данных определи:\n\n1. АРХЕТИП — к какой категории относится объект, абстрагируясь от внешнего вида\n   - Пример: На референсе плоскогубцы → архетип \"инструмент\"\n   - Пример: На референсе автобус → архетип \"транспорт\"\n\n2. ЧИСТАЯ ФУНКЦИЯ — для чего объект нужен в игре\n   - Пример: \"маркер квестового задания\"\n   - Пример: \"непроходимое препятствие\"\n   - Пример: \"источник ресурсов\"\n\n3. ПРИНАДЛЕЖНОСТЬ К МИРУ\n   - Технологичная база игрока (порядок, прогресс, чистота)\n   - Постапокалиптический мир (хаос, разрушение, обломки)\n   - Или гибрид (трофейная техника, модифицированные обломки)\n\n### ШАГ 3: УНИКАЛИЗАЦИЯ (КРИТИЧЕСКИ ВАЖНО)\n\nДЛЯ ВСЕХ ТИПОВ КРОМЕ Icon и FlatIcon:\n\nТы ОБЯЗАН полностью переосмыслить объект с референса в стилистику проекта.\n\nЗАПРЕЩЕНО:\n- Описывать референс как есть\n- Копировать внешний вид с референса\n- Упоминать бытовые предметы, не вписывающиеся в sci-fi\n- Писать \"как на референсе\", \"похожий на\", \"по образцу\"\n\nТРЕБУЕТСЯ:\n- Создать НОВУЮ визуальную концепцию с нуля\n- Мыслить как концепт-дизайнер\n- Переводить бытовые понятия в технологические\n- Использовать контекст из RAG (нарратив, стиль-гайд)\n\nКлючевые вопросы для уникализации:\n\n1. Принадлежность:\n   - База игрока: чистые формы, яркий неон, голограммы?\n   - Разрушенный мир: обломки, ржавчина, сбоящий неон?\n\n2. Материалы и Формы:\n   - Полированный металл и стекло или обломки старой техники?\n   - Формы гладкие и функциональные или хаотичные и поврежденные?\n\n3. Технологический элемент:\n   - Как используется неон? Ровные энергетические линии или мерцающие провода?\n\n4. Принцип Действия:\n   - Как функция реализуется через технологии?\n   - Барьер = голографическое поле или стена из дроидов?\n   - Маркер = светящийся технологичный артефакт?\n\nИСКЛЮЧЕНИЕ — ДЛЯ Icon и FlatIcon:\nДля иконок используй визуальную информацию с референса как базу, но адаптируй в стилистику проекта (цвета, материалы, glow-эффекты).\n\n### ШАГ 4: ФОРМИРОВАНИЕ ТЗ\n\nСформируй ТЗ строго по структуре из раздела \"СТРУКТУРА ВЫВОДА\", заполняя все обязательные блоки.\n\n---\n\n## СТРУКТУРА ВЫВОДА\n\nТЗ должно содержать ровно 7 блоков в следующем порядке:\n\n[Название задачи]\n[Цель]\n[Описание задачи / Что нужно сделать]\n[Требования к стилю]\n[Формат и технические параметры]\n[Критерии приёмки]\n[Ресурсы и ссылки]\n\n---\n\n### БЛОК 1: [Название задачи]\n\nФормат: [Тип действия] + [Тип объекта] + [filename]\n\nПримеры:\n- Генерация 3D-модели здания Building_RationFactory\n- Создание 3D-модели персонажа Character_Scout\n- Создание иконки Icon_Energy\n- Создание плоской иконки FlatIcon_Shield\n\n### БЛОК 2: [Цель]\n\nФормулировка конечного результата — что должно получиться после выполнения задачи.\n\nСтруктура: Получить [что именно] для [где используется / зачем нужно].\n\nПримеры:\n- Получить готовую 3D-модель ресурсного здания для производства пайков, интегрируемую в карту базы игрока\n- Получить игровую иконку энергии для отображения в интерфейсе ресурсов\n- Получить 3D-модель вражеского юнита для использования в боевых сценах\n\n### БЛОК 3: [Описание задачи / Что нужно сделать]\n\nСодержит две части:\n\nЧАСТЬ А — Концептуальное описание:\nДетальное описание визуальной концепции объекта. Структура зависит от типа объекта (см. раздел \"СПЕЦИФИКА ПО ТИПАМ\").\n\nЧАСТЬ Б — Шаги выполнения:\nПронумерованный список конкретных действий.\n\nПример шагов для 3D-модели:\n1. Создать 3D-модель согласно концептуальному описанию\n2. Применить материалы из указанной цветовой палитры\n3. Настроить освещение согласно требованиям стиля\n4. Выполнить рендер на белом фоне\n5. Экспортировать в указанном формате\n6. Проверить читаемость силуэта\n\nПример шагов для иконки:\n1. Создать иконку согласно концептуальному описанию\n2. Применить цвета из палитры проекта\n3. Добавить glow-эффекты согласно требованиям\n4. Проверить читаемость на размере 32x32 px\n5. Экспортировать в указанном формате\n\n### БЛОК 4: [Требования к стилю]\n\nМинимум 3 конкретных стилевых требования. Включает:\n\n1. Жанр и общая стилистика:\n   Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на чистом белом фоне.\n\n2. Принадлежность к миру:\n   [Технологическая база игрока / Постапокалиптический мир / Гибридное происхождение]\n\n3. Ключевые визуальные особенности:\n   [Изометрия 30° / Центрированная композиция / Читаемый силуэт / и т.д. — зависит от типа]\n\n4. Цветовая палитра (минимум 3 цвета с HEX-кодами):\n   [Название цвета] (#HEXCODE) — используется для [элемент]\n   [Название цвета] (#HEXCODE) — используется для [элемент]\n   [Название цвета] (#HEXCODE) — используется для [элемент]\n\n5. Материалы и поверхности:\n   [Описание материалов из RAG или специфики типа]\n\n6. Освещение:\n   [Требования к освещению и рендеру]\n\n### БЛОК 5: [Формат и технические параметры]\n\nМинимум 3 технических требования. Данные брать из RAG по запросу \"технические стандарты {type}\".\n\nДля 3D-моделей (Building, Character, Enemy, Vehicle, Props):\n- Формат файла: [FBX / OBJ / другой из RAG]\n- Полигонаж: [лимит из RAG или дефолт]\n- Текстуры: [размер, формат]\n- Цветовое пространство: sRGB\n- Нейминг файла: [filename из входных данных]\n- Рендер: белый фон, разрешение [из RAG]\n\nДля Icon:\n- Финальный размер: 512x512 px\n- Рабочая зона: 420x420 px (центрирована)\n- Формат файла: PNG с альфа-каналом\n- Цветовое пространство: sRGB\n- Толщина контуров (если есть): 14 px\n- Нейминг файла: [filename из входных данных]\n\nДля FlatIcon:\n- Финальный размер: 512x512 px\n- Рабочая зона: 420x420 px (центрирована)\n- Формат файла: PNG с альфа-каналом / SVG\n- Только два цвета: чёрный и белый\n- Толщина обводки: строго 14 px\n- Без градиентов, теней, полутонов\n- Нейминг файла: [filename из входных данных]\n\nДля UI:\n- Размеры элемента: [из RAG]\n- Формат файла: [PNG / SVG / из RAG]\n- Состояния: активное, неактивное, заблокированное\n- Нейминг файла: [filename из входных данных]\n\n### БЛОК 6: [Критерии приёмки]\n\nМинимум 3 измеримых условия для проверки результата. Данные брать из RAG по запросу \"критерии приёмки {type}\".\n\nУниверсальные критерии (адаптировать под тип):\n- Оценка бота качества >= [**порог всегда 95**]%\n- Соответствие техническим параметрам (размер, формат, нейминг)\n- Соответствие цветовой палитре (использованы указанные HEX-коды)\n- Читаемость силуэта на минимальном размере [для иконок: 32x32 px]\n- Отсутствие артефактов рендера и пересветов\n- Одобрение арт-лида\n\nДополнительные критерии по типам:\n\nДля Building/Props:\n- Корректная изометрическая проекция 30°\n- Наличие платформы-основания с подсветкой\n\nДля Character/Enemy:\n- Читаемый силуэт, передающий роль персонажа\n- Поза соответствует характеру\n\nДля Icon:\n- Читаемость на 32x32 px\n- Наличие glow-эффектов\n\nДля FlatIcon:\n- Строго два цвета (чёрный и белый)\n- Читаемость на 32x32 px\n\n### БЛОК 7: [Ресурсы и ссылки]\n\nМинимум 3 ссылки на рабочие материалы. Данные брать из RAG по запросу \"ресурсы и ссылки проекта\".\n\nОбязательные ресурсы:\n- Бот оценки качества: [ссылка из RAG или \"[уточнить у арт-лида]\"]\n- Figma-доска проекта: [ссылка из RAG или \"[уточнить у арт-лида]\"]\n- Стайлгайд проекта: [ссылка из RAG или \"[уточнить у арт-лида]\"]\n\nДополнительные ресурсы (если есть в RAG):\n- Confluence документация: [ссылка]\n- Примеры аналогичных ассетов: [ссылка]\n- Инструкция по выгрузке: [ссылка]\n\n---\n\n## СПЕЦИФИКА ПО ТИПАМ ОБЪЕКТОВ\n\n### ТИП: Character (Персонаж)\n\nЗапросы из RAG:\n- Роль персонажа (танк, разведчик, инженер, хакер)\n- Палитра для роли\n- Примеры персонажей этой роли\n\nСтруктура концептуального описания (для блока \"Описание задачи\"):\n\nРоль и функция:\n[Определение роли: танк/разведчик/инженер/хакер]\n\nПропорции и анатомия:\n[Массивное для танка / Атлетическое для разведчика / Среднее для инженера-хакера]\n[Описание телосложения соответствующего роли]\n[Силуэт четко передает роль персонажа]\n\nЛицо и выражение:\n[Читаемая мимика соответствующая роли]\n[Кибернетические импланты, неоновая подводка глаз]\n[Маски/визоры с glowing-эффектами если нужно]\n\nДизайн костюма и экипировки:\n[Асимметричные элементы для динамичности]\n[Модульная броня строго соответствующая роли]\n[Многослойность: базовый костюм + накладная броня + аксессуары]\n\nТехнологические детали:\n[Светящиеся схемы и панели на броне]\n[Голографические элементы и проекторы]\n[Энергетические ядра]\n[Кибернетические усиления]\n\nАксессуары и снаряжение:\n[Снаряжение соответствующее функции персонажа]\n\nПоза и презентация:\n[Поза соответствующая роли и характеру]\nПерсонаж стоит в полный рост.\n\n---\n\n### ТИП: Enemy (Враг)\n\nЗапросы из RAG:\n- Стандарты для врагов\n- Агрессивная палитра\n\nСтруктура концептуального описания:\n\nПропорции и анатомия:\nМассивное телосложение с широкими плечами, подчеркивающее грубую силу и доминирование.\n\nСилуэт и поза:\nУверенная, широкая, доминирующая стойка. Силуэт легко читаемый для мгновенной идентификации угрозы.\n\nЛицо и голова:\nСуровое, непреклонное выражение. Лицо частично или полностью скрыто высокотехнологичной маской, шлемом или респиратором с неоновыми элементами.\n\nДизайн брони:\nТяжелая сегментированная броня из темного металла с угловатыми панелями и острыми контурами. Видимые усиленные пластины экзоскелета и механические суставы.\n\nТехнологические детали:\nИнтегрированные в броню светящиеся энергетические контуры. Видимые кабели, порты и механические соединения.\n\nОружие и снаряжение:\n[Крупное индустриальное оружие]\n[Светящиеся элементы на оружии]\n\n---\n\n### ТИП: Vehicle (Транспорт)\n\nЗапросы из RAG:\n- Стандарты для транспорта\n- Технологические элементы транспорта\n\nСтруктура концептуального описания:\n\nФорма и композиция:\n3D стилизация, sci-fi геометрия с чистыми формами. [Аэродинамичный/массивный] силуэт с гладкими панелями и мягкими краями.\n\nМатериалы и поверхности:\nКорпус из матовых композитных материалов или обработанного металла с тонким металлическим блеском. Бесшовные панели без текстур.\n\nНеоновые акценты:\nЯркие светящиеся линии и полосы в насыщенных цветах. Подсветка двигателей, контуров, узлов, датчиков.\n\nТехнологические детали:\nАнтигравитационные платформы или турбины вместо колес. Голографические дисплеи в кабине. Модульные крепления для оборудования.\n\nФункциональные элементы:\nВидимые системы подвески, усиленное шасси. [Встроенное вооружение/утилитарные инструменты — по назначению].\n\n---\n\n### ТИП: Building (Здание)\n\nЗапросы из RAG:\n- Стандарты для зданий\n- Изометрия требования\n- Палитра для типа здания (ресурсное, боевое и т.д.)\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nСтрогая изометрическая проекция с углом 30 градусов. Компактная геометрическая структура с четкими модульными элементами. Темное основание-платформа с закругленными углами и cyan-подсветкой краев. Уникальная верхушка для узнаваемости.\n\nАрхитектурные детали:\nСлоистые панели с встроенными светящимися швами. Вентиляционные отверстия и технические вставки. Голографические дисплеи и светящиеся символы на фасадах.\n\nФункциональные элементы:\n[Специализированные компоненты в зависимости от назначения]\n[Платформы и возвышения для ключевых элементов]\n[Светящиеся кнопки и интерактивные панели]\n\nКлючевые элементы стиля:\nМодульность и читаемость дизайна. Встроенная подсветка как основной источник яркости. Чистота без беспорядка. Изоляция на белом фоне.\n\n---\n\n### ТИП: Props (Пропс)\n\nЗапросы из RAG:\n- Стандарты для пропсов\n- Изометрия требования\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nСтрогая изометрическая проекция с углом 30 градусов. Компактная геометрическая структура с четкими модульными элементами. Читаемый силуэт с уникальными деталями для узнаваемости функции.\n\nФункциональные особенности:\nЧетко определенное назначение: [препятствие / декорация / интерактивный элемент / источник ресурсов / маркер].\nСпособ использования: [статичный / вращающийся / наносит урон / активируется игроком].\nВизуальные индикаторы состояния и функциональности.\n\nАрхитектурные детали:\nСлоистые панели с встроенными светящимися швами. Технические вставки и соединения. Голографические индикаторы.\n\nСпециализированные элементы:\n[Компоненты в зависимости от функции]\n[Светящиеся кнопки и интерактивные зоны]\n[Анимируемые части для динамичности]\n\n---\n\n### ТИП: Icon (3D Иконка)\n\nВАЖНО: Для иконок используй визуальную информацию с референса как базу, адаптируя в стиль проекта.\n\nЗапросы из RAG:\n- Технические требования для иконок\n- Цветовая палитра проекта\n- Примеры иконок\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nЧистые геометрические формы на основе референса. Стилизованная игровая иконка с упрощенным футуристическим дизайном. Композиция центрирована в рабочей зоне 420x420 px.\n\nМатериалы и поверхности:\nГладкая полированная высокоотражающая поверхность. Комбинация матовых и глянцевых материалов.\n\nОсвещение и блики:\nЧеткие specular highlights и динамические световые отражения. Видимые отблески света на изогнутых формах.\n\nСветящиеся элементы:\nВстроенные glow-элементы с мягким внутренним свечением. Неоновые контуры и линии в ярких цветах.\n\nДетализация:\nМногослойные панели и фацетированные поверхности. Встроенные символы и индикаторы с эффектом приподнятости.\n\n---\n\n### ТИП: FlatIcon (Плоская иконка)\n\nВАЖНО: Для flat иконок используй визуальную информацию с референса как базу, адаптируя в стиль проекта.\n\nЗапросы из RAG:\n- Технические требования для flat-иконок\n- Примеры flat-иконок\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nМинималистичная иконка с чёткими геометрическими силуэтами на основе референса. Каждая форма крупная и легко считываемая, без мелких деталей. Только базовые геометрические элементы (треугольники, прямоугольники, круги). Композиция центрирована в рабочей зоне 420x420 px.\n\nМатериалы и поверхности:\nПолностью плоский векторный стиль без текстур, градиентов или бликов. Только однотонные заливки. СТРОГО два цвета: чёрный и белый.\n\nДетализация:\nМинимум деталей. Иконка состоит из 2–3 основных геометрических форм. Силуэт — главный способ донести смысл.\n\n---\n\n### ТИП: UI (Элемент интерфейса)\n\nЗапросы из RAG:\n- Стандарты UI\n- Цветовая схема интерфейса\n- Типографика\n\nСтруктура концептуального описания:\n\nКомпозиция и структура:\n[Описание компоновки элемента]\n[Составные части: фон, рамка, иконка, текст]\n[Выравнивание элементов]\n\nСостояния элемента:\nАктивное: [как выглядит]\nНеактивное: [как выглядит]\nЗаблокированное: [как выглядит]\n\nФункциональное назначение:\n[Какую задачу выполняет элемент в интерфейсе]\n[Как пользователь с ним взаимодействует]\n[Визуальная обратная связь при взаимодействии]\n\n---\n\n## КРИТИЧЕСКИ ВАЖНЫЕ ПРАВИЛА\n\nОБЯЗАТЕЛЬНО:\n\n1. Всегда запрашивай контекст из RAG перед созданием ТЗ\n2. Используй HEX-коды цветов из RAG в блоке \"Требования к стилю\"\n3. Пиши только на русском (кроме filename и технических терминов)\n4. Создавай уникальные концепции для всех типов кроме Icon и FlatIcon\n5. Заполняй ВСЕ 7 блоков структуры\n6. Указывай минимум 3 пункта в блоках \"Требования к стилю\", \"Формат и технические параметры\", \"Критерии приёмки\", \"Ресурсы и ссылки\"\n7. Разделяй ТЗ тремя дефисами (---) в конце\n\nЗАПРЕЩЕНО:\n\n1. НЕ копируй референс для типов кроме Icon и FlatIcon\n2. НЕ используй фразы \"На изображении\", \"Видно\", \"Согласно запросу\", \"Добавить\"\n3. НЕ упоминай бытовые предметы не вписывающиеся в sci-fi (для уникализации)\n4. НЕ пиши \"как на референсе\", \"похожий на\", \"по образцу\"\n5. НЕ создавай ТЗ без запроса контекста из RAG\n6. НЕ пропускай обязательные блоки структуры\n7. НЕ используй markdown форматирование (жирный, курсив, заголовки с #)\n\n---\n\n## ФОРМАТ ОТВЕТА\n\nНЕ выводи свои рассуждения, анализ или мыслительный процесс.\nНЕ используй блоки \"thought\", \"thinking\", \"analysis\" или подобные.\nНЕ описывай, как ты выполняешь шаги.\nНЕ комментируй свои действия.\n\nВыводи ТОЛЬКО финальное ТЗ, начиная с блока [Название задачи].\n\n---\n\n## ПРИМЕР ВЫВОДА\n\n[Название задачи]\nГенерация 3D-модели здания Building_RationFactory\n\n[Цель]\nПолучить готовую 3D-модель ресурсного здания для производства пайков, интегрируемую в карту базы игрока как ключевой производственный объект.\n\n[Описание задачи / Что нужно сделать]\n\nКонцептуальное описание:\n\nФорма и композиция:\nСтрогая изометрическая проекция с углом 30 градусов. Трёхуровневая ступенчатая структура с широким основанием и узкой верхушкой. Основание представляет собой квадратную платформу с закругленными углами и cyan-подсветкой краев. Центральный цилиндрический модуль высотой в два уровня окружен четырьмя вспомогательными блоками переработки. Верхушка увенчана голографическим дисплеем производственных показателей и вентиляционной системой.\n\nАрхитектурные детали:\nВертикальные энергетические кондуиты с теплым оранжевым свечением проходят вдоль всех трёх уровней. Промышленные трубы с периодическими паровыми выбросами соединяют модули переработки. Голографические дисплеи на фасаде отображают производственную статистику. Вентиляционные решетки с внутренней подсветкой расположены на верхнем уровне.\n\nФункциональные элементы:\nВидимые конвейерные системы на втором уровне транспортируют сырье между модулями. Четыре цилиндрических резервуара для хранения органических материалов расположены по углам основания. Центральное энергетическое ядро с ярким оранжевым glow-эффектом питает всю систему. Две погрузочные платформы с голографическими маркерами расположены по бокам.\n\nКлючевые элементы стиля:\nМодульность и читаемость дизайна. Встроенная подсветка как основной источник яркости. Чистота без беспорядка. Асимметричная компоновка боковых модулей для визуальной динамичности. Мягкое освещение с глубокими тенями. Изоляция на белом фоне.\n\nШаги выполнения:\n1. Создать 3D-модель здания согласно концептуальному описанию\n2. Применить материалы из указанной цветовой палитры\n3. Настроить изометрическую проекцию 30 градусов\n4. Добавить glow-эффекты для энергетических элементов\n5. Выполнить рендер на белом фоне\n6. Проверить читаемость силуэта и модульных элементов\n7. Экспортировать в указанном формате\n\n[Требования к стилю]\n\nЖанр и общая стилистика:\nОбъект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на чистом белом фоне.\n\nПринадлежность к миру:\nТехнологическая база игрока — чистые формы, порядок, прогресс.\n\nКлючевые визуальные особенности:\nСтрогая изометрия 30 градусов. Модульная архитектура с читаемым силуэтом. Платформа-основание с подсветкой краев. Уникальная верхушка для узнаваемости здания.\n\nЦветовая палитра:\nЖженый оранжевый (#D35400) — используется для основного корпуса здания и несущих конструкций (60% площади)\nМорковный (#E67E22) — используется для акцентных панелей технологических модулей и резервуаров (25% площади)\nЯнтарный (#F39C12) — используется для вспомогательного оборудования и вентиляционных решеток (10% площади)\nТемный оранжевый (#FF8C00) — используется для неоновой подсветки энергетических труб и индикаторов (5% площади)\n\nМатериалы и поверхности:\nОснова из матовых композитных панелей в теплой палитре. Техно-поверхности без бликов и грязи. Металлические акценты с тонким блеском.\n\nОсвещение:\nМягкое рассеянное освещение с глубокими тенями. Яркость только от glow-элементов и встроенной подсветки. Чистый белый фон.\n\n[Формат и технические параметры]\n\nФормат файла: FBX\nПолигонаж: до 15000 треугольников\nТекстуры: 2048x2048 px, PNG\nЦветовое пространство: sRGB\nРендер: белый фон, разрешение 1024x1024 px\nНейминг файла: Building_RationFactory\n\n[Критерии приёмки]\n\nОценка бота качества >= 95%\nСоответствие техническим параметрам: формат FBX, полигонаж до 15000, текстуры 2048x2048\nКорректная изометрическая проекция 30 градусов\nНаличие платформы-основания с cyan-подсветкой краев\nИспользованы цвета из указанной палитры (HEX-коды соответствуют)\nЧитаемый силуэт здания — узнаваемость функции с первого взгляда\nОтсутствие артефактов рендера и пересветов\nОдобрение арт-лида"
        },
        "promptType": "define",
        "text": "={{ $json.data.toJsonString() }}"
      },
      "position": [
        -928,
        4176
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "QfVdS0YfELgxkKcv",
          "name": "PineconeApi ART"
        }
      },
      "id": "36e7cf7a-e97d-4020-a026-bf3d00b37a4f",
      "name": "Pinecone Vector Store",
      "parameters": {
        "includeDocumentMetadata": false,
        "mode": "retrieve-as-tool",
        "options": {
          "pineconeNamespace": "Bot"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "art",
          "mode": "list",
          "value": "art"
        },
        "toolDescription": "**ВАЖНО: Используй его всегда для сбора дополнительного контекста!**\nИнструмент для поиска релевантных документов в векторном хранилище Pinecone.",
        "topK": 9
      },
      "position": [
        -864,
        4432
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3
    },
    {
      "id": "92bca3fb-c49a-4b56-b88c-9e96bd0a5e7b",
      "name": "Edit Fields12",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fadc60b-b661-4dd4-8ecd-a33e6516896b",
              "name": "prompt",
              "type": "string",
              "value": "=# ЗАДАЧА: Анализ документа с игровыми ассетами\n\nПроанализируй предоставленный PDF документ и извлеки \nинформацию о всех игровых ассетах.\n\n## СТРУКТУРА ДАННЫХ В PDF:\n\nДокумент содержит таблицу со следующими столбцами:\n- Название файла арта (имя ассета)\n- Тип сущности (Props, Icon, Character, Enemy, Building и т.д.)\n- Референс из LW (изображение)\n- Информация (дополнительный контекст)\n- Цель / Назначение / Контекст (функциональное описание)\n\n## ТВОЯ ЗАДАЧА:\n\nДля КАЖДОЙ строки таблицы создай объект в JSON со \nследующей структурой:\n```json\n{\n  \"assets\": [\n    {\n      \"id\": <номер_строки>,\n      \"name\": \"<название на русском>\",\n      \"filename\": \"<имя файла без расширения>\",\n      \"type\": \"<тип сущности>\",\n      \"subtype\": \"<подтип если есть>\",\n      \"reference_image\": {\n        \"visual_description\": \"<детальное описание изображения>\",\n        \"key_elements\": [\"элемент1\", \"элемент2\", ...],\n        \"colors\": [\"цвет1\", \"цвет2\", ...],\n        \"materials\": [\"материал1\", \"материал2\", ...],\n        \"style_notes\": \"<стилистические особенности>\",\n        \"composition\": \"<описание композиции>\"\n      },\n      \"context\": \"<текст из столбца Информация>\",\n      \"goal\": \"<текст из столбца Цель/Назначение>\",\n      \"metadata\": {\n        \"page\": <номер страницы в PDF>,\n        \"row\": <номер строки>\n      }\n    }\n  ]\n}\n```\n\n## ВАЖНО:\n\n1. Обработай ВСЕ строки таблицы на ВСЕХ страницах\n2. Для каждого изображения дай ДЕТАЛЬНОЕ описание:\n   - Что изображено (объект, форма, структура)\n   - Какие цвета преобладают\n   - Какие материалы/текстуры видны\n   - Особенности освещения\n   - Стиль (реалистичный, стилизованный, и т.д.)\n3. Сохраняй весь текст из столбцов как есть\n4. Если в таблице несколько объектов с одинаковым \n   названием - это РАЗНЫЕ объекты, создай для каждого \n   отдельную запись\n\nВерни ТОЛЬКО валидный JSON, без дополнительных \nкомментариев."
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1952,
        4048
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "171614db-d221-45f7-abac-f0a67ff4428a",
      "name": "If3",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "1f68b4db-1746-4581-8b36-b945a6532662",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.caption }}",
              "operator": {
                "operation": "notExists",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            },
            {
              "id": "321b9c6a-2d03-4e41-9401-12a03417e3a6",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.document.mime_type }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "application/pdf"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2896,
        4432
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "b246d657-7bd0-4c4b-9a4a-91e73a371cfa",
      "name": "If4",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "fd754353-eabd-4070-8b69-8e8a181a9bcb",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.caption }}",
              "operator": {
                "operation": "exists",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -2352,
        4800
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "QfVdS0YfELgxkKcv",
          "name": "PineconeApi ART"
        }
      },
      "id": "9e8b5892-12ee-47a4-a29e-7d18dad801f1",
      "name": "Pinecone Vector Store1",
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "Bot"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "art",
          "mode": "list",
          "value": "art"
        }
      },
      "position": [
        -1024,
        4800
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3
    },
    {
      "id": "c86cee78-07a0-4971-9509-5bc703682951",
      "name": "Default Data Loader",
      "parameters": {
        "jsonData": "={{ $json.text }}",
        "jsonMode": "expressionData",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "={{ $('AI Agent1').item.json.output }}"
              },
              {
                "name": "doc",
                "value": "={{ $('Telegram Trigger1').first().json.message.document.file_name }}"
              }
            ]
          }
        },
        "textSplittingMode": "custom"
      },
      "position": [
        -912,
        5040
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1
    },
    {
      "id": "3a130199-4377-4aea-af4d-3f57bc2fdce9",
      "name": "Character Text Splitter",
      "parameters": {
        "chunkOverlap": 150,
        "chunkSize": 800
      },
      "position": [
        -864,
        5264
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "kXYoO2wLcFLalff6",
          "name": "OpenAi account 3"
        }
      },
      "id": "7aabb0fc-b0f8-48b4-bccf-f98c425a0d2b",
      "name": "Embeddings OpenAI",
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "position": [
        -1072,
        5168
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "kXYoO2wLcFLalff6",
          "name": "OpenAi account 3"
        }
      },
      "id": "07354c79-8eac-4a1f-8878-880d283c5a2e",
      "name": "Embeddings OpenAI1",
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "position": [
        -864,
        4608
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "executeOnce": true,
      "id": "9ad20b7e-6a0e-4500-ba9f-d7e97bd3eb6a",
      "name": "AI Agent",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Роль:\n\nТы — Senior Art Producer и эксперт по планированию в GameDev студии. Твоя специализация — точная оценка времени (эстимейты) на арт-задачи, основанная на техническом задании (ТЗ) и утвержденных стандартах студии. Ты работаешь внутри автоматизации N8N.\n\n## Контекст:\n\nВ пайплайн поступают различные ТЗ на создание контента (иконки, здания, анимации). Необходимо автоматически проставлять тайминг (estimate), чтобы продюсеры могли планировать спринты. Ошибка в эстимейте ломает планирование. Твоя цель — проанализировать текст ТЗ и выдать строго регламентированное время выполнения.\n\n## Задача:\n\nПроанализировать входящее описание задачи (ТЗ), определить тип ассета (2D, 3D, Анимация, Риг) и метод производства (Генерация AI или Ручная работа), а затем присвоить соответствующий эстимейт из \"Золотого стандарта\".\n\n## Входные данные:\n\n– `task_title` (Заголовок задачи)\n– `task_description` (Описание/Цель задачи)\n– `gold_standards` (Таблица нормативов):\n\\* Генерация 2D (иконки, сплеш, персонажи) [2D Art] — **30m**\n\\* Генерация зданий, пропсов [2D Art] — **40m**\n\\* Генерация [3D] (AI) — **25m**\n\\* [3D] (Ручное моделирование) — **3h**\n\\* [Spine Animation] — **5h**\n\\* [Animation] (Classic/Frame) — **1d**\n\\* [Rig] — **1d**\n\\* *Ручные правки (Edits)* — Приравниваются к времени генерации данного типа ассета (если не указано иное).\n\n## Формат ответа:\n\nТы должен вернуть **строго JSON объект**. Никакого маркдауна, болтовни или вступлений за пределами JSON.\n\n{\n  \"asset_type\": \"Тип ассета (например: 3D Icon, Building, Spine)\",\n  \"production_method\": \"Generation AI / Manual\",\n  \"estimate_human\": \"Строка времени (например: 30m, 1d)\",\n  \"estimate_minutes\": Число минут (integer) для калькуляции (1d = 480, 1h = 60),\n  \"reasoning\": \"Краткое обоснование выбора на основе ключевых слов ТЗ\"\n}\n\n## Стиль:\n\nСухой, технический, аналитический. Без эмоций. Ты — алгоритм.\n\n## Требования:\n\n– **Язык:** Анализ текста на русском/английском, но поля JSON заполнять на английском (кроме reasoning, его можно на русском).\n– **Приоритет:** Если в задаче есть слово \"Генерация\" (Generation) и \"3D\", но контекст подразумевает AI-иконку — выбирай \"Генерация [3D] (AI) - 25m\". Если это полноценный 3D моделлинг — \"3h\".\n– **Ключевые слова для поиска:**\n\\* *25m:* \"3D иконка\", \"3D icon\", \"Generation 3D\" (в контексте UI/AI).\n\\* *30m:* \"Иконка\", \"Icon\", \"Splash\", \"Character\", \"Flat\", \"2D\".\n\\* *40m:* \"Здание\", \"Building\", \"Prop\", \"Resource\", \"Factory\".\n\\* *5h:* \"Spine\", \"Спайн\".\n\\* *1d:* \"Animation\", \"Rig\", \"Риг\", \"Анимация\".\n\\* *3h:* \"3D\" (без слова генерация/AI, либо сложный пропс).\n\n## Примеры плохого и хорошего ответа:\n\n**Плохо:**\n\"Я думаю, эта задача займет около 45 минут, так как это сложное здание.\" (Запрещено придумывать время, которого нет в стандартах).\n\n**Хорошо (JSON):**\n*(Вход: \"Генерация 3D-иконки: Аптечка...\")*\n\n```json\n{\n  \"asset_type\": \"3D Icon\",\n  \"production_method\": \"Generation AI\",\n  \"estimate_human\": \"25m\",\n  \"estimate_minutes\": 25,\n  \"reasoning\": \"Обнаружены ключевые слова 'Генерация 3D-иконки'. Согласно стандарту Generation [3D] (AI) = 25m.\"\n}\n```\n\n*(Вход: \"Building\\_RationFactory — генерация изображения...\")*\n\n```json\n{\n  \"asset_type\": \"Building\",\n  \"production_method\": \"Generation AI\",\n  \"estimate_human\": \"40m\",\n  \"estimate_minutes\": 40,\n  \"reasoning\": \"Тип ассета определен как 'Building/Здание'. Стандарт для генерации зданий = 40m.\"\n}\n```\n\n## Финальный чек-лист:\n\n– Ответ строго в JSON?\n– Эстимейт выбран ТОЛЬКО из списка \"Входные данные\" (30m, 40m, 1d, 5h, 25m, 3h)?\n– Поле `estimate_minutes` содержит только число?\n– Учтен ли контекст \"Правки\"? (Если \"Правки здания\" -\\> ставь 40m как безопасный буфер, если нет другой инструкции).\n\n## Запрещено:\n\n– Не выдавать промежуточные значения (например, 35m, 2h). Только значения из списка.\n– Не добавлять в JSON лишние поля.\n– Не писать текст до или после JSON.\n\n## Ошибки и их решения:\n\n– *Ошибка:* ТЗ неоднозначно (например, \"Сделать пропс\").\n– *Решение:* Выбирай наиболее подходящую категорию по умолчанию (для пропсов это \"Генерация зданий, пропсов - 40m\").\n– *Ошибка:* \"Ручные правки\" без указания объема.\n– *Решение:* Используй эстимейт создания этого ассета (worst-case scenario)."
        },
        "promptType": "define",
        "text": "=Дай эстимейт для этого ТЗ: {{ $json.Tasks }}"
      },
      "position": [
        3056,
        2080
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "OE9cIjhzVtc73YQt",
          "name": "Gemini WORK"
        }
      },
      "id": "42681599-8cc8-4503-82e9-72e70fbb6976",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "position": [
        3024,
        2512
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "48d0ce3c-b6f3-4635-b622-6b102a8aa100",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"asset_type\": \"Тип ассета (например: 3D Icon, Building, Spine)\",\n  \"production_method\": \"Generation AI / Manual\",\n  \"estimate_human\": \"Строка времени (например: 30m, 1d)\",\n  \"estimate_minutes\": \"Число минут (integer) для калькуляции (1d = 480, 1h = 60)\",\n  \"reasoning\": \"Краткое обоснование выбора на основе ключевых слов ТЗ\"\n}"
      },
      "position": [
        3136,
        2288
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "executeOnce": true,
      "id": "f67cdeaf-6204-456a-8a55-13a9f43dead9",
      "maxTries": 5,
      "name": "Send \"...\"",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger1').item.json.message?.chat?.id || $('Telegram Trigger1').item.json.callback_query?.message?.chat?.id }}",
        "text": "=ТЗ эстимейт:\n{{ $json.output.asset_type }}\n{{ $json.output.production_method }}\n{{ $json.output.estimate_human }}"
      },
      "position": [
        3424,
        2080
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "1c0eb4cc-6846-4fd8-a423-e34dfb4adf98",
      "name": "Get a file",
      "parameters": {
        "additionalFields": {},
        "fileId": "={{ $('Telegram Trigger1').item.json.message.document.file_id }}",
        "resource": "file"
      },
      "position": [
        -2128,
        4800
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "e4333c9c-ef2d-4359-b0bb-40516251a5ff"
    },
    {
      "id": "b8db2819-ff19-4fd4-beb8-f57b429184d9",
      "name": "Extract from File",
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "position": [
        -1920,
        4800
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "523ff76f-9872-4991-bab7-9a60b8d9c7c1",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6c9fbcb-03de-491b-bbde-44eca4cfb821",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1712,
        4800
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "91a121ab-2737-401f-88a5-022e732ec866",
      "name": "Telegram Trigger1",
      "parameters": {
        "additionalFields": {},
        "updates": [
          "*"
        ]
      },
      "position": [
        -3408,
        4432
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "6590d694-af3f-41c6-b5d3-c260312c8b4d"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "6e1b7581-687e-4707-9f61-59ce96465617",
      "name": "Get a file1",
      "parameters": {
        "additionalFields": {},
        "fileId": "={{ $('Telegram Trigger1').item.json.message.document.file_id }}",
        "resource": "file"
      },
      "position": [
        -2368,
        4048
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "e4333c9c-ef2d-4359-b0bb-40516251a5ff"
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "OE9cIjhzVtc73YQt",
          "name": "Gemini WORK"
        }
      },
      "id": "18ffd254-ef7b-4a18-b61d-853efb88a563",
      "name": "Google Gemini Chat Model1",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -976,
        4368
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "executeOnce": true,
      "id": "58758cd0-d833-454a-aeae-124a5c997efc",
      "name": "Merge",
      "parameters": {},
      "position": [
        2160,
        4416
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "989f1831-1206-4611-b284-043ab5302189",
      "name": "Array Tasks",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Tasks"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        4336
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "7068cfd4-e8b3-40ff-9460-8084b76abcea",
      "name": "Array All",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst tasks = items.map((item) => item?.json?.Tasks).flat().filter(task => task);\nconst chatIds = items.map((item) => item?.json[\"Chat ID\"]).flat().filter(id => id);\nconst fileNames = items.map((item) => item?.json?.File_name).flat().filter(name => name);\nconst usernames = items.map((item) => item?.json?.Username).flat().filter(user => user);\nconst tasksString = tasks.join('\\n---\\n');\n\nreturn [{\n  Tasks: tasksString,\n  \"Chat ID\": chatIds,\n  \"File_name\": fileNames,\n  \"Username\": usernames\n}];"
      },
      "position": [
        2336,
        4416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d633b70f-502e-495b-89ce-a4cde5a2ba7b",
      "name": "Edit Fields13",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11db2e72-2079-48ee-8219-c68ed7bac46c",
              "name": "doc_link",
              "type": "string",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view?usp=sharing"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3120,
        4240
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "id": "cd5a045b-d19a-4289-95e1-17a6ddfba4c9",
      "maxTries": 5,
      "name": "Technical Task",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('Array All').first().json[\"Chat ID\"][0] }}",
        "text": "=📃 Созданные ТЗ для UI:\n\n{{ $json.doc_link }}"
      },
      "position": [
        3344,
        4240
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hRAj2zpF2zrDOqzg",
          "name": "Google Drive account 3"
        }
      },
      "id": "1715138e-2521-4a3f-ac57-6259a53d7399",
      "name": "Create Technical Task",
      "parameters": {
        "content": "={{ $('Array All').item.json.Tasks }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "cachedResultName": "no",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd",
          "mode": "list",
          "value": "1Huns1AuLdgZ3tvppfISJaSLGwBe1S4Kd"
        },
        "name": "=ТЗ лист UI {{ $now.format('dd.MM.yyyy') }}",
        "operation": "createFromText",
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "position": [
        2912,
        4240
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "executeOnce": true,
      "id": "8fb49130-f8b0-40a0-9cfb-70b581e669d5",
      "name": "Array Chat ID",
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Chat ID"
            },
            {
              "fieldToAggregate": "File_name"
            },
            {
              "fieldToAggregate": "Username"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        4496
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "57a05585-3a6b-4981-92fb-da82d4811361",
      "name": "Code in JavaScript",
      "parameters": {
        "jsCode": "// Параметры\nconst CHUNK_SIZE = 20;\n\n// Функция разделения массива на части\nfunction splitArray(array, chunkSize) {\n  const chunks = [];\n  for (let i = 0; i < array.length; i += chunkSize) {\n    chunks.push(array.slice(i, i + chunkSize));\n  }\n  return chunks;\n}\n\n// Получаем JSON строку\nlet jsonString = $input.first().json.candidates[0].content.parts[0].text;\n\n// Парсим JSON\nlet dataArray;\ntry {\n  // ИСПРАВЛЕНИЕ: Убираем markdown форматирование (```json и ```)\n  if (typeof jsonString === 'string') {\n    // Удаляем ```json в начале и ``` в конце\n    jsonString = jsonString.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  }\n  \n  dataArray = JSON.parse(jsonString);\n  \n  // Если это объект с полем \"assets\", извлекаем массив\n  if (dataArray.assets && Array.isArray(dataArray.assets)) {\n    dataArray = dataArray.assets;\n  }\n} catch (error) {\n  throw new Error('Ошибка парсинга JSON: ' + error.message);\n}\n\n// Проверяем, что это массив\nif (!Array.isArray(dataArray)) {\n  throw new Error('Данные должны быть массивом');\n}\n\n// Разделяем на части\nconst chunks = splitArray(dataArray, CHUNK_SIZE);\n\n// Формируем выходные данные для n8n\nconst output = chunks.map((chunk, index) => ({\n  json: {\n    data: chunk\n  }\n}));\n\nreturn output;"
      },
      "position": [
        -1504,
        4048
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "70968d73-f6b1-4877-99f6-af19298d0015",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        -1264,
        4048
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "873e69a8-3b0a-414d-94ad-c4f2513b68ea",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "b2722b44-3f84-44af-a4dd-9b364aceb45f",
              "leftValue": "={{ $json.output.status }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "ПРИНЯТО"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        0,
        4048
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "78aa6f74-c3be-47d1-a460-35f0d65cbc0c",
      "name": "Проверка ТЗ",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Промпт: Инспектор качества ТЗ арт-отдела\n\n## [ROLE]\n\nТы — автоматизированный инспектор качества Технических Заданий (ТЗ) арт-отдела мобильной игры.\n\nТвоя задача — проверить одно ТЗ по структуре и полноте: есть ли все обязательные блоки, корректно ли они заполнены, можно ли по нему однозначно выполнить задачу без додумывания.\n\nТы не редактор, не копирайтер и не арт-директор. Ты — калькулятор качества ТЗ.\n\n---\n\n## [PASS]\n\nПорог: **ПРИНЯТО**, если X ≥ 80 из 100; иначе **ОТКЛОНЕНО**.\n\n---\n\n## [ОБОЗНАЧЕНИЯ]\n\n- **Oᵢ** — оценка критерия Kᵢ (0 или 100, без промежуточных значений)\n- **Vᵢ** — вес критерия Kᵢ в процентах\n- **FO** — итоговый балл по формуле\n- **X** = FO\n\n---\n\n## [ИНСТРУМЕНТ: PINECONE VECTOR STORE]\n\nПеред началом оценки и в процессе проверки каждого критерия ты обязан обращаться к подключённому инструменту **Pinecone Vector Store** для получения актуальных требований проекта.\n\n### Когда обращаться к Pinecone:\n\n1. **Перед оценкой** — запросить общие стандарты ТЗ для данного типа задачи (иконки, персонажи, окружение и т.п.)\n2. **При проверке K4 (Требования к стилю)** — запросить актуальный стайлгайд проекта\n3. **При проверке K5 (Формат и технические параметры)** — запросить стандарты форматов, размеров, нейминга файлов\n4. **При проверке K7 (Ресурсы и ссылки)** — запросить список обязательных ресурсов для данного типа задач\n\n### Как формировать запросы:\n\n- По типу задачи из блока [Название задачи]: «требования к ТЗ для {тип задачи}»\n- По названию блока ТЗ: «стандарты {название блока} для арт-задач»\n- По конкретным параметрам: «допустимые форматы файлов», «стандартные размеры иконок»\n\n### Если данных в Pinecone нет:\n\n- Использовать общие критерии из этого промпта\n- В поле \"analysis\" указать: «Специфичные требования проекта не найдены в базе знаний, оценка по общим критериям»\n\n---\n\n## [DATA FORMAT]\n\n**Вход:** одно Техническое Задание в текстовом виде, оформленное как структура с блоками:\n\n- [Название задачи]\n- [Цель]\n- [Описание задачи / Что нужно сделать]\n- [Требования к стилю]\n- [Формат и технические параметры]\n- [Критерии приёмки]\n- [Ресурсы и ссылки]\n\nЕсли ТЗ передано не целиком, а фрагментами — анализируй только то, что есть во входном тексте, не додумывая пропуски.\n\n---\n\n## [FAIL-FAST: ФОРМАТ ТЗ]\n\nЕсли во входных данных нет ни одного из заголовков:\n[Название задачи], [Цель], [Описание задачи / Что нужно сделать], [Требования к стилю], [Формат и технические параметры], [Критерии приёмки], [Ресурсы и ссылки]\n\nТо вывести:\n\n```json\n{\n  \"analysis\": \"Формат ТЗ не распознан — отсутствуют ключевые блоки. Анализ не проводится. ИТОГОВАЯ ОЦЕНКА: 0\",\n  \"status\": \"ОТКЛОНЕНО\",\n  \"type\": \"\"\n}\n```\n\nИ прекратить работу.\n\n---\n\n## [CRITERIA & WEIGHTS — итог 100%]\n\n### K1: Блок [Название задачи] — 10%\n\n**Проверка:** в ТЗ есть явный блок [Название задачи] (или эквивалент по смыслу), он не пустой и содержит понятное имя задачи + объект работы (тип сущности и тип действия: генерация, ручные правки и т.п.).\n\n### K2: Блок [Цель] — 10%\n\n**Проверка:** в ТЗ есть отдельный блок [Цель], он не пустой и формулирует конечный результат (что должно получиться в конце), а не просто повторяет название или общие слова вроде «сделать хорошо».\n\n### K3: Блок [Описание задачи / Что нужно сделать] — 15%\n\n**Проверка:** есть блок [Описание задачи / Что нужно сделать] с конкретными действиями. Описаны шаги или перечень задач, по которым исполнитель понимает, что именно надо сделать. Есть минимум одно осмысленное действие, лучше несколько.\n\n### K4: Блок [Требования к стилю] — 10%\n\n**Проверка:** есть отдельный блок [Требования к стилю], в котором перечислены как минимум три конкретных стилевых требования (жанр, стилизация, тип визуала, особенности формы, изометрия/центрирование и т.п.), а не только абстрактные фразы. Сверить с данными из Pinecone.\n\n### K5: Блок [Формат и технические параметры] — 10%\n\n**Проверка:** есть блок [Формат и технические параметры] с минимум тремя техническими требованиями: размер в пикселях, формат файла, цветовое пространство, рабочая зона, имя файла, требования к альфе/весу файла и т.п. Сверить со стандартами из Pinecone.\n\n### K6: Блок [Критерии приёмки] — 15%\n\n**Проверка:** есть блок [Критерии приёмки] с минимум тремя чётко измеримыми условиями, по которым можно проверить результат (порог оценки бота, соблюдение размера и формата, читаемость на конкретном размере, одобрение арт-лида). Формулировки проверяемые, а не вкусовые.\n\n### K7: Блок [Ресурсы и ссылки] — 10%\n\n**Проверка:** есть блок [Ресурсы и ссылки], содержащий как минимум три рабочих ресурса: ссылки на бота оценки, Figma-доски, документацию по выгрузке, Confluence и т.п. Сверить с обязательным списком из Pinecone.\n\n### K8: Структура и порядок блоков — 5%\n\n**Проверка:** все основные блоки ТЗ присутствуют и идут в логичном порядке без хаотичного перемешивания. Дополнительные блоки допустимы, если они не ломают читабельность структуры.\n\n### K9: Измеримость требований — 10%\n\n**Проверка:** большинство требований сформулированы измеримо: числа, проценты, размеры, углы, толщины линий, конкретные форматы. Минимум три ключевых требования заданы объективно проверяемо. Количество размытых фраз («красиво», «немного», «примерно») не мешает однозначной проверке.\n\n### K10: Отсутствие противоречий и двусмысленностей — 5%\n\n**Проверка:** в ТЗ нет прямых конфликтов между требованиями (например, «строго чёрно-белая иконка» и «использовать цветные акценты»; разные размеры в разных местах). Нет взаимоисключающих условий.\n\n### Проверка суммы весов:\n\n10% + 10% + 15% + 10% + 10% + 15% + 10% + 5% + 10% + 5% = 100% ✓\n\n---\n\n## [ФОРМУЛА]\n\n```\nFO = (O1×V1 + O2×V2 + O3×V3 + O4×V4 + O5×V5 + O6×V6 + O7×V7 + O8×V8 + O9×V9 + O10×V10) / 100\nX = FO\n```\n\nКаждый Oᵢ принимает только значения **0** или **100** в зависимости от выполнения критерия Kᵢ.\n\n---\n\n## [OUTPUT]\n\nОтвет выводится **строго в формате JSON** с двумя полями:\n\n```json\n{\n  \"analysis\": \"текст анализа\",\n  \"status\": \"ПРИНЯТО или ОТКЛОНЕНО\",\n  \"type\": \"Тип объекта\"\n}\n```\n\n### Содержимое поля \"analysis\":\n\nДля каждого критерия K1–K10 указать:\n1. Выполнен критерий или нет — с опорой на текст ТЗ\n2. Если использовались данные из Pinecone — указать это\n3. Численные значения: Oᵢ (0 или 100), Vᵢ (%), вклад = (Oᵢ × Vᵢ) / 100\n\nПосле всех критериев:\n- Проверка суммы весов\n- Подстановка в формулу\n- Итоговая оценка X/100\n\n### Содержимое поля \"status\":\n\nТолько одно слово:\n- **ПРИНЯТО** — если X ≥ 80\n- **ОТКЛОНЕНО** — если X < 80\n\n### Содержимое поля \"type\":\nОпредели тип объекта из ТЗ!\nТипы объектов:\n1. Иконка\n2. FlatIcon\n3. Персонаж\n4. Транспорт\n5. UI\n6. Здание\n7. Пропс\n8. Враг\n\n### Требования к формату:\n\n- Только валидный JSON\n- Без markdown-обёртки (не использовать ```json```)\n- Никакого текста до или после JSON-объекта\n\n---\n\n## [ПРИМЕРЫ]\n\n### Пример 1: ТЗ прошло проверку\n\n**Вход:** полное ТЗ со всеми блоками, измеримыми требованиями, без противоречий.\n\n**Выход:**\n\n```json\n{\n  \"analysis\": \"K1 [Название задачи]: блок присутствует, содержит 'Генерация иконок зданий уровня 3'. O1=100, V1=10%, вклад=10. K2 [Цель]: блок присутствует, формулирует результат 'Получить набор из 12 иконок для интерфейса строительства'. O2=100, V2=10%, вклад=10. K3 [Описание]: содержит 5 конкретных шагов. O3=100, V3=15%, вклад=15. K4 [Требования к стилю]: указаны жанр sci-fi, изометрия 45°, минималистичный стиль — 3 требования. Сверено с Pinecone. O4=100, V4=10%, вклад=10. K5 [Формат]: размер 256×256, PNG, sRGB, альфа-канал — 4 параметра. Соответствует стандартам из Pinecone. O5=100, V5=10%, вклад=10. K6 [Критерии приёмки]: оценка бота ≥85%, соответствие размеру, одобрение лида — 3 измеримых условия. O6=100, V6=15%, вклад=15. K7 [Ресурсы]: ссылки на бота, Figma, Confluence — 3 ресурса. O7=100, V7=10%, вклад=10. K8 [Структура]: все блоки в логичном порядке. O8=100, V8=5%, вклад=5. K9 [Измеримость]: 6 числовых требований. O9=100, V9=10%, вклад=10. K10 [Противоречия]: конфликтов не обнаружено. O10=100, V10=5%, вклад=5. Сумма весов: 100%. Формула: FO=(100×10+100×10+100×15+100×10+100×10+100×15+100×10+100×5+100×10+100×5)/100=100. ИТОГОВАЯ ОЦЕНКА: 100/100\",\n  \"status\": \"ПРИНЯТО\",\n  \"type\": \"Иконка\"\n}\n```\n\n### Пример 2: ТЗ не прошло проверку\n\n**Вход:** ТЗ без блока [Критерии приёмки], с размытыми требованиями к стилю.\n\n**Выход:**\n\n```json\n{\n  \"analysis\": \"K1 [Название задачи]: блок присутствует, содержит 'Иконки ресурсов'. O1=100, V1=10%, вклад=10. K2 [Цель]: присутствует, но формулировка общая 'сделать иконки'. O2=100, V2=10%, вклад=10. K3 [Описание]: содержит 2 действия. O3=100, V3=15%, вклад=15. K4 [Требования к стилю]: указано только 'в стиле игры' — менее 3 конкретных требований. O4=0, V4=10%, вклад=0. K5 [Формат]: указан только размер 128×128 — менее 3 параметров. O5=0, V5=10%, вклад=0. K6 [Критерии приёмки]: блок отсутствует. O6=0, V6=15%, вклад=0. K7 [Ресурсы]: 2 ссылки — менее 3. O7=0, V7=10%, вклад=0. K8 [Структура]: порядок соблюдён. O8=100, V8=5%, вклад=5. K9 [Измеримость]: только 1 числовое требование. O9=0, V9=10%, вклад=0. K10 [Противоречия]: не обнаружено. O10=100, V10=5%, вклад=5. Сумма весов: 100%. Формула: FO=(100×10+100×10+100×15+0×10+0×10+0×15+0×10+100×5+0×10+100×5)/100=45. ИТОГОВАЯ ОЦЕНКА: 45/100\",\n  \"status\": \"ОТКЛОНЕНО\",\n  \"type\": \"Иконка\"\n}\n```\n\n---\n\n## [ЗАПРЕТЫ]\n\n- Не использовать списки с маркерами в выводе\n- Не использовать Markdown и таблицы в выводе\n- Не переписывать ТЗ и не предлагать альтернативные версии текста\n- Не оценивать художественную часть или качество арта — только структуру и формулировки ТЗ\n- Не придумывать факты, которых нет во входном ТЗ\n- Не игнорировать данные из Pinecone, если они доступны\n- Не писать type в выводе\n- Использровать type не из заданного списка"
        },
        "promptType": "define",
        "text": "=Проверь ТЗ и сразу проверь единый стандарт нейминга: {{ $json.output }}"
      },
      "position": [
        -368,
        4048
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "QfVdS0YfELgxkKcv",
          "name": "PineconeApi ART"
        }
      },
      "id": "cf0f23af-5682-4d8f-8c4c-3b45a47849ee",
      "name": "Pinecone Vector Store2",
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {
          "pineconeNamespace": "Bot"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "art",
          "mode": "list",
          "value": "art"
        },
        "toolDescription": "Проверка на единый стандарт нейминга",
        "topK": 10
      },
      "position": [
        -352,
        4304
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "kXYoO2wLcFLalff6",
          "name": "OpenAi account 3"
        }
      },
      "id": "baff67de-f6f4-4573-ac45-a69d78408b56",
      "name": "Embeddings OpenAI2",
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "batchSize": 2048,
          "dimensions": 1024
        }
      },
      "position": [
        -352,
        4416
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "OE9cIjhzVtc73YQt",
          "name": "Gemini WORK"
        }
      },
      "id": "27cea25f-097b-4924-9e59-e1333edd0509",
      "name": "Google Gemini Chat Model3",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -368,
        4208
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "executeOnce": true,
      "id": "4557d662-ec4a-490c-9cb8-48801c1760dd",
      "maxTries": 5,
      "name": "Send \"...\"1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger1').first().json.message?.chat?.id || $('Telegram Trigger1').first().json.callback_query?.message?.chat?.id }}",
        "text": "=ТЗ проверенно\n{{ $('AI Agent4').item.json.output.analysis }}\n"
      },
      "position": [
        208,
        3552
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART"
        }
      },
      "executeOnce": true,
      "id": "3b21edca-8be5-4974-bc78-de60623017fb",
      "maxTries": 5,
      "name": "Send \"...\"2",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "chatId": "={{ $('Telegram Trigger1').first().json.message?.chat?.id || $('Telegram Trigger1').first().json.callback_query?.message?.chat?.id }}",
        "text": "ТЗ не прошло проверку, идёт перегенерация"
      },
      "position": [
        288,
        4192
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "bca5f0a7-4287-4860-8fdf-06f98bb98c32"
    },
    {
      "id": "d8c4f149-d19f-4753-9b61-9555f08725a4",
      "name": "Structured Output Parser1",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{\n  \"analysis\": \"текст анализа по всем критериям K1–K10 с формулой и итоговой оценкой\",\n  \"status\": \"ПРИНЯТО/ОТКЛОНЕНО\",\n  \"type\": \"Иконка\"\n}"
      },
      "position": [
        -272,
        4416
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openRouterApi": {
          "id": "R5PO8l5WPYDlukvT",
          "name": "ART"
        }
      },
      "id": "ca7e4efd-3e69-43e7-97e6-afae43d8ce42",
      "name": "OpenRouter Chat Model1",
      "parameters": {
        "model": "moonshotai/kimi-k2",
        "options": {}
      },
      "position": [
        -272,
        4544
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1
    },
    {
      "id": "b97ff6ee-da94-44a2-9532-c060a69cf5ab",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12e4394d-c4a6-4e0b-b3da-a09a78337c66",
              "name": "output",
              "type": "string",
              "value": "={{ $('AI Agent4').last().json.output }}"
            },
            {
              "id": "ebd8cab4-82c3-4d29-8b52-64c40bee07b4",
              "name": "data",
              "type": "array",
              "value": "={{ $('Loop Over Items').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -576,
        4176
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "executeOnce": true,
      "id": "76c7d1bb-abad-4bea-8fb5-4e7fadfbe1c1",
      "name": "Call 'Estimate BOT'",
      "parameters": {
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Estimate BOT",
          "cachedResultUrl": "/workflow/noKgFlWnNkS1VRzj",
          "mode": "list",
          "value": "noKgFlWnNkS1VRzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All3').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All3').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All3').item.json.Tasks }}",
            "Username": "={{ $('Array All3').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2560,
        4784
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "executeOnce": true,
      "id": "832f813c-f531-4d20-a358-652fb9b6090c",
      "name": "Call 'Estimate BOT'1",
      "parameters": {
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Estimate BOT",
          "cachedResultUrl": "/workflow/noKgFlWnNkS1VRzj",
          "mode": "list",
          "value": "noKgFlWnNkS1VRzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All10').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All10').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All10').item.json.Tasks }}",
            "Username": "={{ $('Array All10').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2560,
        5168
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "executeOnce": true,
      "id": "09e741b8-cb6f-4453-ac12-178e70ff22a7",
      "name": "Call 'Estimate BOT'2",
      "parameters": {
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Estimate BOT",
          "cachedResultUrl": "/workflow/noKgFlWnNkS1VRzj",
          "mode": "list",
          "value": "noKgFlWnNkS1VRzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All').item.json.Tasks }}",
            "Username": "={{ $('Array All').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2560,
        4416
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "executeOnce": true,
      "id": "9b105d54-a64c-477d-8ae6-63c292ea7cea",
      "name": "Call 'Estimate BOT'3",
      "parameters": {
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Estimate BOT",
          "cachedResultUrl": "/workflow/noKgFlWnNkS1VRzj",
          "mode": "list",
          "value": "noKgFlWnNkS1VRzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All9').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All9').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All9').item.json.Tasks }}",
            "Username": "={{ $('Array All9').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2544,
        4048
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "executeOnce": true,
      "id": "b01fb43f-ac06-4f93-811a-21112cd925fe",
      "name": "Call 'Estimate BOT'4",
      "parameters": {
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Estimate BOT",
          "cachedResultUrl": "/workflow/noKgFlWnNkS1VRzj",
          "mode": "list",
          "value": "noKgFlWnNkS1VRzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All8').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All8').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All8').item.json.Tasks }}",
            "Username": "={{ $('Array All8').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2528,
        3680
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "executeOnce": true,
      "id": "387511c2-bf7f-483f-9c84-6d8cee967824",
      "name": "Call 'Estimate BOT'5",
      "parameters": {
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Estimate BOT",
          "cachedResultUrl": "/workflow/noKgFlWnNkS1VRzj",
          "mode": "list",
          "value": "noKgFlWnNkS1VRzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All11').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All11').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All11').item.json.Tasks }}",
            "Username": "={{ $('Array All11').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2544,
        3312
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "executeOnce": true,
      "id": "d249fb02-30d1-43b1-9f85-ff8d11a79870",
      "name": "Call 'Estimate BOT'6",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Estimate BOT",
          "cachedResultUrl": "/workflow/noKgFlWnNkS1VRzj",
          "mode": "list",
          "value": "noKgFlWnNkS1VRzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $json[\"Chat ID\"][0] }}",
            "File_name": "={{ $json.File_name[0] }}",
            "Tasks": "={{ $json.Tasks }}",
            "Username": "={{ $json.Username[0] }}"
          }
        }
      },
      "position": [
        2528,
        2944
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "45577f79-4e0f-41e3-be8f-effcafe28252",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        2016,
        2512
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "d04d0182-10aa-4501-a29b-2c80fa41f58c",
      "name": "Icons",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — FlatIcon",
          "cachedResultUrl": "/workflow/i3mJCMfqAZt8wM3p",
          "mode": "list",
          "value": "i3mJCMfqAZt8wM3p"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All11').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All11').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All11').item.json.Tasks }}",
            "Username": "={{ $('Array All11').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2720,
        3312
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "c6871975-19ab-4a0a-93ce-8f7cc5a538f5",
      "name": "Icons1",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Character",
          "cachedResultUrl": "/workflow/Xn95WjKj70Q2xzwG",
          "mode": "list",
          "value": "Xn95WjKj70Q2xzwG"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All8').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All8').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All8').item.json.Tasks }}",
            "Username": "={{ $('Array All8').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2784,
        3728
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "bf18813f-fe57-4704-b791-c52c42d89a24",
      "name": "Icons3",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Vehicle",
          "cachedResultUrl": "/workflow/12igYF16uCT6F7o9",
          "mode": "list",
          "value": "12igYF16uCT6F7o9"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All9').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All9').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All9').item.json.Tasks }}",
            "Username": "={{ $('Array All9').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2784,
        4048
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "d6383602-0393-4749-b6b0-c51387b0274c",
      "name": "Icons4",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Vehicle",
          "cachedResultUrl": "/workflow/12igYF16uCT6F7o9",
          "mode": "list",
          "value": "12igYF16uCT6F7o9"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All').item.json.Tasks }}",
            "Username": "={{ $('Array All').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2800,
        4432
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "48f07fec-3791-45e3-9ccb-560f9a50ca45",
      "name": "Icons5",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Buildings/Props",
          "cachedResultUrl": "/workflow/WxrEZC7JnXvUOUeZ",
          "mode": "list",
          "value": "WxrEZC7JnXvUOUeZ"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All3').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All3').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All3').item.json.Tasks }}",
            "Username": "={{ $('Array All3').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2816,
        4800
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "cd274d08-c6c3-4ca9-b27e-d30e6829ffef",
      "name": "Icons6",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Enemies",
          "cachedResultUrl": "/workflow/DNendEMsSjmq1UIm",
          "mode": "list",
          "value": "DNendEMsSjmq1UIm"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Chat ID",
              "id": "Chat ID",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "File_name",
              "id": "File_name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Username",
              "id": "Username",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Chat ID": "={{ $('Array All10').item.json[\"Chat ID\"][0] }}",
            "File_name": "={{ $('Array All10').item.json.File_name[0] }}",
            "Tasks": "={{ $('Array All10').item.json.Tasks }}",
            "Username": "={{ $('Array All10').item.json.Username[0] }}"
          }
        }
      },
      "position": [
        2816,
        5248
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "3a40354e-545c-4710-9a5e-c8620f02039b",
      "name": "Call 'My workflow 21'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultUrl": "/workflow/Rcotd3IlEJw7xgce",
          "mode": "id",
          "value": "Rcotd3IlEJw7xgce"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Task",
              "id": "Task",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "estimane",
              "id": "estimane",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Task": "={{ $('Array All2').first().json.Tasks }}",
            "estimane": "={{ $json.estimate }}"
          }
        }
      },
      "position": [
        2832,
        2672
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "300cf70d-796b-4827-8814-395d124eaa73",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cf970dc-39d2-4555-8e3e-7d3901a87ea6",
              "name": "Task",
              "type": "string",
              "value": "={{ $('Array All2').first().json.Tasks }}"
            },
            {
              "id": "79cb8d1a-6ca9-44a4-89ba-8675daa12c50",
              "name": "estimate",
              "type": "string",
              "value": "={{ $json.estimate }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2736,
        2944
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "abe7c170-6835-45d3-954c-8b09687d4673",
      "name": "AI Agent5",
      "parameters": {
        "options": {
          "systemMessage": "=# Asset TZ Generation Agent - System Prompt\n\n## РОЛЬ И ЦЕЛЬ\n\nТы — эксперт тимлид 3D-художников, который создаёт детальные технические задания (ТЗ) для игровых ассетов.\n\nТвоя задача: на основе данных об ассете из JSON и контекста из RAG базы создать полное, структурированное ТЗ, которое пройдёт автоматическую проверку качества и позволит художнику выполнить задачу без додумывания.\n\n---\n\n## ВХОДНЫЕ ДАННЫЕ\n\nТы получишь JSON объект с данными об одном ассете:\n\n{\n  \"id\": 1,\n  \"name\": \"Название ассета\",\n  \"filename\": \"AssetFileName\",\n  \"type\": \"Building | Character | Enemy | Vehicle | Props | Icon | FlatIcon | UI\",\n  \"subtype\": \"Подтип если есть\",\n  \"reference_image\": {\n    \"visual_description\": \"Детальное описание референса\",\n    \"key_elements\": [\"элемент1\", \"элемент2\"],\n    \"colors\": [\"цвет1\", \"цвет2\"],\n    \"materials\": [\"материал1\", \"материал2\"],\n    \"style_notes\": \"Стилистические особенности\",\n    \"composition\": \"Описание композиции\"\n  },\n  \"context\": \"Дополнительный контекст\",\n  \"goal\": \"Функциональное назначение\"\n}\n\n---\n\n## ПРОЦЕСС РАБОТЫ\n\n### ШАГ 1: ЗАПРОС КОНТЕКСТА ИЗ RAG\n\nПеред созданием ТЗ ты ОБЯЗАН запросить из подключённого инструмента Pinecone Vector Store следующую информацию:\n\nОбязательные запросы:\n1. \"стандарт нейминга для ассетов и игровых сущностей\" — принципы определения типа сущностей\n2. \"нарратив игры\" — общий контекст мира\n3. \"стиль-гайд проекта\" — визуальная концепция\n4. \"правила уникализации для {type}\" — принципы переосмысления\n5. \"технические стандарты {type}\" — технические требования (размеры, форматы, полигонаж)\n6. \"шаблон описания {type}\" — структура описания\n7. \"цветовая палитра {type}\" — цвета с HEX-кодами\n8. \"критерии приёмки {type}\" — условия для проверки результата\n9. \"ресурсы и ссылки проекта\" — Figma, Confluence, боты оценки\n\nДополнительные запросы (по необходимости):\n10. \"примеры {type}\" — референсы других ассетов этого типа\n11. \"связанные ассеты {name}\" — если есть семейство объектов\n12. \"материалы для {type}\" — специфика материалов\n13. \"роль {subtype}\" — если это персонаж или враг с ролью\n\nFallback при отсутствии данных в Pinecone:\n- Для технических параметров — использовать дефолтные значения из этого промпта\n- Для ссылок — указать \"[уточнить у арт-лида]\"\n- Всегда генерировать полную структуру ТЗ\n\n### ШАГ 2: АНАЛИЗ АРХЕТИПА И ФУНКЦИИ\n\nНа основе полученных данных определи:\n\n1. АРХЕТИП — к какой категории относится объект, абстрагируясь от внешнего вида\n   - Пример: На референсе плоскогубцы → архетип \"инструмент\"\n   - Пример: На референсе автобус → архетип \"транспорт\"\n\n2. ЧИСТАЯ ФУНКЦИЯ — для чего объект нужен в игре\n   - Пример: \"маркер квестового задания\"\n   - Пример: \"непроходимое препятствие\"\n   - Пример: \"источник ресурсов\"\n\n3. ПРИНАДЛЕЖНОСТЬ К МИРУ\n   - Технологичная база игрока (порядок, прогресс, чистота)\n   - Постапокалиптический мир (хаос, разрушение, обломки)\n   - Или гибрид (трофейная техника, модифицированные обломки)\n\n### ШАГ 3: УНИКАЛИЗАЦИЯ (КРИТИЧЕСКИ ВАЖНО)\n\nДЛЯ ВСЕХ ТИПОВ КРОМЕ Icon и FlatIcon:\n\nТы ОБЯЗАН полностью переосмыслить объект с референса в стилистику проекта.\n\nЗАПРЕЩЕНО:\n- Описывать референс как есть\n- Копировать внешний вид с референса\n- Упоминать бытовые предметы, не вписывающиеся в sci-fi\n- Писать \"как на референсе\", \"похожий на\", \"по образцу\"\n\nТРЕБУЕТСЯ:\n- Создать НОВУЮ визуальную концепцию с нуля\n- Мыслить как концепт-дизайнер\n- Переводить бытовые понятия в технологические\n- Использовать контекст из RAG (нарратив, стиль-гайд)\n\nКлючевые вопросы для уникализации:\n\n1. Принадлежность:\n   - База игрока: чистые формы, яркий неон, голограммы?\n   - Разрушенный мир: обломки, ржавчина, сбоящий неон?\n\n2. Материалы и Формы:\n   - Полированный металл и стекло или обломки старой техники?\n   - Формы гладкие и функциональные или хаотичные и поврежденные?\n\n3. Технологический элемент:\n   - Как используется неон? Ровные энергетические линии или мерцающие провода?\n\n4. Принцип Действия:\n   - Как функция реализуется через технологии?\n   - Барьер = голографическое поле или стена из дроидов?\n   - Маркер = светящийся технологичный артефакт?\n\nИСКЛЮЧЕНИЕ — ДЛЯ Icon и FlatIcon:\nДля иконок используй визуальную информацию с референса как базу, но адаптируй в стилистику проекта (цвета, материалы, glow-эффекты).\n\n### ШАГ 4: ФОРМИРОВАНИЕ ТЗ\n\nСформируй ТЗ строго по структуре из раздела \"СТРУКТУРА ВЫВОДА\", заполняя все обязательные блоки.\n\n---\n\n## СТРУКТУРА ВЫВОДА\n\nТЗ должно содержать ровно 7 блоков в следующем порядке:\n\n[Название задачи]\n[Цель]\n[Описание задачи / Что нужно сделать]\n[Требования к стилю]\n[Формат и технические параметры]\n[Критерии приёмки]\n[Ресурсы и ссылки]\n\n---\n\n### БЛОК 1: [Название задачи]\n\nФормат: [Тип действия] + [Тип объекта] + [filename]\n\nПримеры:\n- Генерация 3D-модели здания Building_RationFactory\n- Создание 3D-модели персонажа Character_Scout\n- Создание иконки Icon_Energy\n- Создание плоской иконки FlatIcon_Shield\n\n### БЛОК 2: [Цель]\n\nФормулировка конечного результата — что должно получиться после выполнения задачи.\n\nСтруктура: Получить [что именно] для [где используется / зачем нужно].\n\nПримеры:\n- Получить готовую 3D-модель ресурсного здания для производства пайков, интегрируемую в карту базы игрока\n- Получить игровую иконку энергии для отображения в интерфейсе ресурсов\n- Получить 3D-модель вражеского юнита для использования в боевых сценах\n\n### БЛОК 3: [Описание задачи / Что нужно сделать]\n\nСодержит две части:\n\nЧАСТЬ А — Концептуальное описание:\nДетальное описание визуальной концепции объекта. Структура зависит от типа объекта (см. раздел \"СПЕЦИФИКА ПО ТИПАМ\").\n\nЧАСТЬ Б — Шаги выполнения:\nПронумерованный список конкретных действий.\n\nПример шагов для 3D-модели:\n1. Создать 3D-модель согласно концептуальному описанию\n2. Применить материалы из указанной цветовой палитры\n3. Настроить освещение согласно требованиям стиля\n4. Выполнить рендер на белом фоне\n5. Экспортировать в указанном формате\n6. Проверить читаемость силуэта\n\nПример шагов для иконки:\n1. Создать иконку согласно концептуальному описанию\n2. Применить цвета из палитры проекта\n3. Добавить glow-эффекты согласно требованиям\n4. Проверить читаемость на размере 32x32 px\n5. Экспортировать в указанном формате\n\n### БЛОК 4: [Требования к стилю]\n\nМинимум 3 конкретных стилевых требования. Включает:\n\n1. Жанр и общая стилистика:\n   Объект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на чистом белом фоне.\n\n2. Принадлежность к миру:\n   [Технологическая база игрока / Постапокалиптический мир / Гибридное происхождение]\n\n3. Ключевые визуальные особенности:\n   [Изометрия 30° / Центрированная композиция / Читаемый силуэт / и т.д. — зависит от типа]\n\n4. Цветовая палитра (минимум 3 цвета с HEX-кодами):\n   [Название цвета] (#HEXCODE) — используется для [элемент]\n   [Название цвета] (#HEXCODE) — используется для [элемент]\n   [Название цвета] (#HEXCODE) — используется для [элемент]\n\n5. Материалы и поверхности:\n   [Описание материалов из RAG или специфики типа]\n\n6. Освещение:\n   [Требования к освещению и рендеру]\n\n### БЛОК 5: [Формат и технические параметры]\n\nМинимум 3 технических требования. Данные брать из RAG по запросу \"технические стандарты {type}\".\n\nДля 3D-моделей (Building, Character, Enemy, Vehicle, Props):\n- Формат файла: [FBX / OBJ / другой из RAG]\n- Полигонаж: [лимит из RAG или дефолт]\n- Текстуры: [размер, формат]\n- Цветовое пространство: sRGB\n- Нейминг файла: [filename из входных данных]\n- Рендер: белый фон, разрешение [из RAG]\n\nДля Icon:\n- Финальный размер: 512x512 px\n- Рабочая зона: 420x420 px (центрирована)\n- Формат файла: PNG с альфа-каналом\n- Цветовое пространство: sRGB\n- Толщина контуров (если есть): 14 px\n- Нейминг файла: [filename из входных данных]\n\nДля FlatIcon:\n- Финальный размер: 512x512 px\n- Рабочая зона: 420x420 px (центрирована)\n- Формат файла: PNG с альфа-каналом / SVG\n- Только два цвета: чёрный и белый\n- Толщина обводки: строго 14 px\n- Без градиентов, теней, полутонов\n- Нейминг файла: [filename из входных данных]\n\nДля UI:\n- Размеры элемента: [из RAG]\n- Формат файла: [PNG / SVG / из RAG]\n- Состояния: активное, неактивное, заблокированное\n- Нейминг файла: [filename из входных данных]\n\n### БЛОК 6: [Критерии приёмки]\n\nМинимум 3 измеримых условия для проверки результата. Данные брать из RAG по запросу \"критерии приёмки {type}\".\n\nУниверсальные критерии (адаптировать под тип):\n- Оценка бота качества >= [**порог всегда 95**]%\n- Соответствие техническим параметрам (размер, формат, нейминг)\n- Соответствие цветовой палитре (использованы указанные HEX-коды)\n- Читаемость силуэта на минимальном размере [для иконок: 32x32 px]\n- Отсутствие артефактов рендера и пересветов\n- Одобрение арт-лида\n\nДополнительные критерии по типам:\n\nДля Building/Props:\n- Корректная изометрическая проекция 30°\n- Наличие платформы-основания с подсветкой\n\nДля Character/Enemy:\n- Читаемый силуэт, передающий роль персонажа\n- Поза соответствует характеру\n\nДля Icon:\n- Читаемость на 32x32 px\n- Наличие glow-эффектов\n\nДля FlatIcon:\n- Строго два цвета (чёрный и белый)\n- Читаемость на 32x32 px\n\n### БЛОК 7: [Ресурсы и ссылки]\n\nМинимум 3 ссылки на рабочие материалы. Данные брать из RAG по запросу \"ресурсы и ссылки проекта\".\n\nОбязательные ресурсы:\n- Бот оценки качества: [ссылка из RAG или \"[уточнить у арт-лида]\"]\n- Figma-доска проекта: [ссылка из RAG или \"[уточнить у арт-лида]\"]\n- Стайлгайд проекта: [ссылка из RAG или \"[уточнить у арт-лида]\"]\n\nДополнительные ресурсы (если есть в RAG):\n- Confluence документация: [ссылка]\n- Примеры аналогичных ассетов: [ссылка]\n- Инструкция по выгрузке: [ссылка]\n\n---\n\n## СПЕЦИФИКА ПО ТИПАМ ОБЪЕКТОВ\n\n### ТИП: Character (Персонаж)\n\nЗапросы из RAG:\n- Роль персонажа (танк, разведчик, инженер, хакер)\n- Палитра для роли\n- Примеры персонажей этой роли\n\nСтруктура концептуального описания (для блока \"Описание задачи\"):\n\nРоль и функция:\n[Определение роли: танк/разведчик/инженер/хакер]\n\nПропорции и анатомия:\n[Массивное для танка / Атлетическое для разведчика / Среднее для инженера-хакера]\n[Описание телосложения соответствующего роли]\n[Силуэт четко передает роль персонажа]\n\nЛицо и выражение:\n[Читаемая мимика соответствующая роли]\n[Кибернетические импланты, неоновая подводка глаз]\n[Маски/визоры с glowing-эффектами если нужно]\n\nДизайн костюма и экипировки:\n[Асимметричные элементы для динамичности]\n[Модульная броня строго соответствующая роли]\n[Многослойность: базовый костюм + накладная броня + аксессуары]\n\nТехнологические детали:\n[Светящиеся схемы и панели на броне]\n[Голографические элементы и проекторы]\n[Энергетические ядра]\n[Кибернетические усиления]\n\nАксессуары и снаряжение:\n[Снаряжение соответствующее функции персонажа]\n\nПоза и презентация:\n[Поза соответствующая роли и характеру]\nПерсонаж стоит в полный рост.\n\n---\n\n### ТИП: Enemy (Враг)\n\nЗапросы из RAG:\n- Стандарты для врагов\n- Агрессивная палитра\n\nСтруктура концептуального описания:\n\nПропорции и анатомия:\nМассивное телосложение с широкими плечами, подчеркивающее грубую силу и доминирование.\n\nСилуэт и поза:\nУверенная, широкая, доминирующая стойка. Силуэт легко читаемый для мгновенной идентификации угрозы.\n\nЛицо и голова:\nСуровое, непреклонное выражение. Лицо частично или полностью скрыто высокотехнологичной маской, шлемом или респиратором с неоновыми элементами.\n\nДизайн брони:\nТяжелая сегментированная броня из темного металла с угловатыми панелями и острыми контурами. Видимые усиленные пластины экзоскелета и механические суставы.\n\nТехнологические детали:\nИнтегрированные в броню светящиеся энергетические контуры. Видимые кабели, порты и механические соединения.\n\nОружие и снаряжение:\n[Крупное индустриальное оружие]\n[Светящиеся элементы на оружии]\n\n---\n\n### ТИП: Vehicle (Транспорт)\n\nЗапросы из RAG:\n- Стандарты для транспорта\n- Технологические элементы транспорта\n\nСтруктура концептуального описания:\n\nФорма и композиция:\n3D стилизация, sci-fi геометрия с чистыми формами. [Аэродинамичный/массивный] силуэт с гладкими панелями и мягкими краями.\n\nМатериалы и поверхности:\nКорпус из матовых композитных материалов или обработанного металла с тонким металлическим блеском. Бесшовные панели без текстур.\n\nНеоновые акценты:\nЯркие светящиеся линии и полосы в насыщенных цветах. Подсветка двигателей, контуров, узлов, датчиков.\n\nТехнологические детали:\nАнтигравитационные платформы или турбины вместо колес. Голографические дисплеи в кабине. Модульные крепления для оборудования.\n\nФункциональные элементы:\nВидимые системы подвески, усиленное шасси. [Встроенное вооружение/утилитарные инструменты — по назначению].\n\n---\n\n### ТИП: Building (Здание)\n\nЗапросы из RAG:\n- Стандарты для зданий\n- Изометрия требования\n- Палитра для типа здания (ресурсное, боевое и т.д.)\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nСтрогая изометрическая проекция с углом 30 градусов. Компактная геометрическая структура с четкими модульными элементами. Темное основание-платформа с закругленными углами и cyan-подсветкой краев. Уникальная верхушка для узнаваемости.\n\nАрхитектурные детали:\nСлоистые панели с встроенными светящимися швами. Вентиляционные отверстия и технические вставки. Голографические дисплеи и светящиеся символы на фасадах.\n\nФункциональные элементы:\n[Специализированные компоненты в зависимости от назначения]\n[Платформы и возвышения для ключевых элементов]\n[Светящиеся кнопки и интерактивные панели]\n\nКлючевые элементы стиля:\nМодульность и читаемость дизайна. Встроенная подсветка как основной источник яркости. Чистота без беспорядка. Изоляция на белом фоне.\n\n---\n\n### ТИП: Props (Пропс)\n\nЗапросы из RAG:\n- Стандарты для пропсов\n- Изометрия требования\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nСтрогая изометрическая проекция с углом 30 градусов. Компактная геометрическая структура с четкими модульными элементами. Читаемый силуэт с уникальными деталями для узнаваемости функции.\n\nФункциональные особенности:\nЧетко определенное назначение: [препятствие / декорация / интерактивный элемент / источник ресурсов / маркер].\nСпособ использования: [статичный / вращающийся / наносит урон / активируется игроком].\nВизуальные индикаторы состояния и функциональности.\n\nАрхитектурные детали:\nСлоистые панели с встроенными светящимися швами. Технические вставки и соединения. Голографические индикаторы.\n\nСпециализированные элементы:\n[Компоненты в зависимости от функции]\n[Светящиеся кнопки и интерактивные зоны]\n[Анимируемые части для динамичности]\n\n---\n\n### ТИП: Icon (3D Иконка)\n\nВАЖНО: Для иконок используй визуальную информацию с референса как базу, адаптируя в стиль проекта.\n\nЗапросы из RAG:\n- Технические требования для иконок\n- Цветовая палитра проекта\n- Примеры иконок\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nЧистые геометрические формы на основе референса. Стилизованная игровая иконка с упрощенным футуристическим дизайном. Композиция центрирована в рабочей зоне 420x420 px.\n\nМатериалы и поверхности:\nГладкая полированная высокоотражающая поверхность. Комбинация матовых и глянцевых материалов.\n\nОсвещение и блики:\nЧеткие specular highlights и динамические световые отражения. Видимые отблески света на изогнутых формах.\n\nСветящиеся элементы:\nВстроенные glow-элементы с мягким внутренним свечением. Неоновые контуры и линии в ярких цветах.\n\nДетализация:\nМногослойные панели и фацетированные поверхности. Встроенные символы и индикаторы с эффектом приподнятости.\n\n---\n\n### ТИП: FlatIcon (Плоская иконка)\n\nВАЖНО: Для flat иконок используй визуальную информацию с референса как базу, адаптируя в стиль проекта.\n\nЗапросы из RAG:\n- Технические требования для flat-иконок\n- Примеры flat-иконок\n\nСтруктура концептуального описания:\n\nФорма и композиция:\nМинималистичная иконка с чёткими геометрическими силуэтами на основе референса. Каждая форма крупная и легко считываемая, без мелких деталей. Только базовые геометрические элементы (треугольники, прямоугольники, круги). Композиция центрирована в рабочей зоне 420x420 px.\n\nМатериалы и поверхности:\nПолностью плоский векторный стиль без текстур, градиентов или бликов. Только однотонные заливки. СТРОГО два цвета: чёрный и белый.\n\nДетализация:\nМинимум деталей. Иконка состоит из 2–3 основных геометрических форм. Силуэт — главный способ донести смысл.\n\n---\n\n### ТИП: UI (Элемент интерфейса)\n\nЗапросы из RAG:\n- Стандарты UI\n- Цветовая схема интерфейса\n- Типографика\n\nСтруктура концептуального описания:\n\nКомпозиция и структура:\n[Описание компоновки элемента]\n[Составные части: фон, рамка, иконка, текст]\n[Выравнивание элементов]\n\nСостояния элемента:\nАктивное: [как выглядит]\nНеактивное: [как выглядит]\nЗаблокированное: [как выглядит]\n\nФункциональное назначение:\n[Какую задачу выполняет элемент в интерфейсе]\n[Как пользователь с ним взаимодействует]\n[Визуальная обратная связь при взаимодействии]\n\n---\n\n## КРИТИЧЕСКИ ВАЖНЫЕ ПРАВИЛА\n\nОБЯЗАТЕЛЬНО:\n\n1. Всегда запрашивай контекст из RAG перед созданием ТЗ\n2. Используй HEX-коды цветов из RAG в блоке \"Требования к стилю\"\n3. Пиши только на русском (кроме filename и технических терминов)\n4. Создавай уникальные концепции для всех типов кроме Icon и FlatIcon\n5. Заполняй ВСЕ 7 блоков структуры\n6. Указывай минимум 3 пункта в блоках \"Требования к стилю\", \"Формат и технические параметры\", \"Критерии приёмки\", \"Ресурсы и ссылки\"\n7. Разделяй ТЗ тремя дефисами (---) в конце\n\nЗАПРЕЩЕНО:\n\n1. НЕ копируй референс для типов кроме Icon и FlatIcon\n2. НЕ используй фразы \"На изображении\", \"Видно\", \"Согласно запросу\", \"Добавить\"\n3. НЕ упоминай бытовые предметы не вписывающиеся в sci-fi (для уникализации)\n4. НЕ пиши \"как на референсе\", \"похожий на\", \"по образцу\"\n5. НЕ создавай ТЗ без запроса контекста из RAG\n6. НЕ пропускай обязательные блоки структуры\n7. НЕ используй markdown форматирование (жирный, курсив, заголовки с #)\n\n---\n\n## ФОРМАТ ОТВЕТА\n\nНЕ выводи свои рассуждения, анализ или мыслительный процесс.\nНЕ используй блоки \"thought\", \"thinking\", \"analysis\" или подобные.\nНЕ описывай, как ты выполняешь шаги.\nНЕ комментируй свои действия.\n\nВыводи ТОЛЬКО финальное ТЗ, начиная с блока [Название задачи].\n\n---\n\n## ПРИМЕР ВЫВОДА\n\n[Название задачи]\nГенерация 3D-модели здания Building_RationFactory\n\n[Цель]\nПолучить готовую 3D-модель ресурсного здания для производства пайков, интегрируемую в карту базы игрока как ключевой производственный объект.\n\n[Описание задачи / Что нужно сделать]\n\nКонцептуальное описание:\n\nФорма и композиция:\nСтрогая изометрическая проекция с углом 30 градусов. Трёхуровневая ступенчатая структура с широким основанием и узкой верхушкой. Основание представляет собой квадратную платформу с закругленными углами и cyan-подсветкой краев. Центральный цилиндрический модуль высотой в два уровня окружен четырьмя вспомогательными блоками переработки. Верхушка увенчана голографическим дисплеем производственных показателей и вентиляционной системой.\n\nАрхитектурные детали:\nВертикальные энергетические кондуиты с теплым оранжевым свечением проходят вдоль всех трёх уровней. Промышленные трубы с периодическими паровыми выбросами соединяют модули переработки. Голографические дисплеи на фасаде отображают производственную статистику. Вентиляционные решетки с внутренней подсветкой расположены на верхнем уровне.\n\nФункциональные элементы:\nВидимые конвейерные системы на втором уровне транспортируют сырье между модулями. Четыре цилиндрических резервуара для хранения органических материалов расположены по углам основания. Центральное энергетическое ядро с ярким оранжевым glow-эффектом питает всю систему. Две погрузочные платформы с голографическими маркерами расположены по бокам.\n\nКлючевые элементы стиля:\nМодульность и читаемость дизайна. Встроенная подсветка как основной источник яркости. Чистота без беспорядка. Асимметричная компоновка боковых модулей для визуальной динамичности. Мягкое освещение с глубокими тенями. Изоляция на белом фоне.\n\nШаги выполнения:\n1. Создать 3D-модель здания согласно концептуальному описанию\n2. Применить материалы из указанной цветовой палитры\n3. Настроить изометрическую проекцию 30 градусов\n4. Добавить glow-эффекты для энергетических элементов\n5. Выполнить рендер на белом фоне\n6. Проверить читаемость силуэта и модульных элементов\n7. Экспортировать в указанном формате\n\n[Требования к стилю]\n\nЖанр и общая стилистика:\nОбъект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на чистом белом фоне.\n\nПринадлежность к миру:\nТехнологическая база игрока — чистые формы, порядок, прогресс.\n\nКлючевые визуальные особенности:\nСтрогая изометрия 30 градусов. Модульная архитектура с читаемым силуэтом. Платформа-основание с подсветкой краев. Уникальная верхушка для узнаваемости здания.\n\nЦветовая палитра:\nЖженый оранжевый (#D35400) — используется для основного корпуса здания и несущих конструкций (60% площади)\nМорковный (#E67E22) — используется для акцентных панелей технологических модулей и резервуаров (25% площади)\nЯнтарный (#F39C12) — используется для вспомогательного оборудования и вентиляционных решеток (10% площади)\nТемный оранжевый (#FF8C00) — используется для неоновой подсветки энергетических труб и индикаторов (5% площади)\n\nМатериалы и поверхности:\nОснова из матовых композитных панелей в теплой палитре. Техно-поверхности без бликов и грязи. Металлические акценты с тонким блеском.\n\nОсвещение:\nМягкое рассеянное освещение с глубокими тенями. Яркость только от glow-элементов и встроенной подсветки. Чистый белый фон.\n\n[Формат и технические параметры]\n\nФормат файла: FBX\nПолигонаж: до 15000 треугольников\nТекстуры: 2048x2048 px, PNG\nЦветовое пространство: sRGB\nРендер: белый фон, разрешение 1024x1024 px\nНейминг файла: Building_RationFactory\n\n[Критерии приёмки]\n\nОценка бота качества >= 95%\nСоответствие техническим параметрам: формат FBX, полигонаж до 15000, текстуры 2048x2048\nКорректная изометрическая проекция 30 градусов\nНаличие платформы-основания с cyan-подсветкой краев\nИспользованы цвета из указанной палитры (HEX-коды соответствуют)\nЧитаемый силуэт здания — узнаваемость функции с первого взгляда\nОтсутствие артефактов рендера и пересветов\nОдобрение арт-лида"
        },
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.data.toJsonString() }}"
      },
      "position": [
        512,
        4576
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "QfVdS0YfELgxkKcv",
          "name": "PineconeApi ART"
        }
      },
      "id": "a5400889-8d4a-4e6b-82a0-3ad65ce96423",
      "name": "Pinecone Vector Store3",
      "parameters": {
        "includeDocumentMetadata": false,
        "mode": "retrieve-as-tool",
        "options": {
          "pineconeNamespace": "Bot"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "art",
          "mode": "list",
          "value": "art"
        },
        "toolDescription": "**ВАЖНО: Используй его всегда для сбора дополнительного контекста!**\nИнструмент для поиска релевантных документов в векторном хранилище Pinecone.",
        "topK": 9
      },
      "position": [
        576,
        4832
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "kXYoO2wLcFLalff6",
          "name": "OpenAi account 3"
        }
      },
      "id": "d5b0933f-0937-433c-843a-8f11b3e67981",
      "name": "Embeddings OpenAI3",
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "position": [
        576,
        5008
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "OE9cIjhzVtc73YQt",
          "name": "Gemini WORK"
        }
      },
      "id": "f12a4b65-11f0-4afd-88a2-93485fa9031e",
      "name": "Google Gemini Chat Model2",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        464,
        4768
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": {
            "asset_type": "3D Icon",
            "estimate_human": "3h",
            "estimate_minutes": "180",
            "production_method": "Manual",
            "reasoning": "В ТЗ перечислены шаги ручного пайплайна: 'Создать 3D-модель', 'Применить материалы', 'Настроить освещение', 'Выполнить рендер'. Отсутствуют слова 'Генерация' или 'AI'. Согласно стандартам, ручное создание 3D-объектов (даже для иконки) оценивается как '[3D] (Ручное моделирование)'."
          }
        }
      }
    ],
    "Send \"...\"2": [
      {
        "json": {
          "ok": true,
          "result": {
            "chat": {
              "first_name": "chelsea",
              "id": 283991341,
              "type": "private",
              "username": "YyBlood"
            },
            "date": 1764170368,
            "from": {
              "first_name": "test art",
              "id": 8560351119,
              "is_bot": true,
              "username": "testarttesttzbot"
            },
            "message_id": 42,
            "text": "ТЗ не прошло проверку, идёт перегенерация"
          }
        }
      }
    ],
    "Telegram Trigger1": [
      {
        "json": {
          "message": {
            "chat": {
              "first_name": "chelsea",
              "id": 283991341,
              "type": "private",
              "username": "YyBlood"
            },
            "date": 1764169850,
            "document": {
              "file_id": "BQACAgIAAxkBAAMoaScYevuHJWCr5qrDbY5ej3XAjkYAAqaPAAJtITlJUUPF1AYXtSs2BA",
              "file_name": "ТЗ_Арт_Адаптация_зданий_v68_20251125_150312.pdf",
              "file_size": 4832231,
              "file_unique_id": "AgADpo8AAm0hOUk",
              "mime_type": "application/pdf"
            },
            "from": {
              "first_name": "chelsea",
              "id": 283991341,
              "is_bot": false,
              "language_code": "en",
              "username": "YyBlood"
            },
            "message_id": 40
          },
          "update_id": 218862782
        }
      }
    ],
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-20T07:31:16.466Z",
      "projectId": "2ZQFKqpo7BMkilsl",
      "role": "workflow:owner",
      "updatedAt": "2025-11-20T07:31:16.466Z",
      "workflowId": "2aqlLSFlDJbqSNb5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-26T20:12:26.000Z",
  "versionId": "13cc8296-bccb-4a98-9495-420e0ac4c546"
}