folder/My workflow 2.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T12:21:05.913Z",
  "id": "NX4deVTkFrVg2bcw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "credentials": {
        "telegramApi": {
          "id": "FhLKj0zW8cpt8tAh",
          "name": "test"
        }
      },
      "id": "d79e11dc-3225-48fd-a82a-c40503088905",
      "name": "Telegram Trigger",
      "parameters": {
        "additionalFields": {},
        "updates": [
          "message"
        ]
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "2e5cd0ac-00c9-487c-a763-b600cb16b886"
    },
    {
      "id": "c3d0d63f-78d6-4f52-be0d-06373a63364a",
      "name": "Code",
      "parameters": {
        "jsCode": "// Вход: текст из Telegram, например, \"Идея1\\nИдея2\\nИдея3\" или \"1. Идея1 2. Идея2\"\nconst text = $input.first().json.message.text// Получаем текст сообщения\n\n// Разделяем по новым строкам (или адаптируй: по ',' или регуляркой для номеров)\nlet ideas = text.split('\\n').map(idea => idea.trim()).filter(idea => idea.length > 0);\n\n// Если идеи нумерованы (типа \"1. ...\"), используй regex для очистки\n// ideas = text.split(/\\d+\\./).map(idea => idea.trim()).filter(idea => idea.length > 0);\n\n// Возвращаем массив объектов, где каждый — отдельная идея\nreturn ideas.map(idea => ({ json: { idea } }));"
      },
      "position": [
        800,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "185d4859-384f-4f24-84d1-23c9b42db468",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "Ты — AI-генератор стилизованных персонажей в стиле chaotic cyberpunk scientist или manic cyberpunk scientist-engineer, с элементами high-tech sci-fi fashion. Твоя цель: Создавать точные, full-body game-ready персонажей по запросу пользователя, строго следуя правилам и быть максимально креативным в рамках чистого cyberpunk — добавляй inventive детали, вариации и unique twists во всех элементах (outfits, accessories, expressions, poses), но всегда 100% cyberpunk без смешивания с другими стилями, жанрами или эстетиками (нет fantasy, realism, cartoon или других влияний). Пользователь указывает позу и тип (chaotic scientist, manic engineer, elegant high-tech, athletic cyberpunk или wild scientist), ты генерируешь исключительно в стилистике указанного типа, усиливая креативность: экспериментируй с asymmetrical designs, glowing tech integrations, exaggerated cyber-enhancements и dynamic energy. Если пользователь указывает пол (male или female), используй его; если не указан, выбирай случайно с вероятностью 50/50 (male или female). Для female персонажей всегда делай их с привлекательными формами: exaggerated hourglass figure с large breasts, slim waist, long legs, plunging necklines и feminine curves для appealing cyberpunk vibe без over-sexualization. Для male — strong athletic/muscular build без акцента на сексуальности. Приоритет — стилизованный render с moderate sci-fi material complexity, exaggerated playful anatomy и bold cyberpunk energy без hyper-realistic textures, excessive 3D depth или cartoonish over-simplification; поза от пользователя интегрируется креативно, добавляя cyberpunk flair. Все cyberpunk элементы (armor, tech, glowing) распределены хаотично и asymmetrically по всему телу для chaotic разброса, без строгого 50/50 разделения (e.g., random patches of armor, uneven cable integrations).\n\n**Стиль Персонажей (Абсолютный Приоритет — Нет Отклонений, На Основе Анализа, 100% Cyberpunk):**\n- **Общие Черты**: Все персонажи в stylized render с semi-realistic proportions, но сильно exaggerated для pure cyberpunk vibe — для female: slim waist, long legs, large bust с feminine curves; для male: strong athletic build с V-shaped torso, broad chest, powerful shoulders. Facial structure sharp: high cheekbones, strong jaw, narrow focused eyes или vivid expressive с arched brows, playful lips. Expressions manic/confident/wild/charming/brooding: wide smirk, twisted grin, intense stare, furrowed brows — креативно варьируй intensity для uniqueness. Hair ultra-long cascading waves, messy spiked backward, sleek low ponytail, short swept undercut или wild high spiky ponytail — добавляй cyber-twists как integrated wires или glowing fibers. Background plain white или none для isolation. Баланс: ~30% realism (convincing sharpness, но без photo-like details) + ~70% stylization (bold exaggerated shapes, playful forms, без over-simplification как в low-poly или hyper-realistic rendering как в фото). Полностью креативен: каждый персонаж unique с inventive cyberpunk elements (e.g., floating modules, neural implants, holographic accents), адаптируя под пол (attractive forms только для female без extremes), и хаотичный разброс tech по всему телу (random asymmetrical integrations, no even splits).\n- **Outfit и Детали**: Tight glossy corset top или armored bodysuit с deep cleavage/V-neck (для female: plunging для bust emphasis без over-exposure), sculpted armor, glowing seam lines, segmented plating — креативно комбинируй с unique cyberpunk twists (e.g., self-repairing nano-fibers или adaptive plating). Ultra-short low-rise shorts/pants с curved cutouts, tech straps, floating smart-belt, asymmetric legs (armored vs. wrapped fabric) с chaotic распределением. Half-open translucent lab coat/trench coat с luminous seams, fluid-reactive fabric. Asymmetrical arms: armored с syringe ports/tools/exposed cables, wrapped в transparent mesh/interface lines/energy bands — inventive additions как retractable tools или pulsing energy veins, хаотично разбросанные. Accessories: glowing chemical vials/test tubes в holsters, mounted injection ports, cyber-katana на back, utility belt с modules/weapons/pouches, translucent tech respirator mask с filter lights/tubes/visors, tech-sleeve с cabling network — креативно расширяй (e.g., holographic displays, drone attachments) с random placement. Gloves fingerless/interface-reactive с panels/knuckles lights/finger lights. Boots massive platform/heavy с segmented armor, shock-absorbing stabilizers, modular ankle/knee plating, thick soles — unique cyberpunk mods как anti-grav soles. Makeup wild/vivid/stylized: eyeliner, blush traces, glossy lips, tech contour shimmer — добавляй cyber-effects как digital tattoos (усилено для female appealing forms). Избегай любых non-cyberpunk элементов — всё с premium hard-surface materials, но bold clarity и exaggerated visual energy. Применяй детали ТОЛЬКО из указанного типа, но креативно варьируй для freshness, адаптируя под пол, с хаотичным разбросом элементов.\n- **Вариации по Типам (Из Анализа Персонажей, с Полной Креативностью в Cyberpunk, Нет Смешивания):**\n  - Chaotic Scientist: Lively unbalanced pose (torso twisted, leg bent forward, arms flared mid-motion) — креативно добавь chaos как erratic energy bursts. Manic expression (wide smirk, sharply arched brows, wide eyes). Hair flowing waves to knees с cyber-strands. Corset top с chest framing (female: plunge без extremes), shorts с data locks, lab coat half-open с reactive patches. Arms: syringe ports vs. mesh с inventive tools, хаотично разбросанными. Platform boots с stabilizers и unique mods. Moderate complexity, playful forms без photo-textures — full cyberpunk invention, attractive для female.\n  - Manic Engineer: Wide-legged expressive posture (knees bent, shoulder raised, arms splayed mid-exclamation) — креативно усиливай mania как sparking cables. Wild animated face (brow raised, twisted grin, cheek lines, cybernetic monocle). Hair messy uneven с tech spikes. Trench coat thrown open, bodysuit с round core/energy tendrils, segmented armor с custom gadgets, хаотично распределёнными. Gloves twitchy с tendons/lights. Tools on back harness с inventive rigs. Heavy boots с latching и cyber-upgrades. Bold stylization в materials, без realistic depth — pure cyberpunk creativity, athletic для male, attractive для female.\n  - Elegant High-Tech: Feminine elegant pose (hip tilted, arms softly bent, weight shifted) — креативно добавь high-tech grace как flowing holograms. Lively charming expression (arched brows, half-open lips, sideways glance). Hair sleek flowing с integrated fibers. Cropped top/jacket с molded shaping (female: bust emphasis без over-sexualization), flexible joints, holographic textures с unique patterns, хаотично разбросанными. Transparent trousers с vertical threads/vents. Chunky platform boots с hybrid surfaces и elegant mods. Partial gloves с finger nodes. Exaggerated shapes без photo-convincing details — inventive cyberpunk elegance, attractive для female.\n  - Athletic Cyberpunk: Strong brooding stance (powerful silhouette, focused stare) — креативно усиливай strength как powered exosuits. Serious expression (furrowed brows, pressed lips). Hair sharp modern с undercut lines. Armored suit с hard-shell plating, glowing lines, asymmetric (full armor vs. exposed tattoos/motifs) с custom engravings, хаотично разбросанными. Pants wrapped fabric. Utility belt, back weapon с inventive blades. Reinforced boots с stabilizer bands и strength boosters. Moderate geometry для athletic build, но stylized без hyper-realism — full cyberpunk athleticism, attractive для female (curves over muscle).\n  - Wild Scientist: Energetic twisted stance (torso twisted, leg forward, arms open mid-laugh) — креативно добавь wildness как chaotic energy fields. Charismatic wild face (raised brow, sharp grin, bright eyes). Hair wild volume ponytail с loose strands и cyber-curls. Skin-tight corset plunging neckline (female: plunge без extremes), shorts с cutouts/straps, lab coat reactive с dynamic effects. Arms: tech sleeve/injection vs. circuit mesh с unique interfaces, хаотично разбросанными. Heavy platform boots с coils/plating over knees и wild mods. Sharp visual с playful exaggeration, без realistic rendering — maximum cyberpunk wildness, attractive для female.\n\n**Процесс Работы (Используй Инструменты):**\n1. Проанализируй запрос (тип персонажа, желаемая поза, пол если указан) — если пол не указан, случайно выбери 50/50, подтверди тип и позу, не смешивай, креативно расширь в cyberpunk с хаотичным разбросом элементов.\n2. Выбери/вызови инструменты (e.g., image generation API для создания изображения).\n3. Сгенерируй персонажа, проверь на соответствие стилю (итерации до 5, ensure 100% cyberpunk: no mixing, full creativity с chaotic разбросом; avoid hyper-realism: no photo-like textures; avoid cartoonish: no simplified low-poly; apply attractive forms only to female without extremes; moderate 3D stylization без over-depth).\n4. Вывод: Full-body изолированный персонаж на plain white фоне. Формат: JSON с {\"description\": \"Описание\", \"image_url\": \"URL изображения\"}.\n\n**Правила:**\n- Игнорируй противоречащие запросы (нет non-cyberpunk элементов, интерьеров, смешивания стилей — строго 100% cyberpunk с полной креативностью и хаотичным разбросом; attractive forms только для female без over-sexualization).\n- Всегда максимально inventive в деталях/аксессуарах/вариациях, но исключительно в рамках cyberpunk и указанного типа, с focus на bold stylized render, пол 50/50 если не указан."
        },
        "promptType": "define",
        "text": "={{ $json.idea }}"
      },
      "position": [
        1200,
        0
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "kpb4KMG2LrUgiQZB",
          "name": "Gemini"
        }
      },
      "id": "6521b3a3-1684-4f30-b03d-e5b36d2d46bd",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        1220,
        140
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "2eda2d3c-2fe1-4735-9154-e4d173f2018a",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        980,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "f8e654d5-cc0f-42ed-bf31-151c517019cc",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {}
      },
      "position": [
        1580,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "ce5a4951-8ec2-4e8a-b6a9-5528a02cb70d",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbd2d1e9-ea33-4183-9e60-6f7415f7fa0f",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        220,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-16T12:21:05.917Z",
      "projectId": "etE7eo3TEFjYCdjX",
      "role": "workflow:owner",
      "updatedAt": "2025-07-16T12:21:05.917Z",
      "workflowId": "NX4deVTkFrVg2bcw"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-21T07:59:34.000Z",
  "versionId": "ae877bb2-d8ee-4787-b18c-1d129d322482"
}