folder/Vehicle.json
{
  "active": false,
  "connections": {
    ">": {
      "main": [
        [
          {
            "index": 0,
            "node": "Auth QNAP1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Edit Fields3",
            "type": "main"
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'Jira'",
            "type": "main"
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields2",
            "type": "main"
          }
        ]
      ]
    },
    "Auth QNAP1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'JIRA updating'": {
      "main": [
        [
          {
            "index": 0,
            "node": "No Operation, do nothing1",
            "type": "main"
          }
        ]
      ]
    },
    "Call 'Jira'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields4",
            "type": "main"
          }
        ]
      ]
    },
    "Clear Promt1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Imagen ",
            "type": "main"
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "Создание папки",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Append row in sheet1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "Finish1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call 'JIRA updating'",
            "type": "main"
          }
        ]
      ]
    },
    "Get an issue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update an issue",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Finish1",
            "type": "main"
          }
        ]
      ]
    },
    "Image2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Загрузка1",
            "type": "main"
          }
        ]
      ]
    },
    "Imagen ": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Link": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get an issue",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finish7",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Append row in sheet",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Promt1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear Promt1",
            "type": "main"
          }
        ]
      ]
    },
    "Queue1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ]
      ]
    },
    "Rated1": {
      "main": [
        [
          {
            "index": 0,
            "node": ">",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait4",
            "type": "main"
          }
        ]
      ]
    },
    "Remove1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split1",
            "type": "main"
          }
        ]
      ]
    },
    "Split1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items1",
            "type": "main"
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Promt1",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Update an issue": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update an issue1",
            "type": "main"
          }
        ]
      ]
    },
    "Update an issue1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields5",
            "type": "main"
          }
        ]
      ]
    },
    "Url1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Rated1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait21",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Queue1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait21": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "index": 0,
            "node": "Url1",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Remove1",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Finish7",
            "type": "main"
          }
        ]
      ]
    },
    "share link1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Link",
            "type": "main"
          }
        ]
      ]
    },
    "Загрузка1": {
      "main": [
        [
          {
            "index": 0,
            "node": "share link1",
            "type": "main"
          }
        ]
      ]
    },
    "Создание папки": {
      "main": [
        [
          {
            "index": 0,
            "node": "Image2",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-25T14:27:51.933Z",
  "id": "12igYF16uCT6F7o9",
  "isArchived": false,
  "meta": null,
  "name": "Vehicle",
  "nodes": [
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART автоматика"
        }
      },
      "executeOnce": true,
      "id": "b65a0968-0bf9-44d5-b543-63def1f55713",
      "maxTries": 5,
      "name": "Finish1",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('When Executed by Another Workflow').item.json[\"Chat ID\"] }}",
        "text": "=Автоматическая генерация провалилась"
      },
      "position": [
        -496,
        1840
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "27883e1d-57d5-4040-a55f-401ee4ad38e8"
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X6cZTUmg0toHSZF1",
          "name": "Google Sheets account 2"
        }
      },
      "id": "e829488b-ac6f-4fd9-b8bc-fe3d1e715b32",
      "name": "Append row in sheet",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Name",
              "id": "Name",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Prompt",
              "id": "Prompt",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "count",
              "id": "count",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "comment",
              "id": "comment",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Name": "={{ $('AI Agent').item.json.output }}",
            "Prompt": "={{ $('Edit Fields5').item.json.Prompt }}",
            "comment": "={{ $('Edit Fields5').item.json.comment }}",
            "count": "={{ $('Edit Fields5').item.json.count }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ArtPipelineAutomation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rluvCiR7F3mAlf8ZycszhNbRe1AjxjUqKVk4KVG2Ggw/edit?usp=drivesdk",
          "mode": "list",
          "value": "1rluvCiR7F3mAlf8ZycszhNbRe1AjxjUqKVk4KVG2Ggw"
        },
        "operation": "append",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Buildings/Props",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rluvCiR7F3mAlf8ZycszhNbRe1AjxjUqKVk4KVG2Ggw/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -1232,
        960
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X6cZTUmg0toHSZF1",
          "name": "Google Sheets account 2"
        }
      },
      "id": "fabf3bc2-df64-4d14-9c71-891d76fc698e",
      "name": "Append row in sheet1",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Name",
              "id": "Name",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Prompt",
              "id": "Prompt",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "count",
              "id": "count",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "comment",
              "id": "comment",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Name": "={{ $('Edit Fields3').item.json.name }}",
            "Prompt": "={{ $('Edit Fields3').item.json.prompt }}",
            "comment": "={{ $('Edit Fields3').item.json.comment }}",
            "count": "={{ $('Edit Fields3').item.json.count }}"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "ArtPipelineAutomation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rluvCiR7F3mAlf8ZycszhNbRe1AjxjUqKVk4KVG2Ggw/edit?usp=drivesdk",
          "mode": "list",
          "value": "1rluvCiR7F3mAlf8ZycszhNbRe1AjxjUqKVk4KVG2Ggw"
        },
        "operation": "append",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Buildings/Props",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rluvCiR7F3mAlf8ZycszhNbRe1AjxjUqKVk4KVG2Ggw/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        2192,
        1440
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "id": "779707cf-65df-4a34-9cb1-8fb81eae016c",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "ты помощник, который помогает вытаскивать только название задачи из текста."
        },
        "promptType": "define",
        "text": "=Вытащи название задачи из текста: {{ $json.task_content }}"
      },
      "position": [
        -1776,
        1328
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "kXYoO2wLcFLalff6",
          "name": "OpenAi account 3"
        }
      },
      "id": "884a3f8b-2bf1-4c6f-a602-739a0cdb10a2",
      "name": "OpenAI Chat Model",
      "parameters": {
        "builtInTools": {},
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -1776,
        1504
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3
    },
    {
      "id": "7b36b598-7cdf-4845-b1fa-2047cfb61f08",
      "name": "Создание папки",
      "parameters": {
        "method": "POST",
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "func",
              "value": "createdir"
            },
            {
              "name": "type",
              "value": "standard"
            },
            {
              "name": "sid",
              "value": "={{ $json.authSid }}"
            },
            {
              "name": "dest_path",
              "value": "/3D assets/LW/AIgen-Jira/Здания базы/"
            },
            {
              "name": "overwrite",
              "value": "1"
            },
            {
              "name": "dest_folder",
              "value": "={{ $now.format('dd.MM.yyyy') }}-{{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "sendQuery": true,
        "url": "=http://89.149.94.193:8080/cgi-bin/filemanager/utilRequest.cgi"
      },
      "position": [
        2752,
        1440
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "92501671-4542-45f7-80cd-d8f24bfb0906",
      "name": "Auth QNAP1",
      "parameters": {
        "method": "POST",
        "options": {
          "timeout": 60000
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "N8N_User"
            },
            {
              "name": "pwd",
              "value": "QWFzZGZfMTIzYXNkITEx"
            }
          ]
        },
        "sendQuery": true,
        "url": "http://89.149.94.193:8080/cgi-bin/authLogin.cgi"
      },
      "position": [
        2384,
        1440
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "12b996de-8340-4a3e-96de-3d87a90fd60a",
      "name": "Code",
      "parameters": {
        "jsCode": "const inputText = $input.first().json.data;\n\n// Регулярное выражение для извлечения значения authSid из CDATA\nconst regex = /<authSid><!\\[CDATA\\[(.*?)\\]\\]><\\/authSid>/;\n\n// Извлекаем значение\nconst match = inputText.match(regex);\n\n// Возвращаем только найденное значение или пустую строку, если не найдено\nreturn {\n  json: {\n    authSid: match ? match[1] : \"\"\n  }\n};\n"
      },
      "position": [
        2576,
        1440
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "60bbb549-25c5-41d5-9d44-6800c6bbfde3",
      "name": "Загрузка1",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "inputDataFieldName": "data",
              "name": "file",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "method": "POST",
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "func",
              "value": "upload"
            },
            {
              "name": "type",
              "value": "standard"
            },
            {
              "name": "sid",
              "value": "={{ $('Code').item.json.authSid }}"
            },
            {
              "name": "dest_path",
              "value": "=/3D assets/LW/AIgen-Jira/Здания базы/{{ $now.format('dd.MM.yyyy') }}-{{ $('AI Agent').item.json.output }}/"
            },
            {
              "name": "overwrite",
              "value": "1"
            },
            {
              "name": "progress",
              "value": "=-3D assets/LW/AIgen-Jira/Здания базы-{{ $now.format('dd.MM.yyyy') }}-{{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "sendBody": true,
        "sendQuery": true,
        "url": "http://89.149.94.193:8080/cgi-bin/filemanager/utilRequest.cgi"
      },
      "position": [
        3056,
        1440
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "3645b244-383d-4a13-b72a-768b61ed1bd7",
      "maxTries": 5,
      "name": "Image2",
      "parameters": {
        "options": {},
        "url": "={{ $('Url1').item.json.images[0].url }}"
      },
      "position": [
        2912,
        1440
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "33ece416-db42-42d0-9e23-a9c005623cd4",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -2032,
        1024
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "b80f145e-19d5-4504-944f-635077c2b2e0",
      "name": "Call 'Jira'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — Jira",
          "cachedResultUrl": "/workflow/wvFzVr9x7qdXzexQ",
          "mode": "list",
          "value": "wvFzVr9x7qdXzexQ"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Tasks",
              "id": "Tasks",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "estimate",
              "id": "estimate",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "chat_id",
              "id": "chat_id",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Tasks": "={{ $('Loop Over Items1').item.json.task_content }}",
            "chat_id": "={{ $('When Executed by Another Workflow').first().json['Chat ID'] }}",
            "estimate": "={{ $('When Executed by Another Workflow').first().json.estimate }}"
          }
        }
      },
      "position": [
        -1424,
        1328
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "17d921c4-5103-4da6-9e13-3f9e75dd43f3",
      "name": "Call 'JIRA updating'",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ART BOT — JIRA updating",
          "cachedResultUrl": "/workflow/jpKrBNdOd2Ht4zts",
          "mode": "list",
          "value": "jpKrBNdOd2Ht4zts"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "key",
              "id": "key",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "key": "={{ $('If1').item.json.task_id }}"
          }
        }
      },
      "position": [
        -288,
        1840
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "9efffffe-c6e9-49f0-8db3-be7728f925cc",
      "name": "Edit Fields2",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb225492-c5bd-42bd-b8ba-6b41e19e2de6",
              "name": "count",
              "type": "number",
              "value": "={{ $('If1').item.json.count + 1 }}"
            },
            {
              "id": "f8383be5-864e-41e5-a95b-9b46020621e7",
              "name": "task_id",
              "type": "string",
              "value": "={{ $('Call \\'Jira\\'').item.json.task_id }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2192,
        1664
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "08a03c73-b67d-4e53-838d-b37ee0ff3d8f",
      "name": "share link1",
      "parameters": {
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "direct_create",
              "value": "1"
            },
            {
              "name": "path",
              "value": "=/3D assets/LW/AIgen-Jira/Здания базы/{{ $now.format('dd.MM.yyyy') }}-{{ $('AI Agent').item.json.output }}"
            },
            {
              "name": "file_name",
              "value": "={{ $('Url1').item.json.images[0].file_name }}"
            },
            {
              "name": "option",
              "value": "1"
            },
            {
              "name": "expire_time",
              "value": "0"
            },
            {
              "name": "file_total",
              "value": "1"
            },
            {
              "name": "ht",
              "value": "11"
            }
          ]
        },
        "sendQuery": true,
        "url": "=http://89.149.94.193:8080/cgi-bin/filemanager/utilRequest.cgi?func=get_share_link&c=1&sid={{ $('Code').item.json.authSid }}"
      },
      "position": [
        3232,
        1440
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "OE9cIjhzVtc73YQt",
          "name": "Gemini WORK"
        }
      },
      "id": "0d9f7ae0-be2c-45e9-a5d1-8ecaef6c8ec5",
      "name": "Google Gemini Chat Model1",
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "position": [
        -768,
        1488
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "85f99024-ec60-40cb-b488-ac1f1891b4ab",
      "name": "Loop Over Items1",
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "position": [
        -1984,
        1328
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "ed04edcb-1b4c-447a-b825-0b3bf2326774",
      "maxTries": 5,
      "name": "Promt1",
      "onError": "continueErrorOutput",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## ОБЯЗАТЕЛЬНЫЕ ЭЛЕМЕНТЫ СТИЛИСТИКИ:\n\n* Стилизованный 3D‑рендер в Fortnite/Overwatch эстетике\n* Яркие неоновые акценты и светящиеся элементы по линиям кузова/узлам\n* Чистый белый фон (isolation / studio)\n* Чёткие контрасты и спекулярное освещение для “поп‑эффекта” глянца\n* Sci‑fi технологические детали и чистая читаемость силуэта\n* Героизированные пропорции техники (слегка преувеличенные формы для игровой читабельности)\n\n## АНАЛИЗ ТЗ И АДАПТАЦИЯ\n\n1. ОПРЕДЕЛИ ФУНКЦИОНАЛЬНЫЙ КЛАСС из ТЗ (подчёркивай через форму и узлы):\n\n* Штурмовой/Боевая платформа: низкая агрессивная посадка, утолщённый «брюхом» корпус, видимые модули оружия, тёмная база с насыщёнными акцентами.\n* Перехватчик/Разведчик: обтекаемый клин, выраженная аэродинамика, открытая механика двигателей/стабилизаторов, холодные неоновые акценты.\n* Артиллерийская платформа/Снайпер: удлинённый силуэт, смещённый центр масс, выделенные направляющие/крепления под вооружение, приглушённая палитра + яркие акценты.\n* Инженер/Саппорт: модульные панели, наружные крепления и инструменты, сигнальные цвета (жёлтые/оранжевые).\n* Электронная война/Хакер: гладкие «stealth»‑поверхности, избыточная подсветка интерфейсов и антенн, кислотные неоны.\n\n2. ИЗВЛЕКИ ИЗ ТЗ:\n\n* Название\n* Тип объекта (класс/ролевая ниша)\n* Форм‑фактор/геометрия корпуса (клин, монокок, кабина и т.п.)\n* Движитель/привод (колёса, ховер‑вентиляторы, турбины, антиграв)\n* Вооружение/модули (расположение, формат, выдвижные/скрытые)\n* Цветовая палитра (база, акценты, неон)\n* Материалы/финиши (мат/глянец/карбон/металл)\n* Ключевые технологические элементы (интейки, жалюзи, радиаторы, засветка)\n* Силуэт и визуальные акценты (острые/плавные грани, ребра жёсткости)\n* Характер/настрой (хищный, утилитарный, stealth, high‑speed)\n* Ракурс/постановка кадра\n* Фон/условия света (всегда чистый белый, яркое спекулярное)\n\n## СОЗДАЙ ПРОМТ СЛЕДУЯ СТРУКТУРЕ (шаблон)\n\n“A hyper‑stylized futuristic \\[vehicle class/type] rendered in a Fortnite/Overwatch‑inspired aesthetic. Shot at \\[camera angle]. The body uses \\[base materials/finishes] in \\[base color] with \\[accent color] glowing neon trims that trace \\[edges/panel lines], ensuring a clean, readable silhouette. It features \\[propulsion system] and \\[key tech elements]. \\[Weapons/modules] are \\[placement/form]. The design communicates \\[role/character] via \\[stance/silhouette cues]. Lighting is bright and specular with strong contrast to make glossy and glowing surfaces pop. Stylized 3D render, sharp focus, concept design, isolated on a plain white background, with slightly exaggerated heroic proportions for game readability.”\n\n## ВАЖНО:\n\n* Сохраняй все уникальные детали из ТЗ (не теряй формулировки про материалы, цвета, модули).\n* Подчёркивай функциональность через форму силуэта, посадку и расположение модулей.\n* Неоновые акценты — по роль‑кодам или строго как в ТЗ.\n* Обеспечь чистую читаемость и «game‑ready» вид.\n* Фон — всегда белый; свет — яркий спекулярный с контрастом.\n* Всегда отдельно выводи строку с названием и типом:\n  **Название: <из ТЗ или рабочее название>   Тип объекта: <класс/роль>**\n\n---\n\n# Извлечение из твоего ТЗ\n\n* **Название:** не указано → рабочее: **Hybrid Hover Combat Racer**\n* **Тип объекта:** гибрид гоночного и боевого ховер‑транспорта (перехватчик/штурмовой)\n* **Форм‑фактор/геометрия:** клиновидный, резкие агрессивные линии\n* **Материалы/цвета:** матовый чёрный корпус, глянцевые тёмно‑фиолетовые акценты\n* **Светящиеся элементы:** ярко‑зелёные неоновые полосы по кромкам и узлам\n* **Движитель:** крупные вентиляторные ховер‑двигатели вместо колёс\n* **Вооружение:** малые интегрированные оружейные капсулы под шасси\n* **Стиль/рендер:** concept design, clean silhouette, 3D render, sharp focus, белый фон\n* **Характер:** хищный, высокоскоростной, боевой\n\n**Название: Hybrid Hover Combat Racer Тип объекта: Гибридный гоночный/боевой ховер‑транспорт**"
        },
        "promptType": "define",
        "text": "=ТЗ:\n{{ $('Loop Over Items1').item.json.task_content }}"
      },
      "position": [
        -768,
        1328
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "a019da03-3cb3-4536-9e39-38d0982c5ccb",
      "name": "Wait1",
      "parameters": {
        "amount": 12
      },
      "position": [
        32,
        1328
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "c90ca2b9-bf3d-446f-9180-677a58726bcd"
    },
    {
      "id": "4a78fa64-90d0-4014-82f7-ad982206a913",
      "name": "Structured Output Parser1",
      "parameters": {
        "jsonSchemaExample": "{\n  \"Type\": \"Тип\",\t\n  \"Name\": \"Название из ТЗ\",\n  \"Promt\": \"составленый промт\"\n}"
      },
      "position": [
        -624,
        1488
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "id": "d1d64f4d-abcb-4d1b-9ced-61a3cab616a9",
      "maxTries": 5,
      "name": "Imagen ",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.ClearPromt }}\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/gemini-25-flash-image"
      },
      "position": [
        -176,
        1328
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "186087c1-0f42-495c-a05e-8d17a76f084c",
      "maxTries": 5,
      "name": "Queue1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 9d5b4a75-345f-42fd-90e3-64600b221a94:ccc10f3728e40ecdcda0750a60b6f222"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "url": "=https://queue.fal.run/fal-ai/gemini-25-flash-image/requests/{{ $('Imagen ').item.json.request_id }}"
      },
      "position": [
        224,
        1328
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 2000
    },
    {
      "id": "2f44bc8f-009d-48ea-babf-5c2de22a70e4",
      "maxTries": 5,
      "name": "Url1",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        448,
        1328
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 3000
    },
    {
      "id": "023b0098-2c65-4430-878c-c1adab5e9515",
      "name": ">",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "ae9887a6-88df-4858-8e7f-9112d5f7e4c4",
              "leftValue": "={{ $json.content.parts[0].text.match(/ИТОГОВАЯ ОЦЕНКА:\\s*(\\d+(?:\\.\\d+)?)\\/100/)[1] }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 70
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        1792,
        1328
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "HVtMEErMUBKHP63G",
          "name": "Test ART автоматика"
        }
      },
      "executeOnce": true,
      "id": "4cc48aa4-75b6-4509-a15a-187fe1d4508f",
      "maxTries": 5,
      "name": "Finish7",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        },
        "chatId": "={{ $('When Executed by Another Workflow').first().json['Chat ID'] }}",
        "text": "=✅ Ваши изображения готовы!"
      },
      "position": [
        -1024,
        1152
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 2000,
      "webhookId": "27883e1d-57d5-4040-a55f-401ee4ad38e8"
    },
    {
      "id": "6b8aabeb-0ac2-4269-b2a7-071db1f62050",
      "name": "Remove1",
      "parameters": {
        "jsCode": "// Получаем текст напрямую из Gemini API\nconst input = $('When Executed by Another Workflow').first().json.Tasks;\n\n// Логируем входные данные для отладки\nconsole.log('Input text:', input);\nconsole.log('Input type:', typeof input);\n\n// Проверяем, что input - это строка\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  console.log('Error: Input is not a string, received:', input);\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\n// Удаляем все \\r, \\n, \\t, заменяя на пробел\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\n\n// Заменяем маркеры \"•\" и \"●\" на дефис\ncleanedText = cleanedText.replace(/[•●]/g, '-');\n\n// Убираем лишние пробелы (больше одного подряд)\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      result: cleanedText,\n      original_length: result.length,\n      cleaned_length: cleanedText.length\n    }\n  }\n];"
      },
      "position": [
        -2448,
        1328
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "executeOnce": true,
      "id": "301cd6fe-aa72-4c7e-b8d5-d4c028f12574",
      "name": "Split1",
      "parameters": {
        "jsCode": "// Получаем текст из нового формата данных\nconst fullText = $input.first().json.result;$input.first().json.result\n\n// Логируем для отладки\nconsole.log('Input text length:', fullText.length);\nconsole.log('First 100 chars:', fullText.substring(0, 100));\n\n// Разделяем по разделителю \" --- \" (с пробелами)\nconst tasks = fullText.split(' --- ');\n\n// Создаем отдельные элементы для каждого ТЗ\nconst result = tasks.map((task, index) => {\n  return {\n    task_number: index + 1,\n    task_content: task.trim(),\n    total_tasks: tasks.length,\n    content_length: task.trim().length,\n  };\n});\n\nconsole.log('Total tasks found:', result.length);\n\nreturn result;"
      },
      "position": [
        -2224,
        1328
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d2fb6ab6-163f-4b21-9886-fdcfbab31383",
      "name": "Clear Promt1",
      "parameters": {
        "jsCode": "const input = $input.first().json.output.Promt;\n\nlet result = '';\nif (typeof input === 'string') {\n  result = input;\n} else {\n  return [{ json: { error: 'Invalid input type', received: input } }];\n}\n\nlet cleanedText = result.replace(/[\\r\\n\\t]+/g, ' ');\ncleanedText = cleanedText.replace(/[•●]/g, '-');\ncleanedText = cleanedText.replace(/\\\\/g, '');\ncleanedText = cleanedText.replace(/\\//g, '');\ncleanedText = cleanedText.replace(/\"/g, '');\ncleanedText = cleanedText.replace(/'/g, '');\ncleanedText = cleanedText.replace(/`/g, '');\ncleanedText = cleanedText.replace(/\\{/g, '');\ncleanedText = cleanedText.replace(/\\}/g, '');\ncleanedText = cleanedText.replace(/\\[/g, '');\ncleanedText = cleanedText.replace(/\\]/g, '');\ncleanedText = cleanedText.replace(/ +/g, ' ').trim();\n\nreturn [\n  {\n    json: {\n      ClearPromt: cleanedText,\n    }\n  }\n];"
      },
      "position": [
        -384,
        1328
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "66f2ecb6-1938-4567-851c-ed2cc6ba0240",
      "name": "Wait4",
      "parameters": {
        "amount": 10
      },
      "position": [
        1792,
        1440
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "9f9034c3-2fc9-4834-8763-11df218c1ab4"
    },
    {
      "id": "3eecd891-11e2-4b11-9889-31513145b8d5",
      "name": "Wait21",
      "parameters": {},
      "position": [
        672,
        1440
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8aa469c4-0a03-45f7-aee9-6e1cc9f7d2c5"
    },
    {
      "id": "1e6e2122-2538-4f5d-824e-97a51b4434ce",
      "name": "Edit Fields3",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8500c48a-4c6c-4b42-b3ed-5d33855899b6",
              "name": "name",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').item.json.File_name }}"
            },
            {
              "id": "bb225492-c5bd-42bd-b8ba-6b41e19e2de6",
              "name": "count",
              "type": "number",
              "value": "={{ $('If1').item.json.count + 1 }}"
            },
            {
              "id": "e713e00d-88be-4ca0-915e-4f90d3a12759",
              "name": "comment",
              "type": "string",
              "value": "={{ $json.content.parts[0].text }}"
            },
            {
              "id": "774f8d7c-c702-4242-8c99-538885b57f12",
              "name": "prompt",
              "type": "string",
              "value": "={{ $('Promt1').item.json.output.Promt }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2000,
        1440
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "83a6d8fd-ba26-41b1-aa10-42ff16a21c23",
      "name": "Edit Fields4",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f90298f-db61-4d9d-a925-cf2f29239ae8",
              "name": "count",
              "type": "number",
              "value": 1
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1232,
        1328
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "0cea8c9e-61a7-441d-9d9c-da0c65e873c1",
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6d4f2211-47b4-412f-8486-b2d919d7eb74",
              "leftValue": "={{ $json.count }}",
              "operator": {
                "operation": "lte",
                "type": "number"
              },
              "rightValue": 10
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -1024,
        1328
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "7f9f051d-626a-4ed3-a078-965f062b4fdb",
      "name": "No Operation, do nothing1",
      "parameters": {},
      "position": [
        -64,
        1840
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "id": "a4b1666b-7fe6-4223-a0a3-0390731f4eec",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Tasks"
            },
            {
              "name": "Chat ID"
            },
            {
              "name": "File_name"
            },
            {
              "name": "Username"
            },
            {
              "name": "estimate"
            }
          ]
        }
      },
      "position": [
        -2704,
        1328
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "OE9cIjhzVtc73YQt",
          "name": "Gemini WORK"
        }
      },
      "id": "45dab005-db93-4d62-a72f-413650bc9eea",
      "maxTries": 5,
      "name": "Rated1",
      "onError": "continueErrorOutput",
      "parameters": {
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-pro",
          "mode": "list",
          "value": "models/gemini-2.5-pro"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "=Ты — эксперт по анализу игровой техники в sci-fi сеттинге. У тебя есть два отдельных файла изображений:\n\n**ПЕРВЫЙ ФАЙЛ** содержит 9 якорных (эталонных) единиц техники, расположенных в два ряда. Это образцы стиля, качества и визуального исполнения, задающие стандарт дизайна.\n\n**ВТОРОЙ ФАЙЛ** содержит 1 новую единицу техники, сгенерированную нейросетью, которую необходимо оценить на соответствие якорным образцам.\n\nТвоя задача: проанализировать новую технику (второй файл) в сравнении с якорными образцами (первый файл) и оценить её соответствие по следующим критериям:\n\n1. **Жанр и фракционная принадлежность** (0–100 баллов)\n\n   * Футуристичная 3D-техника с чётким отражением стиля своей фракции через цвет, формы и характерные детали.\n\n2. **Визуальная связь с персонажем** (0–100 баллов)\n\n   * Продолжает образ владельца, соответствует его палитре, формам и характеру.\n\n3. **Силуэт** (0–100 баллов)\n\n   * Объёмный, легко читаемый в любом масштабе, с характерными формами sci-fi техники.\n\n4. **Форма = Функция** (0–100 баллов)\n\n   * С первого взгляда понятно назначение — разведка, огневая поддержка, артиллерия и т.д.\n\n5. **Асимметрия и модули** (0–100 баллов)\n\n   * Используются при наличии логики — внешние турели, энергосекции, дроновые доки, усиленные платформы.\n\n6. **Инженерная убедительность** (0–100 баллов)\n\n   * Даже гипертрофированные формы выглядят конструктивно и технически правдоподобно.\n\n7. **Glow и энергия** (0–100 баллов)\n\n   * Подсветки и энергоблоки интегрированы в конструкцию и подчёркивают форму.\n\n8. **Читаемость в изометрии** (0–100 баллов)\n\n   * Конструкция не перегружена мелкими деталями, силуэт и формы хорошо читаются с изометрического угла.\n\n9. **Положение/подача** (0–100 баллов)\n\n   * Изображается в устойчивой позе с ощущением массы и инерции.\n\n10. **Готовность к анимации** (0–100 баллов)\n\n    * Конструкция продумана так, чтобы анимация движущихся частей была простой и логичной.\n\n11. ## **Палитра фракций** (0–100 баллов)\n\n    * *Военная корпорация*: чёрный, тёмно-серый, бронза, оранжевые акценты.\n    * *Банда улиц*: хаотичный стиль, простые граффити, кислотные акценты.\n    * *Техническая корпорация*: белый, чёрный, индиго, неоновые вставки (фиолетовый, бирюзовый).\n\n12. **Материалы** (0–100 баллов)\n\n    * Матовый металл, композитные панели, технопластик, светящиеся трубки, голографические дисплеи.\n\n13. **Детализация** (0–100 баллов)\n\n    * Средний уровень, акцент на функциональных элементах — оружие, сенсоры, двигатели.\n\n14. **Стилевое соответствие** (0–100 баллов)\n\n    * Поверхности чистые, технологичные, допускается аккуратное фракционное оформление.\n\n15. **Верхний вид** (0–100 баллов)\n\n    * Силуэт легко различим и узнаваем при взгляде сверху.\n\n16. **Интеграция оружия** (0–100 баллов)\n\n    * Вооружение встроено в конструкцию и визуально выделено как ключевой элемент.\n\n17. **Визуальная балансировка** (0–100 баллов)\n\n    * Пропорции корпуса и модулей сбалансированы для устойчивого и мощного вида.\n\n18. **Акцентные зоны** (0–100 баллов)\n\n    * Есть чётко выделенные визуальные центры — оружие, энергоблоки, сенсоры.\n\n19. **Чистота визуала** (0–100 баллов)\n\n    * Отсутствие визуального мусора и излишнего декора, который мешает восприятию формы и роли техники.\n\n20. **Контролируемое повреждение** (0–100 баллов)\n\n    * Износ и повреждения выполнены упорядоченно и технологично, а не хаотично.\n\n**Формат ответа:**\n\n* Для каждого критерия — 1 короткое предложение с комментарием и целое число баллов.\n* В конце — *ИТОГОВАЯ ОЦЕНКА: X/100*.\n\n**ВАЖНО:**\n\n* Если техника (включая все её элементы, модули и оружие) не помещается в кадр и хотя бы один её элемент обрезан, дальнейший анализ не проводится — выстави *0 баллов* по всем критериям и *ИТОГОВАЯ ОЦЕНКА: 0/100*.\n* Если техника видна полностью, проведи оценку по всем пунктам."
      },
      "position": [
        1120,
        1328
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "waitBetweenTries": 3000
    },
    {
      "id": "70e8715d-6cc7-41d3-b0ed-f74c16190457",
      "name": "Edit Fields5",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37599569-5689-4f80-9b2e-519c0d30c496",
              "name": "Prompt",
              "type": "string",
              "value": "={{ $('Promt').first().json.output.Promt }}"
            },
            {
              "id": "fff30c38-ad7b-4b77-abf2-56c703833247",
              "name": "count",
              "type": "number",
              "value": "={{ $('If').item.json.count + 1 }}"
            },
            {
              "id": "d536cfe5-b81b-441d-a67f-7fb9a906da6c",
              "name": "comment",
              "type": "string",
              "value": "={{ $('Rated1').item.json.content.parts[0].text }}"
            },
            {
              "id": "2f869ca4-7ad0-4ab2-aff9-44a3db214fdb",
              "name": "filename",
              "type": "string",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        4832,
        1440
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "fVJt68N6D6vmqd2x",
          "name": "Jira SW AI Task Builder"
        }
      },
      "id": "b1af2870-3d98-4a3c-a1a1-fd5e300270a6",
      "name": "Get an issue",
      "notes": "{{ $('Call \\'Jira\\'').item.json.task_id }}",
      "parameters": {
        "additionalFields": {},
        "issueKey": "={{ $('Call \\'Jira\\'').first().json.task_id }}",
        "jiraVersion": "serverPat",
        "operation": "get"
      },
      "position": [
        3616,
        1440
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "fVJt68N6D6vmqd2x",
          "name": "Jira SW AI Task Builder"
        }
      },
      "id": "a18ba859-f905-498b-8556-fa534a169954",
      "name": "Update an issue",
      "parameters": {
        "issueKey": "={{ $('Call \\'Jira\\'').first().json.task_id }}",
        "jiraVersion": "serverPat",
        "operation": "update",
        "updateFields": {
          "description": "={{ $('Edit Fields').item.json.description }}",
          "statusId": {
            "__rl": true,
            "mode": "list",
            "value": "861"
          }
        }
      },
      "position": [
        4224,
        1440
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "fVJt68N6D6vmqd2x",
          "name": "Jira SW AI Task Builder"
        }
      },
      "id": "38cd697c-2488-4fe9-a5bc-c603d73cce5a",
      "name": "Update an issue1",
      "parameters": {
        "issueKey": "={{ $('Call \\'Jira\\'').first().json.task_id }}",
        "jiraVersion": "serverPat",
        "operation": "update",
        "updateFields": {
          "statusId": {
            "__rl": true,
            "cachedResultName": "Art Approve",
            "mode": "list",
            "value": "871"
          }
        }
      },
      "position": [
        4432,
        1440
      ],
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1
    },
    {
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "fVJt68N6D6vmqd2x",
          "name": "Jira SW AI Task Builder"
        }
      },
      "id": "aeb06cb1-c361-49a9-ba4b-c4b44147715a",
      "name": "HTTP Request",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "jsonBody": "={\n  \"fields\": {\n    \"customfield_12505\": {{ JSON.stringify($json.customfield_12505) }}\n  },\n  \"transition\": {\n    \"id\": \"31\"\n  }\n}",
        "method": "PUT",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "=https://jira.itcomp.space/rest/api/2/issue/{{ $('Call \\'Jira\\'').first().json.task_id }}"
      },
      "position": [
        4016,
        1440
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "executeOnce": true,
      "id": "6e69e75b-3b61-4241-95b1-437361499207",
      "name": "Link",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f547bbf-f5eb-4bc9-94a8-9a730086b540",
              "name": "url",
              "type": "string",
              "value": "={{ $json.links[0].link_url }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3424,
        1440
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "a89a0892-5e68-4c24-85c4-231dcfaf19f1",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3ad83c1-775c-482a-8836-3c2c12de2efa",
              "name": "description",
              "type": "string",
              "value": "={{ $json.fields.description.replaceAll('\\n\\nПуть QNAP:\\n', '') }}"
            },
            {
              "id": "053eb7cc-dddd-4c14-8ea9-8ec19e11f514",
              "name": "customfield_12505",
              "type": "string",
              "value": "=Путь QNAP:\n{{ String($json.fields.customfield_12505).replaceAll('Путь QNAP:\\n', '') }}\n{{ $('Link').first().json.url }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3824,
        1440
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "customfield_12505": "Путь QNAP:\nnull\nhttps://www.myqnapcloud.com/smartshare/7954f051n6p8st026u227170_4g0815ll29ll2pprr0x604z34cf800fj",
          "description": "Описание:\nСоздание иконки Icon_Specops_CompletedMissionFlag\n\nПричина появления:\nЗапрос от GD-отдела. Требуется новый ассет типа \"Ассет\".\n\nОжидаемый результат:\nГотовый ассет \"Создание иконки Icon_Specops_CompletedMissionFlag\" согласно ТЗ:\n- Стилистика: semi-realistic casual 3D\n- Изометрическая проекция 30°\n- Формат: PNG с альфа-каналом\n\nШаги воспроизведения:\n1. Использовать AI-промт для генерации (см. Необходимые материалы)\n2. Проверить соответствие цветовой палитре и ТЗ\n3. Сохранить в QNAP по указанному пути\n4. Проверить отображение в тестовой сцене\n\nКритерии приёмки:\n- Соответствие описанию и цветовой палитре\n- Изометрическая проекция 30°\n- Белый/прозрачный фон\n- Качество изображения: высокое, без артефактов\n- Стилистика: semi-realistic casual 3D\n- Одобрение арт-лида\n\nНеобходимые материалы:\n\nAI-промт:\nIsometric 3D mission flag icon for sci-fi mobile game, semi-realistic stylized casual 3D, bright neon accents. The icon features a central cyan star (#00FFFF) emitting a soft, radiant glow, set within a holographic shield base shaped as a sleek, angular badge. The shield is constructed from dark violet holographic panels (#31004a) with subtle transparency and layered digital artifacts, giving a futuristic, high-tech appearance. Thin electric blue (#7DF9FF) glitch effects and contour highlights trace the shield’s edges, adding dynamic energy and a sense of digital movement. The central star is crisp and luminous, with gentle gradients and a soft neon aura, while the shield’s surface reflects clean, pure neon energy. No physical textures—surfaces are smooth, glassy, and slightly reflective, emphasizing the holographic material. The composition is balanced and symmetrical, with the star as the focal point and shield elements framing it harmoniously. Color palette: Cyan (#00FFFF), Dark Violet (#31004a), Electric Blue (#7DF9FF). Lighting: Internal glow from the star, soft neon illumination, high contrast between lit and shadowed areas, no external light sources. Effects: Subtle digital glitches, gentle bloom around neon elements, clean render with no background clutter. Technical requirements: isometric view at 30°, isolated object on a pure white background, high detail, game-ready asset, clean render, no additional props or text.//QNAP/\n\n\nЦветовая палитра:\n- #00FFFF (Циан): используется для центральной звезды и её свечения. Темный Фиолетовый (#31004a) — используется для основы голографического щита. Электрический Синий (#7DF9FF) — используется для глитч-эффектов и тонкой контурной подсветки щита. Материалы и поверхности: Голографические панели, чистая неоновая энергия, цифровые артефакты. Освещение: Внутреннее свечение от центрального элемента, без внешних источников света. Мягкий неоновый свет с высоким контрастом.\n"
        }
      }
    ],
    "Get an issue": [
      {
        "json": {
          "expand": "renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
          "fields": {
            "aggregateprogress": {
              "percent": 0,
              "progress": 0,
              "total": 1800
            },
            "aggregatetimeestimate": 1800,
            "aggregatetimeoriginalestimate": 1800,
            "aggregatetimespent": null,
            "archivedby": null,
            "archiveddate": null,
            "assignee": {
              "active": true,
              "avatarUrls": {
                "16x16": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=16",
                "24x24": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=24",
                "32x32": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=32",
                "48x48": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=48"
              },
              "displayName": "AI Task Builder",
              "emailAddress": "bot@techspaceapp.com",
              "key": "JIRAUSER16461",
              "name": "ai_task_builder",
              "self": "https://jira.itcomp.space/rest/api/2/user?username=ai_task_builder",
              "timeZone": "Europe/Moscow"
            },
            "attachment": [],
            "comment": {
              "comments": [],
              "maxResults": 0,
              "startAt": 0,
              "total": 0
            },
            "components": [],
            "created": "2025-12-04T10:30:35.689+0000",
            "creator": {
              "active": true,
              "avatarUrls": {
                "16x16": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=16",
                "24x24": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=24",
                "32x32": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=32",
                "48x48": "https://www.gravatar.com/avatar/950298b79a48105c1051be7e6e5a43d4?d=mm&s=48"
              },
              "displayName": "AI Task Builder",
              "emailAddress": "bot@techspaceapp.com",
              "key": "JIRAUSER16461",
              "name": "ai_task_builder",
              "self": "https://jira.itcomp.space/rest/api/2/user?username=ai_task_builder",
              "timeZone": "Europe/Moscow"
            },
            "customfield_10014": null,
            "customfield_10015": null,
            "customfield_10016": null,
            "customfield_10018": null,
            "customfield_10019": "0|i1igug:",
            "customfield_10020": [
              "com.atlassian.greenhopper.service.sprint.Sprint@50087887[activatedDate=2025-12-01T05:32:20.852Z,autoStartStop=false,completeDate=<null>,endDate=2025-12-08T05:28:00.000Z,goal=,id=356,incompleteIssuesDestinationId=<null>,name=LW Спринт 69,rapidViewId=54,sequence=356,startDate=2025-12-01T05:28:00.000Z,state=ACTIVE,synced=false]"
            ],
            "customfield_10021": null,
            "customfield_10022": null,
            "customfield_10023": null,
            "customfield_10036": null,
            "customfield_10037": null,
            "customfield_10038": null,
            "customfield_10041": null,
            "customfield_10042": null,
            "customfield_10044": null,
            "customfield_10052": null,
            "customfield_10053": null,
            "customfield_10055": null,
            "customfield_10057": null,
            "customfield_10058": null,
            "customfield_10067": null,
            "customfield_10068": null,
            "customfield_10079": null,
            "customfield_10086": null,
            "customfield_10200": null,
            "customfield_10201": null,
            "customfield_10300": "{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@65620f55[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@6b56b0d2[byInstanceType={},overall=PullRequestOverallBean{stateCount=0, state='OPEN', details=PullRequestOverallDetails{openCount=0, mergedCount=0, declinedCount=0}}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@394e7f5[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@5d1a0775[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@542373f7[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@6850b0ad[dueDate=<null>,overDue=false,state=<null>,stateCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@4cdf591d[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@41f3de5c[showProjects=false,successfulCount=0,topEnvironments=[],count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@e80a15e[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@63b8bdfb[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@55191720[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@ac732e1[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]]},configErrors=[],errors=[]], devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":true}}",
            "customfield_10400": null,
            "customfield_10401": null,
            "customfield_10402": null,
            "customfield_10403": null,
            "customfield_10500": null,
            "customfield_10600": null,
            "customfield_10601": null,
            "customfield_10700": [
              {
                "disabled": false,
                "id": "10104",
                "self": "https://jira.itcomp.space/rest/api/2/customFieldOption/10104",
                "value": "2D Art"
              }
            ],
            "customfield_11101": {
              "allFinished": false,
              "created": 1764844301160,
              "durationAsString": "1m",
              "durationAsStringBoard": "1m",
              "durationAsStringCsv": "1m",
              "fieldKey": "assignee",
              "fieldName": "Assignee",
              "fieldValuesMap": {
                "empty": "empty"
              },
              "isAssigneeField": true,
              "statusTimesMap": {
                "3": {
                  "allFinished": false,
                  "created": 1764844301161,
                  "durationAsString": "1m",
                  "durationAsStringBoard": "1m",
                  "durationAsStringCsv": "1m",
                  "fieldTimes": [
                    {
                      "allFinished": false,
                      "durationAsString": "1m",
                      "durationAsStringBoard": "1m",
                      "durationAsStringCsv": "1m",
                      "fieldValue": "JIRAUSER16461",
                      "timeDetails": [
                        {
                          "duration": 62,
                          "durationAsString": "1m",
                          "durationAsStringBoard": "1m",
                          "durationAsStringCsv": "1m",
                          "end": 1764844301161,
                          "finished": false,
                          "start": 1764844238752
                        }
                      ],
                      "totalDuration": 62
                    }
                  ],
                  "fieldValues": [
                    "JIRAUSER16461"
                  ],
                  "statusId": "3",
                  "totalDuration": 62
                }
              },
              "statuses": [
                "3"
              ],
              "totalDuration": 62
            },
            "customfield_11102": "TimeInStatus(running=true, updateTime=1764844301164, timeInStatus=62)",
            "customfield_11401": null,
            "customfield_11402": null,
            "customfield_11405": "",
            "customfield_12400": null,
            "customfield_12505": null,
            "customfield_12506": null,
            "customfield_12600": null,
            "customfield_12700": {
              "allFinished": false,
              "created": 1764844301168,
              "durationAsString": "1 minute, 2 seconds",
              "durationAsStringBoard": "1 minute, 2 seconds",
              "durationAsStringCsv": "1 minute, 2 seconds",
              "fieldKey": "assignee",
              "fieldName": "Assignee",
              "fieldValuesMap": {
                "empty": "empty"
              },
              "isAssigneeField": true,
              "statusTimesMap": {
                "3": {
                  "allFinished": false,
                  "created": 1764844301169,
                  "durationAsString": "1 minute, 2 seconds",
                  "durationAsStringBoard": "1 minute, 2 seconds",
                  "durationAsStringCsv": "1 minute, 2 seconds",
                  "fieldTimes": [
                    {
                      "allFinished": false,
                      "durationAsString": "1 minute, 2 seconds",
                      "durationAsStringBoard": "1 minute, 2 seconds",
                      "durationAsStringCsv": "1 minute, 2 seconds",
                      "fieldValue": "JIRAUSER16461",
                      "timeDetails": [
                        {
                          "duration": 62,
                          "durationAsString": "1 minute, 2 seconds",
                          "durationAsStringBoard": "1 minute, 2 seconds",
                          "durationAsStringCsv": "1 minute, 2 seconds",
                          "end": 1764844301169,
                          "finished": false,
                          "start": 1764844238752
                        }
                      ],
                      "totalDuration": 62
                    }
                  ],
                  "fieldValues": [
                    "JIRAUSER16461"
                  ],
                  "statusId": "3",
                  "totalDuration": 62
                }
              },
              "statuses": [
                "3"
              ],
              "totalDuration": 62
            },
            "customfield_12701": {
              "allFinished": false,
              "created": 1764844301164,
              "durationAsString": "1m, 3s",
              "durationAsStringBoard": "1m, 3s",
              "durationAsStringCsv": "1m, 3s",
              "fieldKey": "assignee",
              "fieldName": "Assignee",
              "fieldValuesMap": {
                "empty": "empty"
              },
              "isAssigneeField": true,
              "statusTimesMap": {
                "3": {
                  "allFinished": false,
                  "created": 1764844301165,
                  "durationAsString": "1m, 2s",
                  "durationAsStringBoard": "1m, 2s",
                  "durationAsStringCsv": "1m, 2s",
                  "fieldTimes": [
                    {
                      "allFinished": false,
                      "durationAsString": "1m, 2s",
                      "durationAsStringBoard": "1m, 2s",
                      "durationAsStringCsv": "1m, 2s",
                      "fieldValue": "JIRAUSER16461",
                      "timeDetails": [
                        {
                          "duration": 62,
                          "durationAsString": "1m, 2s",
                          "durationAsStringBoard": "1m, 2s",
                          "durationAsStringCsv": "1m, 2s",
                          "end": 1764844301165,
                          "finished": false,
                          "start": 1764844238752
                        }
                      ],
                      "totalDuration": 62
                    }
                  ],
                  "fieldValues": [
                    "JIRAUSER16461"
                  ],
                  "statusId": "3",
                  "totalDuration": 62
                },
                "10004": {
                  "allFinished": true,
                  "created": 1764844301165,
                  "durationAsString": "1s",
                  "durationAsStringBoard": "1s",
                  "durationAsStringCsv": "1s",
                  "fieldTimes": [
                    {
                      "allFinished": true,
                      "durationAsString": "1s",
                      "durationAsStringBoard": "1s",
                      "durationAsStringCsv": "1s",
                      "fieldValue": "JIRAUSER16461",
                      "timeDetails": [
                        {
                          "duration": 1,
                          "durationAsString": "1s",
                          "durationAsStringBoard": "1s",
                          "durationAsStringCsv": "1s",
                          "end": 1764844238752,
                          "finished": true,
                          "start": 1764844237146
                        }
                      ],
                      "totalDuration": 1
                    }
                  ],
                  "fieldValues": [
                    "JIRAUSER16461"
                  ],
                  "statusId": "10004",
                  "totalDuration": 1
                }
              },
              "statuses": [
                "10004",
                "3"
              ],
              "totalDuration": 63
            },
            "customfield_12801": null,
            "customfield_12804": null,
            "customfield_12818": null,
            "customfield_12921": {
              "disabled": false,
              "id": "13314",
              "self": "https://jira.itcomp.space/rest/api/2/customFieldOption/13314",
              "value": "No"
            },
            "description": "Описание:\nСоздание иконки Icon_Specops_CompletedMissionFlag\n\nПричина появления:\nЗапрос от GD-отдела. Требуется новый ассет типа \"Ассет\".\n\nОжидаемый результат:\nГотовый ассет \"Создание иконки Icon_Specops_CompletedMissionFlag\" согласно ТЗ:\n- Стилистика: semi-realistic casual 3D\n- Изометрическая проекция 30°\n- Формат: PNG с альфа-каналом\n\nШаги воспроизведения:\n1. Использовать AI-промт для генерации (см. Необходимые материалы)\n2. Проверить соответствие цветовой палитре и ТЗ\n3. Сохранить в QNAP по указанному пути\n4. Проверить отображение в тестовой сцене\n\nКритерии приёмки:\n- Соответствие описанию и цветовой палитре\n- Изометрическая проекция 30°\n- Белый/прозрачный фон\n- Качество изображения: высокое, без артефактов\n- Стилистика: semi-realistic casual 3D\n- Одобрение арт-лида\n\nНеобходимые материалы:\n\nAI-промт:\nIsometric 3D mission flag icon for sci-fi mobile game, semi-realistic stylized casual 3D, bright neon accents. The icon features a central cyan star (#00FFFF) emitting a soft, radiant glow, set within a holographic shield base shaped as a sleek, angular badge. The shield is constructed from dark violet holographic panels (#31004a) with subtle transparency and layered digital artifacts, giving a futuristic, high-tech appearance. Thin electric blue (#7DF9FF) glitch effects and contour highlights trace the shield’s edges, adding dynamic energy and a sense of digital movement. The central star is crisp and luminous, with gentle gradients and a soft neon aura, while the shield’s surface reflects clean, pure neon energy. No physical textures—surfaces are smooth, glassy, and slightly reflective, emphasizing the holographic material. The composition is balanced and symmetrical, with the star as the focal point and shield elements framing it harmoniously. Color palette: Cyan (#00FFFF), Dark Violet (#31004a), Electric Blue (#7DF9FF). Lighting: Internal glow from the star, soft neon illumination, high contrast between lit and shadowed areas, no external light sources. Effects: Subtle digital glitches, gentle bloom around neon elements, clean render with no background clutter. Technical requirements: isometric view at 30°, isolated object on a pure white background, high detail, game-ready asset, clean render, no additional props or text.\n\nПуть QNAP:\n//QNAP/\n\n\nЦветовая палитра:\n- #00FFFF (Циан): используется для центральной звезды и её свечения. Темный Фиолетовый (#31004a) — используется для основы голографического щита. Электрический Синий (#7DF9FF) — используется для глитч-эффектов и тонкой контурной подсветки щита. Материалы и поверхности: Голографические панели, чистая неоновая энергия, цифровые артефакты. Освещение: Внутреннее свечение от центрального элемента, без внешних источников света. Мягкий неоновый свет с высоким контрастом.\n",
            "duedate": null,
            "environment": null,
            "fixVersions": [],
            "issuelinks": [],
            "issuetype": {
              "avatarId": 10311,
              "description": "",
              "iconUrl": "https://jira.itcomp.space/secure/viewavatar?size=xsmall&avatarId=10311&avatarType=issuetype",
              "id": "10302",
              "name": "Art",
              "self": "https://jira.itcomp.space/rest/api/2/issuetype/10302",
              "subtask": false
            },
            "labels": [],
            "lastViewed": null,
            "priority": {
              "iconUrl": "https://jira.itcomp.space/images/icons/priorities/medium.svg",
              "id": "3",
              "name": "Medium",
              "self": "https://jira.itcomp.space/rest/api/2/priority/3"
            },
            "progress": {
              "percent": 0,
              "progress": 0,
              "total": 1800
            },
            "project": {
              "avatarUrls": {
                "16x16": "https://jira.itcomp.space/secure/projectavatar?size=xsmall&avatarId=10324",
                "24x24": "https://jira.itcomp.space/secure/projectavatar?size=small&avatarId=10324",
                "32x32": "https://jira.itcomp.space/secure/projectavatar?size=medium&avatarId=10324",
                "48x48": "https://jira.itcomp.space/secure/projectavatar?avatarId=10324"
              },
              "id": "10700",
              "key": "LW",
              "name": "Last War",
              "projectCategory": {
                "description": "Structure of game development",
                "id": "10001",
                "name": "Game Development",
                "self": "https://jira.itcomp.space/rest/api/2/projectCategory/10001"
              },
              "projectTypeKey": "software",
              "self": "https://jira.itcomp.space/rest/api/2/project/10700"
            },
            "reporter": {
              "active": true,
              "avatarUrls": {
                "16x16": "https://jira.itcomp.space/secure/useravatar?size=xsmall&ownerId=JIRAUSER11418&avatarId=11347",
                "24x24": "https://jira.itcomp.space/secure/useravatar?size=small&ownerId=JIRAUSER11418&avatarId=11347",
                "32x32": "https://jira.itcomp.space/secure/useravatar?size=medium&ownerId=JIRAUSER11418&avatarId=11347",
                "48x48": "https://jira.itcomp.space/secure/useravatar?ownerId=JIRAUSER11418&avatarId=11347"
              },
              "displayName": "Iana Kublitskaia",
              "emailAddress": "yana.kub21@gmail.com",
              "key": "JIRAUSER11418",
              "name": "kublitskaia.i",
              "self": "https://jira.itcomp.space/rest/api/2/user?username=kublitskaia.i",
              "timeZone": "Europe/Moscow"
            },
            "resolution": null,
            "resolutiondate": null,
            "security": {
              "description": "Default Level",
              "id": "10003",
              "name": "Viewer",
              "self": "https://jira.itcomp.space/rest/api/2/securitylevel/10003"
            },
            "status": {
              "description": "This issue is being actively worked on at the moment by the assignee.",
              "iconUrl": "https://jira.itcomp.space/images/icons/statuses/inprogress.png",
              "id": "3",
              "name": "In Progress",
              "self": "https://jira.itcomp.space/rest/api/2/status/3",
              "statusCategory": {
                "colorName": "inprogress",
                "id": 4,
                "key": "indeterminate",
                "name": "In Progress",
                "self": "https://jira.itcomp.space/rest/api/2/statuscategory/4"
              }
            },
            "subtasks": [],
            "summary": "[Test][ART] Создание иконки Icon_Specops_CompletedMissionFlag",
            "timeestimate": 1800,
            "timeoriginalestimate": 1800,
            "timespent": null,
            "timetracking": {
              "originalEstimate": "30m",
              "originalEstimateSeconds": 1800,
              "remainingEstimate": "30m",
              "remainingEstimateSeconds": 1800
            },
            "updated": "2025-12-04T10:30:38.751+0000",
            "versions": [],
            "watches": {
              "isWatching": true,
              "self": "https://jira.itcomp.space/rest/api/2/issue/LW-26111/watchers",
              "watchCount": 1
            },
            "worklog": {
              "maxResults": 20,
              "startAt": 0,
              "total": 0,
              "worklogs": []
            },
            "workratio": 0
          },
          "id": "337054",
          "key": "LW-26111",
          "renderedFields": null,
          "self": "https://jira.itcomp.space/rest/api/2/issue/337054"
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {}
      }
    ],
    "Link": [
      {
        "json": {
          "url": "https://www.myqnapcloud.com/smartshare/7954f051n6p8st026u227170_4g0815ll29ll2pprr0x604z34cf800fj"
        }
      }
    ],
    "Update an issue": [
      {
        "json": {
          "success": true
        }
      }
    ],
    "Update an issue1": [
      {
        "json": {
          "success": true
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "Chat ID": "918851594",
          "File_name": "file_10.pdf",
          "Tasks": "[Название задачи]\nГенерация 3D-модели здания Building_RationFactory\n\n[Цель]\nПолучить готовую 3D-модель ресурсного здания для производства пайков, интегрируемую в карту базы игрока как ключевой производственный объект.\n\n[Описание задачи / Что нужно сделать]\n\nКонцептуальное описание:\n\nФорма и композиция:\nСтрогая изометрическая проекция с углом 30 градусов. Объект представляет собой высокотехнологичный агрокомплекс, состоящий из центрального управляющего модуля и четырех примыкающих к нему цилиндрических био-куполов. Вся конструкция размещена на стандартной темной платформе с закругленными углами и яркой cyan-подсветкой по периметру. Центральный модуль имеет два уровня с плоской крышей, на которой расположена антенна связи.\n\nАрхитектурные детали:\nСтены центрального модуля выполнены из гладких композитных панелей с вертикальными неоновыми вставками оранжевого цвета. Био-купола сделаны из сегментированного полупрозрачного стекла, через которое просматриваются ряды гидропонных установок со светящейся биомассой. Соединительные шлюзы между модулем и куполами оснащены герметичными дверями и панелями управления.\n\nФункциональные элементы:\nНа фасаде центрального модуля расположен голографический дисплей, отображающий циклы производства и уровень запасов. Внешняя конвейерная система транспортирует готовые герметичные контейнеры с пайками от био-куполов к погрузочной платформе, расположенной сбоку от основного модуля. Вентиляционные решетки с внутренней подсветкой встроены в крышу центрального блока.\n\nКлючевые элементы стиля:\nМодульность и чистые геометрические формы. Четко читаемый силуэт, передающий функцию производства. Встроенная подсветка как основной источник яркости. Отсутствие беспорядка, грязи и хаотичных элементов. Изоляция на белом фоне.\n\nШаги выполнения:\n1. Создать 3D-модель здания согласно концептуальному описанию.\n2. Применить материалы из указанной цветовой палитры.\n3. Настроить изометрическую проекцию 30 градусов.\n4. Добавить glow-эффекты для энергетических элементов и биомассы.\n5. Выполнить рендер на белом фоне.\n6. Проверить читаемость силуэта и модульных элементов.\n7. Экспортировать в указанном формате.\n\n[Требования к стилю]\n\nЖанр и общая стилистика:\nОбъект выполнен в стиле семи-реализма и стилизованной казуальности с 3D-стилизацией, используя яркие неоновые акценты на чистом белом фоне.\n\nПринадлежность к миру:\nТехнологическая база игрока — чистые формы, порядок, прогресс.\n\nКлючевые визуальные особенности:\nСтрогая изометрия 30 градусов. Модульная архитектура с читаемым силуэтом. Платформа-основание с подсветкой краев. Уникальный силуэт для узнаваемости здания.\n\nЦветовая палитра:\nЖженый оранжевый (#D35400) — используется для основного корпуса центрального модуля.\nМорковный (#E67E22) — используется для акцентных панелей и контейнеров с пайками.\nЯнтарный (#F39C12) — используется для светящейся биомассы внутри куполов.\nТемный оранжевый (#FF8C00) — используется для неоновой подсветки на фасаде и конвейерной ленте.\n\nМатериалы и поверхности:\nОснова из матовых композитных панелей. Полупрозрачное стекло для куполов. Металлические акценты с легким блеском на конвейере и шлюзах.\n\nОсвещение:\nМягкое рассеянное освещение с глубокими тенями. Яркость создается в основном за счет glow-элементов и встроенной подсветки. Чистый белый фон.\n\n[Формат и технические параметры]\n\nФормат файла: FBX\nПолигонаж: до 15000 треугольников\nТекстуры: 2048x2048 px, PNG\nЦветовое пространство: sRGB\nРендер: белый фон, разрешение 1024x1024 px\nНейминг файла: Building_RationFactory\n\n[Критерии приёмки]\n\nОценка бота качества >= 95%\nСоответствие техническим параметрам: формат FBX, полигонаж до 15000, текстуры 2048x2048.\nКорректная изометрическая проекция 30 градусов.\nНаличие платформы-основания с cyan-подсветкой краев.\nИспользованы цвета из указанной палитры (HEX-коды соответствуют).\nЧитаемый силуэт здания, функция производства легко угадывается.\nОтсутствие артефактов рендера и пересветов.\nОдобрение арт-лида.\n\n[Ресурсы и ссылки]\n\nБот оценки качества: [уточнить у арт-лида]\nFigma-доска проекта: [уточнить у арт-лида]\nСтайлгайд проекта: [уточнить у арт-лида]",
          "Username": "timofeyuchiha",
          "estimate": "3h"
        }
      }
    ],
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-25T14:27:51.936Z",
      "projectId": "2ZQFKqpo7BMkilsl",
      "role": "workflow:owner",
      "updatedAt": "2025-11-25T14:27:51.936Z",
      "workflowId": "12igYF16uCT6F7o9"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T13:02:08.000Z",
  "versionId": "dcc4c6ac-4ba7-4fd4-84f0-5f398ab4456a"
}